/*  ==========================================================================
    Base styles
    ========================================================================== */

    body{
		background: $body-bg;
        color: $body-color;
    }

    a{
        color: $a-color;


        &:hover{ color: $a-hover; }
		&:focus { color: $a-hover; }
    }

    ::-moz-selection { background: $selection-bg; }
    ::selection { background: $selection-bg; }

    hr {
        border-top: 1px solid $hr-bd;
    }

    .browsehappy {
        background: $browsehappy-bg;
        color: $browsehappy-color;
    }


//  Media Queries
//  ==========================================================================

    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
