/*
    Box Containers
    ========================================================================== */

/*
    Box
    ------------------------------------- */

	.layout-box{
		background: $box-bg;
		border: 1px solid $box-bd;
	}

	.layout-box-header{
		background: $box-header-bg;
		border-bottom: 1px solid $box-bd;
	}

	.layout-box-title{

	}

	.layout-box-options{

	}

	.layout-box-footer{
		background: $box-footer-bg;
		border-top: 1px solid $box-bd;
	}

	// Box Colors
	.layout-box-primary {
		@include box-variant($box-primary-bd, $box-primary-color, $box-primary-heading-bg, $box-primary-bd);
	}
	.layout-box-success {
		@include box-variant($box-success-bd, $box-warning-color, $box-success-heading-bg, $box-success-bd);
	}
	.layout-box-info {
		@include box-variant($box-info-bd, $box-info-color, $box-info-heading-bg, $box-info-bd);
	}
	.layout-box-warning {
		@include box-variant($box-warning-bd, $box-warning-color, $box-warning-heading-bg, $box-warning-bd);
	}
	.layout-box-danger {
		@include box-variant($box-danger-bd, $box-danger-color, $box-danger-heading-bg, $box-danger-bd);
	}
	.layout-box-dark {
		@include box-variant($box-dark-bd, $box-dark-color, $box-dark-heading-bg, $box-dark-bd);
	}

	// Box Types
	.layout-box-no-border{
		border: none;

		.layout-box-header{ border-bottom: none; }
		.layout-box-footer{ border-top: none; }
	}

	.layout-box-transparent{
		background: none;

		> .layout-box-header,
		> .layout-box-footer{
			background: none;
		}
	}


/*
    Side Box
    ------------------------------------- */

    .layout-side-box{

    }



/*
    Panels
    ------------------------------------- */

	.panel{
		background-color: $panel-bg;
	}

	// Optional footer (stays gray in every modifier class)
	.panel-footer {
		border-top: 1px solid $panel-bd;
		background-color: $panel-footer-bg;
	}

	// Collapsable panels (aka, accordion)
	.panel-group {

		.panel-heading {
			+ .panel-collapse > .panel-body,
			+ .panel-collapse > .list-group {
				border-top: 1px solid $panel-bd;
			}
		}

		.panel-footer {
			+ .panel-collapse .panel-body {
				border-bottom: 1px solid $panel-bd;
			}
		}
	}

	// Panel Colors
	.panel-default {
		@include panel-variant($panel-default-bd, $panel-default-color, $panel-default-heading-bg, $panel-default-bd);
	}
	.panel-primary {
		@include panel-variant($panel-primary-bd, $panel-primary-color, $panel-primary-heading-bg, $panel-primary-bd);
	}
	.panel-success {
		@include panel-variant($panel-success-bd, $panel-info-color, $panel-success-heading-bg, $panel-success-bd);
	}
	.panel-info {
		@include panel-variant($panel-info-bd, $panel-info-color, $panel-info-heading-bg, $panel-info-bd);
	}
	.panel-warning {
		@include panel-variant($panel-warning-bd, $panel-warning-color, $panel-warning-heading-bg, $panel-warning-bd);
	}
	.panel-danger {
		@include panel-variant($panel-danger-bd, $panel-danger-color, $panel-danger-heading-bg, $panel-danger-bd);
	}
	.panel-dark {
		@include panel-variant($panel-dark-bd, $panel-dark-color, $panel-dark-heading-bg, $panel-dark-bd);
	}




//  Theme
//  ==========================================================================

	.t-box-button{
		background: $box-button-bg;

		.layout-box-header{
			background: $box-button-header-bg;
		}
	}


//  Media Queries
//  ==========================================================================

    @include breakpoint($screen-lg-maxx){

    }

	@include breakpoint($screen-md-maxx){

    }

	@include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
