/*
    Footer
    ========================================================================== */

	.layout-footer{

	}

	//  Theme
	//  ==========================================================================

	.t-footer-1{
		background: $footer-1-bg;
		border-top: 1px solid $footer-1-bd;
		border-bottom: 1px solid $footer-1-bd;
	}


	.t-footer-slide-1{
		@include box-shadow(0 -1px 1px rgba(0,0,0,.1));
		background: $footer-slide-1-bg;
	}


//  Media Queries
//  ==========================================================================

	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
