/*
	Navigation
	========================================================================== */

	.ason-nav{

		background: $nav-bg;

		ul{
			background: $nav-bg;
		}

		&>li>a{
			&:hover{
				background: $nav-bg-hover;
			}
		}


		a{
			color: $nav-color;

			&:hover{
				color: $nav-hover;
			}
		}

		.info{
			background: $nav-info-bg;
			color: $nav-info-color;
		}

		.new{
			background: $nav-new-bg;
			color: $nav-new-color;
		}

		.soon{
			background: $nav-soon-bg;
			color: $nav-soon-color;
		}

		.open{
			> a{
				color: $nav-open-color;
			}
		}

		.active>a{
			color: $nav-active-color;

			&:hover{

			}
		}

		.open{
			> a, > ul{
				background: $nav-open-bg;
			}
		}

		.level-1{
			a { padding-left: 44px; }
			.divider{ border-top: 1px solid $nav-lvl1-open-bg; }
			.open{

				> a, > ul {
					background: $nav-lvl1-open-bg;
				}
			}
		}

		.level-2{
			a { padding-left: 64px; }
			.divider{ border-top: 1px solid $nav-lvl2-open-bg; }
			.open{
				> a, > ul {
					background: $nav-lvl2-open-bg;
				}
			}
		}


		.level-3{
			a { padding-left: 84px; }
			.divider{ border-top: 1px solid $nav-lvl3-open-bg; }
			.open{
				> a, > ul {
					background: $nav-lvl3-open-bg;
				}
			}
		}

		.level-4 {
			a { padding-left: 104px; }
		}

		// Other menu elements

	}

//  Default State
//  ==========================================================================
	.layout-sidebar-left,
	.layout-sidebar-right {

	}

	.layout-sidebar-left{
		.ason-nav {	}
	}

	.layout-sidebar-right{
		.ason-nav { }
	}

//  Compact State
//  ==========================================================================

/*
	Compact Nav State
	------------------------------------- */
	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right {

		.ason-nav {

			.level-1{ a { padding-left: 20px; }	}
			.level-2{ a { padding-left: 40px; }	}
			.level-3{ a { padding-left: 60px; }	}
			.level-4{ a { padding-left: 80px; }	}
		}
	}

//  Collapsed State
//  ==========================================================================

/*
	Collapsed Nav State
	------------------------------------- */
	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

		.ason-nav{

			.level-1{
				a { padding-left: 20px; }
				border-top: 1px solid $nav-lvl1-collapsed-bd;
			}

			.level-2{ a { padding-left: 35px; }	}
			.level-3{ a { padding-left: 50px; }	}
			.level-4{ a { padding-left: 65px; }	}

		}
	}



//  Media Queries
//  ==========================================================================

	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
