/*
    Bootstrap Navigation
    ========================================================================== */

	//  Ason navbar
	//  -------------------------------------
	.navbar-ason {
		background-color: $navbar-ason-bg;
		border: none;

		.navbar-brand {
			color: $navbar-ason-brand-color;
			&:hover,
			&:focus {
				color: $navbar-ason-brand-hover-color;
				background-color: $navbar-ason-brand-hover-bg;
			}
		}

		.navbar-text {
			color: $navbar-ason-color;
		}

		.navbar-nav {
			> li{

				&:first-child{
					border-top: none;
				}

				> a {
					color: $navbar-ason-link-color;

					&:hover,
					&:focus {
						color: $navbar-ason-link-hover-color;
						background-color: $navbar-ason-link-hover-bg;
					}
				}
			}
			> .active > a {
				&,
				&:hover,
				&:focus {
					color: $navbar-ason-link-active-color;
					background-color: $navbar-ason-link-active-bg;
				}
			}
			> .disabled > a {
				&,
				&:hover,
				&:focus {
					color: $navbar-ason-link-disabled-color;
					background-color: $navbar-ason-link-disabled-bg;
				}
			}

			.open > a{

				background: $navbar-ason-nav-a-bg-mu;
				border-color: $navbar-ason-nav-a-bd-mu;

				&:hover,
				&:focus,{
					background: $navbar-ason-nav-a-bg-mu;
					border-color: $navbar-ason-nav-a-bd-mu;
				}
			}
		}

		.navbar-toggle {
			border-color: $navbar-ason-toggle-bd;
			&:hover,
			&:focus {
				background-color: $navbar-ason-toggle-hover-bg;
			}
			.icon-bar {
				background-color: $navbar-ason-toggle-icon-bar-bg;
			}
		}

		.navbar-collapse,
		.navbar-form {
			border-color: $navbar-ason-bd;
		}

		// Dropdown menu items
		.navbar-nav {
			> .open > a {
				&,
				&:hover,
				&:focus {
					background-color: $navbar-ason-link-active-bg;
					color: $navbar-ason-link-active-color;
				}
			}
		}


		// Links in navbars
		.navbar-link {
			color: $navbar-ason-link-color;
			&:hover {
				color: $navbar-ason-link-hover-color;
			}
		}

		.btn-link {
			color: $navbar-ason-link-color;
			&:hover,
			&:focus {
				color: $navbar-ason-link-hover-color;
			}
			&[disabled],
			fieldset[disabled] & {
				&:hover,
				&:focus {
					color: $navbar-ason-link-disabled-color;
				}
			}
		}
	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

		.navbar-ason {

			// Dropdown menu items
			.navbar-nav {
				> li {

					border-bottom: 1px solid $navbar-ason-nav-li-bd;
				}
				// Dropdowns get custom display when collapsed
				.open .dropdown-menu {
					> li > a {
						color: $navbar-ason-link-color;
						&:hover,
						&:focus {
							color: $navbar-ason-link-hover-color;
							background-color: $navbar-ason-link-hover-bg;
						}
					}
					> .active > a {
						&,
						&:hover,
						&:focus {
							color: $navbar-ason-link-active-color;
							background-color: $navbar-ason-link-active-bg;
						}
					}
					> .disabled > a {
						&,
						&:hover,
						&:focus {
							color: $navbar-ason-link-disabled-color;
							background-color: $navbar-ason-link-disabled-bg;
						}
					}
				}

			}
		}

	}
