/*
    Sidebar Layouts
    ========================================================================== */


//  Slidebar Layouts
//  ==========================================================================


//  Theme
//  ==========================================================================

	.t-sidebar-1{
		background: $sidebar-t-1-bg;
		color: $sidebar-t-1-color;
	}

	.t-sidebar-2{
		background: $sidebar-t-2-bg;
		border-left: 1px solid $sidebar-t-2-bd;
		border-right: 1px solid $sidebar-t-2-bd;
	}

	.t-sidebar-3{
		color: $sidebar-t-3-color;
		background: $sidebar-t-3-bg;
		border-left: 1px solid $sidebar-t-3-bd;
		border-right: 1px solid $sidebar-t-3-bd;
	}

	.t-sidebar-4{
		background: $sidebar-t-4-bg;
		border-left: 1px solid $sidebar-t-4-bd;
		border-right: 1px solid $sidebar-t-4-bd;
	}

//  Media Queries
//  ==========================================================================

	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
