//  ==========================================================================
//  General site settings
//  ==========================================================================


//  General
//  ==========================================================================

	$s-radius        : 2px;                      // General Site Radius
	$s-gutter        : 2;                        // General Site Gutter
	$s-gutter-p      : #{$s-gutter+'%'};         // General Site Gutter with Percentage (or Pixel)
	$s-gutter-grid   : $s-gutter;                // General Site Grid Gutter (needs to be % - percentage not pixel)

	$s-gutter-half   : $s-gutter/2;              // General Site Gutter Half
	$s-gutter-half-p : #{$s-gutter-half+'%'};    // General Site Gutter with Percentage


//  Transition
//  ==========================================================================
	$transition-value : 300ms;
	$transition       : true;


//  Typography
//  ==========================================================================

	$base-font-size-raw : 14;
	$base-font-size     : 14px; //16px
	$base-font          : 'OpenSansRegular', Helvetica, Arial, sans-serif;

//	$baseline       : $base-font-size * 1.5;

	$fonts: (
		extralight : 'OpenSansLight',
		light      : 'OpenSansLight',
		regular    : $base-font,
		base       : $base-font,
		semibold   : 'OpenSansSemibold',
		bold 	   : 'OpenSansBold'
	);

//  Font sizes
//  ==========================================================================

	$font-list: 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30;


//  Buttons
//  ==========================================================================

	$button-rounded : 20px;
	$button-square  : 0px;


//  Positioning
//  ==========================================================================
	$margin-multiplier : 2;

//	$general-margin    : $baseline * $margin-multiplier + px;


//  Modals
//  ==========================================================================
	$modal-fw : 98% !default;
	$modal-hw : 50% !default;


//  Headers
//  ==========================================================================

	// Header creation - control which header types should be generated
	$generate-header-fixed  : true;
	$generate-header-sticky : true;
	$generate-header-slide  : true;

	// Header names - can be string or integer
	$hn-1 : 1;
	$hn-2 : 2;
	$hn-3 : 3;
	$hn-4 : 4;
	$hn-5 : 5;

	// Header sizes (height)
	$header-values-list: (
		$hn-1 : 50px,
		$hn-2 : 75px,
		$hn-3 : 220px,
		$hn-4 : 70px,
		$hn-5 : 5%
	);


//  Footers
//  ==========================================================================

	// Footer creation - control which footer types should be generated
	$generate-footer-fixed  : true;
	$generate-footer-sticky : true;
	$generate-footer-slide  : true;

	// Footer names - can be string or integer
	$fn-1 : 1;
	$fn-2 : 2;
	$fn-3 : 3;
	$fn-4 : 4;

	// Footer sizes (height)
	$footer-values-list: (
		$fn-1 : 40px,
		$fn-2 : 75px,
		$fn-3 : 60px,
		$fn-4 : 100px
	);


//  Sidebar setup
//  ==========================================================================

	// Sidebar names - can be string or integer
	$sn-1 : 1;
	$sn-2 : 2;
	$sn-3 : 3;
	$sn-4 : 4;
	$sn-5 : 5;

	// -----------------------------------------------------------------

	// Sidebar sizes (width) for small screen / tablet
	$sidebar-small-values-list: (
		$sn-1 : 250px,
		$sn-2 : 250px,
		$sn-3 : 150px,
		$sn-4 : 42%,
		$sn-5 : 30%
	);

	// Sidebar sizes (width) for medium screen / desktop
	$sidebar-medium-values-list: (
		$sn-1 : 250px,
		$sn-2 : 300px,
		$sn-3 : 180px,
		$sn-4 : 34%,
		$sn-5 : 35%
	);

	// Sidebar sizes (width) for large screen / wide desktop
	$sidebar-large-values-list: (
		$sn-1 : 300px,
		$sn-2 : 350px,
		$sn-3 : 200px,
		$sn-4 : 28%,
		$sn-5 : 30%
	);

	// Sidebar sizes (width) for extra large screen / wide desktop
	$sidebar-extra-large-values-list: (
		$sn-1 : 300px,
		$sn-2 : 400px,
		$sn-3 : 250px,
		$sn-4 : 20%,
		$sn-5 : 25%
	);


//  Side and Slidebar Compact State (width)
//  ==========================================================================

	$sidebar-compact-width        : 100px;
	$sidebar-compact-max-height   : 320px;


//  Side and Slidebar Collapsed State (width)
//  ==========================================================================

	$sidebar-collapsed-width      : 50px;
	$sidebar-collapsed-max-height : 320px;

//  Slidebar setup
//  ==========================================================================

	// Sidebar creation - control which sidebars should be generated
	$generate-slidebars-left  : true;
	$generate-slidebars-right : true;


//  Z-index
//  ==========================================================================

	$z-index-list: 9,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110;


//  Container sizes
//  ==========================================================================

	//** Padding between columns. Gets divided in half for the left and right.
	$grid-gutter-width :      30px !default;
	$container-padding :      $grid-gutter-width / 2;

	// Small screen / tablet
	$container-sm      :      ((720px + $grid-gutter-width)) !default;

	// Medium screen / desktop
	$container-md      :      ((940px + $grid-gutter-width)) !default;

	// Large screen / wide desktop
	$container-lg      :      ((1140px + $grid-gutter-width)) !default;

	// Extra large screen / wide desktop
	$container-xl      :      ((1348px + $grid-gutter-width)) !default;


//  Media queries breakpoints
//  ==========================================================================

	$grid-columns   : 12;

	// Small screen / tablet - Container width - 750px
	$screen-sm      : 768px !default;
	$screen-sm-min  : $screen-sm !default;

	// Medium screen / desktop - Container width - 970px
	$screen-md      : 992px !default;
	$screen-md-min  : $screen-md !default;

	// Large screen / wide desktop - Container width - 1170px
	$screen-lg      : 1200px !default;
	$screen-lg-min  : $screen-lg !default;

	// Extra large screen / wide desktop - Container width - 1378px
	$screen-xl      : 1408px !default;
	$screen-xl-min  : $screen-xl !default;

	// So media queries don't overlap when required, provide a maximum

	// Bootstrap Max Sizes
	$screen-xs-max  : ($screen-sm-min - 1) !default;
	$screen-sm-max  : ($screen-md-min - 1) !default;
	$screen-md-max  : ($screen-lg-min - 1) !default;
	$screen-lg-max  : ($screen-xl-min - 1) !default;

	// Breakpoint Max Sizes
	$screen-xs-maxx : max-width $screen-xs-max; // max-width: 767px
	$screen-sm-maxx : max-width $screen-sm-max; // max-width: 991px
	$screen-md-maxx : max-width $screen-md-max; // max-width: 1199px
	$screen-lg-maxx : max-width $screen-lg-max; // max-width: 1407px


//  Spinners
//  ==========================================================================

	$spinner-height       :	40px;
	$spinner-width		  : 40px;
	$spinner-border-width : 4px;


//  Documentation
//  ==========================================================================
	$doc-padding            : 15px;
	$doc-border-width-thin  : 1px;
	$doc-border-width-thick : 5px;


//  Boxes and Panels
//  ==========================================================================
	$box-min-height 	 : 38px;
	$box-min-line-height : $box-min-height - 1;


//  Widget Settings
//  ==========================================================================
	$expanding-search-size : 50px;
