
// Select 2
// ==========================================================================

.select2-dropdown {
	background-color: $select2-dropdown-bg;
	border: 1px solid $select2-dropdown-bd;
}

.select2-close-mask {
	background-color: #fff;
}

.select2-container--default {
	.select2-selection--single {
		background-color: $select2-s-bg;
		border: 1px solid $select2-s-bd;
		.select2-selection__rendered {
			color: $select2-s-color;
		}

		.select2-selection__placeholder {
			color: $select2-s-placeholder-color;
		}
		.select2-selection__arrow {
			b {
				border-color: $select2-s-color transparent transparent;
			}
		}
	}

	&.select2-container--disabled .select2-selection--single {
		background-color: $select2-disabled-bg;
		.select2-selection__rendered {
			color: $select2-disabled-color;
		}
		.select2-selection__arrow {
			b {
				border-color: $select2-disabled-color transparent transparent;
			}
		}
	}
	&.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent $select2-s-color;
	}
	.select2-selection--multiple {
		background-color: $select2-m-bg;
		border: 1px solid $select2-m-bd;

		.select2-selection__placeholder {
			color: $select2-m-placeholder-color;

		}
		.select2-selection__choice {
			background-color: $select2-m-choice-bg;
			border: 1px solid $select2-m-choice-bd;
		}
		.select2-selection__choice__remove {
			color: $select2-m-color;
			&:hover {
				color: #333;
			}
		}
	}
	&.select2-container--focus .select2-selection--multiple {
		border: 1px solid $select2-m-focus-bd;
	}
	&.select2-container--disabled {
		.select2-selection--multiple {
			color: $select2-disabled-color;
			background-color: $select2-disabled-bg;
		}
	}
	.select2-search--dropdown .select2-search__field {
		border: 1px solid $select2-s-bd;
	}

	.select2-results__option {
		&[role=group] {
			padding: 0;
		}
		&[aria-disabled=true] {
			color: #999;
		}
		&[aria-selected=true] {
			background-color: #ddd;
		}
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: $select2-m-highlighted-bg;
		color: $select2-m-highlighted-color;
	}
}
