//Logo
.widget-logo.logo-in-side
	h1
		a(href='index.html')
			span.logo-default.visible-default-inline-block
				img(src = 'img/logo.png', alt = 'Ipreo')
			span.logo-medium.visible-compact-inline-block
				img(src = 'img/logo-small.png', alt = 'Ipreo' , title = 'IPREO' )
			spanl.logo-small.visible-collapsed-inline-block
				img(src = 'img/logo-small.png', alt = 'Ipreo' , title = 'IPREO' )
