/*  ==========================================================================
    Base styles
    ========================================================================== */

	html{
		@include font-size-base($base-font-size);
		height: 100%;
	}

	body {
		font-family: font-family();
		-webkit-font-smoothing: antialiased;
		position: relative;
		height: 100%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	img{
		max-width: 100%;
	}

	*{
		outline: none !important;

		&:focus{
			outline: none !important;
		}
	}

	a{
		text-decoration: none;
		@include transition($transition-value);

		&:link,
		&:visited,
		&:hover,
		&:active{
			text-decoration: none;
		}
	}

	b, strong, dt{
		font-family: font-family(semibold);
	}

/*
    Headings
    ========================================================================== */

	h1, .h1 { @include font-size(36px); }
	h2, .h2 { @include font-size(30px); }
	h3, .h3 { @include font-size(24px); }
	h4, .h4 { @include font-size(18px); }
	h5, .h5 { @include font-size(14px); }
	h6, .h6 { @include font-size(12px); }


/*
    Selection Styling
    ========================================================================== */

	::-moz-selection {
		text-shadow: none;
	}

	::selection {
		text-shadow: none;
	}

/*
    Styled horizontal rule
    ========================================================================== */

	hr {
		border: 0;
		display: block;
		height: 1px;
		padding: 0;
		margin: 10px 0;
	}

/*
    Browse Happy prompt
    ========================================================================== */

	.browsehappy {
		text-align: center;
		padding: 10px 0;
	}

/*
    Overwrites
    ========================================================================== */

	.dropdown-menu{
		@include font-size(13px);
	}

	.form-control{
		@include font-size(14px);
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
