//MAIN NAVIGATION MENU
+nav-menu([
	{'title': 'Dashboard', 'link': '#', 'icon': 'fa-dashboard', 'item': '2', 'page': 'dashboard',
		'child': [
			{'title': 'Dashboard 1',  'link': 'index.html',  	  'page': 'dashboard-1'},
			{'title': 'Dashboard 2',  'link': 'dashboard-2.html', 'page': 'dashboard-2'}
		]
	},
	{
		'title': 'Forms', 'link': '#', 'icon': 'fa-tasks', 'page': 'form',
		'child': [
			{'title': 'Layout', 				 'link': 'form-layout.html', 	 'page': 'fo-layout'},
			{'title': 'Elements', 				 'link': 'form-elements.html', 	 'page': 'fo-elements'},
			{'title': 'Validation', 			 'link': 'form-validation.html', 'page': 'fo-validation'},
			{'title': 'Wizard', 				 'link': 'form-wizard.html', 	 'page': 'fo-wizard'},
			{'title': 'File upload and WYSIWYG', 'link': 'form-upload.html', 	 'page': 'fo-upload'}
		]
	},
	{
		'title': 'Tables', 'link': '#', 'icon': 'fa-table', 'page': 'table',
		'child': [
			{'title': 'Basic Table', 'link': 'table-basic.html', 	 'page': 't-basic'},
			{'title': 'Data Table',  'link': 'table-datatable.html', 'page': 't-datatable'},
			{'title': 'Foo Table',   'link': 'table-footable.html',  'page': 't-footable'}
		]
	},
	{
		'title': 'UI Elements', 'link': '#', 'icon': 'fa-tasks', 'item': '24', 'page': 'ui',
		'child': [
			{'title': 'Grids', 				   'link': 'ui-grid.html', 			   'page': 'u-grid'},
			{'title': 'Boxes and Panels', 	   'link': 'ui-box.html', 			   'page': 'u-box'},
			{'title': 'Draggables', 		   'link': 'ui-draggable.html', 	   'page': 'u-draggable'},
			{'type': 'divider'},
			{'title': 'Documentation', 		   'link': 'ui-doc.html', 			   'page': 'u-doc'},
			{'title': 'Typography', 		   'link': 'ui-typography.html', 	   'page': 'u-typography'},
			{'type': 'divider'},
			{'title': 'Buttons', 			   'link': 'ui-button.html', 		   'page': 'u-button'},
			{'title': 'Icons', 				   'link': 'ui-icons.html', 		   'page': 'u-icons'},
			{'type': 'divider'},
			{'title': 'Accordions', 		   'link': 'ui-accordion.html', 	   'page': 'u-accordion'},
			{'title': 'Breadcrumbs', 		   'link': 'ui-breadcrumb.html', 	   'page': 'u-breadcrumb'},
			{'title': 'Pagination', 		   'link': 'ui-pagination.html', 	   'page': 'u-pagination'},
			{'title': 'Progressbars', 		   'link': 'ui-progressbar.html', 	   'page': 'u-progressbar'},
			{'title': 'Page Progressbars', 	   'link': 'ui-page-progressbar.html', 'page': 'u-page-progressbar'},
			{'title': 'Spinners', 		   	   'link': 'ui-spinner.html', 		   'page': 'u-spinner'},
			{'title': 'Sliders', 			   'link': 'ui-slider.html', 		   'page': 'u-slider'},
			{'title': 'Tabs', 				   'link': 'ui-tab.html', 			   'page': 'u-tab'},
			{'title': 'Tags', 				   'link': 'ui-tag.html', 			   'page': 'u-tag'},
			{'title': 'Pricing Tables', 	   'link': 'ui-pricing-table.html',    'page': 'u-pricing-table'},
			{'type': 'divider'},
			{'title': 'Tooltips and Popovers', 'link': 'ui-tooltip.html', 		   'page': 'u-tooltip'},
			{'title': 'Modals', 			   'link': 'ui-modal.html', 		   'page': 'u-modal'},
			{'title': 'Notifications', 		   'link': 'ui-notification.html', 	   'page': 'u-notification'},
			{'type': 'divider'},
			{'title': 'Calendar', 			   'link': 'ui-calendar.html', 		   'page': 'u-calendar'},
			{'title': 'Date and Timepicker',   'link': 'ui-date-time.html', 	   'page': 'u-date-time'},
			{'type': 'divider'},
			{'title': 'Colorpickers', 		   'link': 'ui-colorpicker.html', 	   'page': 'u-colorpicker'},
			{'title': 'Maps', 				   'link': 'ui-map.html', 			   'page': 'u-map'}
		]
	},
	{
		'title': 'Apps', 'link': '#', 'icon': 'fa-puzzle-piece', 'page': 'app',
		'child': [
			{'title': 'Mail App', 		  'link': 'app-mail.html', 'page': 'ap-mail'},
			{'title': 'Music Player App', 'link': '#', 'page': '', 'soon_last': true},
			{'title': 'Movie App', 		  'link': '#', 'page': '', 'soon_last': true},
			{'title': 'Task Manager', 	  'link': '#', 'page': '', 'soon_last': true}
		]
	}
],true,page)
