/*
    Widget - Stats
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-stats{
		padding: 15px 0;
		position: relative;
		@include border-radius($s-radius);

		.widget-stats-info{
			padding: 10px 30px;
		}

		h4{
			padding: 0 0 10px;
		}

		.stats-data{
			span{
				@include font-size(35px);
				font-family: font-family(semibold);
			}
			div{
				font-family: font-family(light);
			}
		}

		.stats-change{
			span{
				@include font-size(15px);
			}

			div{
				@include font-size(12px);
			}
		}

		.layout-row{
			padding-bottom: 20px;
		}
	}


//  State
//  -------------------------------------
	.is-stats{

	}

	.is-stats{

	}


/*
    Stats in Header
    ------------------------------------- */
	.stats-in-header{

	}

/*
    Stats in Sidebar
    ------------------------------------- */
	.stats-in-side{

	}

/*
    Stats in Box
    ------------------------------------- */
	.stats-in-box{

	}

//  Theme
//  -------------------------------------
	.t-stats-1{

	}

	.t-stats-2{

	}

	.t-stats-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
