/*
    Widget - Weather Forecast
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-weather-forecast{

	}

	.weather-day-col{
		text-align: center;
		@include span(1/5);

		.ac{
			@include font-size(60px);
		}
	}

	.weather-day{
		font-family: font-family(light);
		padding: 24px 0 15px;
		@include font-size(24px);
	}

	.weather-date{
		font-family: font-family(semibold);
	}

	.weather-temp{
		font-family: font-family(light);
		@include font-size(22px);
		padding: 8px 0;
	}

	.weather-description{
		padding: 0 5px 20px;
		@include font-size(16px);
		@include truncate-string();
	}

	.weather-forecast-settings{
		padding: 0 15px;

		h3{
			font-family: font-family(light);
		}

		.cb-radio{
			font-family: font-family(light);
		}

		.forecast-geo-location{
			margin-top: 5px;
		}
	}

	.forecast-error{
		font-family: font-family(light);
		line-height: 7;
		text-align: center;
		@include font-size(30px);
	}

//  State
//  -------------------------------------
	.is-weather-forecast{

	}

	.is-weather-forecast{

	}


/*
    Weather Forecast in Header
    ------------------------------------- */
	.weather-forecast-in-header{

	}


/*
    Weather Forecast in Box
    ------------------------------------- */
	.weather-forecast-in-box{

	}


/*
    Weather Forecast in Sidebar
    ------------------------------------- */
	.weather-forecast-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-weather-forecast-1{

	}

	.t-weather-forecast-2{

	}

	.t-weather-forecast-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}

	@include breakpoint(max-width 320px){

		.weather-day{
			padding: 14px 0 5px;
		}

	}