/*
    Widget - Search Expanding
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-search-expanding{
		position: relative;
		width: 0%;
		min-width: $expanding-search-size;
		height: $expanding-search-size;
		float: right;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		@include transition(width 0.3s);
	}

	.search-exp-input {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		outline: none;
		width: 100%;
		height: $expanding-search-size;
		margin: 0;
		z-index: 10;
		padding: 10px 65px 10px 20px;
	}

	.search-exp-icon {
		width: $expanding-search-size;
		height: $expanding-search-size;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		margin: 0;
		line-height: $expanding-search-size;
		text-align: center;
		cursor: pointer;
	}

	.search-exp-icon {
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		z-index: 90;
		@include font-size(16px);
	}

	.search-exp-submit {
		@extend .search-exp-icon;
		/* IE needs this */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		/* IE 8 */
		filter: alpha(opacity = 0);
		/* IE 5-7 */
		opacity: 0;
		color: transparent;
		border: none;
		outline: none;
		z-index: -1;
	}

	/* Open state */

	.widget-search-expanding.search-exp-open,
	.no-js .widget-search-expanding {
		width: 100%;
	}

	.widget-search-expanding.search-exp-open .search-exp-icon,
	.no-js .widget-search-expanding .search-exp-icon {
		z-index: 11;
	}

	.widget-search-expanding.search-exp-open .search-exp-submit,
	.no-js .widget-search-expanding .search-exp-submit {
		z-index: 90;
	}



//  State
//  -------------------------------------
	.is-search-expanding{

	}

	.is-search-expanding{

	}


/*
    Search Expanding in Header
    ------------------------------------- */
	.search-expanding-in-header{
		&.widget-search-expanding.search-exp-open{
			width: 250px;
		}
	}


/*
    Search Expanding in Box
    ------------------------------------- */
	.search-expanding-in-box{

	}


/*
    Search Expanding in Sidebar
    ------------------------------------- */
	.search-expanding-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-search-expanding-1{

	}

	.t-search-expanding-2{

	}

	.t-search-expanding-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.search-expanding-in-header{
			&.widget-search-expanding.search-exp-open{
				width: 100%;
			}
		}
	}
