/*
    Widget - Search
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-search{
		position: relative;

		.btn{
			position: absolute;
			top: 0;
			@include border-radius(0);
			z-index: 10;

			&:focus{
				@include box-shadow(none);
			}
		}

		.search-toggle{
			display: none;
			padding: 20px 0;
			text-align: center;
		}
	}


//  State
//  -------------------------------------
	.is-search-right{
		.btn{ right: 0; }
	}

	.is-search-left{
		input{ padding-left: 50px; }
		.btn{ left: 0; }
	}


/*
    Search in Header
    ------------------------------------- */

	.search-in-header{

		input{
			border: none;
			height: 50px;
			width: 200px;
		}

		.btn{
			padding: 14px 12px;
		}
	}


/*
    Search in Box
    ------------------------------------- */
	.search-in-box{
		line-height: 1;
		padding: 6px 10px;
		max-width: 20%;

		.form-control{
			height: 24px;
		}
	}


/*
    Search in Sidebar
    ------------------------------------- */
	.search-in-side{

		input{
			border: none;
			height: 60px;
		}

		.btn{
			padding: 19px 15px;
		}
	}


//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

		.search-in-side{

			.btn{
				padding: 19px 5px;
			}
		}

		.is-search-right{
			input{ padding-right: 28px; }
		}

		.is-search-left{
			input{ padding-left: 28px; }
		}

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{
		.search-in-side{
			position: relative;

			.search-toggle{
				display: block;
			}

			.search-content{
				display: none;
				position: absolute;
				top: 0;
				left: 50px;
				width: 250px;
			}
			
			&:hover{
				.search-content{
					display: block;
				}
			}
		}
	}



//  Theme
//  -------------------------------------

	.t-search-3{
		.btn{
			padding: 19px 5px 19px 30px;
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.search-in-header{

			input{
				width: 100%;
			}
		}
	}
