/*
    Widget - Tabs 2
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-tabs-2{
		@include group;

		// Tabs
		ul{
			display: block;
			li{
				border: 1px solid transparent;
				min-height: 105px;
				padding: 15px;
				@include transition($transition-value);
			}
		}

		.resp-tab-active{
			padding: 15px !important;
		}

		.tab-2-title{
			@include font-size(15px);
			font-family: font-family(semibold);
			padding-bottom: 5px;
		}

		.tab-2-stat{
			@include font-size(24px);
			font-family: font-family(light);
			padding-bottom: 5px;

			span{
				@include font-size(18px);
				margin-left: 8px;
			}
		}

		.tab-2-info{

		}

		.resp-tab-content{
			padding: 0;
			border-right: none;
			border-left: none;
		}

		h2.resp-accordion{
			position: relative;
			@include group;

			.resp-arrow{
				position: absolute;
				top: 7px;
				right: 10px;
			}

			.tab-chart-update{
				display: none;
			}

			.tab-chart-wrapper{
				text-align: right;
			}
		}

		h2.resp-tab-active {
			padding: 10px 15px !important;
		}



		// Charts
		.tab-chart-wrapper{
			position: relative;
			text-align: center;
		}

		.tab-chart-update{
			position: absolute;
			top: 0px;
			right: 0px;
			cursor: pointer;
			@include font-size(10px);
			@include transition($transition-value);
		}

		.tab-chart{
			position: relative;
			display: inline-block;
			width: 70px;
			height: 70px;
			text-align: center;
			margin-top: 5px;

			canvas {
				position: absolute;
				top: 0;
				left: 0;
			}

			i{
				display: none;
				line-height: 70px;
				@include font-size(18px);
			}

			&:hover{
				span{ display: none; }
				i{ display: block; }
			}
		}

		.percent {
			display: inline-block;
			line-height: 70px;
			z-index: 2;
			@include font-size(20px);
			font-family: font-family(light);

			&:after {
				content: '%';
				margin-left: 0.1em;
				font-size: .6em;
			}
		}


	}

//  State
//  -------------------------------------
	.is-tabs-2{

	}

	.is-tabs-2{

	}


/*
    Tabs 2 in Header
    ------------------------------------- */
	.tabs-2-in-header{

	}


/*
    Tabs 2 in Box
    ------------------------------------- */
	.tabs-2-in-box{

	}


/*
    Tabs 2 in Sidebar
    ------------------------------------- */
	.tabs-2-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-tabs-2-1{

	}

	.t-tabs-2-2{

	}

	.t-tabs-2-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){
		.widget-tabs-2{
			.tab-2-stat span{
				display: none;
			}

			.tab-chart-update{
				top: -5px;
				right: -5px;
			}
		}
	}

	@include breakpoint($screen-sm-maxx){
		.widget-tabs-2{
			margin-top: 20px;

			.tab-2-stat span{
				display: inline-block;
			}

		}
	}

	@include breakpoint($screen-xs-maxx){
	}
