/*
    Widget - Active Users
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-active-users{

		li{

		}

		p{
			margin: 0;
		}

		img{
			opacity: 0.9;
		}


		a{
			display: block;
			padding: 5px 10px;
			@include group;

			&:hover{
				.active-users-img{
					padding: 0px;

					img{
						opacity: 1;
					}
				}
			}
		}
	}

	.active-users-main-title{
		font-family: font-family(semibold);
		margin: 0;
		padding: 20px 15px 12px;
		line-height: 1;

		.label,
		.badge{
			padding-top: 0.3em;
			margin-top: -2px;
		}
	}

	.active-users-title{
		margin:8px 0 5px;
		width: 75%;
		@include truncate-string;
	}

	.active-users-img{
		@include col(2/6);
		padding: 3px;
		@include border-radius($s-radius);

		img{
			@include border-radius($s-radius);
		}
	}

	.active-users-info{
		@include col(4/6);
		position: relative;

		p{

		}

		.time{
			font-family: font-family(semibold);
			position: absolute;
			top: 7px;
			right: 5px;
		}

	}

//  State
//  -------------------------------------
	.is-active-users{

	}

	.is-active-users{

	}


/*
    Active Users in Header
    ------------------------------------- */
	.active-users-in-header{

	}


/*
    Active Users in Box
    ------------------------------------- */
	.active-users-in-box{

	}


/*
    Active Users in Sidebar
    ------------------------------------- */
	.active-users-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

		.active-users-main-title{
			text-align: center;
			position: relative;

			.label,
			.badge{
				position: absolute;
				top: 5px;
				left: 5px;
			}
		}

		.active-users-img{
			@include stack();
		}
		.active-users-info{
			display: none;
		}
	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

		.active-users-main-title{

			padding-bottom: 30px;

			span{
				display: none;
			}
		}

		.active-users-img{
			@include stack();
		}

		.active-users-info{
			display: none;
		}
	}


//  Theme
//  -------------------------------------
	.t-active-users-1{

	}

	.t-active-users-2{

	}

	.t-active-users-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
