/*
    Widget - Server Stats
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-server-stats{
		position: relative;
		//z-index: 20;
	}

	.server-stats-btn{
		display: block;
		text-align: center;
		padding: 10px 0;

		span{
			font-family: font-family(semibold);
		}
	}

	.server-stats-icon{
		padding-bottom: 5px;
		@include font-size(17px);
	}

	.server-stats-content{

	}

	.server-stats-header{
		padding:10px;
		@include group;

		h4{
			float: left;
			margin: 0;
		}

		span{
			float: right;
		}
	}

	.server-stats-body{

	}

	.server-stats-progress{
		padding: 20px 15px;

		.progress{
			margin: 0;
		}
	}

	.server-stats-footer{
		padding:8px 0;
		text-align: center;
		font-family: font-family(semibold);
		@include font-size(20px);

		.small,sup{
			font-family: font-family(light);
			@include font-size(14px);
		}
	}


//  State
//  -------------------------------------
	.is-server-stats{

	}

	.is-server-stats{

	}


/*
    Server Stats in Header
    ------------------------------------- */
	.server-stats-in-header{

	}


/*
    Server Stats in Box
    ------------------------------------- */
	.server-stats-in-box{

	}


/*
    Server Stats in Sidebar
    ------------------------------------- */
	.server-stats-in-side{
		.server-stats-content{
			display: none;
			position: absolute;
			top: -1px;
			width: 250px;
			z-index: 20;
		}
	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{
		.server-stats-footer{
			display: none;
		}
	}

	.layout-sidebar-compact-left{
		.server-stats-content{
			left: 98px;
		}
	}

	.layout-sidebar-compact-right{
		.server-stats-content{
			right: 98px;
		}
	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{
		.server-stats-btn{
			span{
				display: none;
			}
		}
	}

	.layout-sidebar-collapsed-left{
		.server-stats-content{
			left: 48px;
		}
	}

	.layout-sidebar-collapsed-right{
		.server-stats-content{
			right: 48px;
		}
	}



//  Theme
//  -------------------------------------
	.t-server-stats-1{

	}

	.t-server-stats-2{

	}

	.t-server-stats-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
