
//Left Sidebar Content
aside#sb-left.layout-sidebar.layout-sidebar-compact-left.t-sidebar-1

	.layout-side-box
		a.switcher.t-switcher-side(href = '#').ason-widget(
		data-ason-type="sidebar",
		data-ason-on-all="compact",
		data-ason-to-all="sidebar",
		data-ason-target="#sb-left")
			i.fa.fa-bars


	.layout-side-box
		include ../../../widgets/widget_logo/logo_in_side


	//Main Menu
	.layout-side-box

		include ../../nav/nav
