/*  ==========================================================================
    summernote
    ========================================================================== */
/* Frame Mode Layout
 ------------------------------------------*/
.note-editor {
  position: relative;
  /* dropzone */
  /* fullscreen mode */
  /* codeview mode */
  /* statusbar */
  /* editable */
  /* codeable */ }
  .note-editor .note-dropzone {
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 0.95;
    pointer-event: none; }
    .note-editor .note-dropzone .note-dropzone-message {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      font-size: 2rem; }
  .note-editor.dragover .note-dropzone {
    display: table; }
  .note-editor.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    /* bs3 modal-backdrop: 1030, bs2: 1040 */ }
    .note-editor.fullscreen .note-resizebar {
      display: none; }
  .note-editor.codeview .note-editable {
    display: none; }
  .note-editor.codeview .note-codable {
    display: block; }
  .note-editor .note-statusbar .note-resizebar {
    height: 8px;
    width: 100%;
    cursor: ns-resize; }
    .note-editor .note-statusbar .note-resizebar .note-icon-bar {
      width: 20px;
      margin: 1px auto; }
  .note-editor .note-editable {
    padding: 10px;
    overflow: auto;
    outline: none; }
  .note-editor .note-codable {
    display: none;
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: none;
    font-family: Menlo, Monaco, monospace, sans-serif;
    resize: none;
    font-size: 14px;
    font-size: 1rem;
    /* override BS2 default style */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0; }

/* Air Mode Layout
 ------------------------------------------*/
.note-air-editor {
  outline: none; }

/* Popover
 ------------------------------------------*/
.note-popover .popover {
  max-width: none; }
  .note-popover .popover .popover-content a {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* for FF */
    vertical-align: middle;
    /* for FF */ }
  .note-popover .popover .arrow {
    left: 20px; }

/* Popover and Toolbar (Button container)
 ------------------------------------------*/
.note-popover .popover .popover-content, .note-toolbar {
  margin: 0;
  padding: 0 0 5px 5px;
  /* dropdown-menu for toolbar and popover */
  /* color palette for toolbar and popover */ }
  .note-popover .popover .popover-content > .btn-group, .note-toolbar > .btn-group {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 5px; }
  .note-popover .popover .popover-content .note-table .dropdown-menu, .note-toolbar .note-table .dropdown-menu {
    min-width: 0;
    padding: 5px; }
    .note-popover .popover .popover-content .note-table .dropdown-menu .note-dimension-picker, .note-toolbar .note-table .dropdown-menu .note-dimension-picker {
      font-size: 18px; }
      .note-popover .popover .popover-content .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-mousecatcher, .note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-mousecatcher {
        position: absolute !important;
        z-index: 3;
        width: 10em;
        height: 10em;
        cursor: pointer; }
      .note-popover .popover .popover-content .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-unhighlighted, .note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-unhighlighted {
        position: relative !important;
        z-index: 1;
        width: 5em;
        height: 5em;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat; }
      .note-popover .popover .popover-content .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-highlighted, .note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-highlighted {
        position: absolute !important;
        z-index: 2;
        width: 1em;
        height: 1em;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat; }
  .note-popover .popover .popover-content .note-style h1, .note-popover .popover .popover-content .note-style h2, .note-popover .popover .popover-content .note-style h3, .note-popover .popover .popover-content .note-style h4, .note-popover .popover .popover-content .note-style h5, .note-popover .popover .popover-content .note-style h6, .note-popover .popover .popover-content .note-style blockquote, .note-toolbar .note-style h1, .note-toolbar .note-style h2, .note-toolbar .note-style h3, .note-toolbar .note-style h4, .note-toolbar .note-style h5, .note-toolbar .note-style h6, .note-toolbar .note-style blockquote {
    margin: 0; }
  .note-popover .popover .popover-content .note-color .dropdown-toggle, .note-toolbar .note-color .dropdown-toggle {
    width: 20px;
    padding-left: 5px; }
  .note-popover .popover .popover-content .note-color .dropdown-menu, .note-toolbar .note-color .dropdown-menu {
    min-width: 340px; }
    .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group, .note-toolbar .note-color .dropdown-menu .btn-group {
      margin: 0; }
      .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group:first-child, .note-toolbar .note-color .dropdown-menu .btn-group:first-child {
        margin: 0 5px; }
      .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-palette-title, .note-toolbar .note-color .dropdown-menu .btn-group .note-palette-title {
        margin: 2px 7px;
        text-align: center;
        font-size: 12px;
        font-size: 0.85714rem; }
      .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset, .note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset {
        margin: 3px;
        padding: 0 3px;
        cursor: pointer;
        font-size: 11px;
        font-size: 0.78571rem;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
      .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-row, .note-toolbar .note-color .dropdown-menu .btn-group .note-color-row {
        height: 20px; }
  .note-popover .popover .popover-content .note-para .dropdown-menu, .note-toolbar .note-para .dropdown-menu {
    min-width: 216px;
    padding: 5px; }
    .note-popover .popover .popover-content .note-para .dropdown-menu > div:first-child, .note-toolbar .note-para .dropdown-menu > div:first-child {
      margin-right: 5px; }
  .note-popover .popover .popover-content .dropdown-menu, .note-toolbar .dropdown-menu {
    min-width: 90px;
    /* dropdown-menu right position */
    /* http://forrst.com/posts/Bootstrap_right_positioned_dropdown-2KB */
    /* dropdown-menu for selectbox */ }
    .note-popover .popover .popover-content .dropdown-menu.right, .note-toolbar .dropdown-menu.right {
      right: 0;
      left: auto; }
      .note-popover .popover .popover-content .dropdown-menu.right::before, .note-toolbar .dropdown-menu.right::before {
        right: 9px;
        left: auto !important; }
      .note-popover .popover .popover-content .dropdown-menu.right::after, .note-toolbar .dropdown-menu.right::after {
        right: 10px;
        left: auto !important; }
    .note-popover .popover .popover-content .dropdown-menu li a i, .note-toolbar .dropdown-menu li a i {
      visibility: hidden; }
    .note-popover .popover .popover-content .dropdown-menu li a.checked i, .note-toolbar .dropdown-menu li a.checked i {
      visibility: visible; }
  .note-popover .popover .popover-content .note-fontsize-10, .note-toolbar .note-fontsize-10 {
    font-size: 10px; }
  .note-popover .popover .popover-content .note-color-palette, .note-toolbar .note-color-palette {
    line-height: 1; }
    .note-popover .popover .popover-content .note-color-palette div .note-color-btn, .note-toolbar .note-color-palette div .note-color-btn {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0; }

/* Dialog
 ------------------------------------------*/
.note-dialog > div {
  display: none;
  /* BS2's hide pacth. */ }
.note-dialog .note-image-dialog .note-dropzone {
  min-height: 100px;
  font-size: 30px;
  line-height: 4;
  /* vertical-align */
  text-align: center;
  margin-bottom: 10px; }
.note-dialog .note-help-dialog {
  font-size: 12px;
  font-size: 0.85714rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  /* BS2's background pacth. */
  background: transparent;
  border: none; }
  .note-dialog .note-help-dialog .modal-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .note-dialog .note-help-dialog a {
    font-size: 12px;
    font-size: 0.85714rem; }
  .note-dialog .note-help-dialog .title {
    font-size: 14px;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 5px; }
  .note-dialog .note-help-dialog .modal-close {
    font-size: 14px;
    font-size: 1rem;
    cursor: pointer; }
  .note-dialog .note-help-dialog .note-shortcut-layout {
    width: 100%; }
    .note-dialog .note-help-dialog .note-shortcut-layout td {
      vertical-align: top; }
  .note-dialog .note-help-dialog .note-shortcut {
    margin-top: 8px; }
    .note-dialog .note-help-dialog .note-shortcut th {
      text-align: left;
      font-size: 13px;
      font-size: 0.92857rem; }
    .note-dialog .note-help-dialog .note-shortcut td:first-child {
      min-width: 110px;
      font-family: "Courier New";
      text-align: right;
      padding-right: 10px; }

/* Handle
 ------------------------------------------*/
.note-handle {
  /* control selection */ }
  .note-handle .note-control-selection {
    position: absolute;
    display: none; }
    .note-handle .note-control-selection > div {
      position: absolute; }
    .note-handle .note-control-selection .note-control-selection-bg {
      width: 100%;
      height: 100%;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      opacity: 0.3; }
    .note-handle .note-control-selection .note-control-handle, .note-handle .note-control-selection .note-control-holder, .note-handle .note-control-selection .note-control-sizing {
      width: 7px;
      height: 7px; }
    .note-handle .note-control-selection .note-control-nw {
      top: -5px;
      left: -5px;
      border-right: none;
      border-bottom: none; }
    .note-handle .note-control-selection .note-control-ne {
      top: -5px;
      right: -5px;
      border-bottom: none;
      border-left: none; }
    .note-handle .note-control-selection .note-control-sw {
      bottom: -5px;
      left: -5px;
      border-top: none;
      border-right: none; }
    .note-handle .note-control-selection .note-control-se {
      right: -5px;
      bottom: -5px;
      cursor: se-resize; }
    .note-handle .note-control-selection .note-control-selection-info {
      right: 0;
      bottom: 0;
      padding: 5px;
      margin: 5px;
      font-size: 12px;
      font-size: 0.85714rem;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7; }

/* Frame Mode Layout
 ------------------------------------------*/
.note-editor {
  border: 1px solid #EDEDED;
  /* dropzone */
  /* fullscreen mode */
  /* statusbar */
  /* editable */
  /* codeable */ }
  .note-editor .note-dropzone {
    border: 2px dashed #535353;
    color: #535353;
    background-color: white; }
    .note-editor .note-dropzone.hover {
      border: 2px dashed #464646;
      color: #464646; }
  .note-editor .note-toolbar {
    background-color: #F4F4F4;
    border-bottom: 1px solid #EDEDED; }
  .note-editor.fullscreen .note-editable {
    background-color: white; }
  .note-editor .note-statusbar {
    background-color: #F4F4F4; }
    .note-editor .note-statusbar .note-resizebar {
      border-top: 1px solid #EDEDED; }
      .note-editor .note-statusbar .note-resizebar .note-icon-bar {
        border-top: 1px solid #b9b9b9; }
  .note-editor .note-editable[contenteditable="false"] {
    background-color: #e5e5e5; }
  .note-editor .note-codable {
    color: #ccc;
    background-color: #222; }

/* Popover and Toolbar (Button container)
 ------------------------------------------*/
.note-popover .popover .popover-content, .note-toolbar {
  /* dropdown-menu for toolbar and popover */
  /* color palette for toolbar and popover */ }
  .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-palette-title, .note-toolbar .note-color .dropdown-menu .btn-group .note-palette-title {
    border-bottom: 1px solid #eee; }
  .note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset:hover, .note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset:hover {
    background: #eee; }
  .note-popover .popover .popover-content .dropdown-menu, .note-toolbar .dropdown-menu {
    min-width: 90px;
    /* dropdown-menu for selectbox */ }
    .note-popover .popover .popover-content .dropdown-menu li a i, .note-toolbar .dropdown-menu li a i {
      color: deepskyblue; }
  .note-popover .popover .popover-content .note-color-palette div .note-color-btn, .note-toolbar .note-color-palette div .note-color-btn {
    border: 1px solid #fff; }
  .note-popover .popover .popover-content .note-color-palette div .note-color-btn:hover, .note-toolbar .note-color-palette div .note-color-btn:hover {
    border: 1px solid #000; }

/* Dialog
 ------------------------------------------*/
.note-dialog .note-image-dialog .note-dropzone {
  color: lightgray;
  border: 4px dashed lightgray; }
.note-dialog .note-help-dialog {
  color: #ccc;
  background-color: #222 !important; }
  .note-dialog .note-help-dialog .modal-content {
    border: 1px solid white; }
  .note-dialog .note-help-dialog a {
    color: white; }
  .note-dialog .note-help-dialog .title {
    color: white;
    border-bottom: white 1px solid; }
  .note-dialog .note-help-dialog .modal-close {
    color: #dd0; }
  .note-dialog .note-help-dialog .note-shortcut th {
    color: #dd0; }
  .note-dialog .note-help-dialog .note-shortcut td:first-child {
    color: #dd0; }

/* Handle
 ------------------------------------------*/
.note-handle {
  /* control selection */ }
  .note-handle .note-control-selection {
    border: 1px solid black; }
    .note-handle .note-control-selection .note-control-selection-bg {
      background-color: black; }
    .note-handle .note-control-selection .note-control-handle, .note-handle .note-control-selection .note-control-holder, .note-handle .note-control-selection .note-control-sizing {
      border: 1px solid black; }
    .note-handle .note-control-selection .note-control-sizing {
      background-color: white; }
    .note-handle .note-control-selection .note-control-selection-info {
      color: white;
      background-color: black; }
