/*  ==========================================================================
    syntaxhighlighter
    ========================================================================== */
.syntaxhighlighter {
  background-color: #FDFDFD !important; }
  .syntaxhighlighter .line.alt1 {
    background-color: #FAFAFA !important; }
  .syntaxhighlighter .line.alt2 {
    background-color: #FDFDFD !important; }
  .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #c3defe !important; }
  .syntaxhighlighter .line.highlighted.number {
    color: #1d1d1d !important; }
  .syntaxhighlighter table caption {
    color: #535353 !important; }
  .syntaxhighlighter .gutter {
    color: #A0A0A0 !important; }
    .syntaxhighlighter .gutter .line {
      border-right: 3px solid #EDEDED !important; }
      .syntaxhighlighter .gutter .line.highlighted {
        background-color: #EDEDED !important;
        color: #FDFDFD !important; }
  .syntaxhighlighter.printing .line .content {
    border: none !important; }
  .syntaxhighlighter.collapsed {
    overflow: visible !important; }
    .syntaxhighlighter.collapsed .toolbar {
      color: #3f5fbf !important;
      background: #fff !important;
      border: 1px solid #EDEDED !important; }
      .syntaxhighlighter.collapsed .toolbar a {
        color: #3f5fbf !important; }
        .syntaxhighlighter.collapsed .toolbar a:hover {
          color: #aa7700 !important; }
  .syntaxhighlighter .toolbar {
    display: none !important;
    color: #a0a0a0 !important;
    background: #EDEDED !important;
    border: none !important; }
    .syntaxhighlighter .toolbar a {
      color: #a0a0a0 !important; }
      .syntaxhighlighter .toolbar a:hover {
        color: red !important; }
  .syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #535353 !important; }
  .syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #3f5fbf !important; }
  .syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #eb525d !important; }
  .syntaxhighlighter .keyword {
    color: #1d1d1d !important; }
  .syntaxhighlighter .preprocessor {
    color: #646464 !important; }
  .syntaxhighlighter .variable {
    color: #aa7700 !important; }
  .syntaxhighlighter .value {
    color: #66A6E2 !important; }
  .syntaxhighlighter .functions {
    color: #ff1493 !important; }
  .syntaxhighlighter .constants {
    color: #0066cc !important; }
  .syntaxhighlighter .script {
    font-weight: bold !important;
    color: #1d1d1d !important;
    background-color: none !important; }
  .syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: teal !important; }
  .syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff1493 !important; }
  .syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important; }

.syntaxhighlighter .keyword {
  font-weight: bold !important; }
.syntaxhighlighter .xml .keyword {
  color: #3f7f7f !important;
  font-weight: normal !important; }
.syntaxhighlighter .xml .color1, .syntaxhighlighter .xml .color1 a {
  color: #7f007f !important; }
.syntaxhighlighter .xml .string {
  font-style: italic !important;
  color: #2a00ff !important; }
.syntaxhighlighter .line {
  padding: 1px 10px; }
.syntaxhighlighter .container {
  width: 100%;
  padding: 0; }
.syntaxhighlighter .gutter {
  line-height: 1.5;
  vertical-align: top; }
  .syntaxhighlighter .gutter .line {
    border-right-width: 1px !important; }
    .syntaxhighlighter .gutter .line.alt1 {
      background-color: #FDFDFD !important; }
.syntaxhighlighter .gutter {
  color: #A0A0A0 !important; }
  .syntaxhighlighter .gutter .line {
    border-right: 3px solid #EDEDED !important; }
    .syntaxhighlighter .gutter .line.highlighted {
      background-color: #EDEDED !important;
      color: #1d1d1d !important; }
.syntaxhighlighter .code {
  line-height: 1.5;
  vertical-align: top;
  width: 100%; }
.syntaxhighlighter code {
  background: none;
  padding: 0; }
.syntaxhighlighter.no-stripe .line {
  background-color: #FDFDFD !important; }

.syntax-wrapper {
  background: #FDFDFD;
  border: 1px solid #EDEDED;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .syntax-wrapper h3, .syntax-wrapper p {
    padding: 0 2%; }
  .syntax-wrapper h3 {
    margin: 20px 0;
    font-family: "OpenSansSemibold"; }
  .syntax-wrapper .syntax-info {
    border-bottom: 1px solid #EDEDED; }
