//FOOTER

footer.layout-footer.layout-footer-1.t-footer-1
	.group.pt-10.pb-10.ph
		.copyright.pull-left
			a(href = '#') Cupcake AppKit
			| #{''}
			| Powered by
			| #{''}
			a(href = '#') Ipreo UX
			| #{''}

		ul.pull-right.list-inline
			li: a(href = '#') Terms of Use
			li /
			li: a(href = '#') Privacy Policy
			li /
			li: a(href = '#') Contact Us
