//FOOTER

footer.layout-footer.layout-footer-1.t-footer-1
	.group.pt-10.pb-10.ph
		.copyright.pull-left
			| #{copyright}
			| #{''}
			a(href = '#') Cupcake AppKit
			| #{''}
			| Powered by
			| #{''}
			a(href = '#') Ipreo UX
			| #{''}

		.version.pull-right #{version}
