/*
    Widget - Revenue
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-revenue{

		background: $revenue-bg;
		border: 1px solid $revenue-bd;

		.c3 {
			path, line {
				fill: none;
				stroke: $revenue-spline-svg-color;
			}

			svg {
				fill: $revenue-spline-svg-color;
			}
		}
	}

	.c3-revenue-1{ color: $revenue-spline-1-color; }
	.c3-revenue-2{ color: $revenue-spline-2-color; }
	.c3-revenue-3{ color: $revenue-spline-3-color; }
	.c3-revenue-4{ color: $revenue-spline-4-color; }
	.c3-revenue-5{ color: $revenue-spline-5-color; }

//  State
//  -------------------------------------
	.is-revenue{

	}

	.is-revenue{

	}


/*
    Revenue in Header
    ------------------------------------- */
	.revenue-in-header{

	}

/*
    Revenue in Sidebar
    ------------------------------------- */
	.revenue-in-side{

	}

/*
    Revenue in Box
    ------------------------------------- */
	.revenue-in-box{

	}

//  Theme
//  -------------------------------------
	.t-revenue-1{

	}

	.t-revenue-2{

	}

	.t-revenue-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
