/*
    Widget - Settings
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-settings{

		.settings-title{
			border-bottom: 1px solid $settings-bd;
		}

	}

//  State
//  -------------------------------------
	.is-settings{

	}

	.is-settings{

	}


/*
    Settings in Header
    ------------------------------------- */
	.settings-in-header{

	}


/*
    Settings in Box
    ------------------------------------- */
	.settings-in-box{

	}


/*
    Settings in Sidebar
    ------------------------------------- */
	.settings-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-settings-1{

	}

	.t-settings-2{

	}

	.t-settings-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
