/*
    Widget - Task
    ========================================================================== */


/*
	Task
	------------------------------------- */
	.widget-task{

	}

	.task-in-header{
		&.open{
			.dropdown-toggle{
				color: $task-in-header-toggle-open-color;
			}
		}
	}

	.task-in-side{
		.dropdown-menu-header{
			background: transparent;
		}
	}

	.task-in-box{
		.dropdown-menu-header{
			background: transparent;
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
