/*
    Widget - Chat
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-chat{

	}

	.widget-chat-header{
		a{
			&:hover,
			&:focus{
				color: $chat-header-a-hover;
				background: $chat-header-a-bg-hover;
				border-color: $chat-header-a-bd-hover;
			}
		}
	}

	.widget-chat-body{

		a{
			&:hover{
//				color: $chat-header-a-color-hover;
			}
		}

		.first-row{
			border-top: 1px solid $chat-row-bd;
		}

		.chat-row{
			border-bottom: 1px solid $chat-row-bd;
		}

		.chat-user{


			h5{

			}

		}

		a.chat-user{

			&:hover{
				color: $chat-user-hover;
				background: $chat-user-bg-hover;
			}

			&.open{
				color: $chat-user-open-color;
				background: $chat-user-open-bg;
			}
		}

		.chat-img{

			img{

			}

			i{

			}
		}

		.chat-info{


			.mood{
				color: $chat-mood-color;
			}
		}


		.chat-status{


			li{

			}

			.label{

			}
		}

		.chat-conversation{
			background: $chat-conversation-bg;

			.chat-user{

				border-bottom: 1px solid $chat-user-bd;
			}
		}

		.chat-date-start{
			border-bottom: 1px solid $chat-user-bd;
		}

		.chat-info-conv{

		}

		.user-1{
			background: $chat-user-1-bg;
		}

		.user-2{
			background: $chat-user-2-bg;
		}

		.chat-message{

		}

		.chat-more-message{
			border-top: 1px solid $chat-more-message-bd;
		}

		.chat-text{

		}

		.chat-time{
			text-align: center;
		}

		.chat-input{
			border-top: 1px solid $chat-user-bd;
			background: $chat-input-bg;

			.btn{
				border: 1px solid $chat-input-bd;
			}
		}
	}

//  State
//  -------------------------------------
	.is-chat{

	}

	.is-chat{

	}


/*
    Chat in Header
    ------------------------------------- */
	.chat-in-header{

	}

/*
    Chat in Sidebar
    ------------------------------------- */
	.chat-in-side{

	}

/*
    Chat in Box
    ------------------------------------- */
	.chat-in-box{

	}

//  Theme
//  -------------------------------------
	.t-chat-1{

	}

	.t-chat-2{

	}

	.t-chat-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
