/*
    Widget - Info
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-info{
		background: $info-bg;
	}


//  State
//  -------------------------------------
	.is-info{

	}

	.is-info{

	}


/*
    Info in Header
    ------------------------------------- */
	.info-in-header{

	}

/*
    Info in Sidebar
    ------------------------------------- */
	.info-in-side{

	}

/*
    Info in Box
    ------------------------------------- */
	.info-in-box{

	}

//  Theme
//  -------------------------------------
	.info-t-1-spark-1-color{ color: $info-t-1-spark-1-color; }
	.t-info-1{
		color: $info-t-1-color;
		background: $info-t-1-mu;

		hr{
			border-color: darken($info-t-1-mu, 15%);
		}

		.progress-bar{
			background-color: darken($info-t-1-mu, 20%);
		}

		a{
			color: $info-t-1-color;

			&:hover{
				color: $info-t-1-hover;
			}
		}

	}


	.info-t-2-spark-1-color{ color: $info-t-2-spark-1-color; }
	.info-t-2-spark-2-color{ color: $info-t-2-spark-2-color; }
	.info-t-2-spark-3-color{ color: $info-t-2-spark-3-color; }
	.t-info-2{
		color: $info-t-2-color;
		background: $info-t-2-mu;

		hr{
			border-color: darken($info-t-2-mu, 5%);
		}

		.progress-bar{
			background-color: darken($info-t-2-mu, 20%);
		}

		a{
			color: $info-t-2-color;

			&:hover{
				color: $info-t-2-hover;
			}
		}

	}

	.info-t-3-spark-1-color{ color: $info-t-3-spark-1-color; }
	.t-info-3{
		color: $info-t-3-color;
		background: $info-t-3-mu;

		hr{
			border-color: darken($info-t-3-mu, 10%);
		}

		.progress-bar{
			background-color: darken($info-t-3-mu, 20%);
		}

		a{
			color: $info-t-3-color;

			&:hover{
				color: $info-t-3-hover;
			}
		}

	}

	.info-t-4-spark-1-color{ color: $info-t-4-spark-1-color; }
	.t-info-4{
		color: $info-t-4-color;
		background: $info-t-4-mu;

		hr{
			border-color: darken($info-t-4-mu, 8%);
		}

		.progress-bar{
			background-color: darken($info-t-4-mu, 20%);
		}

		a{
			color: $info-t-4-color;

			&:hover{
				color: $info-t-4-hover;
			}
		}

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
