/*
    Widget - Logo
    ========================================================================== */

/*
    Common
    ------------------------------------- */


//  State
//  -------------------------------------
	.is-logo{

	}

	.is-logo{

	}


/*
    Logo in Header
    ------------------------------------- */
	.logo-in-header{

	}

/*
    Logo in Sidebar
    ------------------------------------- */
	.logo-in-side{

	}

/*
    Logo in Box
    ------------------------------------- */
	.logo-in-box{

	}

//  Theme
//  -------------------------------------
	.t-logo-1{

	}

	.t-logo-2{

	}

	.t-logo-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
