/*
    Widget - Theme Settings
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-theme-settings{
		background: $theme-setting-bg;
		border: 1px solid $theme-setting-bd;
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
	}

	.theme-settings-toggle{
		background: $theme-setting-header-bg;
		border: 1px solid $theme-setting-bd;
		border-right-color: $theme-setting-header-bg;
	}

	.theme-settings-wrapper{

		h3{
			background: $theme-setting-header-bg;
			border-bottom: 1px solid $theme-setting-bd;
		}
	}

	.theme-settings-info{
		background: $theme-settings-info-bg;
		&:hover{
			background: $theme-settings-info-bg-hover;
		}
	}

	.theme-skin-title{
		border-bottom: 1px solid $theme-skin-title-bd;

		.clear-cache{
			color: $theme-setting-clear-cache-color;

			&:hover{
				color: $theme-setting-clear-cache-hover;
			}
		}
	}

	.theme-skin-wrapper{
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

	}

	.skin-default{

		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-bottom: 0;

			-webkit-background-origin: border-box;
			-moz-background-origin: border;
			background-origin: border-box;

			@include background-image(linear-gradient(left top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%));

		}

	}

	.skin-default{
		.skin-color-1{ background: $theme-settings-default-skin-bg-1; }
		.skin-color-2{ background: $theme-settings-default-skin-bg-2; }
		.skin-color-3{ background: $theme-settings-default-skin-bg-3; }
	}

	.skin-medium-purple{
		.skin-color-1{ background: $theme-settings-medium-purple-skin-bg-1; }
		.skin-color-2{ background: $theme-settings-medium-purple-skin-bg-2; }
		.skin-color-3{ background: $theme-settings-medium-purple-skin-bg-3; }
		.skin-color-4{ background: $theme-settings-medium-purple-skin-bg-4; }
	}

	.skin-color-soon{
		background: $theme-settings-soon-skin-bg;
	}

/*
	Collapsible
	------------------------------------- */
	.theme-collapsible-cointainer{

		.theme-collapsible{
			color: $acc-color;
			background: $acc-bg	;
			border-bottom: 1px solid $acc-bd;
		}

		.collapse-open {
			background: $acc-bg-open;
			color: $acc-color;
		}

		div {
			&.content {
				background: $acc-bg;
				border-bottom: 1px solid $acc-bd;
			}
		}
	}

//  Theme
//  -------------------------------------
	.t-theme-settings-1{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
