/*
    Widget - Server Stats
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-server-stats{


		.server-stats-pcu-1{ color: $server-stats-pcu-1-color; }
		.server-stats-pcu-2{ color: $server-stats-pcu-2-color; }

		.server-stats-memory-1{ color: $server-stats-memory-1-color; }
		.server-stats-memory-2{ color: $server-stats-memory-2-color; }

		.server-stats-temp-1{ color: $server-stats-temp-1-color; }

		.server-stats-user-1{ color: $server-stats-user-1-color; }
		.server-stats-user-2{ color: $server-stats-user-2-color; }

	}

	.server-stats-btn{

	}

	.server-stats-content{

	}

	.server-stats-header{

	}

	.server-stats-body{

	}

	.server-stats-footer{

	}

//  State
//  -------------------------------------
	.is-server-stats{

	}

	.is-server-stats{

	}


/*
    Server Stats in Header
    ------------------------------------- */
	.server-stats-in-header{

	}


/*
    Server Stats in Box
    ------------------------------------- */
	.server-stats-in-box{

	}


/*
    Server Stats in Sidebar
    ------------------------------------- */
	.server-stats-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-server-stats-1{
		.server-stats-btn{

			border-bottom: 1px solid $server-stats-t-1-btn-bd;

			&:hover,
			&.active{
				color: $server-stats-t-1-btn-color-hover;
				background: $server-stats-t-1-btn-bg-hover;
			}

			&:focus{
				color: $server-stats-t-1-btn-color-hover;
			}
		}

		.server-stats-content{
			background: $server-stats-content-bg;
			border: 1px solid $server-stats-content-bd;

			.server-stats-header{

			}
		}

		.server-stats-header{
			background: $server-stats-header-bg;
			border-bottom: 1px solid $server-stats-content-bd;
		}

		.server-stats-footer{
			background: $server-stats-footer-bg;
			border-top: 1px solid $server-stats-content-bd;
		}

		.increase{ color: $server-stats-increase-color; }
		.decrease{ color: $server-stats-decrease-color; }
	}

	.t-server-stats-2{

	}

	.t-server-stats-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
