/*
    Widget - Profile 2
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-profile-2{

	}

	.profile-2-img{
		position: relative;
		img{
			border: 1px solid;
		}

		.edit-profile{
			position: absolute;
			right: 10px;
			top: 10px;
		}

		.status {

			.dropdown {
				background: $profile-2-dropdown-bg;
			}
		}
	}

	.status-color-1{ color: $profile-2-status-color-1; }
	.status-color-2{ color: $profile-2-status-color-2; }
	.status-color-3{ color: $profile-2-status-color-3; }
	.status-color-4{ color: $profile-2-status-color-4; }


//  State
//  -------------------------------------
	.is-profile-2{

	}

	.is-profile-2{

	}


/*
    Profile 2 in Header
    ------------------------------------- */
	.profile-2-in-header{

	}

/*
    Profile 2 in Box
    ------------------------------------- */
	.profile-2-in-box{

	}

/*
    Profile 2 in Sidebar
    ------------------------------------- */
	.profile-2-in-side{

	}


//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

		.profile-2-in-side-2{

			.profile-2-chart{
				@include box-shadow(0 1px 1px rgba(0,0,0,.1));
			}

		}
	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{
		.profile-2-in-side-2{

			.profile-2-chart{
				@include box-shadow(0 1px 1px rgba(0,0,0,.1));
			}

		}
	}



//  Theme
//  -------------------------------------
	.t-profile-2-1{
		h3{
			color: $profile-2-t-h3-color;
		}

		a{
			color: $profile-2-t-a-color;

			&:hover{
				color: $profile-2-t-a-color-hover;
			}
		}

		.profile-2-details{
			border-top: 1px solid $profile-2-t-details-bd;
		}
	}

	.t-profile-2-2{
		.profile-2-img img{
			box-shadow: inset 0px 0 5px rgba(0, 0, 0, 0.3);
		}
	}

	.t-profile-2-3{

		h3{
			color: $profile-2-t-3-h3-color;
		}

		a{
			color: $profile-2-t-3-a-color;

			&:hover{
				color: $profile-2-t-3-a-color-hover;
			}
		}

		.profile-2-wrapper,
		.profile-2-img,
		.profile-2-info{
			background: $profile-2-t-3-wrapper-bg;
		}

		.profile-2-toggle{
			background: $profile-2-t-3-toggle-bg;

			&:hover{
				background: $profile-2-t-3-toggle-bg-hover;
			}
		}

		.profile-2-details{
			border-top: 1px solid $profile-2-t-3-details-bd;
		}

		.btn-dark{
			background-color: $profile-2-t-3-btn-dark-bg;
			border-color: $profile-2-t-3-btn-dark-bd;

			&.active,
			&:hover{
				background: $profile-2-t-3-btn-dark-bg-hover;
			}
		}

		.profile-2-social-stats{
			background: $profile-2-t-3-social-stats-bg;
		}

		.profile-2-chart{
			background: $profile-2-t-3-chart-bg;
		}

	}

	.rickshaw-visitors { color: lighten($profile-2-t-3-rickshaw-visitors, 10%); }



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
