/*
    Widget - Navigation
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-nav{

	}

//  State
//  -------------------------------------
	.is-nav{

	}

	.is-nav{

	}


/*
    Navigation in Header
    ------------------------------------- */
	.nav-in-header{

	}


/*
    Navigation in Box
    ------------------------------------- */
	.nav-in-box{

	}


/*
    Navigation in Sidebar
    ------------------------------------- */
	.nav-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

		.nav-text{
			background: $nav-t-1-a-hover;
			border: 1px solid $nav-t-1-a-bd;
		}

	}


//  Theme
//  -------------------------------------
	.t-nav-1{

		a{
			border-bottom: 1px solid $nav-t-1-a-bd;

			&:hover{
				background: $nav-t-1-a-hover;

				.nav-icon{
					i{
						background: $nav-t-1-icon-bg-hover;
						border: 1px solid $nav-t-1-icon-bd-hover;
					}
				}

			}
		}

		.nav-icon{
			i{
				border: 1px solid $nav-t-1-icon-bd;
			}
		}
	}

	.t-nav-2{
		a {
			&:hover {
				background: $nav-t-2-a-hover;
			}
		}
	}

	.t-nav-3{
		a {
			&:hover {
				background: $nav-t-3-a-hover;
			}
		}
	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
