/*
    Widget - Todos
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-todo{
		background: $todo-bg;
		border: 1px solid $todo-bd;

		h4{
			border-bottom: 1px solid $todo-sep-bd;
		}

		.widget-todo-info{

		}

		.todo-list{

			li:last-child{
				border-bottom: none;
			}
		}

		.todo-item{
			border-bottom: 1px solid $todo-sep-bd;
		}


		.todo-input{

		}

		.delete-todo{

		}

		a{
			color: $todo-a-color;
			&:hover{
				color: $todo-a-hover;
			}
		}

	}


//  State
//  -------------------------------------
	.is-todo{

	}

	.is-todo{

	}


/*
    Todos in Header
    ------------------------------------- */
	.todo-in-header{

	}

/*
    Todos in Sidebar
    ------------------------------------- */
	.todo-in-side{

	}

/*
    Todos in Box
    ------------------------------------- */
	.todo-in-box{

	}

//  Theme
//  -------------------------------------
	.t-todo-1{
		background: $todo-t-1-bg;
		border: 1px solid $todo-t-1-bd;
		color: $todo-t-1-color;

		h4{
			border-bottom: 1px solid $todo-t-1-sep-bd;
		}

		.todo-item{
			border-bottom: 1px solid $todo-t-1-sep-bd;
		}
	}

	.t-todo-2{

	}

	.t-todo-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
