/*
    Widget - Stats
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-stats{
		color: $stat-color;
		background: $stat-bg;

		a{
			color: $stat-color;

			&:hover{
				color: $stat-hover;
			}
		}

		.stats-data{
			span{
				color: $stat-data-color;
			}
		}

	}

//  State
//  -------------------------------------
	.is-stats{

	}

	.is-stats{

	}


/*
    Stats in Header
    ------------------------------------- */
	.stats-in-header{

	}

/*
    Stats in Sidebar
    ------------------------------------- */
	.stats-in-side{

	}

/*
    Stats in Box
    ------------------------------------- */
	.stats-in-box{

	}

//  Theme
//  -------------------------------------
	.t-stats-1{
		color: $stat-t-1-color;
		background: $stat-t-1-bg;

		a{
			color: $stat-t-1-color;

			&:hover{
				color: $stat-t-1-hover;
			}
		}

		.stats-data{
			span{
				color: $stat-t-1-data-color;
			}
		}

		h4{
			border-bottom: 1px solid $stat-t-1-sep-bd;
		}
	}

	.t-stats-2{

	}

	.t-stats-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
