/*
    Widget - Message
    ========================================================================== */


/*
	Message
	------------------------------------- */
	.widget-message{

		.msg-content{
			a{
				border-bottom: 1px solid $message-a-bd;

				&:hover,
				&:focus{
					color: $message-a-hover;
					background: $message-a-bg-hover;
				}

			}
		}
	}

	.message-in-header{
		&.open{
			.dropdown-toggle{
				color: $message-in-header-toggle-open-color;
			}
		}
	}

	.message-in-side,
	.message-in-box{
		.dropdown-menu-header,
		.dropdown-menu-footer a{
			background: transparent;
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
