/*
    Widget - Search
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-search{
		.btn{
			background: none;

			&:hover{
				color: $search-btn-hover;
			}
		}

	}

/*
    Search in Header
    ------------------------------------- */

	.search-in-header{

		input{
			border-left: 1px solid $search-in-header-bd;
			border-right: 1px solid $search-in-header-bd;

			&:hover,
			&:focus{
				+ .btn{
					color: $search-in-header-btn-fo;
				}
			}
		}

		.btn{

		}
	}


/*
    Search in Box
    ------------------------------------- */
	.search-in-box{

	}


/*
    Search in Sidebar
    ------------------------------------- */

	.search-in-side{
		input {
			border-top: 1px solid $search-in-side-bd;
			border-bottom: 1px solid $search-in-side-bd;
		}
	}


//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}




//  Theme
//  -------------------------------------
	.t-search-1{
		.btn{
			color: $search-t-1-btn-color;
		}
	}

	.t-search-2{
		.btn{
			color: $search-t-2-btn-color;
			border-color: transparent $search-t-2-btn-bd;
		}
	}

	.t-search-3{
		.btn{
			color: $search-t-3-btn-color;
		}
	}

	.t-search-4{

		input{
			color: $search-t-4-input-color;
			background: $search-t-4-input-bg;
			border-color: $search-t-4-input-bd;

			&:hover,
			&:focus{
				background: $search-t-4-input-bg-hover;
				border-color: $search-t-4-input-bd-hover;
			}
		}

		.btn{
			color: $search-t-3-btn-color;
		}
	}

//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
