/*
    Widget - Latest Orders
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-latest-orders{
		background: $latest-order-bg;
		border: 1px solid $latest-order-bd;


		th{
			color: $latest-order-th-color;
		}

		td.tb-col-1{
			color: $latest-order-col-1-color;
		}

		.tb-col-2{

		}

		td.tb-col-3{
			color: $latest-order-col-3-color;
		}

		td.tb-col-4{
			color: $latest-order-col-4-color;
		}

		td.tb-col-5{
			color: $latest-order-col-5-color;
		}

		.table-order-body{
			background: $latest-order-body-bg;
			border-bottom: 2px solid $latest-order-body-bd;
		}
	}

//  State
//  -------------------------------------
	.is-latest-orders{

	}

	.is-latest-orders{

	}


/*
    Latest Orders in Header
    ------------------------------------- */
	.latest-orders-in-header{

	}

/*
    Latest Orders in Sidebar
    ------------------------------------- */
	.latest-orders-in-side{

	}

/*
    Latest Orders in Box
    ------------------------------------- */
	.latest-orders-in-box{

	}

//  Theme
//  -------------------------------------
	.t-latest-orders-1{

	}

	.t-latest-orders-2{

	}

	.t-latest-orders-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
