/*
    Widget - Members
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-members{
		background: $members-bg;
		border: 1px solid $members-bd;

		tr:hover {
			background-color: $members-bg-hover!important;
		}
	}

//  State
//  -------------------------------------
	.is-members{

	}

	.is-members{

	}


/*
    Members in Header
    ------------------------------------- */
	.members-in-header{

	}

/*
    Members in Sidebar
    ------------------------------------- */
	.members-in-side{

	}

/*
    Members in Box
    ------------------------------------- */
	.members-in-box{

	}

//  Theme
//  -------------------------------------
	.t-members-1{

	}

	.t-members-2{

	}

	.t-members-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
