/*
    Widget - Page Summary
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-page-summary{

		background: $page-summary-bg;
		@include box-shadow(0 1px 1px rgba(0,0,0,.1));

		.page-summary-info-switcher{
			background: $page-summary-switcher-bg;
			border: 1px solid $page-summary-switcher-bd;
		}

		.page-sub-title{

			span{
				color: darken($page-sub-title-color, 6%);
			}
		}

		.switcherySettings{ color: $page-switchery-settings-color; }
		.switcheryUnits{ color: $page-switchery-unit-color; }


		// Chart Colors
		.rickshaw-views     { color: $page-summary-views-color; }
		.rickshaw-followers { color: $page-summary-followers-color; }
		.rickshaw-comments  { color: $page-summary-comments-color; }

		.update-status-settings{
			a{
				color: $page-summary-update-chart-i-color;

				&:hover{
					color: $page-summary-update-chart-i-hover;
				}
			}
		}
	}

	.summary-chart{
		i{
			color: $page-summary-chart-i-color;
		}

		&.chart-views:hover i     { color: $page-summary-views-color; }
		&.chart-followers:hover i { color: $page-summary-followers-color; }
		&.chart-comments:hover i  { color: $page-summary-comments-color; }
	}

	.clock-wrapper{

		.jqclock {
			border-right: 1px solid $page-summary-clock-bd;
		}
	}


//  State
//  -------------------------------------
	.is-page-summary{

	}

	.is-page-summary{

	}


/*
    Page Summary in Header
    ------------------------------------- */
	.page-summary-in-header{

	}


/*
    Page Summary in Box
    ------------------------------------- */
	.page-summary-in-box{

	}


/*
    Page Summary in Sidebar
    ------------------------------------- */
	.page-summary-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-page-summary-1{

	}

	.t-page-summary-2{

	}

	.t-page-summary-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.clock-wrapper{
			.jqclock{
				border-right: none;
			}
		}
	}
