/*
    Widget - Latest News
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-latest-news{


		.collapsible-cointainer{

			.collapsible{
				border: none;
				border-top: 1px solid $latest-news-bd;

				&.last{
					border-bottom: 1px solid $latest-news-bd;
				}
			}

			.collapse-open{
				background: $latest-news-collapse-open-bg;
			}

			div.content{
				border: none;
				border-top: 1px solid $latest-news-bd;
				background: $latest-news-content-bg;

				&.last{
					border-top: none;
					border-bottom: 1px solid $latest-news-bd;
				}
			}
		}
	}

	.latest-news-main-title{
		background: $latest-news-title-bg;
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
	}

	.latest-news-img{
		img{
			border: 1px solid $latest-news-bd;
		}

		&:hover{
			img{
				border: 1px solid $latest-news-bd-hover;
				opacity: 0.9;
			}
		}
	}

	.latest-news-date{
		color: $latest-news-date;
	}

	.latest-news-description{

	}

	.latest-news-btn{
		i{

		}
	}

//  State
//  -------------------------------------
	.is-latest-news{

	}

	.is-latest-news{

	}


/*
    Latest News in Header
    ------------------------------------- */
	.latest-news-in-header{

	}


/*
    Latest News in Box
    ------------------------------------- */
	.latest-news-in-box{

	}


/*
    Latest News in Sidebar
    ------------------------------------- */
	.latest-news-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-latest-news-1{

	}

	.t-latest-news-2{

	}

	.t-latest-news-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
