/*
    Widget - Blank
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-blank{

	}

//  State
//  -------------------------------------
	.is-blank{

	}

	.is-blank{

	}


/*
    Blank in Header
    ------------------------------------- */
	.blank-in-header{

	}


/*
    Blank in Box
    ------------------------------------- */
	.blank-in-box{

	}


/*
    Blank in Sidebar
    ------------------------------------- */
	.blank-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-blank-1{

	}

	.t-blank-2{

	}

	.t-blank-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
