/*
    Widget - Tabs 2
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-tabs-2{
		background: $tabs-2-bg;
		border-top: 1px solid $tabs-2-bd;
		border-bottom: 1px solid $tabs-2-bd;


		// Tabs
		ul{

			li{
				border-right: 1px solid $tabs-2-list-li-color;

				&:hover{
					background: $tabs-2-list-li-bg-hover;
					border-bottom: 1px solid $tabs-2-list-li-color;
				}
			}

			.resp-tab-active:hover{
				background: $tabs-2-active-bg;
				border-bottom: 1px solid transparent;
			}
		}

		.resp-tab-item:hover,
		.resp-tab-active{
			color: $tabs-2-active-color;
		}


		.tab-2-info{
			color: $tabs-2-info-color;
		}

		// Charts

		.tab-chart-update{
			color: $tabs-2-chart-update-color;

			&:hover{
				color: $tabs-2-chart-update-hover;
			}
		}

		.tab-chart {
			span{
				color: $tabs-2-chart-color;
			}

			i{

			}
		}

		.tab-chart-track-color { color: $tabs-2-tab-chart-track-color; }
		.tab-chart-1-color{ color: $tabs-2-tab-chart-1-color; }
		.tab-chart-2-color{ color: $tabs-2-tab-chart-2-color; }
		.tab-chart-3-color{ color: $tabs-2-tab-chart-3-color; }
		.tab-chart-4-color{ color: $tabs-2-tab-chart-4-color; }

	}

//  State
//  -------------------------------------
	.is-tabs-2{

	}

	.is-tabs-2{

	}


/*
    Tabs 2 in Header
    ------------------------------------- */
	.tabs-2-in-header{

	}


/*
    Tabs 2 in Box
    ------------------------------------- */
	.tabs-2-in-box{

	}


/*
    Tabs 2 in Sidebar
    ------------------------------------- */
	.tabs-2-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-tabs-2-1{

	}

	.t-tabs-2-2{

	}

	.t-tabs-2-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
