/*
    Widget - Shared (DRY Methodology)
    ========================================================================== */


/*
    In Header
    =============================================== */


/*
	Dropdown In Header
	------------------------------------- */

	.dropdown-in-header{

		.dropdown-toggle{
			color: $dropdown-in-header-toggle-color;
			border-left: 1px solid $dropdown-in-header-toggle-bd;
			border-right: 1px solid $dropdown-in-header-toggle-bd;

			&:hover{
				color: $dropdown-in-header-toggle-hover;
				background: $dropdown-in-header-toggle-ho-bg;

				span{ left: 15px; top: 15px; }
			}
		}

		&.open{
			.dropdown-toggle{
				background: $dropdown-in-header-toggle-open-bg;
				border-left: 1px solid $dropdown-in-header-toggle-open-bd;
				border-right: 1px solid $dropdown-in-header-toggle-open-bd;
				@include box-shadow(0px 1px $dropdown-in-header-toggle-open-bg);
			}
		}

	}


/*
	Dropdown Menu Header
	------------------------------------- */

	.dropdown-menu-header{
		background: $dropdown-menu-header-bg;
		border-bottom: 1px solid $dropdown-menu-header-bd;
	}


/*
	Dropdown Menu Footer
	------------------------------------- */

	.dropdown-menu-footer{
		a{
			background: $dropdown-menu-footer-bg;
			border-top: 1px solid $dropdown-menu-footer-bd;
		}
	}



/*
    In Sidebar
    =============================================== */


/*
    In Body
    =============================================== */


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
