/*
    Widget - Social
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-social{
		background: $social-bg;
	}

//  State
//  -------------------------------------
	.is-social{

	}

	.is-social{

	}


/*
    Social in Header
    ------------------------------------- */
	.social-in-header{

	}

/*
    Social in Sidebar
    ------------------------------------- */
	.social-in-side{

	}

/*
    Social in Box
    ------------------------------------- */
	.social-in-box{

	}

//  Theme
//  -------------------------------------
	.t-social-facebook{
		color: $social-t-color;
		background: $social-t-facebook-bg;
	}

	.t-social-twitter{
		color: $social-t-color;
		background: $social-t-twitter-bg;
	}

	.t-social-youtube{
		color: $social-t-color;
		background: $social-t-youtube-bg;
	}

	.t-social-google-plus{
		color: $social-t-color;
		background: $social-t-google-plus-bg;
	}

	.t-social-instagram{
		color: $social-t-color;
		background: $social-t-instagram-bg;
	}

//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
