/*
    Widget - Group
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-group{

	}

	.widget-group-header{
		a{
			&:hover,
			&:focus{
				color: $group-header-a-hover;
				background: $group-header-a-bg-hover;
				border-color: $group-header-a-bd-hover;
			}
		}
	}

	.widget-group-body{

		a{
			color: $group-header-a-color;

			&:hover{
				color: $group-header-a-color-hover;
			}
		}
	}

//  State
//  -------------------------------------
	.is-group{

	}

	.is-group{

	}


/*
    Group in Header
    ------------------------------------- */
	.group-in-header{

	}

/*
    Group in Sidebar
    ------------------------------------- */
	.group-in-side{

	}

/*
    Group in Box
    ------------------------------------- */
	.group-in-box{

	}

//  Theme
//  -------------------------------------
	.t-group-1{

	}

	.t-group-2{

	}

	.t-group-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
