/*
    Widget - Miscellaneous
    ========================================================================== */

/*
    Common
    =============================================== */


/*
    Switcher
    ------------------------------------- */
	.t-switcher-header{

		&:hover{
			background: $switcher-t-header-bg-hover;
		}
	}

	.t-switcher-side{
		color: $switcher-t-side-color;
		background: $switcher-t-side-bg;
		border-bottom: 1px solid $switcher-t-side-bd;

		&:hover{
			color: $switcher-t-side-hover;
			background: $switcher-t-side-bg-hover;
		}
	}

/*
    Header
    ------------------------------------- */
	.widget-header{
		border-bottom: 1px solid $widget-header-bd;
	}


/*
	Sub Widget 1
	------------------------------------- */

/*
	Block Widgets
	=============================================== */

/*
	Status
	------------------------------------- */
	.widget-status{

		.dropdown-toggle{

			&:hover{
				background: $status-toggle-open-bg;
				border-color: $status-toggle-open-bd;
			}
		}

		.dropdown-menu{

		}

		&.open{
			.dropdown-toggle{
				background: $status-toggle-open-bg;
				border-color: $status-toggle-open-bd;
			}
		}
	}

/*
	Chat Setting
	------------------------------------- */
	.widget-chat-setting{
		.dropdown-toggle{

			&:hover{
				background: $chat-setting-toggle-open-bg;
				border-color: $chat-setting-toggle-open-bd;
			}
		}

		.dropdown-menu{

		}

		&.open{
			.dropdown-toggle{
				background: $chat-setting-toggle-open-bg;
				border-color: $chat-setting-toggle-open-bd;
			}
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
