/*
    Widget - Activity
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-activity{

	}

	.widget-activity-header{
		a{
			&:hover,
			&:focus{
				color: $activity-header-a-hover;
				background: $activity-header-a-bg-hover;
				border-color: $activity-header-a-bd-hover;
			}
		}
	}

	.widget-activity-body{

		.activity-text{

		}

		.activity-status{

		}
	}

	.widget-activity-item{
		background: $activity-item-bg;
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
	}

//  State
//  -------------------------------------
	.is-activity{

	}

	.is-activity{

	}


/*
    Activity in Header
    ------------------------------------- */
	.activity-in-header{

	}

/*
    Activity in Box
    ------------------------------------- */
	.activity-in-box{

	}

/*
    Activity in Sidebar
    ------------------------------------- */
	.activity-in-side{

	}


//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{
		.activity-text{
			background: $activity-text-bg;
			@include box-shadow(0 2px 1px -1px rgba(0, 0, 0, 0.1));
		}
	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{
		.activity-text{
			background: $activity-text-bg;
			@include box-shadow(0 2px 1px -1px rgba(0, 0, 0, 0.1));
		}
	}


//  Theme
//  -------------------------------------
	.t-activity-1{

	}

	.t-activity-2{

	}

	.t-activity-3{

	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){
		.widget-activity-body{

			.activity-status{
				border-top: 1px solid $activity-status-bd;
			}
		}

		.layout-sidebar-compact-left,
		.layout-sidebar-compact-right,
		.layout-sidebar-collapsed-left,
		.layout-sidebar-collapsed-right{

			.activity-status{
				border-top: none;
			}

		}
	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
