/*
    Widget - Notification
    ========================================================================== */


/*
	Notification
	------------------------------------- */
	.widget-notification{

		.nft-content{
			a{
				&:hover,
				&:focus{
					color: $notification-a-hover;
					background: $notification-a-bg-hover;
				}
			}
		}
	}

	.notification-in-header{
		&.open{
			.dropdown-toggle{
				color: $notification-in-header-toggle-open-color;
			}
		}

	}

	.notification-in-side,
	.notification-in-box{
		.dropdown-menu-header,
		.dropdown-menu-footer a{
			background: transparent;
		}
	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
