/*
    Widget - Statistic
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-statistic{
		background: $statistic-bg;
		border-top: 1px solid $statistic-bd;
		//border-bottom: 1px solid $statistic-bd;
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

		.statistic-options{
			li{

				&:last-child{
					border-right: 1px solid $statistic-options-bd;
				}

				&.last{
					border-right: none;
				}
			}

			a{
				color: $statistic-options-color;

				&.active,
				&:hover{
					color: $statistic-options-hover;
				}
			}
		}

		.statistic-header{
			background: $statistic-header-bg;
			border-bottom: 1px solid $statistic-bd;
		}

		.statistic-title-1 { color: $statistic-chart-1-1-color; }
		.statistic-title-2 { color: $statistic-chart-2-1-color; }
		.statistic-title-3 { color: $statistic-chart-3-1-color; }
		.statistic-title-4 { color: $statistic-chart-4-1-color; }

		.rickshaw-statistic-color-1-1{ color: rgba(lighten($statistic-chart-1-1-color, 5%), 0.8); }
		.rickshaw-statistic-color-1-2{ color: rgba(lighten($statistic-chart-1-2-color, 5%), 0.8); }
		.rickshaw-statistic-color-2-1{ color: rgba(lighten($statistic-chart-2-1-color, 5%), 0.8); }
		.rickshaw-statistic-color-3-1{ color: rgba(lighten($statistic-chart-3-1-color, 5%), 0.8); }
		.rickshaw-statistic-color-4-1{ color: rgba(lighten($statistic-chart-4-1-color, 5%), 0.8); }

		.switcheryDisplay{ color: $statistic--switchery-unit-color; }


		.c3-donut-1{ color: $statistic-chart-c3-1-color; }
		.c3-donut-2{ color: $statistic-chart-c3-2-color; }
		.c3-donut-3{ color: $statistic-chart-c3-3-color; }
		.c3-donut-4{ color: $statistic-chart-c3-4-color; }
		.c3-donut-5{ color: $statistic-chart-c3-5-color; }
		.c3-donut-6{ color: $statistic-chart-c3-6-color; }
		.c3-donut-7{ color: $statistic-chart-c3-7-color; }
		.c3-donut-8{ color: $statistic-chart-c3-8-color; }
		.c3-donut-9{ color: $statistic-chart-c3-9-color; }

	}

	// Statistic Item
	.statistic-item{

		.item-title{

		}

		.item-type{

		}

		.item-change{

		}
	}

	// Statistic Demographics
	.statistic-demographics {


	}

	// Statistic Gender
	.statistic-gender{

		.c3-gender-1{ color: rgba(lighten($statistic-chart-c3-10-color, 5%), 0.8); }
		.c3-gender-2{ color: rgba(lighten($statistic-chart-c3-11-color, 5%), 0.8); }

		.c3-chart-arc{

			path{  }
			text {

			}

			&.c3-target-Female{
				path{ stroke: darken($statistic-chart-c3-10-color, 10%); }
				text { fill: darken($statistic-chart-c3-10-color, 25%); }
			}

			&.c3-target-Male{
				path{ stroke: darken($statistic-chart-c3-11-color, 5%); }
				text { fill: darken($statistic-chart-c3-11-color, 25%); }
			}


		}
	}

	// Statistic Browser
	.statistic-browser{

		.rickshaw-browser-1{ color: rgba(lighten($statistic-chart-5-color, 5%), 0.8); }
		.rickshaw-browser-2{ color: rgba(lighten($statistic-chart-6-color, 5%), 0.8); }
		.rickshaw-browser-3{ color: rgba(lighten($statistic-chart-7-color, 5%), 0.8); }

	}

	// Statistic Activity
	.statistic-activity{

		.activity-row{
			border-bottom: 1px solid $statistic-activity-row-bd;
			&:hover{
				background: $statistic-activity-row-bg-hover;

				.activity-settings{ display: block; }
			}
		}

		.activity-type{

		}

		.activity-img{

			img{

			}

			span {
				&:after {
					box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
				}

				&:hover {
					background: rgba($statistic-activity-img-mu, 0.3);

					&:after {
						-webkit-animation: sonarEffect 1.3s ease-out 75ms;
						-moz-animation: sonarEffect 1.3s ease-out 75ms;
						animation: sonarEffect 1.3s ease-out 75ms;
					}
				}
			}
		}

		.activity-info{
			position: relative;

			.time{
				color: $statistic-activity-time-color;
			}

			.activity-settings{
				display: none;

				a{
					color: $statistic-activity-settings-color;

					&:hover{
						color: $statistic-activity-settings-hover;
					}
				}
			}
		}
	}

	@-webkit-keyframes sonarEffect {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px $statistic-activity-img-mu, 0 0 0 5px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px $statistic-activity-img-mu, 0 0 0 5px rgba(255,255,255,0.5);
			-webkit-transform: scale(1.2);
			opacity: 0;
		}
	}
	@-moz-keyframes sonarEffect {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px $statistic-activity-img-mu, 0 0 0 5px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px $statistic-activity-img-mu, 0 0 0 5px rgba(255,255,255,0.5);
			-moz-transform: scale(1.2);
			opacity: 0;
		}
	}
	@keyframes sonarEffect {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px $statistic-activity-img-mu, 0 0 0 5px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px $statistic-activity-img-mu, 0 0 0 5px rgba(255,255,255,0.5);
			transform: scale(1.2);
			opacity: 0;
		}
	}

	//  State
	//  -------------------------------------
	.is-statistic-right{
		border-right: 1px solid $statistic-bd;
	}

	.is-statistic-left{
		border-left: 1px solid $statistic-bd;
	}


/*
    Statistic in Header
    ------------------------------------- */
	.statistic-in-header{

	}


/*
    Statistic in Box
    ------------------------------------- */
	.statistic-in-box{

	}


/*
    Statistic in Sidebar
    ------------------------------------- */
	.statistic-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-statistic-1{

	}

	.t-statistic-2{

	}

	.t-statistic-3{

	}

	.t-item-1{
		color:$statistic-item-1-color;
		background: lighten($statistic-item-1-bg, 5%);
		&:hover{ background: $statistic-item-1-bg; }
		.rickshaw-statistic-item-1{ color: lighten($statistic-item-1-bg, 9%); }
	}
	.t-item-2{
		color:$statistic-item-2-color;
		background: lighten($statistic-item-2-bg, 5%);
		&:hover{ background: $statistic-item-2-bg; }
		.rickshaw-statistic-item-2{ color: lighten($statistic-item-2-bg, 9%); }
	}
	.t-item-3{
		color:$statistic-item-3-color;
		background: lighten($statistic-item-3-bg, 5%);
		&:hover{ background: $statistic-item-3-bg; }
		.rickshaw-statistic-item-3{ color: lighten($statistic-item-3-bg, 9%); }
	}
	.t-item-4{
		color:$statistic-item-4-color;
		background: lighten($statistic-item-4-bg, 5%);
		&:hover{ background: $statistic-item-4-bg; }
		.rickshaw-statistic-item-4{ color: lighten($statistic-item-4-bg, 9%); }
	}



//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){
		.widget-statistic{
			.statistic-options {
				li {

					&:last-child {
						border-right: none;
					}
				}
			}
		}
	}
