/*
    Widget - Weather Forecast
    ========================================================================== */

/*
    Common
    ------------------------------------- */
	.widget-weather-forecast{
		color: $weather-forecast-color;
	}

	.weather-day-col{
		color: $weather-forecast-day-color;
		border-right: 1px solid $weather-forecast-sep-bd;

		&:hover{
			background: $weather-forecast-day-bg-hover;
		}
	}
	
	.weather-date{
		color: $weather-forecast-date-color;
	}

	.weather-icon{
		i{
			color: $weather-forecast-icon-color;
		}
	}

	.weather-description{
		color: $weather-forecast-description-color;
	}

	.weather-forecast-settings{

		.cb-radio-primary-1 .cb-inner{
			background: $weather-forecast-check-bg;
			border: 1px solid $weather-forecast-check-bd;
		}

		input.form-control{
			color: $weather-forecast-form-control-color;
			background: $weather-forecast-form-control-bg;
			border-color: $weather-forecast-input-addon-bg;
		}

		.input-group-addon{
			color: $weather-forecast-input-addon-color;
			background-color: $weather-forecast-input-addon-bg;
			border: 1px solid $weather-forecast-input-addon-bd;
		}

		.forecast-geo-location{
			color: $forecast-geo-location-color;

			&:hover{
				color: $forecast-geo-location-hover;
			}
		}
	}


//  State
//  -------------------------------------
	.is-weather-forecast{

	}

	.is-weather-forecast{

	}


/*
    Weather Forecast in Header
    ------------------------------------- */
	.weather-forecast-in-header{

	}


/*
    Weather Forecast in Box
    ------------------------------------- */
	.weather-forecast-in-box{

	}


/*
    Weather Forecast in Sidebar
    ------------------------------------- */
	.weather-forecast-in-side{

	}

//  Compact State
//  -------------------------------------

	.layout-sidebar-compact-left,
	.layout-sidebar-compact-right{

	}

//  Collapsed State
//  -------------------------------------

	.layout-sidebar-collapsed-left,
	.layout-sidebar-collapsed-right{

	}


//  Theme
//  -------------------------------------
	.t-weather-forecast-1{

	}

	.t-weather-forecast-2{

	}

	.t-weather-forecast-3{

	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
