//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "chart-flot.html"
	- var page = "chart.ch-flot"
	- var pageSubTitle = " - Charts - Flot"
	- var scripts = [ 'charts.flot', 'charts.flot.pie', 'charts.flot.stack', 'charts.flot.symbol', 'x.call.chart.flot' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Flot</span> Charts
				+breadcrumb(bread_chart_flot)

			.layout-spaced

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Realtime</span> Flot Chart
						+box-options

					.layout-box-body.layout-spaced
						.flot-container
							.hide.flot-realtime
							.flot-chart#flotRealtime

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Line</span> Flot Chart
						+box-options

					.layout-box-body.layout-spaced
						.flot-container
							.hide.flot-line-1
							.hide.flot-line-2
							.flot-chart#flotLine

				div
					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title <span>Pie</span> Flot Chart
							+box-options

						.layout-box-body.layout-spaced
							.flot-container
								.hide.flot-pie-1
								.hide.flot-pie-2
								.hide.flot-pie-3
								.hide.flot-pie-4
								.hide.flot-pie-5
								.flot-chart#flotPie

					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title <span>Donut</span> Flot Chart
							+box-options

						.layout-box-body.layout-spaced
							.flot-container
								.hide.flot-donut-1
								.hide.flot-donut-2
								.hide.flot-donut-3
								.hide.flot-donut-4
								.hide.flot-donut-5
								.flot-chart#flotDonut

				.layout-row
					.layout-box.layout-col-md-6
						.layout-box-header
							h2.layout-box-title <span>Stacked Bars</span> Flot Chart
							+box-options

						.layout-box-body.layout-spaced
							.flot-container
								.hide.flot-bars-1
								.hide.flot-bars-2
								.hide.flot-bars-3
								.flot-chart#flotStackedBars

					.layout-box.layout-col-md-6
						.layout-box-header
							h2.layout-box-title <span>Stacked Lines</span> Flot Chart
							+box-options

						.layout-box-body.layout-spaced
							.flot-container
								.hide.flot-lines-1
								.hide.flot-lines-2
								.hide.flot-lines-3
								.flot-chart#flotStackedLines

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right











