//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "chart-morris.html"
	- var page = "chart.ch-morris"
	- var pageSubTitle = " - Charts - Morris"
	- var scripts = [ 'a.shared.raphael', 'charts.morris', 'x.call.chart.morris' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container


		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Morris</span> Charts
				+breadcrumb(bread_chart_morris)

			.layout-spaced

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Area</span> Morris Chart
						+box-options

					.layout-box-body.layout-spaced
						.hide.morris-area-1
						.hide.morris-area-2
						.hide.morris-area-3
						.morris-chart#morrisArea

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Bar</span> Morris Chart
						+box-options

					.layout-box-body.layout-spaced
						.hide.morris-bar-1
						.hide.morris-bar-2
						.hide.morris-bar-3
						.morris-chart#morrisBar

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Stacked Bar</span> Morris Chart
						+box-options

					.layout-box-body.layout-spaced
						.hide.morris-stacked-1
						.hide.morris-stacked-2
						.hide.morris-stacked-3
						.morris-chart#morrisStacked

				.layout-row
					.layout-box.layout-col-md-6
						.layout-box-header
							h2.layout-box-title <span>Donut</span> Morris Chart
							+box-options

						.layout-box-body.layout-spaced
							.hide.morris-donut-1
							.hide.morris-donut-2
							.hide.morris-donut-3
							.hide.morris-donut-4
							.morris-chart#morrisDonut

					.layout-box.layout-col-md-6
						.layout-box-header
							h2.layout-box-title <span>Line</span> Morris Chart
							+box-options

						.layout-box-body.layout-spaced
							.hide.morris-line-1
							.morris-chart#morrisLine

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right










