//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "chart-c3.html"
	- var page = "chart.ch-c3"
	- var pageSubTitle = " - Charts - C3"
	- var scripts = [ 'charts.d3', 'charts.c3', 'x.call.chart.c3' ]



//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>C3</span> Charts
				+breadcrumb(bread_chart_c3)

			.layout-spaced

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Line</span> C3 Chart
						+box-options

					.layout-box-body.layout-spaced
						.hide.c3-line-1
						.hide.c3-line-2
						.hide.c3-line-3
						#c3Line

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Area</span> C3 Chart
						+box-options

					.layout-box-body.layout-spaced
						.hide.c3-area-1
						.hide.c3-area-2
						#c3Area

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Spline</span> C3 Chart
						+box-options

					.layout-box-body.layout-spaced
						.hide.c3-spline-1
						.hide.c3-spline-2
						.hide.c3-spline-3
						#c3Spline

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Mixed</span> C3 Chart <span>with rotated axis</span>
						+box-options

					.layout-box-body.layout-spaced
						.hide.c3-mixed-1
						.hide.c3-mixed-2
						.hide.c3-mixed-3
						#c3Mixed

				.layout-row
					.layout-box.layout-col-md-6
						.layout-box-header
							h2.layout-box-title <span>Pie</span> C3 Chart
							+box-options

						.layout-box-body.layout-spaced
							.hide.c3-pie-1
							.hide.c3-pie-2
							.hide.c3-pie-3
							.hide.c3-pie-4
							.hide.c3-pie-5
							#c3Pie

					.layout-box.layout-col-md-6
						.layout-box-header
							h2.layout-box-title <span>Donut</span> C3 Chart
							+box-options

						.layout-box-body.layout-spaced
							.hide.c3-donut-1
							.hide.c3-donut-2
							.hide.c3-donut-3
							.hide.c3-donut-4
							.hide.c3-donut-5
							#c3Donut

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right








