//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "form-layout.html"
	- var page = "form.fo-layout"
	- var pageSubTitle = " - Form - Layout"
	- var scripts = [ 'form.checkradios', 'x.call.form.layout' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title Form <span>Layout</span>
				+breadcrumb(bread_form_layout)

			.layout-spaced

				.layout-row
					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title <span>Basic</span> Form
							+box-options

						.layout-box-body.layout-spaced
							form(role='form')
								.form-group
									label(for='exampleInputEmail1') Email address
									input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
								.form-group
									label(for='exampleInputPassword1') Password
									input#exampleInputPassword1.form-control(type='password', placeholder='Password')
								.checkbox
									input.checkradios(type='checkbox')
									| Check me out
								button.btn.btn-default(type='submit') Submit


					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title <span>Horizontal</span> Form
							+box-options

						.layout-box-body.layout-spaced
							form.form-horizontal(role='form')
								.form-group
									label.col-md-3.control-label(for='inputEmail3') Email
									.col-md-9
										input#inputEmail3.form-control(type='email', placeholder='Email')
								.form-group
									label.col-md-3.control-label(for='inputPassword3') Password
									.col-md-9
										input#inputPassword3.form-control(type='password', placeholder='Password')
										p.help-block Example block-level help text here.
								.form-group
									.col-md-offset-3.col-md-9
										.checkbox
											input.checkradios(type='checkbox')
											| Remember me
								.form-group
									.col-md-offset-3.col-md-9
										button.btn.btn-default(type='submit') Sign in

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Inline</span> Form
						+box-options

					.layout-box-body.layout-spaced
						form.form-inline(role='form')
							.form-group
								label.sr-only(for='exampleInputEmail2') Email address
								input#exampleInputEmail2.form-control(type='email', placeholder='Enter email')
							.form-group
								.input-group
									.input-group-addon @
									input.form-control(type='email', placeholder='Enter email')
							.form-group
								label.sr-only(for='exampleInputPassword2') Password
								input#exampleInputPassword2.form-control(type='password', placeholder='Password')
							.form-group
								input.checkradios(type='checkbox')
								| Remember me
							button.btn.btn-default(type='submit') Sign in

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Column Sizing</span> with <span>Bootstrap Grids System</span>
						+box-options

					.layout-box-body.layout-spaced
						.row.layout-spaced-bottom
							.col-md-1
								input.form-control(type='text', placeholder='.col-md-1')
							.col-md-11
								input.form-control(type='text', placeholder='.col-md-11')
						.row.layout-spaced-bottom
							.col-md-2
								input.form-control(type='text', placeholder='.col-md-2')
							.col-md-10
								input.form-control(type='text', placeholder='.col-md-10')
						.row.layout-spaced-bottom
							.col-md-3
								input.form-control(type='text', placeholder='.col-md-3')
							.col-md-9
								input.form-control(type='text', placeholder='.col-md-9')
						.row.layout-spaced-bottom
							.col-md-4
								input.form-control(type='text', placeholder='.col-md-4')
							.col-md-8
								input.form-control(type='text', placeholder='.col-md-8')
						.row.layout-spaced-bottom
							.col-md-5
								input.form-control(type='text', placeholder='.col-md-5')
							.col-md-7
								input.form-control(type='text', placeholder='.col-md-7')
						.row.layout-spaced-bottom
							.col-md-6
								input.form-control(type='text', placeholder='.col-md-6')
							.col-md-6
								input.form-control(type='text', placeholder='.col-md-6')


				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Column Sizing</span> with <span>Ason Grid System</span>
						+box-options

					.layout-box-body.layout-spaced
						.layout-row.layout-spaced-bottom
							.layout-col-md-1
								input.form-control(type='text', placeholder='.layout-col-md-1')
							.layout-col-md-11
								input.form-control(type='text', placeholder='.layout-col-md-11')
						.layout-row.layout-spaced-bottom
							.layout-col-md-2
								input.form-control(type='text', placeholder='.layout-col-md-2')
							.layout-col-md-10
								input.form-control(type='text', placeholder='.layout-col-md-10')
						.layout-row.layout-spaced-bottom
							.layout-col-md-3
								input.form-control(type='text', placeholder='.layout-col-md-3')
							.layout-col-md-9
								input.form-control(type='text', placeholder='.layout-col-md-9')
						.layout-row.layout-spaced-bottom
							.layout-col-md-4
								input.form-control(type='text', placeholder='.layout-col-md-4')
							.layout-col-md-8
								input.form-control(type='text', placeholder='.layout-col-md-8')
						.layout-row.layout-spaced-bottom
							.layout-col-md-5
								input.form-control(type='text', placeholder='.layout-col-md-5')
							.layout-col-md-7
								input.form-control(type='text', placeholder='.layout-col-md-7')
						.layout-row.layout-spaced-bottom
							.layout-col-md-6
								input.form-control(type='text', placeholder='.layout-col-md-6')
							.layout-col-md-6
								input.form-control(type='text', placeholder='.layout-col-md-6')

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Column Sizing</span> with <span>Ason Grid System</span> without <span>Gutter</span>
						+box-options

					.layout-box-body.layout-spaced
						.layout-row.layout-spaced-bottom
							.layout-span-md-1
								input.form-control(type='text', placeholder='.layout-span-md-1')
							.layout-span-md-11
								input.form-control(type='text', placeholder='.layout-span-md-11')
						.layout-row.layout-spaced-bottom
							.layout-span-md-2
								input.form-control(type='text', placeholder='.layout-span-md-2')
							.layout-span-md-10
								input.form-control(type='text', placeholder='.layout-span-md-10')
						.layout-row.layout-spaced-bottom
							.layout-span-md-3
								input.form-control(type='text', placeholder='.layout-span-md-3')
							.layout-span-md-9
								input.form-control(type='text', placeholder='.layout-span-md-9')
						.layout-row.layout-spaced-bottom
							.layout-span-md-4
								input.form-control(type='text', placeholder='.layout-span-md-4')
							.layout-span-md-8
								input.form-control(type='text', placeholder='.layout-span-md-8')
						.layout-row.layout-spaced-bottom
							.layout-span-md-5
								input.form-control(type='text', placeholder='.layout-span-md-5')
							.layout-span-md-7
								input.form-control(type='text', placeholder='.layout-span-md-7')
						.layout-row.layout-spaced-bottom
							.layout-span-md-6
								input.form-control(type='text', placeholder='.layout-span-md-6')
							.layout-span-md-6
								input.form-control(type='text', placeholder='.layout-span-md-6')

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right