//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-footer-slide-push.html"
	- var page = "layout.footer.f-slide-push"
	- var pageSubTitle = " - Slide Push Footer"
	- var styles = [ 'syntaxhighlighter', 'animate']
	- var scripts = [ 'a.syntaxhighlighter' ]
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header

				.layout-col-sm-6.layout-col-xs-9
					h2.layout-page-title <span>Slide Push</span> Footer
					+breadcrumb(bread_layout_footer_slide_push)

				.layout-col-sm-6.layout-col-xs-3
					.layout-spaced-vertical.tar
						a(href = '#').btn.btn-primary.mt-10.ason-widget.tt-left(
							title="Toggle Slide Push Footer",
							data-ason-type="footer",
							data-ason-footer="l-footer-slide-2",
							data-ason-footer-push="l-footer-slide-push-2",
							data-ason-anim-full=['animate', 'fadeInUp', 'fadeOutDown' ],
							data-ason-anim-md=['velocity', 'transition.perspectiveUpIn', 'transition.perspectiveUpOut' ],
							data-ason-is-push="true",
							data-ason-target="#footer")
								i.fa.fa-align-justify

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p On this page we set up a <strong>secondary footer</strong> which can be toggled and in the same time pushes the page content up using different effects (using <strong><a href="http://daneden.github.io/animate.css" target="_blank">Animate.css</a></strong> and <strong><a href="http://velocityjs.org" target="_blank">Velocity.js</a></strong>) on different screen sizes.
									p This isn't the most practical example but for the sake flexibility we wanted to include it.
									p <strong>YES</strong> you can <strong>mix</strong> effects, you can even <strong>combine</strong> them, for example that on a screen size the fade in effect is done with Animate.css and the fade out is with Velocity.js.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									| 			<div class="l-page-header">
									|				<a href="#" class="ason-widget" data-ason-type="footer" data-ason-footer="l-footer-slide-2" data-ason-footer-push="l-footer-slide-push-2" data-ason-anim-full="['animate', 'fadeInDown', 'fadeOutUp' ]" data-ason-anim-md="['velocity', 'transition.perspectiveDownIn', 'transition.perspectiveDownOut' ]" data-ason-is-push="true" data-ason-target="#footer-id" >
									|					<i class="fa fa-align-justify"> </i>
									|				</a>
									|			</div>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|	<footer id="#footer-id" class="l-footer-slide l-footer-slide-2">
									|		Slide footer content...
									|   	</footer>
									|	&nbsp;
									|&lt;/body&gt;

	include components/layout/footer/footer_2/footer_2__t_1