//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-footer-slide.html"
	- var page = "layout.footer.f-slide"
	- var pageSubTitle = " - Slide Footer"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter', 'tooltips.tooltipster', 'x.call.shared.tooltipster' ]
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content


	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header

				.layout-col-sm-6.layout-col-xs-9
					h2.layout-page-title <span>Slide</span> Footer
					+breadcrumb(bread_layout_footer_slide)

				.layout-col-sm-6.layout-col-xs-3
					.layout-spaced-vertical.tar
						a(href = '#').btn.btn-primary.mt-10.ason-widget.tt-left(
							title="Toggle Slide Footer",
							data-ason-type="footer",
							data-ason-footer="l-footer-slide-2",
							data-ason-footer-push="l-footer-slide-push-2",
							data-ason-anim-full=['velocity', 'transition.slideUpBigIn', 'transition.slideDownBigOut' ],
							data-ason-anim-md=['velocity', 'transition.whirlIn', 'transition.whirlOut' ],
							data-ason-target="#footer")
								i.fa.fa-align-justify

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p On this page we set up a <strong>secondary footer</strong> which can be toggled using different effects (using <strong><a href="http://velocityjs.org" target="_blank">Velocity.js</a></strong>) on different screen sizes.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									| 			<div class="l-page-header">
									|				<a href="#" class="ason-widget" data-ason-type="footer" data-ason-footer="l-footer-slide-2" data-ason-footer-push="l-footer-slide-push-2" data-ason-anim-full="['velocity', 'transition.slideUpBigIn', 'transition.slideDownBigOut' ]" data-ason-anim-md="['velocity', 'transition.whirlIn', 'transition.whirlOut' ]" data-ason-target="#footer-id" >
									|					<i class="fa fa-align-justify"> </i>
									|				</a>
									|			</div>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|	<footer id="#footer-id" class="l-footer-slide l-footer-slide-2">
									|		Slide footer content...
									|   	</footer>
									|	&nbsp;
									|&lt;/body&gt;

	include components/layout/footer/footer_2/footer_2__t_1
