//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-header-slide-push.html"
	- var page = "layout.header.h-slide-push"
	- var pageSubTitle = " - Slide Push Header"
	- var styles = [ 'syntaxhighlighter', 'animate']
	- var scripts = [ 'a.syntaxhighlighter' ]
	- var hideThemeSettingsHeader = true
	- var hideThemeSettingsFooter = true


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	include components/layout/header/header_2/header_2__t_1

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left


		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header

				.layout-col-sm-6.layout-col-xs-9
					h2.layout-page-title <span>Slide Push</span> Header
					+breadcrumb(bread_layout_header_slide_push)

				.layout-col-sm-6.layout-col-xs-3
					.layout-spaced-vertical.tar
						a(href = '#').btn.btn-primary.mt-10.ason-widget.tt-bottom(
							title="Toggle Slide Push Header",
							data-ason-type="header",
							data-ason-header="l-header-slide-2",
							data-ason-header-push="l-header-slide-push-2",
							data-ason-anim-full=['animate', 'fadeInDown', 'fadeOutUp' ],
							data-ason-anim-md=['velocity', 'transition.perspectiveDownIn', 'transition.perspectiveDownOut' ],
							data-ason-is-push="true",
							data-ason-target="#header")
								i.fa.fa-align-justify

			.layout-spaced-top
				.layout-box.no-border
					.layout-spaced


						.syntax-wrapper
							.syntax-info
								.mv
									p On this page we set up a <strong>secondary header</strong> which can be toggled and in the same time pushes the page content down using different effects (using <strong><a href="http://daneden.github.io/animate.css" target="_blank">Animate.css</a></strong> and <strong><a href="http://velocityjs.org" target="_blank">Velocity.js</a></strong>) on different screen sizes.
									p <strong>YES</strong> you can <strong>mix</strong> effects, you can even <strong>combine</strong> them, for example that on a screen size the fade in effect is done with Animate.css and the fade out is with Velocity.js.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<header id="#header-id" class="l-header-slide l-header-slide-2">
									|		Slide header content...
									|   	</header>
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-1">
									|				Header content...
									|       		</header>
									|	&nbsp;
									| 			<div class="l-page-header">
									|				<a href="#" class="ason-widget" data-ason-type="header" data-ason-header="l-header-slide-2" data-ason-header-push="l-header-slide-push-2" data-ason-anim-full="['animate', 'fadeInDown', 'fadeOutUp' ]" data-ason-anim-md="['velocity', 'transition.perspectiveDownIn', 'transition.perspectiveDownOut' ]" data-ason-is-push="true" data-ason-target="#header-id" >
									|					<i class="fa fa-align-justify"> </i>
									|				</a>
									|			</div>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;
