//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-left.html"
	- var page = "layout.sidebar.pixel.si-left"
	- var pageSubTitle = " - Left Sidebar"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Left</span> Sidebar
				+breadcrumb(bread_layout_sidebar_pixel_left)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p In this example we see the default <strong>left sidebar</strong> which switches states on different screen sizes.
									p The <strong>Ason Widget</strong> adapts to 4 different screen sizes (Extra Large, Large, Medium, Small) just like the <strong><a href="ui-grid.html">Ason Grid Systems</a></strong>.
									p In our example do to the specific sidebar setup we specify in addition that on small screen sizes when we toggle the sidebar we want it to switch to a normal sidebar (not to a hidden one, which is the default).
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<aside id="sb-left-id" class="layout-sidebar layout-sidebar-1">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-to-sm="sidebar" data-ason-target="#sb-left-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;


			include components/layout/footer/footer_1/footer_1__t_1