//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-footer-multiple.html"
	- var page = "layout.footer.f-multiple"
	- var pageSubTitle = " - Multiple Footer"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Multiple</span> Footers
				+breadcrumb(bread_layout_footer_multiple)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								p.mv
									| If you want you can have <strong>more than 1</strong> footer on a page.
									| There are many more footer setup posibilities, for example you could make one footer sticky or fixed, insert a third footer, etc...

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			Page content...
									|	&nbsp;
									|			<footer class="l-footer l-footer-2">
									|				Footer content...
									|       		</footer>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|   	</section>
									|	&nbsp;
									|	<footer class="l-footer l-footer-1">
									|		Full width footer content...
									|   	</footer>
									|	&nbsp;
									|&lt;/body&gt;

			include components/layout/footer/footer_1/footer_1__t_1_2

	include components/layout/footer/footer_1/footer_1__t_1


