//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-footer-sticky.html"
	- var page = "layout.footer.f-sticky"
	- var pageSubTitle = " - Sticky Footer"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]

append config
	- var pageBodyClasses = bodyClasses.push('l-footer-sticky-1')


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container.has-footer-1

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Sticky</span> Footer
				+breadcrumb(bread_layout_footer_sticky)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								p.mv
									| The <strong>sticky footer</strong> always sticks to the bottom of the page.
									br
									| Try to scroll down.

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body class="l-footer-sticky-1" &gt;
									|	&nbsp;
									|	<section class="l-main-container has-footer-1">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			Page content...
									|	&nbsp;
									|			<footer class="l-footer l-footer-1">
									|				Footer content...
									|       		</footer>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;

			include components/layout/footer/footer_1/footer_1__t_1
