//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-right.html"
	- var page = "layout.sidebar.pixel.si-right"
	- var pageSubTitle = " - Right Sidebar"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Right</span> Sidebar
				+breadcrumb(bread_layout_sidebar_pixel_right)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p In this example we see the <strong>right sidebar</strong> which differs from the left sidebar by only 1 parameter. You just have to add an HTML data <strong>isRight="true"</strong> attribute to the sidebar.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|	&nbsp;
									|		<aside id="sb-right-id" class="layout-sidebar layout-sidebar-1">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-to-sm="sidebar" data-ason-is-right="true" data-ason-target="#sb-right-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;



			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__right

