//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-compact-right.html"
	- var page = "layout.sidebar.compact.si-compact-right"
	- var pageSubTitle = " - Compact Right Sidebar"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container


		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Compact Right</span> Sidebar
				+breadcrumb(bread_layout_sidebar_compact_right)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p With the powerful <strong>Ason Widget</strong> you are able to setup and configure in matter of second complex sidebar functionality.
									p Below we can see how we setup with just one call a <strong>compact sidebar</strong> on the <strong>right</strong> side of the page which can be toggled between compact and normal state on all screen sizes.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<aside id="sb-right-id" class="layout-sidebar layout-sidebar-compact-right">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-is-right="true" data-ason-on-all="compact" data-ason-to-all="sidebar" data-ason-target="#sb-right-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;


			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/compact/sidebar_compact__right
