//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-left-right.html"
	- var page = "layout.sidebar.pixel.si-left-right"
	- var pageSubTitle = " - Left and Right Sidebar"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Left</span> and <span>Right</span> Sidebar
				+breadcrumb(bread_layout_sidebar_pixel_left_right)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p This example has <strong>1 left sidebar</strong> and <strong>1 right sidebar</strong> and they are setup in different ways.
									p The functionality of the <strong>left sidebar</strong> we already covered <strong><a href="layout-sidebar-left.html">here</a></strong>.
									p The <strong>right sidebar</strong> has a different setup. First of all it has 2 toggle buttons, one in the header and the other one in the sidebar.
									p You can have multiple toggle buttons for a sidebar on a page until they are setup exactly the same way.
									p It's initial state is <strong>hidden</strong> and on all screen sizes it can be toggled between <strong>hidden</strong> and <strong>normal</strong> state. We also specify that we are dealing with the 'layout-sidebar-2' and not with the 'layout-sidebar-1' (which is the default).
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<aside id="sb-left-id" class="layout-sidebar layout-sidebar-1">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-to-sm="sidebar" data-ason-target="#sb-left-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-1">
									|				Header content...
									|	&nbsp;
									|				<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-sidebar="layout-sidebar-2" data-ason-on-all="hidden" data-ason-to-all="sidebar" data-ason-target="#sb-right-id" >
									|					<i class="fa fa-times"> </i>
									|				</a>
									|	&nbsp;
									|       		</header>
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		<aside id="sb-right-id" class="layout-sidebar layout-sidebar-hidden">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-sidebar="layout-sidebar-2" data-ason-on-all="hidden" data-ason-to-all="sidebar" data-ason-target="#sb-right-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;


			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right

