//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-percent-left.html"
	- var page = "layout.sidebar.percent.si-p-left"
	- var pageSubTitle = " - Left Sidebar Percentage Based"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_4/sidebar_4__t_1_left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Left</span> Sidebar
				+breadcrumb(bread_layout_sidebar_percent_left)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								.mv
									p Sidebars can be percentage based too (not only pixel).
									p In this example we see the <strong>left sidebar</strong> which width is measured by percentage of the total sites width and switches states on different screen sizes.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<aside id="sb-left-id" class="layout-sidebar layout-sidebar-4">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-sidebar="layout-sidebar-4" data-ason-on-md="sidebar" data-ason-to-md="compact" data-ason-to-sm="compact" data-ason-target="#sb-left-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;

			include components/layout/footer/footer_1/footer_1__t_1
