//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-slide-static.html"
	- var page = "layout.sidebar.slide.si-slide-static"
	- var pageSubTitle = " - Static Slidebars"
	- var styles = [ 'syntaxhighlighter', 'animate']
	- var scripts = [ 'a.syntaxhighlighter', 'tooltips.tooltipster', 'x.call.shared.tooltipster']
	- var hideThemeSettingsBoxed = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/slidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Static</span> Slidebars
				+breadcrumb(bread_layout_sidebar_slide_static)

			.layout-spaced-vertical
				.layout-box.no-border
					.layout-spaced
						.layout-row
							.layout-col-xs-6
								.layout-spaced-bottom.tar

									button.btn.btn-primary.ason-widget.tt-left(data-ason-type="sidebar", title="Toggle Left Slidebar",
										data-ason-on-all="slidebar-left",
										data-ason-anim-all=['velocity', 'transition.bounceLeftIn', 'transition.bounceLeftOut'],
										data-ason-is-static="true",
										data-ason-target="#slide-left")
											i.fa.fa-align-right

							.layout-col-xs-6
								.layout-spaced-bottom
									button.btn.btn-primary.ason-widget.tt-right(data-ason-type="sidebar", title="Toggle Right Slidebar",
										data-ason-on-all="slidebar-right",
										data-ason-anim-all=['animate', 'fadeInRightBig', 'fadeOutRightBig'],
										data-ason-is-static="true",
										data-ason-target="#slide-right")
											i.fa.fa-align-left

						.syntax-wrapper
							.syntax-info
								.mv
									p In this example we see <strong>2 static slidebars</strong>, one on the <strong>left</strong> the other one on the <strong>right</strong>.
									p Both of them having their own <strong><a href="http://velocityjs.org" target="_blank">Velocity.js</a></strong> and <strong><a href="http://daneden.github.io/animate.css" target="_blank">Animate.css</a></strong> animations on all screen sizes.
									p The difference between the <strong>default</strong> and the <strong>static</strong> slidebar is that the page content and the slidebar content scrolling is independent on the default setup.
									p Static slidebars scroll naturally with the site.
									p Because the slidebars are static the scrollbars show up only if the content doesn't fit into the container.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<aside id="slide-left-id" class="l-slidebar l-slidebar-left-1">
									|	&nbsp;
									| 			Left slidebar content...
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-is-static="true" data-ason-on-all="slidebar-left" data-ason-anim-all="['velocity', 'transition.bounceLeftIn', 'transition.bounceLeftOut']" data-ason-target="#slide-left-id" >
									|				<i class="fa fa-align-right"> </i>
									|			</a>
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-is-static="true" data-ason-on-all="slidebar-right" data-ason-anim-all="['animate', 'fadeInRightBig', 'fadeOutRightBig']" data-ason-target="#slide-right-id" >
									|				<i class="fa fa-align-left"> </i>
									|			</a>
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|	&nbsp;
									|		<aside id="slide-right-id" class="l-slidebar l-slidebar-right-1">
									|	&nbsp;
									|   			<div class="ason-widgeet" data-ason-type="scrollbar" data-ason-max-height="100%" >
									|	&nbsp;
									| 				Right slidebar content...
									|	&nbsp;
									|			</div>
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;


			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_1/slidebar_1__t_1__right