//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-footer-fixed-boxed.html"
	- var page = "layout.footer.f-fixed-boxed"
	- var pageSubTitle = " - Fixed Footer in Boxed Layout"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]


append config
	- var pageBodyClasses = bodyClasses.push('l-boxed','l-footer-fixed-1')


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container.t-boxed.has-footer-1


		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header
				h2.layout-page-title <span>Fixed</span> Footer in <span>Boxed</span> layout
				+breadcrumb(bread_layout_footer_fixed_boxed)

			.min-height-900
				.layout-spaced-vertical
					.layout-box.no-border
						.layout-spaced

							.syntax-wrapper
								.syntax-info
									p.mv
										| <strong>Fixed footer</strong> in a <strong>boxed</strong> layout.

								.table-responsive
									pre(class="brush:xml;")
										|&lt;body class="l-boxed l-footer-fixed-1" &gt;
										|	&nbsp;
										|	<section class="l-main-container has-footer-1">
										|	&nbsp;
										|		Page content...
										|	&nbsp;
										|		<section class="l-container">
										|	&nbsp;
										|			<footer class="l-footer l-footer-1">
										|				Footer content...
										|       		</footer>
										|	&nbsp;
										|   		</section>
										|	&nbsp;
										|   	</section>
										|	&nbsp;
										|&lt;/body&gt;

			include components/layout/footer/footer_1/footer_1__t_1
