//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-header-slide.html"
	- var page = "layout.header.h-slide"
	- var pageSubTitle = " - Slide Header"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter', 'tooltips.tooltipster', 'x.call.shared.tooltipster' ]
	- var hideThemeSettingsHeader = true
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	include components/layout/header/header_2/header_2__t_1

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left


		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__no_sb

			.layout-page-header

				.layout-col-sm-6.layout-col-xs-9
					h2.layout-page-title <span>Slide</span> Header
					+breadcrumb(bread_layout_header_slide)

				.layout-col-sm-6.layout-col-xs-3
					.layout-spaced-vertical.tar
						a(href = '#').btn.btn-primary.mt-10.ason-widget.tt-left(
							title="Toggle Slide Header",
							data-ason-type="header",
							data-ason-header="l-header-slide-2",
							data-ason-header-push="l-header-slide-push-2",
							data-ason-anim-full=['velocity', 'transition.slideDownBigIn', 'transition.slideUpBigOut' ],
							data-ason-anim-md=['velocity', 'transition.bounceDownIn', 'transition.bounceUpOut' ],
							data-ason-target="#header")
								i.fa.fa-align-justify

			.layout-spaced-top
				.layout-box.no-border
					.layout-spaced


						.syntax-wrapper
							.syntax-info
								.mv
									p On this page we set up a <strong>secondary header</strong> which can be toggled using different effects (using <strong><a href="http://velocityjs.org" target="_blank">Velocity.js</a></strong>) on different screen sizes.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<header id="#header-id" class="l-header-slide l-header-slide-2">
									|		Slide header content...
									|   	</header>
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-1">
									|				Header content...
									|       		</header>
									|	&nbsp;
									| 			<div class="l-page-header">
									|				<a href="#" class="ason-widget" data-ason-type="header" data-ason-header="l-header-slide-2" data-ason-header-push="l-header-slide-push-2" data-ason-anim-full="['velocity', 'transition.slideDownBigIn', 'transition.slideUpBigOut' ]" data-ason-anim-md="['velocity', 'transition.bounceDownIn', 'transition.bounceUpOut' ]" data-ason-target="#header-id" >
									|					<i class="fa fa-align-justify"> </i>
									|				</a>
									|			</div>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;
