//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-header-default-2.html"
	- var page = "layout.header.h-default-2"
	- var pageSubTitle = " - Default Header 2"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	include components/layout/header/header_1/header_1__t_1__no_sb

	//SECTION
	section.layout-main-container


		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container
			.layout-page-header
				h2.layout-page-title <span>Default 2</span> Header
				+breadcrumb(bread_layout_header_default_2)

			.layout-spaced-top
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								p.mv  Default header content <strong>outside</strong> the main container.

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<header class="l-header l-header-1">
									|		Full width header content...
									|   	</header>
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;