//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-sidebar-2-left-2-right.html"
	- var page = "layout.sidebar.pixel.si-2-left-2-right"
	- var pageSubTitle = " - 2 Left and 2 Right Sidebars"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		include components/layout/sidebar/sidebar_3/sidebar_3__t_2__left_2

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1__sb_left_right

			.layout-page-header
				h2.layout-page-title <span>2 Left</span> and <span>2 Right</span> Sidebars
				+breadcrumb(bread_layout_sidebar_pixel_2_left_2_right)

			.layout-spaced-vertical
				.layout-box.no-border

					.layout-spaced
						.syntax-wrapper
							.syntax-info
								.mv
									p As always in life you can overcomplicate things as we did with this example.
									p Here we feature <strong>2 left sidebars</strong> and <strong>2 right sidebars</strong>, each of them serving a different purpose.
									p You can check out the functionality of the <strong>first left sidebar</strong> <strong><a href="layout-sidebar-left.html">here</a></strong>.
									p The role of the <strong>second left sidebar</strong> is to serve us with important information which don't have to be visible all the time, in our case it's a secondary menu.
									p The <strong>first right sidebar</strong> shows a list of active users and the <strong>second right sidebar</strong> gives us information about our social status.
									p Notice how easy it was for us to set up 4 sidebars with different functionality and purpose with only 4 <strong>Ason Widget</strong> calls, each of them behave differently on different screen sizes.
									p For more information please check out the <strong>documentation!</strong>

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<aside id="sb-left-id" class="layout-sidebar layout-sidebar-1">
									|	&nbsp;
									|			<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-to-sm="sidebar" data-ason-target="#sb-left-id" >
									|				<i class="fa fa-bars"> </i>
									|			</a>
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<aside id="sb-left-2-id" class="layout-sidebar layout-sidebar-hidden">
									|	&nbsp;
									|			Sidebar content...
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-1">
									|	&nbsp;
									|				<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-on-all="hidden" data-ason-to-all="compact" data-ason-target="#sb-left-2-id" >
									|					<i class="fa fa-bar-share"> </i>
									|				</a>
									|	&nbsp;
									|				Header content...
									|	&nbsp;
									|				<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-sidebar="layout-sidebar-3" data-ason-on-xl="collapsed" data-ason-on-lg="collapsed" data-ason-on-md="hidden" data-ason-to-md="compact" data-ason-on-sm="hidden" data-ason-to-sm="compact" data-ason-is-right="true" data-ason-target="#sb-right-2-id" >
									|					<i class="fa fa-share-alt"> </i>
									|				</a>
									|	&nbsp;
									|				<a href="#" class="ason-widget" data-ason-type="sidebar" data-ason-sidebar="layout-sidebar-3" data-ason-on-lg="compact" data-ason-is-right="true" data-ason-target="#sb-right-id" >
									|					<i class="fa fa-bar-users"> </i>
									|				</a>
									|	&nbsp;
									|       		</header>
									|	&nbsp;
									| 			Page content...
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		<aside id="sb-right-2-id" class="layout-sidebar layout-sidebar-3">
									|	&nbsp;
									|			Sidebar content...
									|	&nbsp;
									|   		</aside>
									|	&nbsp;
									|		<aside id="sb-right-id" class="layout-sidebar layout-sidebar-3">
									|	&nbsp;
									|			Sidebar content...
									|	&nbsp;
									|   		</aside>
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;


			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_3/sidebar_3__t_4__right

		include components/layout/sidebar/sidebar_3/sidebar_3__t_2__right_3

