//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "layout-header-multiple.html"
	- var page = "layout.header.h-multiple"
	- var pageSubTitle = " - Multiple Headers"
	- var styles = [ 'syntaxhighlighter']
	- var scripts = [ 'a.syntaxhighlighter' ]
	- var hideThemeSettingsHeader = true
	- var hideThemeSettingsFooter = true

//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	include components/layout/header/header_1/header_1__t_1__no_sb

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_2/header_2__t_1_2

			.layout-page-header
				h2.layout-page-title <span>Multiple</span> Headers
				+breadcrumb(bread_layout_header_multiple)

			.layout-spaced-top
				.layout-box.no-border
					.layout-spaced

						.syntax-wrapper
							.syntax-info
								p.mv
									| If you want you can have <strong>more than 1</strong> header on a page.
									| There are many more header setup posibilities, for example you could make one header sticky or fixed, insert a third header, etc...

							.table-responsive
								pre(class="brush:xml;")
									|&lt;body&gt;
									|	&nbsp;
									|	<header class="l-header l-header-1">
									|		Full width header content...
									|   	</header>
									|	&nbsp;
									|	<section class="l-main-container">
									|	&nbsp;
									|		<section class="l-container">
									|	&nbsp;
									|			<header class="l-header l-header-2">
									|				Header content...
									|       		</header>
									|	&nbsp;
									|   		</section>
									|	&nbsp;
									|		Page content...
									|   	</section>
									|	&nbsp;
									|&lt;/body&gt;
