//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "page-search.html"
	- var page = "page.p-search"
	- var pageSubTitle = " - Page - Search Result"
	- var styles = [ 'font.icomoon' ]
	- var scripts = [ 'a.shared.matchHeight', 'tabs.easyResponsiveTabs', 'form.checkradios', 'x.call.page.search' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Search</span> Result
				+breadcrumb(bread_page_search)

			.layout-spaced
				// Icon Tabs
				#search
					ul.resp-tabs-list
						li Classic Search
						li Grid/List Style
						li User Search

					div.resp-tabs-container

						//Classic Search
						div
							.classic-search-container

								//Search bar
								.input-group
									.input-group-btn.filter-group
										button.btn.btn-drop.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown')
											| Filter
											span.caret
										ul.dropdown-menu.drop-dark(role='menu')
											li
												a(href='#')
													i.icomoon.icomoon-file
													| Text
											li
												a(href='#')
													i.icomoon.icomoon-map
													| Map
											li
												a(href='#')
													i.icomoon.icomoon-music
													| Music
											li
												a(href='#')
													i.icomoon.icomoon-camera
													| Images
											li
												a(href='#')
													i.icomoon.icomoon-film
													| Videos
											li.divider
											li
												a(href='#')
													i.icomoon.icomoon-folder
													| All
									// /btn-group
									input.form-control(type='text', placeholder="Search...")
									span.input-group-btn
										button.btn.btn-dark.btn-search(type='button')
											i.fa.fa-search
											| Search

								hr

								//Search info
								.search-info
									| Search Results for <strong>Search Term</strong> <span>(1,525 results - 0.18 seconds)</span>

								hr

								//Search result
								.search-result

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/proteus', target="_blank") Proteus - Responsive Admin Web App

										h4  themes.loxdesign.net/proteus

										p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quaerat, excepturi, consequatur quibusdam minima cupiditate itaque cumque fuga aliquam nesciunt natus hic veritatis doloremque libero quis praesentium rem distinctio error.

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/mars', target="_blank") Mars - Clean, Fluid and Responsive Zen Cart Theme

										h4  themes.loxdesign.net/mars

										p   Suscipit, officiis, ipsa, iste totam dolor itaque voluptate in repellat quos quo laudantium praesentium id libero dolorum maiores possimus sit vero quis.

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/phoenix/', target="_blank") Phoenix - Responsive Admin Template

										h4  themes.loxdesign.net/phoenix

										p   Dignissimos, earum, maiores ullam repellendus excepturi atque maxime asperiores placeat sapiente nostrum sequi deserunt itaque velit expedita nisi aspernatur dicta aperiam nesciunt!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nulla, sint. Similique, maxime, adipisci, praesentium expedita quis quibusdam est illo odio earum dolor obcaecati reiciendis unde repellat asperiores laboriosam. Laudantium!

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/proteus', target="_blank") Proteus - Responsive Admin Web App

										h4  themes.loxdesign.net/proteus

										p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quaerat, excepturi, consequatur quibusdam minima cupiditate itaque cumque fuga aliquam nesciunt natus hic veritatis doloremque libero quis praesentium rem distinctio error.

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/mars', target="_blank") Mars - Clean, Fluid and Responsive Zen Cart Theme

										h4  themes.loxdesign.net/mars

										p   Suscipit, officiis, ipsa, iste totam dolor itaque voluptate in repellat quos quo laudantium praesentium id libero dolorum maiores possimus sit vero quis.

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/phoenix/', target="_blank") Phoenix - Responsive Admin Template

										h4  themes.loxdesign.net/phoenix

										p   Dignissimos, earum, maiores ullam repellendus excepturi atque maxime asperiores placeat sapiente nostrum sequi deserunt itaque velit expedita nisi aspernatur dicta aperiam nesciunt!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nulla, sint. Similique, maxime, adipisci, praesentium expedita quis quibusdam est illo odio earum dolor obcaecati reiciendis unde repellat asperiores laboriosam. Laudantium!

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/proteus', target="_blank") Proteus - Responsive Admin Web App

										h4  themes.loxdesign.net/proteus

										p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quaerat, excepturi, consequatur quibusdam minima cupiditate itaque cumque fuga aliquam nesciunt natus hic veritatis doloremque libero quis praesentium rem distinctio error.

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/mars', target="_blank") Mars - Clean, Fluid and Responsive Zen Cart Theme

										h4  themes.loxdesign.net/mars

										p   Suscipit, officiis, ipsa, iste totam dolor itaque voluptate in repellat quos quo laudantium praesentium id libero dolorum maiores possimus sit vero quis.

									.search-row
										h3
											a(href = 'http://themes.loxdesign.net/phoenix/', target="_blank") Phoenix - Responsive Admin Template

										h4  themes.loxdesign.net/phoenix

										p   Dignissimos, earum, maiores ullam repellendus excepturi atque maxime asperiores placeat sapiente nostrum sequi deserunt itaque velit expedita nisi aspernatur dicta aperiam nesciunt!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nulla, sint. Similique, maxime, adipisci, praesentium expedita quis quibusdam est illo odio earum dolor obcaecati reiciendis unde repellat asperiores laboriosam. Laudantium!

								//Search info
								.search-info
									| Search Results for <strong>Search Term</strong> <span>(1,525 results - 0.18 seconds)</span>

								hr

								//Pagination
								ul.pagination
									li.disabled
										a(href='#') Previous
									li.active
										a(href='#')
											| 1
											span.sr-only (current)
									li
										a(href='#') 2
									li
										a(href='#') 3
									li
										a(href='#') 4
									li
										a(href='#') 5
									li
										a(href='#') Next

						//Grid/List Search
						div
							.gridlist-search-container

								.layout-row
									.layout-col-md-8
										//Search info
										.search-info
											| Search Results for <strong>Search Term</strong> <span>(1,525 results - 0.18 seconds)</span>

									.layout-col-md-4
										//Search bar
										.input-group
											// /btn-group
											input.form-control(type='text', placeholder="Search...")
											.input-group-btn
												button.btn.btn-default.btn-drop.dropdown-toggle(type='button', data-toggle='dropdown')
													| Filter
													span.caret
												ul.dropdown-menu.pull-right(role='menu')
													li
														a(href='#') Text
													li
														a(href='#') Images
													li
														a(href='#') Videos
													li.divider
													li
														a(href='#') All
											span.input-group-btn
												button.btn.btn-default(type='button')
													i.fa.fa-search

								hr

								.search-info.group.form-inline

									.layout-span-sm-4.show
										| Show &nbsp;
										select.show-select.form-control
											option 10
											option 20
											option 30
											option 40
											option 50
										| &nbsp; per page

									.layout-span-sm-4.amount Items 1 to 10 of 12 total

									.layout-span-sm-4.sort
										| Sort By &nbsp;
										.input-group
											.input-group-btn
												select.sort-select.form-control
													option Name
													option Price
													option Data
													option Position
											.input-group-btn
												a.btn.btn-default.toolt(href = '#', data-toggle='tooltip', data-placement='top', title='Order - Asc')
													i.fa.fa-chevron-up


								.search-info.group.form-inline

									.layout-span-sm-3.bulk
										select.bulk-select.form-control
											option Bulk Action
											option Edit
											option Delete
											option Rename

									.layout-span-sm-6.pagin
										ul.pagination
											li.disabled
												a(href='#') Previous
											li.active
												a(href='#')
													| 1
													span.sr-only (current)
											li
												a(href='#') 2
											li
												a(href='#') 3
											li
												a(href='#') 4
											li
												a(href='#') 5
											li
												a(href='#') Next

									.layout-span-sm-3.viewas
										| View as: &nbsp;
										.btn-group(data-toggle='buttons')
											label.btn-list-view.btn.btn-dark.active
												input#list(type='radio', name='options', autocomplete='off', checked='')
												i.fa.fa-list-ul

											label.btn-grid-view.btn.btn-dark
												input#grid(type='radio', name='options', autocomplete='off')
												i.fa.fa-th



								hr

								//List view
								.search-result.list-view

									.search-header
										.layout-col-sm-1
											input.checkradios(name='chbox', type='checkbox', value='')

										.layout-col-sm-3
											| Images

										.layout-col-sm-8
											| Description

									.search-row
										.layout-col-sm-1
											input.checkradios(name='chbox', type='checkbox', value='')

										.layout-col-sm-3
											img(src='img/search/search_grid_1.jpg', alt='Result')

										.layout-col-sm-8
											h2
												a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis vulputate enim in ultricies. Cras consequat interdum aliquet. Praesent eros purus, consequat quis tristique vitae, sollicitudin eget odio. Mauris scelerisque venenatis feugiat. Donec libero nisi, iaculis a dapibus sit amet, fringilla id nisl. Integer metus urna, mollis quis placerat vitae, molestie vel odio.
											ul
												li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												li In tempor est sit amet diam luctus non vestibulum nisl lobortis.
												li Aenean eu arcu vitae felis eleifend pretium.
											a(href='#')
												strong Read More

									.search-row
										.layout-col-sm-1
											input.checkradios(name='chbox', type='checkbox', value='')

										.layout-col-sm-3
											img(src='img/search/search_grid_2.jpg', alt='Result')

										.layout-col-sm-8
											h2
												a(href='#') Morbi porta velit a diam mattis mattis.
											p
												| Urna est sit porttitor nisi aliquet tincidunt sociis. Est et placerat in, lectus eros pulvinar odio egestas, etiam, mauris integer. Dignissim amet porttitor vut pid non massa sit porttitor non, adipiscing massa sed velit, aliquam auctor massa, in et dis aliquet odio! Mid adipiscing?
											ul
												li Sed at ligula in felis gravida imperdiet.
												li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												li In tempor est sit amet diam luctus non vestibulum nisl lobortis.
												li Aenean eu arcu vitae felis eleifend pretium.
											a(href='#')
												strong Read More

									.search-row
										.layout-col-sm-1
											input.checkradios(name='chbox', type='checkbox', value='')

										.layout-col-sm-3
											img(src='img/search/search_grid_3.jpg', alt='Result')

										.layout-col-sm-8

											h2
												a(href='#') Aliquam aliquet vestibulum odio, sed semper sem tincidunt vel.
											p
												| Ut porta odio sit penatibus placerat duis dapibus enim phasellus lundium lundium lectus augue turpis, tincidunt, in elementum. Ridiculus et, cras ac ultrices aenean velit tristique dis turpis? Sit tempor, elementum sagittis, proin tempor adipiscing magna, augue pid, enim magna, turpis nascetur, urna augue est.
											ul
												li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												li In tempor est sit amet diam luctus non vestibulum nisl lobortis.

											a(href='#')
												strong Read More

									.search-row
										.layout-col-sm-1
											input.checkradios(name='chbox', type='checkbox', value='')

										.layout-col-sm-3
											img(src='img/search/search_grid_4.jpg', alt='Result')

										.layout-col-sm-8

											h2
												a(href='#') Sed posuere nibh vitae nunc fringilla vel ullamcorper leo sollicitudin.
											p
												| In mattis enim integer purus aliquet eros habitasse! Elementum urna, duis platea mattis phasellus est, adipiscing porttitor elementum non integer, rhoncus sit! A enim velit facilisis.

											a(href='#')
												strong Read More

									.search-row
										.layout-col-sm-1
											input.checkradios(name='chbox', type='checkbox', value='')

										.layout-col-sm-3
											img(src='img/search/search_grid_5.jpg', alt='Result')

										.layout-col-sm-8

											h2
												a(href='#') Quisque vitae turpis diam, a ultrices metus
											p
												| Aliquet ac a aliquam augue risus. Sagittis augue ac cum? Habitasse scelerisque! Vel diam, lectus platea cursus, mauris ultrices purus nunc ridiculus, nunc porta! In augue, elit in natoque dis, sit lacus dis dignissim ut, pulvinar a a sit tempor etiam turpis ridiculus nunc, pulvinar et cum mauris, lectus aenean.

											ul
												li Sed faucibus varius odio, a ornare sem rhoncus non.
												li Donec convallis ullamcorper diam, et auctor sem elementum sed.
												li Sed et diam eget turpis tempus euismod quis nec lectus.
												li Suspendisse eu arcu ac lectus varius cursus

											a(href='#')
												strong Read More

								//Grid view
								.search-result.grid-view

									.search-col
										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_1.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.

											div
												p
													| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis vulputate enim in ultricies. Cras consequat interdum aliquet. Praesent eros purus, consequat quis tristique vitae, sollicitudin eget odio. Mauris scelerisque venenatis feugiat. Donec libero nisi, iaculis a dapibus sit amet, fringilla id nisl. Integer metus urna, mollis quis placerat vitae, molestie vel odio.
												ul
													li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													li In tempor est sit amet diam luctus non vestibulum nisl lobortis.
													li Aenean eu arcu vitae felis eleifend pretium.
											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_2.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Morbi porta velit a diam mattis mattis.

											div(data-mh="s-col-content")
												p
													| Urna est sit porttitor nisi aliquet tincidunt sociis. Est et placerat in, lectus eros pulvinar odio egestas, etiam, mauris integer. Dignissim amet porttitor vut pid non massa sit porttitor non, adipiscing massa sed velit, aliquam auctor massa, in et dis aliquet odio! Mid adipiscing?
												ul
													li Sed at ligula in felis gravida imperdiet.
													li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													li In tempor est sit amet diam luctus non vestibulum nisl lobortis.
													li Aenean eu arcu vitae felis eleifend pretium.
											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_3.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Aliquam aliquet vestibulum odio, sed semper sem tincidunt vel.
											div(data-mh="s-col-content")
												p
													| Ut porta odio sit penatibus placerat duis dapibus enim phasellus lundium lundium lectus augue turpis, tincidunt, in elementum. Ridiculus et, cras ac ultrices aenean velit tristique dis turpis? Sit tempor, elementum sagittis, proin tempor adipiscing magna, augue pid, enim magna, turpis nascetur, urna augue est.
												ul
													li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													li In tempor est sit amet diam luctus non vestibulum nisl lobortis.

											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_4.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Sed posuere nibh vitae nunc fringilla vel ullamcorper leo sollicitudin.
											div(data-mh="s-col-content")
												p
													| In mattis enim integer purus aliquet eros habitasse! Elementum urna, duis platea mattis phasellus est, adipiscing porttitor elementum non integer, rhoncus sit! A enim velit facilisis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quo, tenetur, quaerat recusandae perferendis commodi vitae dolor ipsam mollitia atque sequi sunt rerum laudantium culpa animi reiciendis velit incidunt quibusdam!

											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_5.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Quisque vitae turpis diam, a ultrices metus
											div(data-mh="s-col-content")
												p
													| Aliquet ac a aliquam augue risus. Sagittis augue ac cum? Habitasse scelerisque! Vel diam, lectus platea cursus, mauris ultrices purus nunc ridiculus, nunc porta! In augue, elit in natoque dis, sit lacus dis dignissim ut, pulvinar a a sit tempor etiam turpis ridiculus nunc, pulvinar et cum mauris, lectus aenean.

												ul
													li Sed faucibus varius odio, a ornare sem rhoncus non.
													li Donec convallis ullamcorper diam, et auctor sem elementum sed.
													li Sed et diam eget turpis tempus euismod quis nec lectus.
													li Suspendisse eu arcu ac lectus varius cursus

											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_6.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											div(data-mh="s-col-content")
												p
													| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis vulputate enim in ultricies. Cras consequat interdum aliquet. Praesent eros purus, consequat quis tristique vitae, sollicitudin eget odio. Mauris scelerisque venenatis feugiat. Donec libero nisi, iaculis a dapibus sit amet, fringilla id nisl. Integer metus urna, mollis quis placerat vitae, molestie vel odio.
												ul
													li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													li In tempor est sit amet diam luctus non vestibulum nisl lobortis.
													li Aenean eu arcu vitae felis eleifend pretium.
											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_7.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Morbi porta velit a diam mattis mattis.
											div(data-mh="s-col-content")
												p
													| Urna est sit porttitor nisi aliquet tincidunt sociis. Est et placerat in, lectus eros pulvinar odio egestas, etiam, mauris integer. Dignissim amet porttitor vut pid non massa sit porttitor non, adipiscing massa sed velit, aliquam auctor massa, in et dis aliquet odio! Mid adipiscing?
												ul
													li Sed at ligula in felis gravida imperdiet.
													li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													li In tempor est sit amet diam luctus non vestibulum nisl lobortis.
													li Aenean eu arcu vitae felis eleifend pretium.
											a(href='#')
												strong Read More

									.search-col

										div.img-container
											.check-cont
												input.checkradios(name='chbox', type='checkbox', value='')

											img(src='img/search/search_grid_8.jpg', alt='Result')

										div
											h2(data-mh="s-col-title")
												a(href='#') Aliquam aliquet vestibulum odio, sed semper sem tincidunt vel.
											div(data-mh="s-col-content")
												p
													| Ut porta odio sit penatibus placerat duis dapibus enim phasellus lundium lundium lectus augue turpis, tincidunt, in elementum. Ridiculus et, cras ac ultrices aenean velit tristique dis turpis? Sit tempor, elementum sagittis, proin tempor adipiscing magna, augue pid, enim magna, turpis nascetur, urna augue est.
												ul
													li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													li In tempor est sit amet diam luctus non vestibulum nisl lobortis.

											a(href='#')
												strong Read More




								hr.group
								.search-info.group.form-inline

									.layout-span-sm-3.bulk
										select.bulk-select.form-control
											option Bulk Action
											option Edit
											option Delete
											option Rename

									.layout-span-sm-6.pagin
										ul.pagination
											li.disabled
												a(href='#') Previous
											li.active
												a(href='#')
													| 1
													span.sr-only (current)
											li
												a(href='#') 2
											li
												a(href='#') 3
											li
												a(href='#') 4
											li
												a(href='#') 5
											li
												a(href='#') Next

									.layout-span-sm-3.viewas
										| View as: &nbsp;
										.btn-group(data-toggle='buttons')
											label.btn-list-view.btn.btn-dark.active
												input#list(type='radio', name='options', autocomplete='off', checked='')
												i.fa.fa-list-ul

											label.btn-grid-view.btn.btn-dark
												input#grid(type='radio', name='options', autocomplete='off')
												i.fa.fa-th


						//User Search
						div

							.user-search-container

								.form-group.has-feedback.userSearchInput
									span.glyphicon.glyphicon-search.form-control-feedback.first
									label.control-label.sr-only(for='userSearchInput') Search result
									input#userSearchInput.form-control(type='text', placeholder="Search users...")
									span.glyphicon.glyphicon-refresh.form-control-feedback


								div.table-responsive
									table.table.user-search-table
										thead
											tr
												th #
												th Image
												th Name
												th Position
												th Office
												th Start date
												th Salary
												th Status
										tbody
											tr
												td 1
												td
													img(src='img/profile/user_1.jpg', alt='User')
												td Tiger Nixon
												td System Architect
												td Edinburgh
												td 2011/04/25
												td $320,800
												td
													span.label.label-success Active

											tr
												td 2
												td
													img(src='img/profile/user_2.jpg', alt='User')
												td Garrett Winters
												td Accountant
												td Tokyo
												td 2011/07/25
												td $170,750
												td
													span.label.label-danger Disabled

											tr
												td 3
												td
													img(src='img/profile/user_3.jpg', alt='User')
												td Ashton Cox
												td Junior Technical Author
												td San Francisco
												td 2009/01/12
												td $86,000
												td
													span.label.label-success Admin

											tr
												td 4
												td
													img(src='img/profile/user_4.jpg', alt='User')
												td Cedric Kelly
												td Senior Javascript Developer
												td Edinburgh
												td 2012/03/29
												td $433,060
												td
													span.label.label-success Active

											tr
												td 5
												td
													img(src='img/profile/user_5.jpg', alt='User')
												td Airi Satou
												td Accountant
												td Tokyo
												td 2008/11/28
												td $162,700
												td
													span.label.label-success Active

											tr
												td 6
												td
													img(src='img/profile/user_6.jpg', alt='User')
												td Brielle Williamson
												td Integration Specialist
												td New York
												td 2012/12/02
												td $372,000
												td
													span.label.label-warning Inctive

											tr
												td 7
												td
													img(src='img/profile/user_7.jpg', alt='User')
												td Herrod Chandler
												td Sales Assistant
												td San Francisco
												td 2012/08/06
												td $137,500
												td
													span.label.label-success Active

											tr
												td 8
												td
													img(src='img/profile/user_8.jpg', alt='User')
												td Colleen Hurst
												td Javascript Developer
												td San Francisco
												td 2009/09/15
												td $205,500
												td
													span.label.label-info Admin

											tr
												td 9
												td
													img(src='img/profile/user_9.jpg', alt='User')
												td Sonya Frost
												td Software Engineer
												td Edinburgh
												td 2008/12/13
												td $103,600
												td
													span.label.label-success Active

											tr
												td 10
												td
													img(src='img/profile/user_10.jpg', alt='User')
												td Quinn Flynn
												td Support Lead
												td Edinburgh
												td 2013/03/03
												td $342,000
												td
													span.label.label-success Active

								hr
								//Pagination
								.text-center
									ul.pagination
										li.disabled
											a(href='#') Previous
										li.active
											a(href='#')
												| 1
												span.sr-only (current)
										li
											a(href='#') 2
										li
											a(href='#') 3
										li
											a(href='#') 4
										li
											a(href='#') 5
										li
											a(href='#') Next

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right
