//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "table-datatable.html"
	- var page = "table.t-datatable"
	- var pageSubTitle = " - Table - DataTable"
	- var scripts = [ 'tabs.easyResponsiveTabs', 'table.dataTables', 'x.call.table.data' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Data</span> Table
				+breadcrumb(bread_table_data)

			.layout-spaced

				#tables.resp-tabs-skin-1
					ul.resp-tabs-list
						li Default
						li#vscrollTable Vertical Scroll
						li Autofill
						li Column Reorder
						li#responsiveTable Responsive

					div.resp-tabs-container

						// Default Table
						div

							.layout-row.layout-spaced-bottom
								.layout-box
									.layout-box-header
										h2.layout-box-title <span>Data</span> Table - Default
										+box-options

									.layout-box-body

										table#dataTableId.display(cellspacing='0', width='100%')
											thead
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tfoot
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tbody
												tr
													td Tiger Nixon
													td System Architect
													td Edinburgh
													td 61
													td 2011/04/25
													td $320,800
												tr
													td Garrett Winters
													td Accountant
													td Tokyo
													td 63
													td 2011/07/25
													td $170,750
												tr
													td Ashton Cox
													td Junior Technical Author
													td San Francisco
													td 66
													td 2009/01/12
													td $86,000
												tr
													td Cedric Kelly
													td Senior Javascript Developer
													td Edinburgh
													td 22
													td 2012/03/29
													td $433,060
												tr
													td Airi Satou
													td Accountant
													td Tokyo
													td 33
													td 2008/11/28
													td $162,700
												tr
													td Brielle Williamson
													td Integration Specialist
													td New York
													td 61
													td 2012/12/02
													td $372,000
												tr
													td Herrod Chandler
													td Sales Assistant
													td San Francisco
													td 59
													td 2012/08/06
													td $137,500
												tr
													td Rhona Davidson
													td Integration Specialist
													td Tokyo
													td 55
													td 2010/10/14
													td $327,900
												tr
													td Colleen Hurst
													td Javascript Developer
													td San Francisco
													td 39
													td 2009/09/15
													td $205,500
												tr
													td Sonya Frost
													td Software Engineer
													td Edinburgh
													td 23
													td 2008/12/13
													td $103,600
												tr
													td Jena Gaines
													td Office Manager
													td London
													td 30
													td 2008/12/19
													td $90,560
												tr
													td Quinn Flynn
													td Support Lead
													td Edinburgh
													td 22
													td 2013/03/03
													td $342,000
												tr
													td Charde Marshall
													td Regional Director
													td San Francisco
													td 36
													td 2008/10/16
													td $470,600
												tr
													td Haley Kennedy
													td Senior Marketing Designer
													td London
													td 43
													td 2012/12/18
													td $313,500
												tr
													td Tatyana Fitzpatrick
													td Regional Director
													td London
													td 19
													td 2010/03/17
													td $385,750
												tr
													td Michael Silva
													td Marketing Designer
													td London
													td 66
													td 2012/11/27
													td $198,500
												tr
													td Paul Byrd
													td Chief Financial Officer (CFO)
													td New York
													td 64
													td 2010/06/09
													td $725,000
												tr
													td Gloria Little
													td Systems Administrator
													td New York
													td 59
													td 2009/04/10
													td $237,500
												tr
													td Bradley Greer
													td Software Engineer
													td London
													td 41
													td 2012/10/13
													td $132,000
												tr
													td Dai Rios
													td Personnel Lead
													td Edinburgh
													td 35
													td 2012/09/26
													td $217,500
												tr
													td Jenette Caldwell
													td Development Lead
													td New York
													td 30
													td 2011/09/03
													td $345,000
												tr
													td Yuri Berry
													td Chief Marketing Officer (CMO)
													td New York
													td 40
													td 2009/06/25
													td $675,000
												tr
													td Caesar Vance
													td Pre-Sales Support
													td New York
													td 21
													td 2011/12/12
													td $106,450
												tr
													td Doris Wilder
													td Sales Assistant
													td Sidney
													td 23
													td 2010/09/20
													td $85,600
												tr
													td Angelica Ramos
													td Chief Executive Officer (CEO)
													td London
													td 47
													td 2009/10/09
													td $1,200,000
												tr
													td Gavin Joyce
													td Developer
													td Edinburgh
													td 42
													td 2010/12/22
													td $92,575
												tr
													td Jennifer Chang
													td Regional Director
													td Singapore
													td 28
													td 2010/11/14
													td $357,650
												tr
													td Brenden Wagner
													td Software Engineer
													td San Francisco
													td 28
													td 2011/06/07
													td $206,850
												tr
													td Fiona Green
													td Chief Operating Officer (COO)
													td San Francisco
													td 48
													td 2010/03/11
													td $850,000
												tr
													td Shou Itou
													td Regional Marketing
													td Tokyo
													td 20
													td 2011/08/14
													td $163,000
												tr
													td Michelle House
													td Integration Specialist
													td Sidney
													td 37
													td 2011/06/02
													td $95,400
												tr
													td Suki Burks
													td Developer
													td London
													td 53
													td 2009/10/22
													td $114,500
												tr
													td Prescott Bartlett
													td Technical Author
													td London
													td 27
													td 2011/05/07
													td $145,000
												tr
													td Gavin Cortez
													td Team Leader
													td San Francisco
													td 22
													td 2008/10/26
													td $235,500
												tr
													td Martena Mccray
													td Post-Sales support
													td Edinburgh
													td 46
													td 2011/03/09
													td $324,050
												tr
													td Unity Butler
													td Marketing Designer
													td San Francisco
													td 47
													td 2009/12/09
													td $85,675
												tr
													td Howard Hatfield
													td Office Manager
													td San Francisco
													td 51
													td 2008/12/16
													td $164,500
												tr
													td Hope Fuentes
													td Secretary
													td San Francisco
													td 41
													td 2010/02/12
													td $109,850
												tr
													td Vivian Harrell
													td Financial Controller
													td San Francisco
													td 62
													td 2009/02/14
													td $452,500
												tr
													td Timothy Mooney
													td Office Manager
													td London
													td 37
													td 2008/12/11
													td $136,200
												tr
													td Jackson Bradshaw
													td Director
													td New York
													td 65
													td 2008/09/26
													td $645,750
												tr
													td Olivia Liang
													td Support Engineer
													td Singapore
													td 64
													td 2011/02/03
													td $234,500
												tr
													td Bruno Nash
													td Software Engineer
													td London
													td 38
													td 2011/05/03
													td $163,500
												tr
													td Sakura Yamamoto
													td Support Engineer
													td Tokyo
													td 37
													td 2009/08/19
													td $139,575
												tr
													td Thor Walton
													td Developer
													td New York
													td 61
													td 2013/08/11
													td $98,540
												tr
													td Finn Camacho
													td Support Engineer
													td San Francisco
													td 47
													td 2009/07/07
													td $87,500
												tr
													td Serge Baldwin
													td Data Coordinator
													td Singapore
													td 64
													td 2012/04/09
													td $138,575
												tr
													td Zenaida Frank
													td Software Engineer
													td New York
													td 63
													td 2010/01/04
													td $125,250
												tr
													td Zorita Serrano
													td Software Engineer
													td San Francisco
													td 56
													td 2012/06/01
													td $115,000
												tr
													td Jennifer Acosta
													td Junior Javascript Developer
													td Edinburgh
													td 43
													td 2013/02/01
													td $75,650
												tr
													td Cara Stevens
													td Sales Assistant
													td New York
													td 46
													td 2011/12/06
													td $145,600
												tr
													td Hermione Butler
													td Regional Director
													td London
													td 47
													td 2011/03/21
													td $356,250
												tr
													td Lael Greer
													td Systems Administrator
													td London
													td 21
													td 2009/02/27
													td $103,500
												tr
													td Jonas Alexander
													td Developer
													td San Francisco
													td 30
													td 2010/07/14
													td $86,500
												tr
													td Shad Decker
													td Regional Director
													td Edinburgh
													td 51
													td 2008/11/13
													td $183,000
												tr
													td Michael Bruce
													td Javascript Developer
													td Singapore
													td 29
													td 2011/06/27
													td $183,000
												tr
													td Donna Snider
													td Customer Support
													td New York
													td 27
													td 2011/01/25
													td $112,000

						// Vertical Scroll Table
						div
							.layout-row.layout-spaced-bottom
								.layout-box
									.layout-box-header
										h2.layout-box-title <span>Data</span> Table - Vertical Scroll
										+box-options

									.layout-box-body

										table#dataTableIdVerticalScroll.display(cellspacing='0', width='100%')
											thead
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tfoot
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tbody
												tr
													td Tiger Nixon
													td System Architect
													td Edinburgh
													td 61
													td 2011/04/25
													td $320,800
												tr
													td Garrett Winters
													td Accountant
													td Tokyo
													td 63
													td 2011/07/25
													td $170,750
												tr
													td Ashton Cox
													td Junior Technical Author
													td San Francisco
													td 66
													td 2009/01/12
													td $86,000
												tr
													td Cedric Kelly
													td Senior Javascript Developer
													td Edinburgh
													td 22
													td 2012/03/29
													td $433,060
												tr
													td Airi Satou
													td Accountant
													td Tokyo
													td 33
													td 2008/11/28
													td $162,700
												tr
													td Brielle Williamson
													td Integration Specialist
													td New York
													td 61
													td 2012/12/02
													td $372,000
												tr
													td Herrod Chandler
													td Sales Assistant
													td San Francisco
													td 59
													td 2012/08/06
													td $137,500
												tr
													td Rhona Davidson
													td Integration Specialist
													td Tokyo
													td 55
													td 2010/10/14
													td $327,900
												tr
													td Colleen Hurst
													td Javascript Developer
													td San Francisco
													td 39
													td 2009/09/15
													td $205,500
												tr
													td Sonya Frost
													td Software Engineer
													td Edinburgh
													td 23
													td 2008/12/13
													td $103,600
												tr
													td Jena Gaines
													td Office Manager
													td London
													td 30
													td 2008/12/19
													td $90,560
												tr
													td Quinn Flynn
													td Support Lead
													td Edinburgh
													td 22
													td 2013/03/03
													td $342,000
												tr
													td Charde Marshall
													td Regional Director
													td San Francisco
													td 36
													td 2008/10/16
													td $470,600
												tr
													td Haley Kennedy
													td Senior Marketing Designer
													td London
													td 43
													td 2012/12/18
													td $313,500
												tr
													td Tatyana Fitzpatrick
													td Regional Director
													td London
													td 19
													td 2010/03/17
													td $385,750
												tr
													td Michael Silva
													td Marketing Designer
													td London
													td 66
													td 2012/11/27
													td $198,500
												tr
													td Paul Byrd
													td Chief Financial Officer (CFO)
													td New York
													td 64
													td 2010/06/09
													td $725,000
												tr
													td Gloria Little
													td Systems Administrator
													td New York
													td 59
													td 2009/04/10
													td $237,500
												tr
													td Bradley Greer
													td Software Engineer
													td London
													td 41
													td 2012/10/13
													td $132,000
												tr
													td Dai Rios
													td Personnel Lead
													td Edinburgh
													td 35
													td 2012/09/26
													td $217,500
												tr
													td Jenette Caldwell
													td Development Lead
													td New York
													td 30
													td 2011/09/03
													td $345,000
												tr
													td Yuri Berry
													td Chief Marketing Officer (CMO)
													td New York
													td 40
													td 2009/06/25
													td $675,000
												tr
													td Caesar Vance
													td Pre-Sales Support
													td New York
													td 21
													td 2011/12/12
													td $106,450
												tr
													td Doris Wilder
													td Sales Assistant
													td Sidney
													td 23
													td 2010/09/20
													td $85,600
												tr
													td Angelica Ramos
													td Chief Executive Officer (CEO)
													td London
													td 47
													td 2009/10/09
													td $1,200,000
												tr
													td Gavin Joyce
													td Developer
													td Edinburgh
													td 42
													td 2010/12/22
													td $92,575
												tr
													td Jennifer Chang
													td Regional Director
													td Singapore
													td 28
													td 2010/11/14
													td $357,650
												tr
													td Brenden Wagner
													td Software Engineer
													td San Francisco
													td 28
													td 2011/06/07
													td $206,850
												tr
													td Fiona Green
													td Chief Operating Officer (COO)
													td San Francisco
													td 48
													td 2010/03/11
													td $850,000
												tr
													td Shou Itou
													td Regional Marketing
													td Tokyo
													td 20
													td 2011/08/14
													td $163,000
												tr
													td Michelle House
													td Integration Specialist
													td Sidney
													td 37
													td 2011/06/02
													td $95,400
												tr
													td Suki Burks
													td Developer
													td London
													td 53
													td 2009/10/22
													td $114,500
												tr
													td Prescott Bartlett
													td Technical Author
													td London
													td 27
													td 2011/05/07
													td $145,000
												tr
													td Gavin Cortez
													td Team Leader
													td San Francisco
													td 22
													td 2008/10/26
													td $235,500
												tr
													td Martena Mccray
													td Post-Sales support
													td Edinburgh
													td 46
													td 2011/03/09
													td $324,050

						// Autofill Table
						div
							.layout-row.layout-spaced-bottom
								.layout-box
									.layout-box-header
										h2.layout-box-title <span>Data</span> Table - AutoFill
										+box-options

									.layout-box-body

										table#dataTableIdAutoFill.display(cellspacing='0', width='100%')
											thead
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tfoot
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tbody
												tr
													td Tiger Nixon
													td System Architect
													td Edinburgh
													td 61
													td 2011/04/25
													td $320,800
												tr
													td Garrett Winters
													td Accountant
													td Tokyo
													td 63
													td 2011/07/25
													td $170,750
												tr
													td Ashton Cox
													td Junior Technical Author
													td San Francisco
													td 66
													td 2009/01/12
													td $86,000
												tr
													td Cedric Kelly
													td Senior Javascript Developer
													td Edinburgh
													td 22
													td 2012/03/29
													td $433,060
												tr
													td Airi Satou
													td Accountant
													td Tokyo
													td 33
													td 2008/11/28
													td $162,700
												tr
													td Brielle Williamson
													td Integration Specialist
													td New York
													td 61
													td 2012/12/02
													td $372,000
												tr
													td Herrod Chandler
													td Sales Assistant
													td San Francisco
													td 59
													td 2012/08/06
													td $137,500
												tr
													td Rhona Davidson
													td Integration Specialist
													td Tokyo
													td 55
													td 2010/10/14
													td $327,900
												tr
													td Colleen Hurst
													td Javascript Developer
													td San Francisco
													td 39
													td 2009/09/15
													td $205,500
												tr
													td Sonya Frost
													td Software Engineer
													td Edinburgh
													td 23
													td 2008/12/13
													td $103,600
												tr
													td Jena Gaines
													td Office Manager
													td London
													td 30
													td 2008/12/19
													td $90,560
												tr
													td Quinn Flynn
													td Support Lead
													td Edinburgh
													td 22
													td 2013/03/03
													td $342,000
												tr
													td Charde Marshall
													td Regional Director
													td San Francisco
													td 36
													td 2008/10/16
													td $470,600
												tr
													td Haley Kennedy
													td Senior Marketing Designer
													td London
													td 43
													td 2012/12/18
													td $313,500
												tr
													td Tatyana Fitzpatrick
													td Regional Director
													td London
													td 19
													td 2010/03/17
													td $385,750
												tr
													td Michael Silva
													td Marketing Designer
													td London
													td 66
													td 2012/11/27
													td $198,500
												tr
													td Paul Byrd
													td Chief Financial Officer (CFO)
													td New York
													td 64
													td 2010/06/09
													td $725,000
												tr
													td Gloria Little
													td Systems Administrator
													td New York
													td 59
													td 2009/04/10
													td $237,500
												tr
													td Bradley Greer
													td Software Engineer
													td London
													td 41
													td 2012/10/13
													td $132,000
												tr
													td Dai Rios
													td Personnel Lead
													td Edinburgh
													td 35
													td 2012/09/26
													td $217,500
												tr
													td Jenette Caldwell
													td Development Lead
													td New York
													td 30
													td 2011/09/03
													td $345,000
												tr
													td Yuri Berry
													td Chief Marketing Officer (CMO)
													td New York
													td 40
													td 2009/06/25
													td $675,000

						// Column Reorder Table
						div
							.layout-row.layout-spaced-bottom
								.layout-box
									.layout-box-header
										h2.layout-box-title <span>Data</span> Table - Column Reorder
										+box-options

									.layout-box-body

										table#dataTableIdColReorder.display(cellspacing='0', width='100%')
											thead
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tfoot
												tr
													th Name
													th Position
													th Office
													th Age
													th Start date
													th Salary
											tbody
												tr
													td Tiger Nixon
													td System Architect
													td Edinburgh
													td 61
													td 2011/04/25
													td $320,800
												tr
													td Garrett Winters
													td Accountant
													td Tokyo
													td 63
													td 2011/07/25
													td $170,750
												tr
													td Ashton Cox
													td Junior Technical Author
													td San Francisco
													td 66
													td 2009/01/12
													td $86,000
												tr
													td Cedric Kelly
													td Senior Javascript Developer
													td Edinburgh
													td 22
													td 2012/03/29
													td $433,060
												tr
													td Airi Satou
													td Accountant
													td Tokyo
													td 33
													td 2008/11/28
													td $162,700
												tr
													td Brielle Williamson
													td Integration Specialist
													td New York
													td 61
													td 2012/12/02
													td $372,000
												tr
													td Herrod Chandler
													td Sales Assistant
													td San Francisco
													td 59
													td 2012/08/06
													td $137,500
												tr
													td Rhona Davidson
													td Integration Specialist
													td Tokyo
													td 55
													td 2010/10/14
													td $327,900
												tr
													td Colleen Hurst
													td Javascript Developer
													td San Francisco
													td 39
													td 2009/09/15
													td $205,500
												tr
													td Sonya Frost
													td Software Engineer
													td Edinburgh
													td 23
													td 2008/12/13
													td $103,600
												tr
													td Jena Gaines
													td Office Manager
													td London
													td 30
													td 2008/12/19
													td $90,560
												tr
													td Quinn Flynn
													td Support Lead
													td Edinburgh
													td 22
													td 2013/03/03
													td $342,000
												tr
													td Charde Marshall
													td Regional Director
													td San Francisco
													td 36
													td 2008/10/16
													td $470,600
												tr
													td Haley Kennedy
													td Senior Marketing Designer
													td London
													td 43
													td 2012/12/18
													td $313,500
												tr
													td Tatyana Fitzpatrick
													td Regional Director
													td London
													td 19
													td 2010/03/17
													td $385,750
												tr
													td Michael Silva
													td Marketing Designer
													td London
													td 66
													td 2012/11/27
													td $198,500
												tr
													td Paul Byrd
													td Chief Financial Officer (CFO)
													td New York
													td 64
													td 2010/06/09
													td $725,000
												tr
													td Gloria Little
													td Systems Administrator
													td New York
													td 59
													td 2009/04/10
													td $237,500
												tr
													td Bradley Greer
													td Software Engineer
													td London
													td 41
													td 2012/10/13
													td $132,000
												tr
													td Dai Rios
													td Personnel Lead
													td Edinburgh
													td 35
													td 2012/09/26
													td $217,500
												tr
													td Jenette Caldwell
													td Development Lead
													td New York
													td 30
													td 2011/09/03
													td $345,000
												tr
													td Yuri Berry
													td Chief Marketing Officer (CMO)
													td New York
													td 40
													td 2009/06/25
													td $675,000

						// Responsive Table
						div
							.layout-row.layout-spaced-bottom
								.layout-box
									.layout-box-header
										h2.layout-box-title <span>Data</span> Table - Responsive
										+box-options

									.layout-box-body

										table#dataTableIdResponsive.display.dt-responsive.nowrap(cellspacing='0', width='100%')
											thead
												tr
													th First name
													th Last name
													th Position
													th Office
													th Age
													th Start date
													th Salary
													th Extn.
													th E-mail
											tbody
												tr
													td Tiger
													td Nixon
													td System Architect
													td Edinburgh
													td 61
													td 2011/04/25
													td $320,800
													td 5421
													td t.nixon@datatables.net
												tr
													td Garrett
													td Winters
													td Accountant
													td Tokyo
													td 63
													td 2011/07/25
													td $170,750
													td 8422
													td g.winters@datatables.net
												tr
													td Ashton
													td Cox
													td Junior Technical Author
													td San Francisco
													td 66
													td 2009/01/12
													td $86,000
													td 1562
													td a.cox@datatables.net
												tr
													td Cedric
													td Kelly
													td Senior Javascript Developer
													td Edinburgh
													td 22
													td 2012/03/29
													td $433,060
													td 6224
													td c.kelly@datatables.net
												tr
													td Airi
													td Satou
													td Accountant
													td Tokyo
													td 33
													td 2008/11/28
													td $162,700
													td 5407
													td a.satou@datatables.net
												tr
													td Brielle
													td Williamson
													td Integration Specialist
													td New York
													td 61
													td 2012/12/02
													td $372,000
													td 4804
													td b.williamson@datatables.net
												tr
													td Herrod
													td Chandler
													td Sales Assistant
													td San Francisco
													td 59
													td 2012/08/06
													td $137,500
													td 9608
													td h.chandler@datatables.net
												tr
													td Rhona
													td Davidson
													td Integration Specialist
													td Tokyo
													td 55
													td 2010/10/14
													td $327,900
													td 6200
													td r.davidson@datatables.net
												tr
													td Colleen
													td Hurst
													td Javascript Developer
													td San Francisco
													td 39
													td 2009/09/15
													td $205,500
													td 2360
													td c.hurst@datatables.net
												tr
													td Sonya
													td Frost
													td Software Engineer
													td Edinburgh
													td 23
													td 2008/12/13
													td $103,600
													td 1667
													td s.frost@datatables.net
												tr
													td Jena
													td Gaines
													td Office Manager
													td London
													td 30
													td 2008/12/19
													td $90,560
													td 3814
													td j.gaines@datatables.net
												tr
													td Quinn
													td Flynn
													td Support Lead
													td Edinburgh
													td 22
													td 2013/03/03
													td $342,000
													td 9497
													td q.flynn@datatables.net
												tr
													td Charde
													td Marshall
													td Regional Director
													td San Francisco
													td 36
													td 2008/10/16
													td $470,600
													td 6741
													td c.marshall@datatables.net
												tr
													td Haley
													td Kennedy
													td Senior Marketing Designer
													td London
													td 43
													td 2012/12/18
													td $313,500
													td 3597
													td h.kennedy@datatables.net
												tr
													td Tatyana
													td Fitzpatrick
													td Regional Director
													td London
													td 19
													td 2010/03/17
													td $385,750
													td 1965
													td t.fitzpatrick@datatables.net
												tr
													td Michael
													td Silva
													td Marketing Designer
													td London
													td 66
													td 2012/11/27
													td $198,500
													td 1581
													td m.silva@datatables.net
												tr
													td Paul
													td Byrd
													td Chief Financial Officer (CFO)
													td New York
													td 64
													td 2010/06/09
													td $725,000
													td 3059
													td p.byrd@datatables.net
												tr
													td Gloria
													td Little
													td Systems Administrator
													td New York
													td 59
													td 2009/04/10
													td $237,500
													td 1721
													td g.little@datatables.net
												tr
													td Bradley
													td Greer
													td Software Engineer
													td London
													td 41
													td 2012/10/13
													td $132,000
													td 2558
													td b.greer@datatables.net
												tr
													td Dai
													td Rios
													td Personnel Lead
													td Edinburgh
													td 35
													td 2012/09/26
													td $217,500
													td 2290
													td d.rios@datatables.net
												tr
													td Jenette
													td Caldwell
													td Development Lead
													td New York
													td 30
													td 2011/09/03
													td $345,000
													td 1937
													td j.caldwell@datatables.net
												tr
													td Yuri
													td Berry
													td Chief Marketing Officer (CMO)
													td New York
													td 40
													td 2009/06/25
													td $675,000
													td 6154
													td y.berry@datatables.net
												tr
													td Caesar
													td Vance
													td Pre-Sales Support
													td New York
													td 21
													td 2011/12/12
													td $106,450
													td 8330
													td c.vance@datatables.net
												tr
													td Doris
													td Wilder
													td Sales Assistant
													td Sidney
													td 23
													td 2010/09/20
													td $85,600
													td 3023
													td d.wilder@datatables.net
												tr
													td Angelica
													td Ramos
													td Chief Executive Officer (CEO)
													td London
													td 47
													td 2009/10/09
													td $1,200,000
													td 5797
													td a.ramos@datatables.net
												tr
													td Gavin
													td Joyce
													td Developer
													td Edinburgh
													td 42
													td 2010/12/22
													td $92,575
													td 8822
													td g.joyce@datatables.net
												tr
													td Jennifer
													td Chang
													td Regional Director
													td Singapore
													td 28
													td 2010/11/14
													td $357,650
													td 9239
													td j.chang@datatables.net
												tr
													td Brenden
													td Wagner
													td Software Engineer
													td San Francisco
													td 28
													td 2011/06/07
													td $206,850
													td 1314
													td b.wagner@datatables.net
												tr
													td Fiona
													td Green
													td Chief Operating Officer (COO)
													td San Francisco
													td 48
													td 2010/03/11
													td $850,000
													td 2947
													td f.green@datatables.net
												tr
													td Shou
													td Itou
													td Regional Marketing
													td Tokyo
													td 20
													td 2011/08/14
													td $163,000
													td 8899
													td s.itou@datatables.net


			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right


//- ------------------------------------
//- FOOT SCRIPTS JQUERY
//- ------------------------------------
append foot-scripts-specific
	script(src="js/plugins/table/dataTables.autoFill.min.js")
	script(src="js/plugins/table/dataTables.colReorder.min.js")
	script(src="js/plugins/table/dataTables.colVis.min.js")
	script(src="js/plugins/table/dataTables.responsive.min.js")