//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "ui-grid.html"
	- var page = "ui.u-grid"
	- var pageSubTitle = " - Ui Elements - Grid Systems"


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Grid Systems</span>
				+breadcrumb(bread_ui_grids)

			.layout-spaced.show-grid
				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Bootstrap</span> Grid System
						+box-options

					.layout-box-body.container-fluid.layout-spaced-horizontal
						h4.sep-bottom.bs-sep Basic Layout
						.row
							.col-lg-1.col-md-1.col-sm-1.col-xs-1
								.visible-xl-block .col-lg-1
								.visible-lg-block .col-lg-1
								.visible-md-block .col-md-1
								.visible-sm-block .col-sm-1
								.visible-xs-block .col-xs-1

							.col-lg-11.col-md-11.col-sm-11.col-xs-11
								.visible-xl-block .col-lg-11
								.visible-lg-block .col-lg-11
								.visible-md-block .col-md-11
								.visible-sm-block .col-sm-11
								.visible-xs-block .col-xs-11

						.row
							.col-lg-2.col-md-2.col-sm-2.col-xs-2
								.visible-xl-block .col-lg-2
								.visible-lg-block .col-lg-2
								.visible-md-block .col-md-2
								.visible-sm-block .col-sm-2
								.visible-xs-block .col-xs-2

							.col-lg-10.col-md-10.col-sm-10.col-xs-10
								.visible-xl-block .col-lg-10
								.visible-lg-block .col-lg-10
								.visible-md-block .col-md-10
								.visible-sm-block .col-sm-10
								.visible-xs-block .col-xs-10

						.row
							.col-lg-3.col-md-3.col-sm-3.col-xs-3
								.visible-xl-block .col-lg-3
								.visible-lg-block .col-lg-3
								.visible-md-block .col-md-3
								.visible-sm-block .col-sm-3
								.visible-xs-block .col-xs-3

							.col-lg-9.col-md-9.col-sm-9.col-xs-9
								.visible-xl-block .col-lg-9
								.visible-lg-block .col-lg-9
								.visible-md-block .col-md-9
								.visible-sm-block .col-sm-9
								.visible-xs-block .col-xs-9

						.row
							.col-lg-4.col-md-4.col-sm-4.col-xs-4
								.visible-xl-block .col-lg-4
								.visible-lg-block .col-lg-4
								.visible-md-block .col-md-4
								.visible-sm-block .col-sm-4
								.visible-xs-block .col-xs-4

							.col-lg-8.col-md-8.col-sm-8.col-xs-8
								.visible-xl-block .col-lg-8
								.visible-lg-block .col-lg-8
								.visible-md-block .col-md-8
								.visible-sm-block .col-sm-8
								.visible-xs-block .col-xs-8

						.row
							.col-lg-5.col-md-5.col-sm-5.col-xs-5
								.visible-xl-block .col-lg-5
								.visible-lg-block .col-lg-5
								.visible-md-block .col-md-5
								.visible-sm-block .col-sm-5
								.visible-xs-block .col-xs-5

							.col-lg-7.col-md-7.col-sm-7.col-xs-7
								.visible-xl-block .col-lg-7
								.visible-lg-block .col-lg-7
								.visible-md-block .col-md-7
								.visible-sm-block .col-sm-7
								.visible-xs-block .col-xs-7

						.row
							.col-lg-6.col-md-6.col-sm-6.col-xs-6
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-6

							.col-lg-6.col-md-6.col-sm-6.col-xs-6
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-6

						h4.sep-bottom.bs-sep 2 Column Example

						.row.t-col-2-example
							.col-xl-6.col-lg-7.col-md-6.col-sm-8.col-xs-3
								.visible-xl-block  No .col-xl-... column
								.visible-lg-block .col-lg-7
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-8
								.visible-xs-block .col-xs-3
							.col-xl-6.col-lg-5.col-md-6.col-sm-4.col-xs-9
								.visible-xl-block in Bootstrap
								.visible-lg-block .col-lg-5
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-4
								.visible-xs-block .col-xs-9

						h4.sep-bottom.bs-sep 3 Column Examples
						.row.t-col-3-example
							.col-lg-2.col-md-5.col-sm-6.col-xs-3
								.visible-xl-block .col-lg-2
								.visible-lg-block .col-lg-2
								.visible-md-block .col-md-5
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-3
							.col-lg-5.col-md-6.col-sm-4.col-xs-5
								.visible-xl-block .col-lg-5
								.visible-lg-block .col-lg-5
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-4
								.visible-xs-block .col-xs-5
							.col-lg-5.col-md-1.col-sm-2.col-xs-4
								.visible-xl-block .col-lg-5
								.visible-lg-block .col-lg-5
								.visible-md-block .col-md-1
								.visible-sm-block .col-sm-2
								.visible-xs-block .col-xs-4

						hr.mb.mt-0
						.row.t-col-3-example
							.col-lg-6.col-md-12.col-sm-6.col-xs-12
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-12
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-12
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-12
							.col-lg-12.col-md-6.col-sm-12.col-xs-12
								.visible-xl-block .col-lg-12
								.visible-lg-block .col-lg-12
								.visible-md-block .col-md-6
								.visible-sm-block .col-sm-12
								.visible-xs-block .col-xs-12

						h4.sep-bottom.bs-sep 4 Column Example
						.row.t-col-4-example
							.col-lg-6.col-md-7.col-sm-6.col-xs-3
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-7
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-3
							.col-lg-6.col-md-5.col-sm-6.col-xs-3
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-5
								.visible-sm-block .col-sm-6
								.visible-xs-block .col-xs-3
							.col-lg-6.col-md-8.col-sm-12.col-xs-6
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-8
								.visible-sm-block .col-sm-12
								.visible-xs-block .col-xs-6
							.col-lg-6.col-md-4.col-sm-12.col-xs-12
								.visible-xl-block .col-lg-6
								.visible-lg-block .col-lg-6
								.visible-md-block .col-md-4
								.visible-sm-block .col-sm-12
								.visible-xs-block .col-xs-12


				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Ason</span> Grid System <span>with Gutter</span>
						+box-options

					.layout-box-body.layout-spaced-horizontal
						h4.sep-bottom Basic Layout
						.layout-row
							.layout-col-lg-1.layout-col-md-1.layout-col-sm-1.layout-col-xs-1
								.visible-xl-block .layout-col-xl-1
								.visible-lg-block .layout-col-lg-1
								.visible-md-block .layout-col-md-1
								.visible-sm-block .layout-col-sm-1
								.visible-xs-block .layout-col-xs-1

							.layout-col-lg-11.layout-col-md-11.layout-col-sm-11.layout-col-xs-11
								.visible-xl-block .layout-col-xl-11
								.visible-lg-block .layout-col-lg-11
								.visible-md-block .layout-col-md-11
								.visible-sm-block .layout-col-sm-11
								.visible-xs-block .layout-col-xs-11

						.layout-row
							.layout-col-lg-2.layout-col-md-2.layout-col-sm-2.layout-col-xs-2
								.visible-xl-block .layout-col-xl-2
								.visible-lg-block .layout-col-lg-2
								.visible-md-block .layout-col-md-2
								.visible-sm-block .layout-col-sm-2
								.visible-xs-block .layout-col-xs-2

							.layout-col-lg-10.layout-col-md-10.layout-col-sm-10.layout-col-xs-10
								.visible-xl-block .layout-col-xl-10
								.visible-lg-block .layout-col-lg-10
								.visible-md-block .layout-col-md-10
								.visible-sm-block .layout-col-sm-10
								.visible-xs-block .layout-col-xs-10

						.layout-row
							.layout-col-lg-3.layout-col-md-3.layout-col-sm-3.layout-col-xs-3
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-3
								.visible-md-block .layout-col-md-3
								.visible-sm-block .layout-col-sm-3
								.visible-xs-block .layout-col-xs-3

							.layout-col-lg-9.layout-col-md-9.layout-col-sm-9.layout-col-xs-9
								.visible-xl-block .layout-col-xl-9
								.visible-lg-block .layout-col-lg-9
								.visible-md-block .layout-col-md-9
								.visible-sm-block .layout-col-sm-9
								.visible-xs-block .layout-col-xs-9

						.layout-row
							.layout-col-lg-4.layout-col-md-4.layout-col-sm-4.layout-col-xs-4
								.visible-xl-block .layout-col-xl-4
								.visible-lg-block .layout-col-lg-4
								.visible-md-block .layout-col-md-4
								.visible-sm-block .layout-col-sm-4
								.visible-xs-block .layout-col-xs-4

							.layout-col-lg-8.layout-col-md-8.layout-col-sm-8.layout-col-xs-8
								.visible-xl-block .layout-col-xl-8
								.visible-lg-block .layout-col-lg-8
								.visible-md-block .layout-col-md-8
								.visible-sm-block .layout-col-sm-8
								.visible-xs-block .layout-col-xs-8

						.layout-row
							.layout-col-lg-5.layout-col-md-5.layout-col-sm-5.layout-col-xs-5
								.visible-xl-block .layout-col-xl-5
								.visible-lg-block .layout-col-lg-5
								.visible-md-block .layout-col-md-5
								.visible-sm-block .layout-col-sm-5
								.visible-xs-block .layout-col-xs-5

							.layout-col-lg-7.layout-col-md-7.layout-col-sm-7.layout-col-xs-7
								.visible-xl-block .layout-col-xl-7
								.visible-lg-block .layout-col-lg-7
								.visible-md-block .layout-col-md-7
								.visible-sm-block .layout-col-sm-7
								.visible-xs-block .layout-col-xs-7

						.layout-row
							.layout-col-lg-6.layout-col-md-6.layout-col-sm-6.layout-col-xs-6
								.visible-xl-block .layout-col-xl-6
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-6

							.layout-col-lg-6.layout-col-md-6.layout-col-sm-6.layout-col-xs-6
								.visible-xl-block .layout-col-xl-6
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-6

						h4.sep-bottom 2 Column Example
						.layout-row.t-col-2-example
							.layout-col-xl-2.layout-col-lg-7.layout-col-md-6.layout-col-sm-8.layout-col-xs-3
								.visible-xl-block .layout-col-xl-2
								.visible-lg-block .layout-col-lg-7
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-8
								.visible-xs-block .layout-col-xs-3
							.layout-col-xl-10.layout-col-lg-5.layout-col-md-6.layout-col-sm-4.layout-col-xs-9
								.visible-xl-block .layout-col-xl-10
								.visible-lg-block .layout-col-lg-5
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-4
								.visible-xs-block .layout-col-xs-9


						h4.sep-bottom 3 Column Examples
						.layout-row.t-col-3-example
							.layout-col-xl-2.layout-col-lg-2.layout-col-md-5.layout-col-sm-6.layout-col-xs-3
								.visible-xl-block .layout-col-xl-2
								.visible-lg-block .layout-col-lg-2
								.visible-md-block .layout-col-md-5
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-3
							.layout-col-xl-8.layout-col-lg-5.layout-col-md-6.layout-col-sm-4.layout-col-xs-5
								.visible-xl-block .layout-col-xl-8
								.visible-lg-block .layout-col-lg-5
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-4
								.visible-xs-block .layout-col-xs-5
							.layout-col-xl-2.layout-col-lg-5.layout-col-md-1.layout-col-sm-2.layout-col-xs-4
								.visible-xl-block .layout-col-xl-2
								.visible-lg-block .layout-col-lg-5
								.visible-md-block .layout-col-md-1
								.visible-sm-block .layout-col-sm-2
								.visible-xs-block .layout-col-xs-4

						hr.mb.mt-0
						.layout-row.t-col-3-example
							.layout-col-xl-6.layout-col-lg-6.layout-col-md-12.layout-col-sm-6.layout-col-xs-12
								.visible-xl-block .layout-col-xl-6
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-12
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-12
							.layout-col-xl-3.layout-col-lg-6.layout-col-md-6.layout-col-sm-6.layout-col-xs-12.layout-clear-lg.layout-clear-sm
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-12
							.layout-col-xl-3.layout-col-lg-12.layout-col-md-6.layout-col-sm-12.layout-col-xs-12
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-12
								.visible-md-block .layout-col-md-6
								.visible-sm-block .layout-col-sm-12
								.visible-xs-block .layout-col-xs-12

						h4.sep-bottom 4 Column Example
						.layout-row.t-col-4-example
							.layout-col-xl-3.layout-col-lg-6.layout-col-md-7.layout-col-sm-6.layout-col-xs-3
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-7
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-3
							.layout-col-xl-3.layout-col-lg-6.layout-col-md-5.layout-col-sm-6.layout-col-xs-3.layout-clear-md.layout-clear-lg.layout-clear-sm
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-5
								.visible-sm-block .layout-col-sm-6
								.visible-xs-block .layout-col-xs-3
							.layout-col-xl-3.layout-col-lg-6.layout-col-md-8.layout-col-sm-12.layout-col-xs-6.layout-clear-xs
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-8
								.visible-sm-block .layout-col-sm-12
								.visible-xs-block .layout-col-xs-6
							.layout-col-xl-3.layout-col-lg-6.layout-col-md-4.layout-col-sm-12.layout-col-xs-12
								.visible-xl-block .layout-col-xl-3
								.visible-lg-block .layout-col-lg-6
								.visible-md-block .layout-col-md-4
								.visible-sm-block .layout-col-sm-12
								.visible-xs-block .layout-col-xs-12

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Ason</span> Grid System <span> without Gutter</span>
						+box-options

					.layout-box-body.layout-spaced-horizontal

						h4.sep-bottom Basic Layout
						.layout-row
							.layout-span-lg-1.layout-span-md-1.layout-span-sm-1.layout-span-xs-1
								.visible-xl-block .layout-span-xl-1
								.visible-lg-block .layout-span-lg-1
								.visible-md-block .layout-span-md-1
								.visible-sm-block .layout-span-sm-1
								.visible-xs-block .layout-span-xs-1

							.layout-span-lg-11.layout-span-md-11.layout-span-sm-11.layout-span-xs-11
								.visible-xl-block .layout-span-xl-11
								.visible-lg-block .layout-span-lg-11
								.visible-md-block .layout-span-md-11
								.visible-sm-block .layout-span-sm-11
								.visible-xs-block .layout-span-xs-11

						.layout-row
							.layout-span-lg-2.layout-span-md-2.layout-span-sm-2.layout-span-xs-2
								.visible-xl-block .layout-span-xl-2
								.visible-lg-block .layout-span-lg-2
								.visible-md-block .layout-span-md-2
								.visible-sm-block .layout-span-sm-2
								.visible-xs-block .layout-span-xs-2

							.layout-span-lg-10.layout-span-md-10.layout-span-sm-10.layout-span-xs-10
								.visible-xl-block .layout-span-xl-10
								.visible-lg-block .layout-span-lg-10
								.visible-md-block .layout-span-md-10
								.visible-sm-block .layout-span-sm-10
								.visible-xs-block .layout-span-xs-10

						.layout-row
							.layout-span-lg-3.layout-span-md-3.layout-span-sm-3.layout-span-xs-3
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-3
								.visible-md-block .layout-span-md-3
								.visible-sm-block .layout-span-sm-3
								.visible-xs-block .layout-span-xs-3

							.layout-span-lg-9.layout-span-md-9.layout-span-sm-9.layout-span-xs-9
								.visible-xl-block .layout-span-xl-9
								.visible-lg-block .layout-span-lg-9
								.visible-md-block .layout-span-md-9
								.visible-sm-block .layout-span-sm-9
								.visible-xs-block .layout-span-xs-9

						.layout-row
							.layout-span-lg-4.layout-span-md-4.layout-span-sm-4.layout-span-xs-4
								.visible-xl-block .layout-span-xl-4
								.visible-lg-block .layout-span-lg-4
								.visible-md-block .layout-span-md-4
								.visible-sm-block .layout-span-sm-4
								.visible-xs-block .layout-span-xs-4

							.layout-span-lg-8.layout-span-md-8.layout-span-sm-8.layout-span-xs-8
								.visible-xl-block .layout-span-xl-8
								.visible-lg-block .layout-span-lg-8
								.visible-md-block .layout-span-md-8
								.visible-sm-block .layout-span-sm-8
								.visible-xs-block .layout-span-xs-8

						.layout-row
							.layout-span-lg-5.layout-span-md-5.layout-span-sm-5.layout-span-xs-5
								.visible-xl-block .layout-span-xl-5
								.visible-lg-block .layout-span-lg-5
								.visible-md-block .layout-span-md-5
								.visible-sm-block .layout-span-sm-5
								.visible-xs-block .layout-span-xs-5

							.layout-span-lg-7.layout-span-md-7.layout-span-sm-7.layout-span-xs-7
								.visible-xl-block .layout-span-xl-7
								.visible-lg-block .layout-span-lg-7
								.visible-md-block .layout-span-md-7
								.visible-sm-block .layout-span-sm-7
								.visible-xs-block .layout-span-xs-7

						.layout-row
							.layout-span-lg-6.layout-span-md-6.layout-span-sm-6.layout-span-xs-6
								.visible-xl-block .layout-span-xl-6
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-6

							.layout-span-lg-6.layout-span-md-6.layout-span-sm-6.layout-span-xs-6
								.visible-xl-block .layout-span-xl-6
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-6

						h4.sep-bottom 2 Column Example
						.layout-row.t-col-2-example
							.layout-span-xl-2.layout-span-lg-7.layout-span-md-6.layout-span-sm-8.layout-span-xs-3
								.visible-xl-block .layout-span-xl-2
								.visible-lg-block .layout-span-lg-7
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-8
								.visible-xs-block .layout-span-xs-3
							.layout-span-xl-10.layout-span-lg-5.layout-span-md-6.layout-span-sm-4.layout-span-xs-9
								.visible-xl-block .layout-span-xl-10
								.visible-lg-block .layout-span-lg-5
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-4
								.visible-xs-block .layout-span-xs-9

						h4.sep-bottom 3 Column Examples
						.layout-row.t-col-3-example
							.layout-span-xl-2.layout-span-lg-2.layout-span-md-5.layout-span-sm-6.layout-span-xs-3
								.visible-xl-block .layout-span-xl-2
								.visible-lg-block .layout-span-lg-2
								.visible-md-block .layout-span-md-5
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-3
							.layout-span-xl-8.layout-span-lg-5.layout-span-md-6.layout-span-sm-4.layout-span-xs-5
								.visible-xl-block .layout-span-xl-8
								.visible-lg-block .layout-span-lg-5
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-4
								.visible-xs-block .layout-span-xs-5
							.layout-span-xl-2.layout-span-lg-5.layout-span-md-1.layout-span-sm-2.layout-span-xs-4
								.visible-xl-block .layout-span-xl-2
								.visible-lg-block .layout-span-lg-5
								.visible-md-block .layout-span-md-1
								.visible-sm-block .layout-span-sm-2
								.visible-xs-block .layout-span-xs-4

						hr.mb.mt-0
						.layout-row.t-col-3-example
							.layout-span-xl-6.layout-span-lg-6.layout-span-md-12.layout-span-sm-6.layout-span-xs-12
								.visible-xl-block .layout-span-xl-6
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-12
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-12
							.layout-span-xl-3.layout-span-lg-6.layout-span-md-6.layout-span-sm-6.layout-span-xs-12
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-12
							.layout-span-xl-3.layout-span-lg-12.layout-span-md-6.layout-span-sm-12.layout-span-xs-12
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-12
								.visible-md-block .layout-span-md-6
								.visible-sm-block .layout-span-sm-12
								.visible-xs-block .layout-span-xs-12

						h4.sep-bottom 4 Column Example
						.layout-row.t-col-4-example
							.layout-span-xl-3.layout-span-lg-6.layout-span-md-7.layout-span-sm-6.layout-span-xs-3
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-7
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-3
							.layout-span-xl-3.layout-span-lg-6.layout-span-md-5.layout-span-sm-6.layout-span-xs-3
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-5
								.visible-sm-block .layout-span-sm-6
								.visible-xs-block .layout-span-xs-3
							.layout-span-xl-3.layout-span-lg-6.layout-span-md-8.layout-span-sm-12.layout-span-xs-6
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-8
								.visible-sm-block .layout-span-sm-12
								.visible-xs-block .layout-span-xs-6
							.layout-span-xl-3.layout-span-lg-6.layout-span-md-4.layout-span-sm-12.layout-span-xs-12
								.visible-xl-block .layout-span-xl-3
								.visible-lg-block .layout-span-lg-6
								.visible-md-block .layout-span-md-4
								.visible-sm-block .layout-span-sm-12
								.visible-xs-block .layout-span-xs-12

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right