//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "ui-icons.html"
	- var page = "ui.u-icons"
	- var pageSubTitle = " - UI Elements - Icons"
	- var styles = [ 'font.icomoon', 'font.stroke-gap', 'font.simple-line' ]
	- var scripts = [ 'tabs.easyResponsiveTabs', 'x.call.ui.icons' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Icons</span>
				+breadcrumb(bread_ui_icons)

			.layout-spaced
				// Icon Tabs
				#icons
					ul.resp-tabs-list
						li Fontawesome Icons
						li Glyphicons
						li Icomoon Icons
						li Stroke Gap Icons
						li Simple Line Icons
					div.resp-tabs-container
						div
							include components/modules/icons/fontawesome

						div
							include components/modules/icons/glyphicons

						div
							include components/modules/icons/icomoon

						div
							include components/modules/icons/strokegap

						div
							include components/modules/icons/simpleline

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right