//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "ui-map.html"
	- var page = "ui.u-map"
	- var pageSubTitle = " - UI Elements - Maps"
	- var scripts = [ 'maps.gmaps', 'x.call.ui.map' ]


//- ------------------------------------
//- FOOT SCRIPTS SEMI GENERAL
//- ------------------------------------
append   foot-scripts-semi-general
	script(src="http://maps.google.com/maps/api/js?sensor=true")


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Maps</span>
				+breadcrumb(bread_ui_map)

			.layout-spaced

				.layout-row

					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title <span>Basic</span> Google Map
							+box-options

						.layout-box-body.layout-spaced
							#gmap_1.map-container

					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title <span>Static</span> Google Map
							+box-options

						.layout-box-body.layout-spaced

							#gmap_4.map-container

				.layout-row

					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title Google Map <span>with Overlay</span>
							+box-options

						.layout-box-body.layout-spaced
							#gmap_3.map-container

					.layout-box.layout-col-md-6.layout-spaced-bottom
						.layout-box-header
							h2.layout-box-title Google Map <span>with Marker</span>
							+box-options

						.layout-box-body.layout-spaced
							#gmap_2.map-container



			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right