//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "ui-progressbar.html"
	- var page = "ui.u-progressbar"
	- var pageSubTitle = " - UI Elements - Progressbars"


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Progressbars</span>
				+breadcrumb(bread_ui_progressbar)

			.layout-spaced
				//Progressbars - bootstrap
				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Bootstrap</span> Progressbars
						+box-options

					.layout-box-body.layout-spaced

						h4.sep-bottom Basic
						.progress
							.progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%;')
								span.sr-only 45% Complete

						h4.sep-bottom With label
						.progress
							.progress-bar(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100', style='width: 55%;')
								| 55%

						h4.sep-bottom Stacked
						.progress
							.progress-bar.progress-bar-success(style='width: 25%')
								span.sr-only 25% Complete (success)
							.progress-bar.progress-bar-warning(style='width: 35%')
								span.sr-only 35% Complete (warning)
							.progress-bar.progress-bar-danger(style='width: 20%')
								span.sr-only 20% Complete (danger)


						h4.sep-bottom Colored, Striped and Animated
						.progress
							.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')
								span.sr-only 10% Complete (default)
						.progress
							.progress-bar.progress-bar-striped.active.progress-bar-primary(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
								span.sr-only 20% Complete (primary)
						.progress
							.progress-bar.progress-bar-striped.active.progress-bar-success(role='progressbar', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100', style='width: 30%')
								span.sr-only 30% Complete (success)
						.progress
							.progress-bar.progress-bar-striped.active.progress-bar-info(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
								span.sr-only 40% Complete (info)
						.progress
							.progress-bar.progress-bar-striped.active.progress-bar-warning(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%')
								span.sr-only 50% Complete (warning)
						.progress
							.progress-bar.progress-bar-striped.active.progress-bar-danger(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
								span.sr-only 60% Complete (danger)
						.progress
							.progress-bar.progress-bar-striped.active.progress-bar-dark(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%')
								span.sr-only 70% Complete (dark)


				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Size</span>
						+box-options

					.layout-box-body.layout-spaced
						.progress.progress-mini
							.progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
								span.sr-only 20% Complete

						.progress.progress-small
							.progress-bar(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
								span.sr-only 40% Complete

						.progress.progress-medium
							.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
								span.sr-only 60% Complete

						.progress.progress-large
							.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
								span.sr-only 80% Complete

				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Radius</span>
						+box-options

					.layout-box-body.layout-spaced
						.progress.progress-radius-0
							.progress-bar(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%;')
								span.sr-only 10% Complete

						.progress.progress-radius-2
							.progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
								span.sr-only 20% Complete

						.progress.progress-radius-4
							.progress-bar(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
								span.sr-only 40% Complete

						.progress.progress-radius-6
							.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
								span.sr-only 60% Complete

						.progress.progress-radius-8
							.progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
								span.sr-only 80% Complete

						.progress.progress-radius-10
							.progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
								span.sr-only 90% Complete

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right