//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "ui-page-progressbar-8.html"
	- var page = "ui.u-page-progressbar"
	- var pageSubTitle = " - UI Elements - Page Progressbars"
	- var scripts = [ 'x.call.ui.pageprogressbar' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Page Progressbars</span>
				+breadcrumb(bread_ui_page_progressbar)

			.layout-spaced

				include components/modules/doc/ui-page-progressbar-doc

				//Page Progressbars
				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title <span>Effects</span>

					.layout-box-body.layout-spaced.lh-2-4

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Minimal
							.layout-col-sm-4
								code .pace-effect-1
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Flash
							.layout-col-sm-4
									code .pace-effect-2
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-2.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Barber Shop
							.layout-col-sm-4
								code .pace-effect-3
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-3.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Fill Left
							.layout-col-sm-4
								code .pace-effect-4
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-4.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Big Counter
							.layout-col-sm-4
								code .pace-effect-5
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-5.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Corner Indicator
							.layout-col-sm-4
								code .pace-effect-6
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-6.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Bounce
							.layout-col-sm-4
								code .pace-effect-7
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-7.html') Show Effect

						.layout-row.layout-box.p-10.pace-active-effect
							.layout-col-sm-4 Loading Bar
							.layout-col-sm-4
								code .pace-effect-8
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-8.html') Show Effect

						.layout-row.layout-box.p-10
							.layout-col-sm-4 Center Simple
							.layout-col-sm-4
								code .pace-effect-9
							.layout-col-sm-4
								a.btn.btn-default(href='ui-page-progressbar-9.html') Show Effect


			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right

//- ------------------------------------
//- FOOT SCRIPTS SEMI GENERAL
//- ------------------------------------
prepend foot-scripts-semi-general
	// Semi general preconfig
	script(type='text/javascript').
		paceSpecific = {class: 'pace-effect-8' }

