//- ------------------------------------
//- BASE LAYOUT
//- ------------------------------------
extends aaa-master-layout


//- ------------------------------------
//- PAGE CONFIGURATION
//- ------------------------------------
prepend config
	- var link = "ui-spinner.html"
	- var page = "ui.u-spinner"
	- var pageSubTitle = " - UI Elements - Spinners"
	- var scripts = [ 'x.call.ui.spinners' ]


//- ------------------------------------
//- PAGE CONTENT
//- ------------------------------------
block content

	//SECTION
	section.layout-main-container

		include components/layout/sidebar/sidebar_1/sidebar_1__t_1__left

		//Main Content
		section.layout-container

			include components/layout/header/header_1/header_1__t_1

			.layout-page-header
				h2.layout-page-title <span>Spinners</span>
				+breadcrumb(bread_ui_spinner)

			.layout-spaced
				.layout-box.layout-spaced-bottom
					.layout-box-header
						h2.layout-box-title Spinner <span>Types</span>
						+box-options

					.layout-box-body.layout-spaced

						// Row 1
						.layout-row

							.layout-col-lg-3.layout-col-md-6.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.no-overlay
									.layout-box-body.spinner.no-overlay Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-lg-3.layout-col-md-6.layout-spaced-bottom.layout-clear-md
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner
									.layout-box-body.spinner Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-lg-3.layout-col-md-6.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.bar
									.layout-box-body.spinner.bar Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-lg-3.layout-col-md-6.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.blade
									.layout-box-body.spinner.blade Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.


						// Row 2
						.layout-row

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.double-up
									.layout-box-body.spinner.double-up Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom.layout-clear-md
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.duo
									.layout-box-body.spinner.duo Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.helicopter
									.layout-box-body.spinner.helicopter Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.ringed
									.layout-box-body.spinner.ringed Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.


						// Row 3
						.layout-row.layout-spaced-bottom

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.line
									.layout-box-body.spinner.line Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom.layout-clear-md
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.line.grow
									.layout-box-body.spinner.line.grow Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.line.back-and-forth
									.layout-box-body.spinner.line.back-and-forth Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.line.back-and-forth.grow
									.layout-box-body.spinner.line.back-and-forth.grow Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.


						// Row 4
						.layout-row.layout-spaced-bottom

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.shadow
									.layout-box-body.spinner.shadow Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom.layout-clear-md
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.shadow.oval
									.layout-box-body.spinner.shadow.oval Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.shadow.oval.right
									.layout-box-body.spinner.shadow.oval.right Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.traditional
									.layout-box-body.spinner.traditional Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.


						// Row 5
						.layout-row.layout-spaced-bottom

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.sphere
									.layout-box-body.spinner.sphere Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom.layout-clear-md
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.sphere.vertical
									.layout-box-body.spinner.sphere.vertical Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.dashed
									.layout-box-body.spinner.dashed Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.dashed.thick
									.layout-box-body.spinner.dashed.thick Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

						// Row 6
						.layout-row.layout-spaced-bottom

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.audiowave
									.layout-box-body.spinner.audiowave Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom.layout-clear-md
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.snake
									.layout-box-body.spinner.snake Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.spinningdisc
									.layout-box-body.spinner.spinningdisc Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

							.layout-col-md-6.layout-col-lg-3.layout-spaced-bottom
								.layout-box.spinner-helper
									.layout-box-header
										h2.layout-box-title .spinner.glisteningwindow
									.layout-box-body.spinner.glisteningwindow Bushwick freegan master cleanse mlkshk. Small batch cliche yr, pork belly trust fund wolf Portland cred forage bespoke Cosby sweater occupy.

			include components/layout/footer/footer_1/footer_1__t_1

		include components/layout/sidebar/sidebar_2/sidebar_2__t_2__right

