
//Left Sidebar Content
aside#sb-left.layout-sidebar.layout-sidebar-1.t-sidebar-1

	//Switcher
	.layout-side-box
		a.sidebar-switcher.switcher.t-switcher-side.ason-widget(
			href = '#',
			data-ason-type="sidebar",
			data-ason-to-sm="sidebar",
			data-ason-target="#sb-left")
				i.fa.fa-bars

	.layout-side-box
		include ../../../widgets/widget_logo/logo_in_side

	//Main Menu
	.layout-side-box

		include ../../nav/nav