
//Right Sidebar Content 2
aside#sb-right-2.layout-sidebar.layout-sidebar-collapsed-right.t-sidebar-1

	//Switcher
	.layout-side-box
		a.switcher.t-switcher-side(href = '#').ason-widget(
			data-ason-type="sidebar",
			data-ason-sidebar="layout-sidebar-3",
			data-ason-on-all="hidden",
			data-ason-to-all="sidebar",
			data-ason-anim-all=['velocity', null, 'transition.slideRightBigIn'],
			data-ason-target="#sb-right")
				i.fa.fa-cog

	// Stats
	.layout-side-box
		include ../../../widgets/widget_stat_2/stat_2_in_side

