
//Right Sidebar Content
aside#sb-right.layout-sidebar.layout-sidebar-1.t-sidebar-1

	//Switcher
	.layout-side-box
		a.switcher.t-switcher-side(href = '#').ason-widget(
			data-ason-type="sidebar",
			data-ason-to-sm="sidebar",
			data-ason-is-right="true",
			data-ason-target="#sb-right")
				i.fa.fa-bars


	.layout-side-box
		include ../../../widgets/widget_logo/logo_in_side


	//Main Menu
	.layout-side-box

		include ../../nav/nav