
//Left Sidebar Content
aside#slide-right.layout-slidebar.layout-slidebar-right-1.t-sidebar-1
	.ason-widget(data-ason-type="scrollbar", data-ason-max-height="100%")

		.layout-side-box
			include ../../../widgets/widget_logo/logo_in_side


		//Main Menu
		.layout-side-box

			include ../../nav/nav