
//Left Sidebar Content
aside#slide-left.layout-slidebar.layout-slidebar-left-1.t-sidebar-1

	.layout-side-box
		include ../../../widgets/widget_logo/logo_in_side

	//Main Menu
	.layout-side-box

		include ../../nav/nav