/*
    Box Containers
    ========================================================================== */

/*
    Box
    ------------------------------------- */

    .layout-box{
        position: relative;
    }

    .layout-box-header{
		min-height: $box-min-height;
		@include group;
    }

    .layout-box-title{
		float: left;
        padding: 10px;
        margin: 0;
        @include font-size(16px);

        span{
			font-family: font-family(bold);
        }
    }

    .layout-box-options{
		float: right;
        position: absolute;
        right: 10px;
        top: 10px;

        @include font-size(11px);  

        li{
            display: inline-block;
        }

        a{
            padding:0 5px;
            opacity: 0.3;

            &:hover{
                opacity: 1;
            }
        }
    }

    .layout-box-body{

    }

	.layout-box-footer{
		min-height: $box-min-height;
		@include group;
	}

    // Box Types

/*
    Side Box
    ------------------------------------- */

    .layout-side-box{
		@include group;
		padding-bottom: $s-gutter-p;
    }


/*
    Panels
    ------------------------------------- */

	.panel{
		@include box-shadow(none);
	}

//  Media Queries
//  ==========================================================================

    @include breakpoint($screen-lg-maxx){

    }

	@include breakpoint($screen-md-maxx){

    }

	@include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }


