/*
    Footer
    ========================================================================== */

/*
	Default styles
	-------------------------------------  */

    .layout-footer{ width: 100%; @include group; }

	@include make-footers;

/*
	Slide styles
	-------------------------------------  */

	.layout-footer-slide{
		left: 0;
		overflow-x: auto;
		position: fixed;
		width: 100%;
		z-index: 50;
	}


	.layout-footer-slide-open { bottom: 0px; }

//  Theme
//  ==========================================================================

	.t-footer-1{
//		position: relative;
//		z-index: 10;
//		@include group;
	}

	.t-footer-slide-1{
		z-index: 150;
	}

//  Media Queries
//  ==========================================================================

	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
