/*
    Grid system
    ========================================================================== */

	.bs-sep{ margin: 25px -15px 12px !important; }

	.layout-row{ @include group; }

    @include make-l-col-grid(xs);
    @include make-l-span-grid(xs);

	.layout-clear-xs{ margin-right: 0; }

	.show-grid [class^=col-],
	.show-grid [class^=l-col-],
	.show-grid [class^=l-span-] {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: $s-gutter-p;
	}

//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-sm-min){

		@include make-l-col-grid(sm);
		@include make-l-span-grid(sm);

		.layout-clear-sm{ margin-right: 0; }
	}

	@include breakpoint($screen-md-min){

		@include make-l-col-grid(md);
		@include make-l-span-grid(md);

		.layout-clear-md{ margin-right: 0; }
	}

	@include breakpoint($screen-lg-min){

		@include make-l-col-grid(lg);
		@include make-l-span-grid(lg);

		.layout-clear-lg{ margin-right: 0; }
	}

	@include breakpoint($screen-xl-min){

		@include make-l-col-grid(xl);
		@include make-l-span-grid(xl);

		.layout-clear-xl{ margin-right: 0; }
	}