/*
    Header
    ========================================================================== */

/*
	Default styles
	-------------------------------------  */

    .layout-header{ width: 100%; @include group; }

	@include make-headers;

/*
	Slide styles
	-------------------------------------  */

	.layout-header-slide{
		left: 0;
		// overflow-x: auto; // Uncomment if you need overflow
		position: fixed;
		width: 100%;
		z-index: 50;
	}

	.layout-header-slide-open { top: 0px; }


//  Theme
//  ==========================================================================

	.t-header-1{
		position: relative;
		z-index: 15;
	}

	.t-header-slide-1{
		z-index: 150;
	}


//  Media Queries
//  ==========================================================================

	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}


