/*
    Page Layouts - General Containers for Site Layout
    ========================================================================== */

/*
	Main Containers
	-------------------------------------  */
	.layout-main-container{
		display: table;
		position: relative;
		height: 100%;
		width: 100%;
		table-layout: fixed;
	}

	.layout-container{
		display: table-cell;
		width: 100%;
		height: 100%;
	}


/*
	Boxed Layout
	-------------------------------------  */

    // assigned to 'body' tag
    .layout-boxed{
        @include center($container-xl, $container-padding);
    }

    .section-title{

        .view-all{
            float: right;
        }

        .slider-nav{
            float: right;
            li{
                display: inline-block;
            }
        }
    }

/*
	Slide - Header, Footer, Side - Push Helper
	-------------------------------------  */

	.layout-slide-push {
		overflow-x: hidden;
		position: relative;
		left: 0;
	}

/*
	Animation
	-------------------------------------  */
	.anim-off{ display: none; }



/*
    Element Spacing
    ------------------------------------- */

	/* Margin */
    .layout-spaced              { margin:        $s-gutter-p; }
    .layout-spaced-left         { margin-left:   $s-gutter-p; }
    .layout-spaced-right        { margin-right:  $s-gutter-p; }
    .layout-spaced-top          { margin-top:    $s-gutter-p; }
    .layout-spaced-bottom       { margin-bottom: $s-gutter-p; }
    .layout-spaced-half         { margin:        $s-gutter-half-p; }

	.layout-spaced-vertical     { margin-top:	$s-gutter-p; margin-bottom: $s-gutter-p; }
	.layout-spaced-horizontal   { margin-left:   $s-gutter-p; margin-right:  $s-gutter-p; }

	/* Padding */
    .layout-spaced-p            { padding:        $s-gutter-p; }
    .layout-spaced-p-left       { padding-left:   $s-gutter-p; }
    .layout-spaced-p-right      { padding-right:  $s-gutter-p; }
    .layout-spaced-p-top        { padding-top:    $s-gutter-p; }
    .layout-spaced-p-bottom     { padding-bottom: $s-gutter-p; }
    .layout-spaced-p-half       { padding:        $s-gutter-half-p; }

	.layout-spaced-p-vertical   { padding-top:	 $s-gutter-p; padding-bottom: $s-gutter-p; }
	.layout-spaced-p-horizontal { padding-left:   $s-gutter-p; padding-right:  $s-gutter-p; }


/*
    Page Heading
    ------------------------------------- */
    .layout-page-header{
        padding: 0 $s-gutter-p;
        @include clearfix;
    }

	.layout-page-title{

		font-family: font-family(light);

		span{
			font-family: font-family(bold);
		}
	}

/*
    Scroll Up
    ------------------------------------- */
	#scrollUp-active{ display: none; }

	#scrollUp{
		position: fixed;
		right: 20px;
		bottom: 43px;
		z-index: 100;
		text-align: center;
		opacity: 0.6;
		padding: 10px 15px;
		display: block;

		@include font-size(16px);
		@include border-radius($s-radius);


		&:hover{ opacity: 0.8; }

	}


//  Media Queries
//  ==========================================================================

    @include breakpoint($screen-lg-maxx){
        .layout-boxed{
            @include center($container-lg, $container-padding);
        }
    }

	@include breakpoint($screen-md-maxx){
		.layout-boxed{
			@include center($container-md, $container-padding);
	    }
    }

	@include breakpoint($screen-sm-maxx){
		.layout-boxed{
			@include center($container-sm, $container-padding);
	    }
    }

    @include breakpoint($screen-xs-maxx){
		.layout-container{
			overflow: hidden;
		}
    }


