//Right Sidebar Content
aside#sb-right.layout-sidebar.layout-sidebar-4.t-sidebar-1
	//Switcher
	.layout-side-box
		a.switcher.t-switcher-side(href = '#').ason-widget(
		data-ason-type="sidebar",
		data-ason-sidebar="layout-sidebar-4",
		data-ason-is-right="true",
		data-ason-on-md="sidebar",
		data-ason-to-md="compact",
		data-ason-to-sm="compact",
		data-ason-target="#sb-right")
			i.fa.fa-bars

	.layout-side-box
		include ../../../widgets/widget_logo/logo_in_side

	//Main Menu
	.layout-side-box
		include ../../nav/nav
