/*
    Chart - Flot
    ========================================================================== */

/*
    Flot
    ------------------------------------- */

	.flot-realtime{ color: $flot-realtime-color; }

	.flot-line-1  { color: $flot-line-1-color; }
	.flot-line-2  { color: $flot-line-2-color; }

	.flot-pie-1   { color: $flot-pie-1-color; }
	.flot-pie-2   { color: $flot-pie-2-color; }
	.flot-pie-3   { color: $flot-pie-3-color; }
	.flot-pie-4   { color: $flot-pie-4-color; }
	.flot-pie-5   { color: $flot-pie-5-color; }

	.flot-donut-1 { color: $flot-donut-1-color; }
	.flot-donut-2 { color: $flot-donut-2-color; }
	.flot-donut-3 { color: $flot-donut-3-color; }
	.flot-donut-4 { color: $flot-donut-4-color; }
	.flot-donut-5 { color: $flot-donut-5-color; }

	.flot-bars-1  {color: rgba($flot-bars-1, 0.9); }
	.flot-bars-2  {color: rgba($flot-bars-2, 0.9); }
	.flot-bars-3  {color: rgba($flot-bars-3, 0.9); }
	.flot-lines-1 {color: rgba($flot-lines-1, 0.9); }
	.flot-lines-2 {color: rgba($flot-lines-2, 0.9); }
	.flot-lines-3 {color: rgba($flot-lines-3, 0.9); }

//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
