/*
    Form - Elements
    ========================================================================== */

/*
    Basic Elements
    ------------------------------------- */

	// Inputs and Textarea
	input,
	textarea,
	select,
	.form-control{
		background: $input-bg;
		border-color: $input-bd;

		&:hover{
			background: $input-bg-hover;
			border-color: $input-bd-hover;
		}

		&:focus{
			background: $input-bg-fo;
			border-color: $input-bd-fo;
			@include box-shadow(inset 0 0 5px rgba(0,0,0,.05));
		}

		&[disabled],
		&[readonly]{
			background: $input-disabled-bg-fo;
			border-color: $input-disabled-bd-fo;
		}
	}


/*
    Textarea with counters
    ------------------------------------- */
    .originalTextareaInfo {
      color: #000000;
    }

    .warningTextareaInfo {
      color: #FF0000;
    }

/*
    Control States
    ------------------------------------- */

	.has-success {
		@include form-control-validation($state-success-color, $state-success-bd, $state-success-bg);
	}
	.has-info {
		@include form-control-validation($state-info-color, $state-info-bd, $state-info-bg);
	}
	.has-warning {
		@include form-control-validation($state-warning-color, $state-warning-bd, $state-warning-bg);
	}
	.has-error {
		@include form-control-validation($state-danger-color, $state-danger-bd, $state-danger-bg);
	}
	.has-dark {
		@include form-control-validation($state-dark-color, $state-dark-bd, $state-dark-bg);
	}

/*
   	Text input groups
    ------------------------------------- */

	.input-group-addon {
		  color: $input-group-addon-color;
		  background-color: $input-group-addon-bg;
		  border: 1px solid $input-group-addon-bd;
	}


/*
    Switchery
    ------------------------------------- */

	.switchery {
		background-color: #fff;
		border: 1px solid #dfdfdf;

		> small {
			background: #fff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
		}
	}

	.switchery-default { color: $switchery-default-color; }
	.switchery-primary { color: $switchery-primary-color; }
	.switchery-success { color: $switchery-success-color; }
	.switchery-info    { color: $switchery-info-color; }
	.switchery-warning { color: $switchery-warning-color; }
	.switchery-danger  { color: $switchery-danger-color; }
	.switchery-dark    { color: $switchery-dark-color; }


/*
    On-Off Toggle Switch
    ------------------------------------- */

	// Skin 1 - Default
	.onoffDefault {

		.onoffswitch-label {
			border: 1px solid $onoffswitch-bd;
		}

		.onoffswitch-inner {
			&:before, &:after {
				color: white;
			}
			&:before {
				content: "YES";
				color: #FFFFFF;
				background-color: $onoffswitch-default-bg;
			}
			&:after {
				content: "NO";
				color: #999999;
				background-color: #EEEEEE;
			}
		}

		.onoffswitch-switch {
			background: white;
			border: 1px solid $onoffswitch-bd;
		}

	}

	// Skin 2 - iOS
	.onoffiOS {

		.onoffswitch-label {
			border: 1px solid $onoffswitch-bd;
		}

		.onoffswitch-inner {

			&:before, &:after {
				color: white;
			}
			&:before {
				content: "ON";
				background-color: $onoffswitch-default-bg;
				color: #FFFFFF;
			}
			&:after {
				content: "OFF";
				background-color: #F8F8F8;
				color: #666666;
			}
		}

		.onoffswitch-switch {

			background: #FFFFFF;
			border: 1px solid $onoffswitch-bd;

		}

	}

	// Skin 3 - Windows
	.onoffWindows {

		.onoffswitch-label {
			border: 1px solid $onoffswitch-bd;
		}

		.onoffswitch-inner {

			&:before, &:after {
				color: white;
			}
			&:before {
				background-color: $onoffswitch-default-bg;
				color: #FFFFFF;
			}
			&:after {
				background-color: #CCCCCC;
				color: #333333;
			}
		}

		.onoffswitch-switch {
			background: #000000;
		}

	}

	.onoffPrimary{ .onoffswitch-inner:before { background-color: $onoffswitch-primary-bg; } }
	.onoffSuccess{ .onoffswitch-inner:before { background-color: $onoffswitch-success-bg; } }
	.onoffInfo   { .onoffswitch-inner:before { background-color: $onoffswitch-info-bg; } }
	.onoffWarning{ .onoffswitch-inner:before { background-color: $onoffswitch-warning-bg; } }
	.onoffDanger { .onoffswitch-inner:before { background-color: $onoffswitch-danger-bg; } }
	.onoffDark   { .onoffswitch-inner:before { background-color: $onoffswitch-dark-bg; } }

/*
    FancySelect
    ------------------------------------- */

	div.fancy-select {
		color: $fancy-color;

		select:focus + div.trigger {
			&.open {
				box-shadow: none;
			}
		}
		div.trigger {

			background: $fancy-trigger-bg;
			border: 1px solid $fancy-trigger-bd;
			color: $fancy-color;

			&:after {

				border: 5px solid transparent;
				border-top-color: $fancy-color;

			}
			&.open {
				background: $fancy-trigger-open-bg;
				border: 1px solid $fancy-trigger-open-bd;
				color: $fancy-open-color;
				box-shadow: none;
				&:after {
					border-top-color: $fancy-open-color;
				}
			}
		}
		ul.options {

			background: $fancy-option-bg;

			li {

				color: $fancy-option-color;

				&.selected {
					background: $fancy-selected-bg;
					color: $fancy-selected-color;
				}
				&.hover {
					color: $fancy-option-hover;
				}
			}
		}
	}

/*
    Checkradios
    ------------------------------------- */

	.checkradios-checkbox,
	.checkradios-radio{

		border:1px solid $checkradios-default-mu;
		color: darken($checkradios-default-mu, 20%);

		/*Focus*/
		&.focus{
			border:1px solid darken($checkradios-default-mu, 20%);
		}

	}

	.checkradios-primary-1,
	.checkradios-success-1,
	.checkradios-info-1,
	.checkradios-warning-1,
	.checkradios-danger-1,
	.checkradios-dark-1,
	.checkradios-disabled-1,
	.checkradios-primary-2,
	.checkradios-success-2,
	.checkradios-info-2,
	.checkradios-warning-2,
	.checkradios-danger-2,
	.checkradios-dark-2,
	.checkradios-disabled-2{
		color: $checkradios-color;
	}

	.checkradios-primary-1  { color: $checkradios-primary-mu;  border:1px solid darken($checkradios-primary-mu, 10%); &.focus{ border:1px solid darken($checkradios-primary-mu, 20%); } }
	.checkradios-success-1  { color: $checkradios-success-mu;  border:1px solid darken($checkradios-success-mu, 10%); &.focus{ border:1px solid darken($checkradios-success-mu, 20%); } }
	.checkradios-info-1     { color: $checkradios-info-mu;     border:1px solid darken($checkradios-info-mu, 10%);    &.focus{ border:1px solid darken($checkradios-info-mu, 20%); } }
	.checkradios-warning-1  { color: $checkradios-warning-mu;  border:1px solid darken($checkradios-warning-mu, 10%); &.focus{ border:1px solid darken($checkradios-warning-mu, 20%); } }
	.checkradios-danger-1   { color: $checkradios-danger-mu;   border:1px solid darken($checkradios-danger-mu, 10%);  &.focus{ border:1px solid darken($checkradios-danger-mu, 20%); } }
	.checkradios-dark-1     { color: $checkradios-dark-mu;     border:1px solid darken($checkradios-dark-mu, 10%);    &.focus{ border:1px solid darken($checkradios-dark-mu, 20%); } }
	.checkradios-disabled-1 { color: $checkradios-disabled; border:1px solid darken($checkradios-disabled, 10%); cursor: default; &.focus{ border:1px solid darken($checkradios-disabled, 10%); } &:before{ content:""; } }

	.checkradios-primary-2  { background-color: $checkradios-primary-mu;  border:1px solid darken($checkradios-primary-mu, 10%); &.focus{ border:1px solid darken($checkradios-primary-mu, 20%); } }
	.checkradios-success-2  { background-color: $checkradios-success-mu;  border:1px solid darken($checkradios-success-mu, 10%); &.focus{ border:1px solid darken($checkradios-success-mu, 20%); } }
	.checkradios-info-2     { background-color: $checkradios-info-mu;     border:1px solid darken($checkradios-info-mu, 10%);    &.focus{ border:1px solid darken($checkradios-info-mu, 20%); } }
	.checkradios-warning-2  { background-color: $checkradios-warning-mu;  border:1px solid darken($checkradios-warning-mu, 10%); &.focus{ border:1px solid darken($checkradios-warning-mu, 20%); } }
	.checkradios-danger-2   { background-color: $checkradios-danger-mu;   border:1px solid darken($checkradios-danger-mu, 10%);  &.focus{ border:1px solid darken($checkradios-danger-mu, 20%); } }
	.checkradios-dark-2     { background-color: $checkradios-dark-mu;     border:1px solid darken($checkradios-dark-mu, 10%);    &.focus{ border:1px solid darken($checkradios-dark-mu, 20%); } }
	.checkradios-disabled-2 { background-color: $checkradios-disabled; border:1px solid darken($checkradios-disabled, 10%); cursor: default; &.focus{ border:1px solid darken($checkradios-disabled, 10%); } &:before{ content:""; } }


/*
    CheckBo
    ------------------------------------- */

	// Disabled States
	.cb-checkbox.disabled {
		color: $checkbo-disabled-mu;
		.cb-inner { color: $checkbo-disabled-mu; }
		&:hover .cb-inner { border-color: $checkbo-disabled-mu; }
		&.checked .cb-inner {
			background-color: $checkbo-disabled-mu;
			border-color: $checkbo-disabled-mu;
		}
	}

	.cb-radio.disabled {
		color: $checkbo-disabled-mu;
		.cb-inner { border-color: $checkbo-disabled-mu; }
		i { background-color: transparent; }
		&.checked .cb-inner {
			border-color: $checkbo-disabled-mu;
			i { background-color: $checkbo-disabled-mu; }
		}
		&:hover .cb-inner {
			border-color: $checkbo-disabled-mu;
		}
	}

	// Default
	.cb-checkbox,
	.cb-radio{
		.cb-inner { border: 1px solid $checkbo-default-mu; }
		&:hover{ .cb-inner { border-color: darken($checkbo-default-mu, 25%); } }
	}

	// Checkbox
	.cb-checkbox {
		i { &:before, &:after { background-color: darken($checkbo-default-mu, 20%); } }

		&.checked {
			.cb-inner {
				border-color: $checkbo-default-mu;
				background-color: $checkbo-white-bg;
			}
		}
	}

	// Radio Button
	.cb-radio {

		&.checked {
			.cb-inner { background: $checkbo-white-bg; }
			i { background-color: darken($checkbo-default-mu, 30%); }
		}
	}



	@include checkbo-variant-1('primary-1', $checkbo-primary-mu, $checkbo-white-bg);
	@include checkbo-variant-1('success-1', $checkbo-success-mu, $checkbo-white-bg);
	@include checkbo-variant-1('info-1',    $checkbo-info-mu,    $checkbo-white-bg);
	@include checkbo-variant-1('warning-1', $checkbo-warning-mu, $checkbo-white-bg);
	@include checkbo-variant-1('danger-1',  $checkbo-danger-mu,  $checkbo-white-bg);
	@include checkbo-variant-1('dark-1',    $checkbo-dark-mu,    $checkbo-white-bg);

	@include checkbo-variant-2('primary-2', $checkbo-primary-mu, $checkbo-white-bg);
	@include checkbo-variant-2('success-2', $checkbo-success-mu, $checkbo-white-bg);
	@include checkbo-variant-2('info-2',    $checkbo-info-mu,    $checkbo-white-bg);
	@include checkbo-variant-2('warning-2', $checkbo-warning-mu, $checkbo-white-bg);
	@include checkbo-variant-2('danger-2',  $checkbo-danger-mu,  $checkbo-white-bg);
	@include checkbo-variant-2('dark-2',    $checkbo-dark-mu,    $checkbo-white-bg);


	// Switcher
	.cb-switcher {
		border: 1px solid #eee;
		background-color: #fff;

		&:before {
			background-color: #eee;
			@include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
		}
		&.checked {
			background-color: $checkbo-switcher;
			.cb-state {
				color: $checkbo-switcher;
			}
			&:before {
				color: $checkbo-switcher;
				background-color: #fff;
				@include box-shadow((-1px) 1px 1px rgba(0, 0, 0, 0.1));
			}
			.inner-switcher {
				&:before {
					border-top-color: $checkbo-switcher;
				}
				&:after {
					border-bottom-color: $checkbo-switcher;
				}
			}
		}
		.inner-switcher {
			&:before {
				border-top: 17px solid #fff;
			}
			&:after {
				border-bottom: 17px solid #fff;
			}
		}
	}

	.cb-state {
		color: #ccc;
	}

//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
