/*
    Form - Wizard
    ========================================================================== */

/*
    Steps
    ------------------------------------- */

	/*
		Wizard
	*/

	.wizard {
		> {
			.steps {
				.disabled a {
					background: $wizard-disabled-bg;
					color: $wizard-disabled-color;
					&:hover, &:active {
						background: $wizard-disabled-bg;
						color: $wizard-disabled-color;
					}
				}
				.current a {
					background: $wizard-current-bg;
					color: $wizard-current-color;
					cursor: default;
					&:hover, &:active {
						background: $wizard-current-bg;
						color: $wizard-current-color;
					}
				}
				.done a {
					background: $wizard-done-bg;
					color: $wizard-done-color;
					&:hover, &:active {
						background: $wizard-done-bg;
						color: $wizard-done-color;
					}
				}
				.error a {
					background: $wizard-error-bg;
					color: $wizard-error-color;
					&:hover, &:active {
						background: $wizard-error-bg;
						color: $wizard-error-color;
					}
				}
			}
			.content {
				background: $wizard-bg;
				border: 1px solid $wizard-bd;
			}
		}
		> {
			.content > .body {
				> iframe {
					border: 0 none;
				}
				input,textarea,select {
					&.error {
						background: $wizard-color-error-bg;
						border: 1px solid $wizard-color-error-bd;
						color: $wizard-color-error-color;
					}
				}
				label {
					&.error {
						color: $wizard-color-error-color;
					}
				}
			}
		}
		> {
			.actions {
				a {
					background: $wizard-action-bg;
					color: $wizard-action-color;
					&:hover, &:active {
						background: $wizard-action-bg;
						color: $wizard-action-color;
					}
				}
				.disabled a {
					background: $wizard-action-disabled-bg;
					color: $wizard-action-disabled-color;
					&:hover, &:active {
						background: $wizard-action-disabled-bg;
						color: $wizard-action-disabled-color;
					}
				}
			}
		}
	}

	/*
		Tabcontrol
	*/

	.tabcontrol > {
		.steps {
			> ul {
				> li {

					&:hover {
						background: #edecec;
						border: 1px solid #bbb;
					}
					&.current {
						background: #fff;
						border: 1px solid #bbb;
						border-bottom: 0 none;
					}
					> a {
						color: #5f5f5f;
					}
				}
			}
		}
		.content {
			border-top: 1px solid #bbb;
		}
	}



//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
