/*
    Form - Validation
    ========================================================================== */

/*
    Parsley Validation
    ------------------------------------- */
    .parsley-success,
    .parsley-success,
    .parsley-success {
      color: $parsley-success-color;
      background-color: $parsley-success-bg;
      border: 1px solid $parsley-success-bd;
    }

    .parsley-error,
    .parsley-error,
    .parsley-error {
      color: $parsley-error-color;
      background-color: $parsley-error-bg;
      border: 1px solid $parsley-error-bd;
    }

/*
    Validate Validation
    ------------------------------------- */
    .validate{

        input.error{
            border: 1px solid $validate-bd;
			background: $validate-bg;
        }

        label.error {
            color: $validate-color;

        }

    }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
