/*
    Profile
    ========================================================================== */

/*
    Profile Details
    ------------------------------------- */

	.profile-header{
		background: url("../img/profile/profile_bg.jpg") no-repeat center;
		border: 1px solid $profile-header-bd;
		color: $profile-header-color;
		@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

		a:hover{
			color: $profile-header-hover;
		}
	}

	.profile-img{
		img{
			border: 5px solid rgba($login-lock-screen-bd, 0.8);
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
		}
	}

	.profile-info{
		background: rgba($profile-info-bg, 0.2);

		span{
			color: $profile-info-span-color;
		}
	}

	.contact-info{
		color: $profile-contact-info-color;
	}


/*
	Activity
	------------------------------------- */

	.activity-item{

		img{
			@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
		}

	}

/*
    Friend List
    ------------------------------------- */

	.friends-list {

		figcaption {

			background: $profile-friends-bg;
			color: $profile-friends-color;

			h3 {
				color: $profile-friends-h3-color;
			}
		}

		.friend-info{
			color: $profile-friends-info-color;
		}
	}

//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
