/*
    Login
    ========================================================================== */

	// General Styles for Login, Forgot Password, Change Password, Register Page
	.login-bg{
		background: url("../img/pages/login.jpg") repeat center top;
	}

	.login-wrapper{
		background: rgba($login-wrapper-bg, 0.2);
		border-top: 1px solid rgba($login-wrapper-bd, 0.3);
		border-bottom: 1px solid rgba($login-wrapper-bd, 0.3);
		@include box-shadow(inset 0 0 250px 100px rgba(0,0,0,.02));
	}

	.login-container{

	}

	.login-logo{

	}

	.login-form{

		input{
			border: 1px solid $login-input-bd;

			&:hover{
				border-color: $login-input-bd-hover;
			}

			&:focus{
				border-color: $login-input-bd-fo;
			}

			&.error{
				border-color: $login-error-color;
			}
		}

		.btn{
			color: $login-btn-color;
		}

		label.error{
			color: $login-error-color;
		}
	}

	.or {
		color: $login-or-color;
	}

	.login-social{

	}

	.btn-facebook{
		background: $login-facebook-bg;

		&:hover{ background: $login-facebook-bg-hover;}
		&:focus{ background: $login-facebook-bg-fo; }
	}

	.btn-twitter{
		background: $login-twitter-bg;

		&:hover{ background: $login-twitter-bg-hover;}
		&:focus{ background: $login-twitter-bg-fo; }
	}

	.login-options{
		a{
			color: $login-options-color;

			&:hover{
				color: $login-options-hover;
			}
		}
	}

	// Register Page specific Styles

	.btn-login-register{
		color: $login-register-color!important;
	}

	.login-form {
		.checkradios {
			border: 1px solid $login-checkradios-bd;
		}
	}

	.errorTerms{
		.checkradios{
			color: $login-error-color;
			border-color: $login-error-color;
		}
	}

	// Lock Screen Page specific Styles

	.lock-screen-image{
		img{
			border: 5px solid rgba($login-lock-screen-bd, 0.8);
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

			&:hover{
				border-color: rgba($login-lock-screen-bd-hover, 0.5);
			}
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
