﻿/*
    Table - FooTable
    ========================================================================== */

/*
    FooTable
    ------------------------------------- */

	.footable {

		&.breakpoint {
			> tbody > tr {

				> td.footable-cell-detail {
					background: $foo-table-cell-detail-bg;
				}

				> td > span.footable-toggle {
					color: $foo-table-toggle-color;
				}
			}
		}

	}

	.footable-odd {
		background-color: $foo-table-odd-bg;
	}

//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
