/*
    Table - DataTable
    ========================================================================== */

/*
    DataTable
    ------------------------------------- */

	table.dataTable {
		thead {
			th, td {
				border-bottom: 1px solid $data-table-thead-bd;
			}
		}
		tfoot {
			th, td {
				border-top: 1px solid $data-table-tfoot-bd;
			}
		}
		thead {
			.sorting,
			.sorting_asc,
			.sorting_desc,
			.sorting_asc_disabled,
			.sorting_desc_disabled {
				background-repeat: no-repeat;
				background-position: center right;
			}
			.sorting {
				background-image: url("../img/plugins/datatable/sort_both.png");
			}
			.sorting_asc {
				background-image: url("../img/plugins/datatable/sort_asc.png");
				color: $data-table-active-color;
				border-bottom: 1px solid $data-table-active-bd;
			}
			.sorting_desc {
				background-image: url("../img/plugins/datatable/sort_desc.png");
				color: $data-table-active-color;
				border-bottom: 1px solid $data-table-active-bd;
			}
			.sorting_asc_disabled {
				background-image: url("../img/plugins/datatable/sort_asc_disabled.png");
			}
			.sorting_desc_disabled {
				background-image: url("../img/plugins/datatable/sort_desc_disabled.png");
			}
		}
		tbody {
			tr {
				background-color: #ffffff;
				&.selected {
					background-color: #B0BED9;
				}
			}
		}
		&.row-border tbody {
			th, td {
				border-top: 1px solid $data-table-tbody-bd;
			}
		}
		&.display tbody {
			th, td {
				border-top: 1px solid $data-table-tbody-bd;
			}
		}
		&.row-border tbody tr:first-child {
			th, td {
				border-top: none;
			}
		}
		&.display tbody tr:first-child {
			th, td {
				border-top: none;
			}
		}
		&.cell-border tbody {
			th, td {
				border-top: 1px solid $data-table-tbody-bd;
				border-right: 1px solid $data-table-tbody-bd;
			}
			tr {
				th:first-child, td:first-child {
					border-left: 1px solid $data-table-tbody-bd;
				}
				&:first-child {
					th, td {
						border-top: none;
					}
				}
			}
		}
		&.stripe tbody tr.odd, &.display tbody tr.odd {
			background-color: #f9f9f9;
		}
		&.stripe tbody tr.odd.selected, &.display tbody tr.odd.selected {
			background-color: #abb9d3;
		}
		&.hover tbody tr:hover, &.display tbody tr:hover {
			background-color: whitesmoke;
		}
		&.hover tbody tr:hover.selected, &.display tbody tr:hover.selected {
			background-color: #a9b7d1;
		}
		&.order-column tbody tr > {
			.sorting_1, .sorting_2, .sorting_3 {
				background-color: #f9f9f9;
			}
		}
		&.display tbody tr > {
			.sorting_1, .sorting_2, .sorting_3 {
				background-color: #f9f9f9;
			}
		}
		&.order-column tbody tr.selected > {
			.sorting_1, .sorting_2, .sorting_3 {
				background-color: #acbad4;
			}
		}
		&.display tbody tr {
			&.selected > {
				.sorting_1, .sorting_2, .sorting_3 {
					background-color: #acbad4;
				}
			}
			&.odd > .sorting_1 {
				background-color: #f1f1f1;
			}
		}
		&.order-column.stripe tbody tr.odd > .sorting_1 {
			background-color: #f1f1f1;
		}
		&.display tbody tr.odd > .sorting_2, &.order-column.stripe tbody tr.odd > .sorting_2 {
			background-color: #f3f3f3;
		}
		&.display tbody tr.odd > .sorting_3, &.order-column.stripe tbody tr.odd > .sorting_3 {
			background-color: whitesmoke;
		}
		&.display tbody tr.odd.selected > .sorting_1, &.order-column.stripe tbody tr.odd.selected > .sorting_1 {
			background-color: #a6b3cd;
		}
		&.display tbody tr.odd.selected > .sorting_2, &.order-column.stripe tbody tr.odd.selected > .sorting_2 {
			background-color: #a7b5ce;
		}
		&.display tbody tr.odd.selected > .sorting_3, &.order-column.stripe tbody tr.odd.selected > .sorting_3 {
			background-color: #a9b6d0;
		}
		&.display tbody tr.even > .sorting_1, &.order-column.stripe tbody tr.even > .sorting_1 {
			background-color: #f9f9f9;
		}
		&.display tbody tr.even > .sorting_2, &.order-column.stripe tbody tr.even > .sorting_2 {
			background-color: #fbfbfb;
		}
		&.display tbody tr.even > .sorting_3, &.order-column.stripe tbody tr.even > .sorting_3 {
			background-color: #fdfdfd;
		}
		&.display tbody tr.even.selected > .sorting_1, &.order-column.stripe tbody tr.even.selected > .sorting_1 {
			background-color: #acbad4;
		}
		&.display tbody tr.even.selected > .sorting_2, &.order-column.stripe tbody tr.even.selected > .sorting_2 {
			background-color: #adbbd6;
		}
		&.display tbody tr.even.selected > .sorting_3, &.order-column.stripe tbody tr.even.selected > .sorting_3 {
			background-color: #afbdd8;
		}
		&.display tbody tr:hover > .sorting_1, &.order-column.hover tbody tr:hover > .sorting_1 {
			background-color: #eaeaea;
		}
		&.display tbody tr:hover > .sorting_2, &.order-column.hover tbody tr:hover > .sorting_2 {
			background-color: #ebebeb;
		}
		&.display tbody tr:hover > .sorting_3, &.order-column.hover tbody tr:hover > .sorting_3 {
			background-color: #eeeeee;
		}
		&.display tbody tr:hover.selected > .sorting_1, &.order-column.hover tbody tr:hover.selected > .sorting_1 {
			background-color: #a1aec7;
		}
		&.display tbody tr:hover.selected > .sorting_2, &.order-column.hover tbody tr:hover.selected > .sorting_2 {
			background-color: #a2afc8;
		}
		&.display tbody tr:hover.selected > .sorting_3, &.order-column.hover tbody tr:hover.selected > .sorting_3 {
			background-color: #a4b2cb;
		}
		&.no-footer {
			border-bottom: 1px solid #ccc;
		}
	}

	/*
	 * Control feature layout
	 */

	.dataTables_wrapper {

		.dataTables_paginate {

			.paginate_button {
				color: $data-table-paginate-color!important;
				border: 1px solid transparent;

				&.current {
					color: $data-table-paginate-cur-color!important;
					border: 1px solid $data-table-paginate-cur-bd;
					background-color: $data-table-paginate-cur-bg;

					&:hover {
						color: $data-table-paginate-cur-color!important;
						border: 1px solid $data-table-paginate-cur-bd;
						background-color: $data-table-paginate-cur-bg;
					}
				}
				&.disabled {
					color: #666 !important;
					border: 1px solid transparent;
					background: transparent;
					box-shadow: none;
					&:hover, &:active {
						color: #666 !important;
						border: 1px solid transparent;
						background: transparent;
						box-shadow: none;
					}
				}
				&:hover {
					color: $data-table-paginate-hov-color!important;
					border: 1px solid $data-table-paginate-hov-bd;
					background-color: $data-table-paginate-hov-bg;

				}
				&:active {
					outline: none;
					background-color: $data-table-paginate-act-bg;
				}
			}
		}
		.dataTables_processing {
			background-color: white;
			background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
			/* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
			/* Chrome10+,Safari5.1+ */
			background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
			/* FF3.6+ */
			background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
			/* IE10+ */
			background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
			/* Opera 11.10+ */
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
			/* W3C */
		}

		.dataTables_filter{
			input{
				background: $input-bg ;
				border: 1px solid $input-bd;

				&:hover{
					background: $input-bg-hover;
					border-color: $input-bd-hover;
				}

				&:focus {
					background: $input-bg-fo;
					border-color: $input-bd-fo;
				}
			}
		}

		.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_processing, .dataTables_paginate {
			color: $data-table-main-color;
		}
		&.no-footer {
			.dataTables_scrollBody {
				border-bottom: 1px solid #111111;
			}
			div {
				&.dataTables_scrollHead table, &.dataTables_scrollBody table {
					border-bottom: none;
				}
			}
		}

	}

/*
	AutoFill styles
	------------------------------------- */

	div.AutoFill_filler {

	}

	div.AutoFill_border {
		background-color: $data-fill-bg;
		@include box-shadow(0px 2px 2px $data-fill-shadow);
	}

/*
	ColReorder styles
	------------------------------------- */
	table.DTCR_clonedTable {
		background-color: rgba($data-reorder-cloned-bg, 0.7);
	}

	div.DTCR_pointer {
		background-color: $data-reorder-pointer-bg;
	}

/*
	Responsive styles
	------------------------------------- */

	@mixin control() {
		color: $data-resp-control-color;
	}

	@mixin control-open() {
		background-color: $data-resp-control-open-bg;
	}

	@mixin control-close() {
		background-color: $data-resp-control-closed-bg;
	}


	//
	// Table styles
	//
	table.dataTable {
		// Styling for the `inline` type
		&.dtr-inline.collapsed > tbody {
			> tr > td:first-child,
			> tr > th:first-child {

				&:before {
					@include control;
					@include control-open;
				}
			}

			> tr.parent {
				> td:first-child:before,
				> th:first-child:before {
					@include control-close;
				}
			}
		}


		// Styling for the `column` type
		&.dtr-column > tbody {
			> tr > td.control,
			> tr > th.control {

				&:before {
					@include control;
					@include control-open;
				}
			}

			> tr.parent {
				td.control:before,
				th.control:before {
					@include control-close;
				}
			}
		}


		// Child row styling
		> tbody > tr.child {

			ul {

				li {
					border-bottom: 1px solid $data-resp-child-bd;
				}
			}
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
