/*
    Button
    ========================================================================== */

	// Buttons
	.btn{
		&:focus, &.focus,
		&:active, &.active{
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.08));
		}
	}

	.btn-link{
		color: $btn-link-color;

		&:focus, &.focus,
		&:active, &.active{
			@include box-shadow(none);
		}
	}


	.btn-group.open .dropdown-toggle{
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.08));
	}

	.btn-default {
		@include button-variant($btn-default-color, $btn-default-bg, $btn-default-bd);
	}
	.btn-primary {
		background: linear-gradient(rgb(0, 129, 220), rgb(0, 117, 200)) rgb(0, 129, 220);
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-bd);
	}
	// Success appears as green
	.btn-success {
		@include button-variant($btn-success-color, $btn-success-bg, $btn-success-bd);
	}
	// Info appears as blue-green
	.btn-info {
		@include button-variant($btn-info-color, $btn-info-bg, $btn-info-bd);
	}
	// Warning appears as orange
	.btn-warning {
		@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-bd);
	}
	// Danger and error appear as red
	.btn-danger {
		@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-bd);
	}
	.btn-dark {
		@include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-bd);
	}

	// Dropdowns

	.dropdown-menu{
		border: 1px solid $btn-default-bd;
		@include box-shadow(0 1px 1px rgba(0,0,0,.1));

		> li > a{
			color: $btn-default-color;
		}

		.divider{
			background: $btn-default-bd;
		}
	}

	.drop-default {
		@include dropdown-variant($btn-default-color, $btn-default-bd, $btn-default-bd);
	}
	.drop-primary {
		@include dropdown-variant($btn-primary-color, $btn-primary-bg, $btn-primary-bd);
	}
	// Success appears as green
	.drop-success {
		@include dropdown-variant($btn-success-color, $btn-success-bg, $btn-success-bd);
	}
	// Info appears as blue-green
	.drop-info {
		@include dropdown-variant($btn-info-color, $btn-info-bg, $btn-info-bd);
	}
	// Warning appears as orange
	.drop-warning {
		@include dropdown-variant($btn-warning-color, $btn-warning-bg, $btn-warning-bd);
	}
	// Danger and error appear as red
	.drop-danger {
		@include dropdown-variant($btn-danger-color, $btn-danger-bg, $btn-danger-bd);
	}
	.drop-dark {
		@include dropdown-variant($btn-dark-color, $btn-dark-bg, $btn-dark-bd);
	}

/*
    Bordered Elements
    ------------------------------------- */
    .btn-bordered{
        background: $btn-eff-bg;
        color: $btn-default-color;

        &.btn-primary { color: $btn-primary-color-2; }
        &.btn-success { color: $btn-success-color-2; }
        &.btn-info    { color: $btn-info-color-2; }
        &.btn-warning { color: $btn-warning-color-2; }
        &.btn-danger  { color: $btn-danger-color-2; }
		&.btn-dark    { color: $btn-dark-color-2; }

        &.btn-default:hover{ color: $btn-default-color; }

        &:hover{
            color: $btn-eff-hover;
        }
    }

/*
    Effects
    ------------------------------------- */

    /* --- Setup - 1 --- */

    .btn-eff-1{
        &.btn-default:hover{ color: $btn-default-color!important; }
		&.btn-primary:hover { color: $btn-eff-1-hover!important; }

        &:hover{
          color: $btn-eff-hover!important;
        }

    }

    .btn-eff{

        &:before {
            background: $btn-eff-bg;
        }

        &:hover{
            color: $btn-default-color;

            &.btn-primary { color: $btn-primary-color-2;  }
            &.btn-success { color: $btn-success-color-2; }
            &.btn-info    { color: $btn-info-color-2; }
            &.btn-warning { color: $btn-warning-color-2; }
            &.btn-danger  { color: $btn-danger-color-2; }

        }

    }

    /* --- Setup - 2 --- */

    /* - Shadow Basic - */
    .btn-shadow{

        &.btn-default { @include box-shadow( 0 6px darken($btn-default-color, 1%)); }
        &.btn-primary { @include box-shadow( 0 6px darken($btn-primary-color-2, 5%)); border: none; }
        &.btn-success { @include box-shadow( 0 6px darken($btn-success-color-2, 5%)); border: none; }
        &.btn-info    { @include box-shadow( 0 6px darken($btn-info-color-2,    5%)); border: none; }
        &.btn-warning { @include box-shadow( 0 6px darken($btn-warning-color-2, 5%)); border: none; }
        &.btn-danger  { @include box-shadow( 0 6px darken($btn-danger-color-2,  5%)); border: none; }
		&.btn-dark    { @include box-shadow( 0 6px darken($btn-dark-color-2,    5%)); border: none; }
    }

    /* - Shadow 1 - */
    .btn-sh-1{

        &.btn-default:hover { @include box-shadow( 0 4px darken($btn-default-color, 5%)); }
        &.btn-primary:hover { @include box-shadow( 0 4px darken($btn-primary-color-2, 10%)); }
        &.btn-success:hover { @include box-shadow( 0 4px darken($btn-success-color-2, 10%)); }
        &.btn-info:hover    { @include box-shadow( 0 4px darken($btn-info-color-2,    10%)); }
        &.btn-warning:hover { @include box-shadow( 0 4px darken($btn-warning-color-2, 10%)); }
        &.btn-danger:hover  { @include box-shadow( 0 4px darken($btn-danger-color-2,  10%)); }
		&.btn-dark:hover    { @include box-shadow( 0 4px darken($btn-dark-color-2,    10%)); }
    }

    /* - Shadow 2 - */
    .btn-sh-2{

        &.btn-default:hover { @include box-shadow( 0 8px darken($btn-default-color, 5%)); }
        &.btn-primary:hover { @include box-shadow( 0 8px darken($btn-primary-color-2, 10%)); }
        &.btn-success:hover { @include box-shadow( 0 8px darken($btn-success-color-2, 10%)); }
        &.btn-info:hover    { @include box-shadow( 0 8px darken($btn-info-color-2,    10%)); }
        &.btn-warning:hover { @include box-shadow( 0 8px darken($btn-warning-color-2, 10%)); }
        &.btn-danger:hover  { @include box-shadow( 0 8px darken($btn-danger-color-2,  10%)); }
		&.btn-dark:hover  	{ @include box-shadow( 0 8px darken($btn-dark-color-2,  10%)); }
    }

    /* - Shadow Basic - */
    .btn-shadow{

        &.btn-default:active { @include box-shadow( 0 0 $btn-default-color); }
        &.btn-primary:active { @include box-shadow( 0 0 $btn-primary-color-2 ); }
        &.btn-success:active { @include box-shadow( 0 0 $btn-success-color-2 ); }
        &.btn-info:active    { @include box-shadow( 0 0 $btn-info-color-2    ); }
        &.btn-warning:active { @include box-shadow( 0 0 $btn-warning-color-2 ); }
        &.btn-danger:active  { @include box-shadow( 0 0 $btn-danger-color-2  ); }
		&.btn-dark:active    { @include box-shadow( 0 0 $btn-dark-color-2    ); }

    }

    /* --- Setup - 3 --- */

    /* - Borer 1 - */
    .btn-bd-1{

        &.btn-default { border: 2px solid $btn-default-color; &:hover{ color: $btn-default-color; } }
        &.btn-primary { background: linear-gradient(rgb(0, 129, 220), rgb(0, 117, 200)) rgb(0, 129, 220); border: 2px solid $btn-primary-color-2; &:hover{ color: $btn-primary-color-2; } }
        &.btn-success { background: $btn-success-color-2; border: 2px solid $btn-success-color-2; &:hover{ color: $btn-success-color-2; } }
        &.btn-info    { background: $btn-info-color-2;    border: 2px solid $btn-info-color-2   ; &:hover{ color: $btn-info-color-2;    } }
        &.btn-warning { background: $btn-warning-color-2; border: 2px solid $btn-warning-color-2; &:hover{ color: $btn-warning-color-2; } }
        &.btn-danger  { background: $btn-danger-color-2;  border: 2px solid $btn-danger-color-2 ; &:hover{ color: $btn-danger-color-2 ; } }
		&.btn-dark    { background: $btn-dark-color-2;    border: 2px solid $btn-dark-color-2 ;   &:hover{ color: $btn-dark-color-2 ; 	} }
    }

    /* - Borer 2 - */
    .btn-bd-2{

        &.btn-default { border: 2px dashed $btn-default-color; &:hover{ color: $btn-default-color; } }
        &.btn-primary { background: $btn-primary-color-2; border: 2px dashed $btn-primary-color-2; &:hover{ color: $btn-primary-color-2; } }
        &.btn-success { background: $btn-success-color-2; border: 2px dashed $btn-success-color-2; &:hover{ color: $btn-success-color-2; } }
        &.btn-info    { background: $btn-info-color-2;    border: 2px dashed $btn-info-color-2   ; &:hover{ color: $btn-info-color-2;    } }
        &.btn-warning { background: $btn-warning-color-2; border: 2px dashed $btn-warning-color-2; &:hover{ color: $btn-warning-color-2; } }
        &.btn-danger  { background: $btn-danger-color-2;  border: 2px dashed $btn-danger-color-2 ; &:hover{ color: $btn-danger-color-2 ; } }
		&.btn-dark    { background: $btn-dark-color-2;    border: 2px dashed $btn-dark-color-2 ;   &:hover{ color: $btn-dark-color-2 ;   } }
    }

    /* - Borer 3 - */
    .btn-bd-3{

        &.btn-default { border: 2px dotted $btn-default-color; &:hover{ color: $btn-default-color; } }
        &.btn-primary { background: $btn-primary-color-2; border: 2px dotted $btn-primary-color-2; &:hover{ color: $btn-primary-color-2; } }
        &.btn-success { background: $btn-success-color-2; border: 2px dotted $btn-success-color-2; &:hover{ color: $btn-success-color-2; } }
        &.btn-info    { background: $btn-info-color-2;    border: 2px dotted $btn-info-color-2   ; &:hover{ color: $btn-info-color-2;    } }
        &.btn-warning { background: $btn-warning-color-2; border: 2px dotted $btn-warning-color-2; &:hover{ color: $btn-warning-color-2; } }
        &.btn-danger  { background: $btn-danger-color-2;  border: 2px dotted $btn-danger-color-2 ; &:hover{ color: $btn-danger-color-2 ; } }
		&.btn-dark    { background: $btn-dark-color-2;    border: 2px dotted $btn-dark-color-2 ;   &:hover{ color: $btn-dark-color-2 ;   } }
    }

    /* - Borer 4 - */
    .btn-bd-4{

        &.btn-default { border: 4px double $btn-default-color; &:hover{ color: $btn-default-color; } }
        &.btn-primary { background: $btn-primary-color-2; border: 4px double $btn-primary-color-2; &:hover{ color: $btn-primary-color-2; } }
        &.btn-success { background: $btn-success-color-2; border: 4px double $btn-success-color-2; &:hover{ color: $btn-success-color-2; } }
        &.btn-info    { background: $btn-info-color-2;    border: 4px double $btn-info-color-2   ; &:hover{ color: $btn-info-color-2;    } }
        &.btn-warning { background: $btn-warning-color-2; border: 4px double $btn-warning-color-2; &:hover{ color: $btn-warning-color-2; } }
        &.btn-danger  { background: $btn-danger-color-2;  border: 4px double $btn-danger-color-2 ; &:hover{ color: $btn-danger-color-2 ; } }
		&.btn-dark    { background: $btn-dark-color-2;    border: 4px double $btn-dark-color-2 ;   &:hover{ color: $btn-dark-color-2 ;   } }
    }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
