/*
    Tabs
    ========================================================================== */

/*
    Bootstrap Tabs
    ------------------------------------- */

	.nav-tabs {
		border-bottom: 1px solid $nav-tabs-bd;
		> li {
			> a {

				&:hover {
					background-color: $nav-tabs-bg-hover;
					border-color: $nav-tabs-bd-hover;
				}
			}

			&.active > a {
				color: $nav-tabs-active-link-color!important;

				&,
				&:hover,
				&:focus {
					color: $nav-tabs-active-link-hover-color;
					background-color: $nav-tabs-active-link-hover-bg;
					border: 1px solid $nav-tabs-active-link-hover-bd;
					border-bottom-color: transparent;
				}

			}
		}

	}


/*
    Easy Responsive Tabs
    ------------------------------------- */

    .resp-tabs-container {
        background-color: $resp-tabs-cont-bg;
    }

    .resp-tab-active {
		color: $resp-tabs-active-color;
        background-color: $resp-tabs-active-bg;
        border: 1px solid $resp-tabs-active-bd;
        border-bottom: none;
    }

	.resp-tab-item:hover{
		color: $resp-tabs-hover-color;
	}

    .resp-tab-content {
        border: 1px solid $resp-tabs-cont-bd;
    }


    h2 {
        &.resp-accordion {
            border: 1px solid $resp-tabs-cont-bd;
            border-top: 0px;
        }
        &.resp-tab-active {
            border-bottom: 0px solid $resp-tabs-cont-bd !important;
        }
        &.resp-tab-title:last-child {
            border-bottom: 12px solid $resp-tabs-cont-bd !important;
        }
    }

    /*-----Vertical tabs-----*/

    .resp-vtabs {

        .resp-tabs-container {
            background-color: $resp-tabs-cont-bg;
			border: 1px solid $resp-tabs-cont-bd;
        }
        .resp-tab-content {
            border: none;
        }
        li.resp-tab-active {
			color: $resp-tabs-active-color;
            border: 1px solid $resp-tabs-active-bd;
            background-color: $resp-tabs-active-bg;
            border-right: none;
        }
    }

    .resp-arrow {
        border-top: 12px solid $resp-tabs-acc-arrow-bg;
    }

    h2.resp-tab-active {
        background: $resp-tabs-acc-active-bg !important;

        span.resp-arrow {
            border-bottom: 12px solid $resp-tabs-acc-active-arrow-bg;
        }
    }

    /*-----Accordion styles-----*/

    .resp-easy-accordion {
        .resp-tab-content {
            border: 1px solid $resp-tabs-cont-bd;
            &:last-child {
                border-bottom: 1px solid $resp-tabs-cont-bd !important;
            }
        }
    }

    h2.resp-accordion:first-child {
        border-top: 1px solid $resp-tabs-cont-bd !important;
    }

	/*-----Skins-----*/

	.resp-tabs-skin-1{

		.resp-tabs-list li{
			@include border-radius($s-radius);
		}

		.resp-tab-active{
			color: $resp-tabs-t-1-active-color;
			border: 1px solid $resp-tabs-t-1-active-bd;
			background: $resp-tabs-t-1-active-bg;
		}

		.resp-tabs-container{
//			background: $resp-tabs-t-1-cont-bg;
			background: none;
			border: none;
			border-top: 1px solid $resp-tabs-t-1-active-bd;
		}

		.resp-tab-content{
			border: none;
//			border-top: none;
			padding: $s-gutter-p 0;
		}

	}

/*
    Responsive Tabs
    ------------------------------------- */

    .r-tabs {

        .r-tabs-nav {

            border-bottom: 1px solid $r-tabs-bd ;

            .r-tabs-anchor {
                color: $r-tabs-color;

                &:hover{
					color: $r-tabs-active-color;
                }
            }

            .r-tabs-state-active {
                border-top: 1px solid $r-tabs-bd ;
                border-right: 1px solid $r-tabs-bd ;
                border-left: 1px solid $r-tabs-bd ;
            }

            .r-tabs-state-disabled {
                a:hover{
					color: $r-tabs-color;
                }
            }

            .r-tabs-state-active .r-tabs-anchor {
                color: $r-tabs-active-color;
                background-color: $r-tabs-active-bg ;
            }
        }

        .r-tabs-panel {
            border-right: 1px solid $r-tabs-bd ;
            border-bottom: 1px solid $r-tabs-bd ;
            border-left: 1px solid $r-tabs-bd ;
        }

        .r-tabs-accordion-title {

            .r-tabs-anchor {
            }

            &.r-tabs-state-active .r-tabs-anchor {
                background-color: $r-tabs-bg ;
                color: $r-tabs-active-color;
                border-top: 1px solid $r-tabs-bd ;
                border-right: 1px solid $r-tabs-bd ;
                border-left: 1px solid $r-tabs-bd ;
            }

			&.r-tabs-state-disabled {
				a:hover{
					color: $r-tabs-color;
				}
			}
        }
    }

/*
    Tabslet
    ------------------------------------- */

    .tabslet{

        .tabs-nav{

            li{
                background: color(white);
                border: 1px solid $tabslet-bd;

                &:hover,&.active{
                    background: $tabslet-active-bg;

                    a {
                      color: $tabslet-active-color;
                    }
                }
            }

            a{ color: $tabslet-color; }

        }

        .tabs-panel{
            border: 1px solid $tabslet-bd;
        }

    }



//  Media Queries
//  ==========================================================================

    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    /*
        Easy Responsive Tabs
        ------------------------------------- */
		.resp-vtabs {
			.resp-tab-content {
				border: 1px solid $resp-tabs-active-bd;
			}
			.resp-tabs-container {
				border: none;
			}
		}

		.resp-vtabs .resp-tab-content:last-child {
			border-bottom: 1px solid $resp-tabs-active-bd !important;
		}


		/*-----Skins-----*/

		.resp-tabs-skin-1{

			margin-bottom: 10px !important;

			.resp-tab-active{
				border: 1px solid $resp-tabs-t-1-active-bd !important;
				background: $resp-tabs-t-1-active-bg !important;

				&.resp-accordion:first-child {
					border-top: 1px solid $resp-tabs-t-1-active-bg !important;
				}
			}

			.resp-accordion{
				border: 1px solid $resp-tabs-t-1-active-bd !important;

				&:first-child {
					border-top: 1px solid $resp-tabs-t-1-active-fc-bd !important;
				}
			}

		}

    }

    @include breakpoint($screen-xs-maxx){

    }
