/*
    Pagination
    ========================================================================== */

/*
    Pagination
    ------------------------------------- */
	.pagination {

		> li {

			> a,
			> span {
				color: $pagination-color;
				background-color: $pagination-bg;
				border: 1px solid $pagination-bd;
			}
		}

		> li > a,
		> li > span {
			&:hover,
			&:focus {
				color: $pagination-hover-color;
				background-color: $pagination-hover-bg;
				border-color: $pagination-hover-bd;
			}
		}

		> .active > a,
		> .active > span {
			&,
			&:hover,
			&:focus {
				color: $pagination-active-color;
				background-color: $pagination-active-bg;
				border-color: $pagination-active-bd;
			}
		}

		> .disabled {
			> span,
			> span:hover,
			> span:focus,
			> a,
			> a:hover,
			> a:focus {
				color: $pagination-disabled-color;
				background-color: $pagination-disabled-bg;
				border-color: $pagination-disabled-bd;
			}
		}
	}

/*
    Pager
    ------------------------------------- */
	.pager {

		li {

			> a,
			> span {
				color: $pager-color;
				background-color: $pager-bg;
				border: 1px solid $pager-bd;
			}

			> a:hover,
			> a:focus {
				color: $pager-hover-color;
				background-color: $pager-hover-bg;
				border: 1px solid $pager-hover-bd;
			}
		}

		.disabled {
			> a,
			> a:hover,
			> a:focus,
			> span {
				color: $pager-disabled-color;
				background-color: $pager-disabled-bg;
				border: 1px solid $pager-disabled-bd;
			}
		}
	}




//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
