/*
    Calendar
    ========================================================================== */

/*
	External Events
	-------------------------------------------------------------------------------------------------- */
	.external-remove {
		border-top: 1px solid $external-remove-bd;
	}


/*
    Full Calendar
    --------------------------------------------------------------------------------------------------*/

/*
	Colors
	-------------------------------------------------------------------------------------------------- */

	.fc-unthemed {
		th, td, thead, tbody, .fc-divider, .fc-row {
			border-color: $fc-row-bd;
		}
		.fc-popover {
			background-color: $fc-popover-bg;
			border-color: $fc-popover-bd;
		}
		.fc-divider {
			background: $fc-divider-bg;
		}
		.fc-popover .fc-header {
			background: $fc-popover-header-bg;
			border-bottom: 1px solid $fc-popover-bd;
			.fc-close {
				color: $fc-popover-close-color;
			}
		}
		.fc-today {
			background: $fc-today-bg ;
		}
	}

	.fc-highlight {
		background: $fc-highlight;
	}

	.fc-bgevent {
		background: $fc-bgevent;
	}

	.fc-nonbusiness {
		background: $fc-nonbusiness;
	}

/*
	Buttons (styled <button> tags, normalized to work cross-browser)
	-------------------------------------------------------------------------------------------------- */

	.fc-state-default {
		background-color: $fc-state-default-bg;
		border-color: $fc-state-default-bd;
		color: $fc-state-default-color;
	}

	.fc-state-hover, .fc-state-down, .fc-state-active, .fc-state-disabled {
		background-color: $fc-state-hover-bg;
		color: $fc-state-hover-color;
	}

	.fc-state-hover { }

	.fc-state-down, .fc-state-active {
		background-color: $fc-state-active-bg;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.04));
	}



/*
	Popover
	-------------------------------------------------------------------------------------------------- */

	.fc-popover {
		@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.1));
	}


/*
	Misc Reusable Components
	-------------------------------------------------------------------------------------------------- */

	.fc-head{
		background: $fc-head-bg;
	}

/*
	Global Event Styles
	-------------------------------------------------------------------------------------------------- */

	.fc-event {

		background-color: $fc-event-bg;
		border: 1px solid $fc-event-bd;
		color: $fc-event-color;

		&:hover {
			color: $fc-event-color;
			background-color: $fc-event-bg-hover;
		}
	}

	.ui-widget .fc-event {
		color: $fc-event-color;
	}

	.ev-info{
		color: $fc-event-info-color;
		background-color: $fc-event-info-bg;
		border: 1px solid $fc-event-info-bd;

		&:hover {
			color: $fc-event-info-color;
			background-color: $fc-event-info-bg-hover;
		}
	}

	.ev-warning{
		color: $fc-event-warning-color;
		background-color: $fc-event-warning-bg;
		border: 1px solid $fc-event-warning-bd;

		&:hover {
			color: $fc-event-warning-color;
			background-color: $fc-event-warning-bg-hover;
		}
	}

	.ev-danger{
		color: $fc-event-danger-color;
		background-color: $fc-event-danger-bg;
		border: 1px solid $fc-event-danger-bd;

		&:hover {
			color: $fc-event-danger-color;
			background-color: $fc-event-danger-bg-hover;
		}
	}

	.ev-success{
		color: $fc-event-success-color;
		background-color: $fc-event-success-bg;
		border: 1px solid $fc-event-success-bd;

		&:hover {
			color: $fc-event-success-color;
			background-color: $fc-event-success-bg-hover;
		}
	}

	.ev-dark{
		color: $fc-event-dark-color;
		background-color: $fc-event-dark-bg;
		border: 1px solid $fc-event-dark-bd;

		&:hover {
			color: $fc-event-dark-color;
			background-color: $fc-event-dark-bg-hover;
		}
	}

/*
	Event Limiting
	-------------------------------------------------------------------------------------------------- */

	a.fc-more {
		&:hover {
			color: $fc-more-hover;
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
