/*
    Sliders
    ========================================================================== */

/*
    jQuery UI Slider
    ------------------------------------- */

	.ui-widget-content{
		background: $ui-slider-bg;
		border: $ui-slider-bd;
	}

	.ui-slider-range{
		background: $ui-slider-range-bg;
	}

	.ui-slider .ui-slider-handle{
		border: 1px solid $ui-slider-handle-bd;
		background: $ui-slider-handle-bg;

		&:before{
			background: $ui-slider-handle-before-bg;
		}

		&:hover,
		&:active{
			border-color: $ui-slider-handle-bd-hover;

			&:before{
				background: $ui-slider-handle-before-bg-hover;
			}
		}
	}

	.ui-amount{
		background: none !important;
		border: none;
		color: $ui-amount-color;
	}

	/* Colored */
	.ui-slider-primary,
	.ui-slider-success,
	.ui-slider-info,
	.ui-slider-warning,
	.ui-slider-danger{
		.ui-slider-handle{
			&:hover,
			&:active{
				border-color: $ui-slider-colored-hover;

				&:before{
					background: $ui-slider-colored-hover;
				}
			}
		}
	}

	.ui-slider-primary{
		.ui-slider-handle{ border: 1px solid $ui-slider-primary-color; &:before{ background: $ui-slider-primary-color; } }
		.ui-slider-range{ background: $ui-slider-primary-color; }
	}

	.ui-slider-success{
		.ui-slider-handle{ border: 1px solid $ui-slider-success-color; &:before{ background: $ui-slider-success-color; } }
		.ui-slider-range{ background: $ui-slider-success-color; }
	}

	.ui-slider-info{
		.ui-slider-handle{ border: 1px solid $ui-slider-info-color; &:before{ background: $ui-slider-info-color; } }
		.ui-slider-range{ background: $ui-slider-info-color; }
	}

	.ui-slider-warning{
		.ui-slider-handle{ border: 1px solid $ui-slider-warning-color; &:before{ background: $ui-slider-warning-color; } }
		.ui-slider-range{ background: $ui-slider-warning-color; }
	}

	.ui-slider-danger{
		.ui-slider-handle{ border: 1px solid $ui-slider-danger-color; &:before{ background: $ui-slider-danger-color; } }
		.ui-slider-range{ background: $ui-slider-danger-color; }
	}

/*
    jQuery UI Slider Pips
    ------------------------------------- */
    /* HORIZONTAL */
    .ui-slider-pips {

      .ui-slider-pip {
        color: #999;
      }
      .ui-slider-line {
        background: #999;
      }
    }

    .ui-slider-pip:hover .ui-slider-label {
      color: black;
    }

    /* VERTICAL */
    .ui-slider-float {

      .ui-slider-tip, .ui-slider-tip-label {

        background: white;
        border: 1px solid #888;
        color: #333;
      }

      .ui-slider-tip:after,
      .ui-slider-pip .ui-slider-tip-label:after {

        border: 5px solid rgba(255, 255, 255, 0);
        border-top-color: rgba(255, 255, 255, 1);

      }
      .ui-slider-tip:before {
        border: 5px solid rgba(255, 255, 255, 0);
        border-top-color: #888;
      }

      .ui-slider-pip .ui-slider-tip-label {
        &:before {
          border: 5px solid rgba(255, 255, 255, 0);
          border-top-color: #888;
        }
        &:after {
          border: 5px solid rgba(255, 255, 255, 0);
          border-bottom-color: rgba(255, 255, 255, 1);
        }
        &:before {
          border: 5px solid rgba(255, 255, 255, 0);
          border-bottom-color: #888;
        }
      }
    }

    .ui-slider-vertical.ui-slider-float {
      .ui-slider-tip, .ui-slider-tip-label {
        color: #333;
      }

      .ui-slider-tip:after, .ui-slider-pip .ui-slider-tip-label:after {
        border: 5px solid rgba(255, 255, 255, 0);
        border-left-color: rgba(255, 255, 255, 1);
        border-top-color: transparent;
      }
      .ui-slider-tip:before {
        border: 5px solid rgba(255, 255, 255, 0);
        border-left-color: #888;
        border-top-color: transparent;
      }
      .ui-slider-pip .ui-slider-tip-label {
        &:before {
          border: 5px solid rgba(255, 255, 255, 0);
          border-left-color: #888;
          border-top-color: transparent;
        }
        &:after {
          border: 5px solid rgba(255, 255, 255, 0);
          border-right-color: rgba(255, 255, 255, 1);
        }
        &:before {
          border: 5px solid rgba(255, 255, 255, 0);
          border-right-color: #888;
        }
      }
    }

    .ui-slider-pips {
      .ui-slider-pip-selected-initial, .ui-slider-pip-selected-initial-first, .ui-slider-pip-selected-initial-second {
        color: $ui-slider-pip-selected-initial-first-color;
      }
      .ui-slider-pip-selected-initial, .ui-slider-pip-selected-initial-first {}

      .ui-slider-pip-selected-initial-second {
        color: $ui-slider-pip-selected-initial-second-color;
      }
      .ui-slider-pip-selected, .ui-slider-pip-selected-first, .ui-slider-pip-selected-second {
        color: $ui-slider-pip-selected-color;
      }
      .ui-slider-pip-selected, .ui-slider-pip-selected-first {}

      .ui-slider-pip-selected-second {}
    }

//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){
		.slider-md-adjust{
			margin-top: 50px;
		}
    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
