/*
    Notifications
    ========================================================================== */

/*
    jGrowl
    ------------------------------------- */

	.jGrowl {
		color: $jGrowl-color;
	}

	/** Cross Browser Styling **/
	.jGrowl {
		.jGrowl-notification,
		.jGrowl-closer {
			background-color: $jGrowl-bg;
		}

		.jGrowl-closer:hover {
			background-color: $jGrowl-closer-bg-hover;
		}

		.jGrowl-close:hover{
			color: $jGrowl-close-hover;
		}
	}

/*
    Toastr
    ------------------------------------- */

	.toast-message {
		a, label {
			color: $toast-message-color;
		}
	}

	.toast-close-button {

		color: $toast-close-btn-color;

		&:hover, &:focus {
			color: $toast-close-btn-hover;
		}
	}

	#toast-container {

		> {
			div {
				@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
				color: $toast-container-color;
			}
			:hover {
				@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
			}

		}
	}

	.toast {
		background-color: $toast-default-bg;
	}

	.toast-success {
		background-color: $toast-success-bg;
	}

	.toast-error {
		background-color: $toast-error-bg;
	}

	.toast-info {
		background-color: $toast-info-bg;
	}

	.toast-warning {
		background-color: $toast-warning-bg;
	}

	.toast-progress {
		background-color: $toast-progress-bg;
	}

/*
    Amaran
    ------------------------------------- */
	.amaran-wrapper {
		position: fixed;
	}
	.amaran-wrapper.top {
		top:0;
		bottom: auto;
	}
	.amaran-wrapper.bottom {
		bottom:0;
		top:auto;
	}
	.amaran-wrapper.left{
		left:0;
	}
	.amaran-wrapper.right{
		right:0;
		left:auto;
	}
	.amaran-wrapper.center{
		left:0;
		right: auto;
	}
	.amaran {
		width:200px;
		display:block;
		background: rgba(0, 0, 0, 0.7);
		padding:3px;
		color:#fff;
		border-radius: 4px;
		margin-top:5px;
		display: none;
		font-family: Arial;
		font-size:12px;
		cursor: pointer;
		position: relative;
		text-align: left;
		min-height:50px;
		margin:10px;
	}
	.amaran:first-child{
		margin-top:0;
	}
	.amaran-close {
		position: absolute;
		top:2px;
		right:2px;
		display: block;
		width:20px;
		height:20px;
	}





//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}

/*
    Hide jGrowl when printing
    ------------------------------------- */
	@media print {
		.jGrowl {
			display: none;
		}
	}

/*
    Toastr
    ------------------------------------- */

	/*Responsive Design*/
	@media all and (max-width: 239px) {
		#toast-container > div {
			padding: 8px 8px 8px 50px;
			width: 11em;
		}
		#toast-container .toast-close-button {
			right: -0.2em;
			top: -0.2em;
		}
	}
	@media all and (min-width: 240px) and (max-width: 479px) {
		#toast-container > div {
			padding: 8px 8px 8px 50px;
			width: 18em;
		}
		#toast-container .toast-close-button {
			right: -0.2em;
			top: -0.2em;
		}
	}
	@media all and (min-width: 480px) and (max-width: 767px) {
		#toast-container > div {
			padding: 15px 15px 15px 50px;
			width: 25em;
		}
	}


