/*
    Icons
    ========================================================================== */

    .icon-header{
		a{
			color: $icon-header-a-color;

			&:hover{
				color: $icon-header-a-hover;
			}
		}
        border-bottom: 1px solid $icon-header-bd;
    }

    .icon-list .icon-hover {
        color: $icon-hover-color;
        @include border-radius($s-radius);

        &::-moz-selection {
			color: $icon-hover-color-hover;
            background: $icon-select-bg;
        }

        &::selection {
			color: $icon-hover-color-hover;
            background: $icon-select-bg;
        }

        &:hover {
            background-color: $icon-hover-bg-hover;
            color: $icon-hover-color-hover;

            .text-muted {
//              color: $color-muted;
            }
        }
    }


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
