/*
    Page Progressbar
    ========================================================================== */

/*
    Common Settings
    ------------------------------------- */

	.pace-active-effect{
		background: $page-progressbar-active-bg;
	}

/*
    Default Effect - Minimal
    ------------------------------------- */

	.pace-effect-1{

		.pace-progress {
			background: $page-progressbar-color;
		}
	}

/*
    Flash
    ------------------------------------- */

	.pace-effect-2 {

		.pace-progress {
			background: $page-progressbar-color;
		}

		.pace-progress-inner {
			box-shadow: 0 0 10px $page-progressbar-color, 0 0 5px $page-progressbar-color;
		}

		.pace-activity {
			border-top-color: $page-progressbar-color;
			border-left-color: $page-progressbar-color;
		}

	}

/*
	Barber Shop
	------------------------------------- */

	.pace-effect-3 {

//		background: #fff;

		.pace-progress {
			background-color: $page-progressbar-color;
		}

		.pace-activity {

			background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
			background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
			background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
			background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);

		}

	}

/*
	Fill Left
	------------------------------------- */

	.pace-effect-4 {

		.pace-progress {
			background-color: rgba($page-progressbar-color, 0.2);
		}

	}

/*
	Big Counter
	------------------------------------- */

	.pace-effect-5 {

		.pace-progress {

			&:after {
				color: rgba($page-progressbar-color, 0.5);
			}
		}

	}

/*
	Corner Indicator
	------------------------------------- */

	.pace-effect-6{

		.pace-activity {
			background: $page-progressbar-color;
		}

		.pace-activity {
			&::before, &::after {
				border: 5px solid #fff;
			}

			&::before {
				border-right-color: rgba(0, 0, 0, 0.2);
				border-left-color: rgba(0, 0, 0, 0.2);
			}

			&::after {
				border-top-color: rgba(0, 0, 0, 0.2);
				border-bottom-color: rgba(0, 0, 0, 0.2);
			}
		}

	}

/*
	Bounce
	------------------------------------- */

	.pace-effect-7{

		.pace-activity {
			background: $page-progressbar-color;
		}

		.pace-progress {
			background: rgba(20, 20, 20, 0.1);
			box-shadow: 0 0 20px 35px rgba(20, 20, 20, 0.1);
		}
	}

/*
	Loading Bar
	------------------------------------- */

	.pace-effect-8 {

		.pace-progress {

			background: $page-progressbar-color;
			color: $page-progressbar-color;

			-webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
			-ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
			box-shadow: 120px 0 #fff, 240px 0 #fff;

		}

		.pace-activity {
			box-shadow: inset 0 0 0 2px $page-progressbar-color, inset 0 0 0 7px #FFF;
		}

	}

/*
	Center Simple
	------------------------------------- */

	.pace-effect-9 {

		background: #fff;
		border: 1px solid $page-progressbar-color;

		.pace-progress {
			background: $page-progressbar-color;
		}
	}


//  Media Queries
//  ==========================================================================
	@include breakpoint($screen-lg-maxx){

	}

	@include breakpoint($screen-md-maxx){

	}

	@include breakpoint($screen-sm-maxx){

	}

	@include breakpoint($screen-xs-maxx){

	}
