/*  ==========================================================================
    Simple Line
    ========================================================================== */
/*!
 *  Simple Line by @byjml - http://graphicburger.com/simple-line-icons-webfont - @byjml
 *
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Simple-Line-Icons';
  src: url("../../../fonts/simpleline/Simple-Line-Icons.eot");
  src: url("../../../fonts/simpleline/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../../../fonts/simpleline/Simple-Line-Icons.woff") format("woff"), url("../../../fonts/simpleline/Simple-Line-Icons.ttf") format("truetype"), url("../../../fonts/simpleline/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Simple-Line-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.simpleline {
  font-family: 'Simple-Line-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.simpleline-user-female:before {
  content: "\e000"; }

.simpleline-user-follow:before {
  content: "\e002"; }

.simpleline-user-following:before {
  content: "\e003"; }

.simpleline-user-unfollow:before {
  content: "\e004"; }

.simpleline-trophy:before {
  content: "\e006"; }

.simpleline-screen-smartphone:before {
  content: "\e010"; }

.simpleline-screen-desktop:before {
  content: "\e011"; }

.simpleline-plane:before {
  content: "\e012"; }

.simpleline-notebook:before {
  content: "\e013"; }

.simpleline-moustache:before {
  content: "\e014"; }

.simpleline-mouse:before {
  content: "\e015"; }

.simpleline-magnet:before {
  content: "\e016"; }

.simpleline-energy:before {
  content: "\e020"; }

.simpleline-emoticon-smile:before {
  content: "\e021"; }

.simpleline-disc:before {
  content: "\e022"; }

.simpleline-cursor-move:before {
  content: "\e023"; }

.simpleline-crop:before {
  content: "\e024"; }

.simpleline-credit-card:before {
  content: "\e025"; }

.simpleline-chemistry:before {
  content: "\e026"; }

.simpleline-user:before {
  content: "\e005"; }

.simpleline-speedometer:before {
  content: "\e007"; }

.simpleline-social-youtube:before {
  content: "\e008"; }

.simpleline-social-twitter:before {
  content: "\e009"; }

.simpleline-social-tumblr:before {
  content: "\e00a"; }

.simpleline-social-facebook:before {
  content: "\e00b"; }

.simpleline-social-dropbox:before {
  content: "\e00c"; }

.simpleline-social-dribbble:before {
  content: "\e00d"; }

.simpleline-shield:before {
  content: "\e00e"; }

.simpleline-screen-tablet:before {
  content: "\e00f"; }

.simpleline-magic-wand:before {
  content: "\e017"; }

.simpleline-hourglass:before {
  content: "\e018"; }

.simpleline-graduation:before {
  content: "\e019"; }

.simpleline-ghost:before {
  content: "\e01a"; }

.simpleline-game-controller:before {
  content: "\e01b"; }

.simpleline-fire:before {
  content: "\e01c"; }

.simpleline-eyeglasses:before {
  content: "\e01d"; }

.simpleline-envelope-open:before {
  content: "\e01e"; }

.simpleline-envelope-letter:before {
  content: "\e01f"; }

.simpleline-bell:before {
  content: "\e027"; }

.simpleline-badge:before {
  content: "\e028"; }

.simpleline-anchor:before {
  content: "\e029"; }

.simpleline-wallet:before {
  content: "\e02a"; }

.simpleline-vector:before {
  content: "\e02b"; }

.simpleline-speech:before {
  content: "\e02c"; }

.simpleline-puzzle:before {
  content: "\e02d"; }

.simpleline-printer:before {
  content: "\e02e"; }

.simpleline-present:before {
  content: "\e02f"; }

.simpleline-playlist:before {
  content: "\e030"; }

.simpleline-pin:before {
  content: "\e031"; }

.simpleline-picture:before {
  content: "\e032"; }

.simpleline-map:before {
  content: "\e033"; }

.simpleline-layers:before {
  content: "\e034"; }

.simpleline-handbag:before {
  content: "\e035"; }

.simpleline-globe-alt:before {
  content: "\e036"; }

.simpleline-globe:before {
  content: "\e037"; }

.simpleline-frame:before {
  content: "\e038"; }

.simpleline-folder-alt:before {
  content: "\e039"; }

.simpleline-film:before {
  content: "\e03a"; }

.simpleline-feed:before {
  content: "\e03b"; }

.simpleline-earphones-alt:before {
  content: "\e03c"; }

.simpleline-earphones:before {
  content: "\e03d"; }

.simpleline-drop:before {
  content: "\e03e"; }

.simpleline-drawer:before {
  content: "\e03f"; }

.simpleline-docs:before {
  content: "\e040"; }

.simpleline-directions:before {
  content: "\e041"; }

.simpleline-direction:before {
  content: "\e042"; }

.simpleline-diamond:before {
  content: "\e043"; }

.simpleline-cup:before {
  content: "\e044"; }

.simpleline-compass:before {
  content: "\e045"; }

.simpleline-call-out:before {
  content: "\e046"; }

.simpleline-call-in:before {
  content: "\e047"; }

.simpleline-call-end:before {
  content: "\e048"; }

.simpleline-calculator:before {
  content: "\e049"; }

.simpleline-bubbles:before {
  content: "\e04a"; }

.simpleline-briefcase:before {
  content: "\e04b"; }

.simpleline-book-open:before {
  content: "\e04c"; }

.simpleline-basket-loaded:before {
  content: "\e04d"; }

.simpleline-basket:before {
  content: "\e04e"; }

.simpleline-bag:before {
  content: "\e04f"; }

.simpleline-action-undo:before {
  content: "\e050"; }

.simpleline-action-redo:before {
  content: "\e051"; }

.simpleline-wrench:before {
  content: "\e052"; }

.simpleline-umbrella:before {
  content: "\e053"; }

.simpleline-trash:before {
  content: "\e054"; }

.simpleline-tag:before {
  content: "\e055"; }

.simpleline-support:before {
  content: "\e056"; }

.simpleline-size-fullscreen:before {
  content: "\e057"; }

.simpleline-size-actual:before {
  content: "\e058"; }

.simpleline-shuffle:before {
  content: "\e059"; }

.simpleline-share-alt:before {
  content: "\e05a"; }

.simpleline-share:before {
  content: "\e05b"; }

.simpleline-rocket:before {
  content: "\e05c"; }

.simpleline-question:before {
  content: "\e05d"; }

.simpleline-pie-chart:before {
  content: "\e05e"; }

.simpleline-pencil:before {
  content: "\e05f"; }

.simpleline-note:before {
  content: "\e060"; }

.simpleline-music-tone-alt:before {
  content: "\e061"; }

.simpleline-music-tone:before {
  content: "\e062"; }

.simpleline-microphone:before {
  content: "\e063"; }

.simpleline-loop:before {
  content: "\e064"; }

.simpleline-logout:before {
  content: "\e065"; }

.simpleline-login:before {
  content: "\e066"; }

.simpleline-list:before {
  content: "\e067"; }

.simpleline-like:before {
  content: "\e068"; }

.simpleline-home:before {
  content: "\e069"; }

.simpleline-grid:before {
  content: "\e06a"; }

.simpleline-graph:before {
  content: "\e06b"; }

.simpleline-equalizer:before {
  content: "\e06c"; }

.simpleline-dislike:before {
  content: "\e06d"; }

.simpleline-cursor:before {
  content: "\e06e"; }

.simpleline-control-start:before {
  content: "\e06f"; }

.simpleline-control-rewind:before {
  content: "\e070"; }

.simpleline-control-play:before {
  content: "\e071"; }

.simpleline-control-pause:before {
  content: "\e072"; }

.simpleline-control-forward:before {
  content: "\e073"; }

.simpleline-control-end:before {
  content: "\e074"; }

.simpleline-calendar:before {
  content: "\e075"; }

.simpleline-bulb:before {
  content: "\e076"; }

.simpleline-bar-chart:before {
  content: "\e077"; }

.simpleline-arrow-up:before {
  content: "\e078"; }

.simpleline-arrow-right:before {
  content: "\e079"; }

.simpleline-arrow-left:before {
  content: "\e07a"; }

.simpleline-arrow-down:before {
  content: "\e07b"; }

.simpleline-ban:before {
  content: "\e07c"; }

.simpleline-bubble:before {
  content: "\e07d"; }

.simpleline-camcorder:before {
  content: "\e07e"; }

.simpleline-camera:before {
  content: "\e07f"; }

.simpleline-check:before {
  content: "\e080"; }

.simpleline-clock:before {
  content: "\e081"; }

.simpleline-close:before {
  content: "\e082"; }

.simpleline-cloud-download:before {
  content: "\e083"; }

.simpleline-cloud-upload:before {
  content: "\e084"; }

.simpleline-doc:before {
  content: "\e085"; }

.simpleline-envelope:before {
  content: "\e086"; }

.simpleline-eye:before {
  content: "\e087"; }

.simpleline-flag:before {
  content: "\e088"; }

.simpleline-folder:before {
  content: "\e089"; }

.simpleline-heart:before {
  content: "\e08a"; }

.simpleline-info:before {
  content: "\e08b"; }

.simpleline-key:before {
  content: "\e08c"; }

.simpleline-link:before {
  content: "\e08d"; }

.simpleline-lock:before {
  content: "\e08e"; }

.simpleline-lock-open:before {
  content: "\e08f"; }

.simpleline-magnifier:before {
  content: "\e090"; }

.simpleline-magnifier-add:before {
  content: "\e091"; }

.simpleline-magnifier-remove:before {
  content: "\e092"; }

.simpleline-paper-clip:before {
  content: "\e093"; }

.simpleline-paper-plane:before {
  content: "\e094"; }

.simpleline-plus:before {
  content: "\e095"; }

.simpleline-pointer:before {
  content: "\e096"; }

.simpleline-power:before {
  content: "\e097"; }

.simpleline-refresh:before {
  content: "\e098"; }

.simpleline-reload:before {
  content: "\e099"; }

.simpleline-settings:before {
  content: "\e09a"; }

.simpleline-star:before {
  content: "\e09b"; }

.simpleline-symbol-female:before {
  content: "\e09c"; }

.simpleline-symbol-male:before {
  content: "\e09d"; }

.simpleline-target:before {
  content: "\e09e"; }

.simpleline-volume-1:before {
  content: "\e09f"; }

.simpleline-volume-2:before {
  content: "\e0a0"; }

.simpleline-volume-off:before {
  content: "\e0a1"; }

.simpleline-users:before {
  content: "\e001"; }
