//- Component Configuration

//- ------------------------------------

//HEADER
header.layout-header.layout-header-2.t-header-1.z-index-9

	// Stats In Header
	.pull-left
		.widget-stats-2.stats-2-in-header
			.stats-2-toggler
				i.fa.fa-users
			.stats-2-content
				.layout-row.stats-2-header
					.layout-span-xs-8.stats-2-title
						h4 Visitors
					.layout-span-xs-4.stats-2-icon
						i.fa.fa-users
				.layout-row.stats-2-body
					.layout-span-xs-8.stats-2-info 3,281
					.layout-span-xs-4.stats-2-change
						i.fa.fa-angle-up
						= ' '
						span + 21%

	.pull-left.visible-xl-block
		.widget-stats-2.stats-2-in-header.t-stats-2-5
			.stats-2-toggler
				i.fa.fa-eye
			.stats-2-content
				.layout-row.stats-2-header
					.layout-span-xs-8.stats-2-title
						h4 Pageviews
					.layout-span-xs-4.stats-2-icon
						i.fa.fa-eye
				.layout-row.stats-2-body
					.layout-span-xs-8.stats-2-info 12,738
					.layout-span-xs-4.stats-2-change
						i.fa.fa-angle-down
						= ' '
						span - 135

	.pull-right.hidden-xs
		.widget-stats-2.stats-2-in-header
			.stats-2-toggler
				i.fa.fa-thumbs-up
			.stats-2-content
				.layout-row.stats-2-header
					.layout-span-xs-8.stats-2-title
						h4 Total Likes
					.layout-span-xs-4.stats-2-icon
						i.fa.fa-thumbs-up
				.layout-row.stats-2-body
					.layout-span-xs-8.stats-2-info 15,674
					.layout-span-xs-4.stats-2-change
						i.fa.fa-angle-up
						= ' '
						span + 249

	.pull-right.visible-xl-block
		.widget-stats-2.stats-2-in-header.t-stats-2-5
			.stats-2-toggler
				i.fa.fa-comments
			.stats-2-content
				.layout-row.stats-2-header
					.layout-span-xs-8.stats-2-title
						h4 Total Comments
					.layout-span-xs-4.stats-2-icon
						i.fa.fa-comments
				.layout-row.stats-2-body
					.layout-span-xs-8.stats-2-info 5,421
					.layout-span-xs-4.stats-2-change
						i.fa.fa-angle-up
						= ' '
						span + 178

