/*
    Spinners
    ========================================================================== */

/*
	Helper
    ------------------------------------- */
	.spinner-helper{
		text-align: center;

		.layout-box-title{
			@include font-size(14px);
		}

		.layout-box-body{
			padding: 20px 10px;
		}
	}

/*
    Spinners 1
    =============================================== */

/*
	Basic
    ------------------------------------- */

	.spinner {
		position: relative;
		@include user-select(none);

		&:before {
			content: "";
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.6;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&:after {
			border-radius: 100%;
			content: "";
			height: $spinner-height;
			left: 50%;
			margin: (-$spinner-width / 2) 0 0 (-$spinner-width / 2);
			position: absolute;
			top: 50%;
			transform-origin: center;
			width: $spinner-width;
			z-index: 2;
			@include transition(all .75s ease 0s);
			@include animation(standard .75s infinite linear);
		}

		&.no-overlay:before {
			content: none;
			display: none;
		}

	}

	@include keyframes(standard) {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

/*
	Bar
    ------------------------------------- */

	.spinner.bar:after {
		height: $spinner-height / 2;
		width: $spinner-width;
		border-radius: 0;
		border: none;
	}

/*
	Blade
    ------------------------------------- */

	.spinner.blade:after {
		height: $spinner-height /2;
		width: $spinner-width / 2;
		margin: -$spinner-height/4 0 0 (-($spinner-width / 4) + ($spinner-width / 2));
		border-right: $spinner-border-width solid transparent;
		border-top: $spinner-border-width solid transparent;
		border-left: $spinner-border-width solid transparent;
		opacity: 1;
		transform-origin: left;
	}

/*
	Helicopter
    ------------------------------------- */

	.spinner.helicopter:after {
		height: $spinner-height / 4;
		width: $spinner-width;
		margin: -($spinner-height / 4) 0 0 (-($spinner-width / 2));
		border: none;
		border-radius: 0;
		opacity: 1;
		transform-origin: center;
	}

/*
	Line
    ------------------------------------- */

	.spinner.line:after {
		height: $spinner-height;
		border-radius: 0;
		border: none;
		@include animation(line .75s infinite linear);
	}

	@include keyframes(line){
		from { width: 10px; }
		to { width: $spinner-width + 10px; }
	}

/*
	Line Grow
	------------------------------------- */

	.spinner.line.grow:after {
		@include animation(line .75s infinite linear, line-grow .75s infinite linear);
	}

	@include keyframes(line-grow){
		0% { transform: scaleY(1.0); }
		50% { transform: scaleY(2.0); }
		100% { transform: scaleY(1.0); }
	}

/*
	Line Back and Forth
	------------------------------------- */

	.spinner.line.back-and-forth:after {
		@include animation(line-back-and-forth 1s infinite linear);
	}

	@include keyframes(line-back-and-forth){
		0% { width: 10px; }
		50% { width: $spinner-width + 10px; }
		100% { width: 10px; }
	}

/*
	Line Back and Forth
	------------------------------------- */

	.spinner.line.back-and-forth.grow:after {
		@include animation(line-back-and-forth 1s infinite linear, line-back-and-forth-grow 1s infinite linear);
	}

	@include keyframes(line-back-and-forth-grow){
		0% { transform: scaleY(1.0); }
		25% { transform: scaleY(2.0); }
		50% { transform: scaleY(1.0); }
		75% { transform: scaleY(2.0); }
		100% { transform: scaleY(1.0); }
	}

/*
	Shadow
    ------------------------------------- */

	.spinner.shadow:after {
		border-radius: 100%;
		border: none;
	}

/*
	Shadow Oval Left
	------------------------------------- */

	.spinner.shadow.oval:after {
		border-radius: 100% 40%;
	}

/*
	Shadow Oval Right
	------------------------------------- */

	.spinner.shadow.oval.right:after {
		border-radius: 40% 100%;
	}

/*
	Sphere Horizontal
	------------------------------------- */

	.spinner.sphere:after {
		border-radius: 100%;
		border: none;
		height: $spinner-height;
	}

/*
	Sphere Vertical
	------------------------------------- */

	.spinner.sphere.vertical:after {
		border-radius: 100%;
		border: none;
		height: $spinner-height;
	}

/*
	Sphere Dashed
	------------------------------------- */

	.spinner.dashed:after{
		height: $spinner-height;
		width: $spinner-width;
		border-radius: 50%;

		@include animation(dashed 2s infinite linear);
	}

	@include keyframes(dashed){
		from   {  transform: rotate(0deg); }
		to     {  transform: rotate(360deg); }
	}





//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
