/*
    Tags
    ========================================================================== */

/*
    tagEditor
    ------------------------------------- */

	/* surrounding tag container */
	.tag-editor {
		list-style-type: none;
		padding: 10px 5px;
		margin: 0;
		overflow: hidden;
		cursor: text;
		font-weight: normal;
		@include font-size(14px);


		/* core styles usually need no change */
		li {
			display: block;
			float: left;
			overflow: hidden;
			margin: 3px 0;
			line-height: 1.5;
		}
		div {
			float: left;
			padding: 0 4px;
		}
		.placeholder {
			padding: 0 8px;
		}

		.tag-editor-spacer {
			padding: 0;
			width: 8px;
			overflow: hidden;
		}
		input {
			vertical-align: inherit;
			border: none;
			outline: none;
			padding: 0;
			margin: 0;
			cursor: text;
			font-family: inherit;
			font-weight: inherit;
			font-size: inherit;
			font-style: inherit;
			box-shadow: none;
			background: none;
			@include box-shadow(none !important);
		}


		/* tag style */
		.tag-editor-tag {
			padding-left: 5px;
			white-space: nowrap;
			overflow: hidden;
			cursor: pointer;
			@include border-radius($s-radius 0 0 $s-radius);
		}

		/* delete icon */
		.tag-editor-delete {
			cursor: pointer;
			padding-right: 5px;
			@include border-radius(0 $s-radius $s-radius 0);

			i {
				display: inline-block;
				width: 7px;
				height: 7px;
				vertical-align: middle;
				background: url(../img/plugins/tags/delete.png) 0 0 no-repeat;
				position: relative;
				top: -1px;
			}
			&:hover i {
				background-position: 0 -14px;
			}
		}
		.tag-editor-tag.active {
			background: none !important;
			padding: 0 10px;

			+ .tag-editor-delete {
				background: none;
				cursor: text;
				i {
					background: none;
					cursor: text;
				}
			}
		}
	}

	/* skin 1 */
	.tag-skin-1 + .tag-editor {

		.tag-editor-tag {
			@include border-radius($s-radius);
		}

		.tag-editor-spacer {
			width: 7px;
		}

		.tag-editor-delete {
			display: none;
		}
	}


	/* jQuery UI autocomplete */
	.ui-autocomplete {
		position: absolute;
		top: 0;
		left: 0;
		cursor: default;
		@include font-size(14px);
	}

	.ui-front {
		z-index: 9999;
	}

	.ui-menu {
		list-style: none;
		margin: 0;
		display: block;
		outline: none;
		.ui-menu-item a {
			text-decoration: none;
			display: block;
			padding: 5px 8px;
			line-height: 1.4;
			min-height: 0;
			support: IE7
		}
	}

	.ui-helper-hidden-accessible {
		display: none;
	}


/*
    Tagging
    ------------------------------------- */

	.tagging {
		cursor: text;
		height: auto;
		padding: 10px 10px 15px;
	}

	.tag {
		cursor: default;
		display: inline-block;
		position: relative;
		white-space: nowrap;
		padding: 4px 20px 4px 0;
		margin: 5px 10px 0 0;
		@include border-radius($s-radius);

		span {
			margin-right: 5px;
			padding: 5px 10px 5px;
			@include border-radius($s-radius 0 0 $s-radius);
		}
		.tag-i {
			cursor: pointer;
			height: 0;
			line-height: 0.1em;
			position: absolute;
			right: 5px;
			top: 0.75em;
			text-align: center;
			width: 10px;
			@include font-size(19px);

			&:hover {
				text-decoration: none;
			}
		}
	}

	.type-zone {
		height: auto;
		width: auto;
		min-width: 10px;
		display: inline-block;
		padding: 4px 10px;
		margin: 5px 10px 0 0;
		&:focus {
			outline: none;
		}
	}



/*
    Masterblaster
    ------------------------------------- */

	.mb-container {
		overflow: hidden;
		ul.mb-taglist {
			padding: 0;
			margin: 0;
			overflow: hidden;
			float: left;
		}
	}

	.mb-meta {
		float: left;
		overflow: hidden;
		padding-left: 5px;
	}

	.mb-tag-content {
		overflow: hidden;
		white-space: nowrap;
	}

	.mb-help-text {
		margin-left: 5px;
	}

	.mb-add-button {
		padding: 4px 8px;
		margin-left: 5px;
		line-height: 20px;
		@include border-radius($s-radius);
		@include font-size(14px);
	}

	.mb-container {
		li.mb-tag {
			overflow: hidden;
			float: left;
			list-style-type: none;
			padding: 4px 8px;
			margin-right: 4px;
			@include border-radius($s-radius);
		}
		.mb-input-container {
			float: right;
		}
		.mb-input {
			float: left;
			padding: 4px 6px;
			margin: 0 0 2px;
			@include border-radius($s-radius);
		}
		a.mb-tag-remove {
			cursor: pointer;
			text-decoration: none;
			display: inline-block;
			margin-left: 8px;
			margin-bottom: -1px;
			width: 10px;
			height: 12px;
			background-repeat: no-repeat;
			background-position: center 2px;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAQAAADsZ9STAAAAhklEQVR4ATXNMQ5AUBAE0Cn0CtUmDkAjEQrVj0b144wOoXALdCL/MGO/zTabnVfMAJBNLikFAr2XpkwtO9a3QlnfHVvKhv4ZOPycKf/9g3MOydgopHMGC2cnFiBiNb2O0xurqEN/vaNNwimkkJyx7N7l3csONuth9Ta5HmxAZY5K+ukdNeEDEiBrgNsMixYAAAAASUVORK5CYII=);
		}
	}


//  Media Queries
//  ==========================================================================
    @include breakpoint($screen-lg-maxx){

    }

    @include breakpoint($screen-md-maxx){

    }

    @include breakpoint($screen-sm-maxx){

    }

    @include breakpoint($screen-xs-maxx){

    }
