include ../../widgets/widget_task/task_in_box

hr.layout-spaced-vertical

.layout-row
	.layout-col-md-6

		include ../../widgets/widget_message/message_in_box


	.layout-col-md-6
		include ../../widgets/widget_notification/notification_in_box



hr.layout-spaced-vertical

.layout-row.layout-spaced-bottom
	.layout-col-md-3
		.widget-stats-2.stats-2-in-box.t-stats-2-1

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Sales
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-money

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info $ 22,500
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-up
					= ' '
					span + 12%

	.layout-col-md-3
		.widget-stats-2.stats-2-in-box.t-stats-2-2

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Visitors
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-users

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info 3,281
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-up
					= ' '
					span + 21%


	.layout-col-md-3
		.widget-stats-2.stats-2-in-box.t-stats-2-3

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Pageviews
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-eye

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info 12,738
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-down
					= ' '
					span - 135

	.layout-col-md-3
		.widget-stats-2.stats-2-in-box.t-stats-2-4

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Avg. time on Site
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-clock-o

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info 00:15:32
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-up
					= ' '
					span + 5%

.layout-row.layout-spaced-bottom
	.layout-col-md-4
		.widget-stats-2.stats-2-in-box

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Total Likes
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-thumbs-up

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info 15,674
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-up
					= ' '
					span + 249

	.layout-col-md-4
		.widget-stats-2.stats-2-in-box.t-stats-2-5

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Total Comments
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-comments

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info 5,421
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-up
					= ' '
					span + 178

	.layout-col-md-4
		.widget-stats-2.stats-2-in-box.t-stats-2-6

			.layout-row.stats-2-header
				.layout-span-sm-8.stats-2-title
					h4 Active Users
				.layout-span-sm-4.stats-2-icon
					i.fa.fa-user

			.layout-row.stats-2-body
				.layout-span-sm-8.stats-2-info 232
				.layout-span-sm-4.stats-2-change
					i.fa.fa-angle-up
					= ' '
					span + 2%

.layout-row.layout-spaced-bottom
	.layout-col-md-3
		.widget-social.social-in-box.t-social-facebook
			.social-icon
				i.fa.fa-facebook
			.social-info
				span 76547
				= ' '
				| Likes

	.layout-col-md-3
		.widget-social.social-in-box.t-social-twitter
			.social-icon
				i.fa.fa-twitter
			.social-info
				span 34756
				= ' '
				| Followers

	.layout-col-md-3
		.widget-social.social-in-box.t-social-google-plus
			.social-icon
				i.fa.fa-google-plus
			.social-info
				span 54785
				= ' '
				| Followers

	.layout-col-md-3
		.widget-social.social-in-box.t-social-youtube
			.social-icon
				i.fa.fa-youtube
			.social-info
				span 12478
				= ' '
				| Subscribers


.layout-row

	.layout-col-lg-4.layout-col-md-12.layout-spaced-bottom
		.widget-profile-2.profile-2-in-box.t-profile-2-2
			.profile-2-img
				a(href="page-profile.html"): img(src='img/profile/profile.jpg')
				a.edit-profile(href="page-profile.html"): i.fa.fa-edit

			ul.profile-2-info
				li: h3 William Jones
				li Designer

			ul.profile-2-details
				li: a(href="#")
					span.text Messages
					span.text-small M
					.label.label-info 5

				li: a(href="#")
					span.text Tasks
					span.text-small T
					.label.label-danger 4

				li: a(href="#")
					span.text Notifications
					span.text-small N
					.label.label-success 5

	.layout-col-lg-4.layout-col-md-6.layout-spaced-bottom
		.widget-social.social-in-box.t-social-instagram
			.social-icon
				i.fa.fa-instagram
			.social-info
				span 54785
				= ' '
				| Followers

	.layout-col-lg-4.layout-col-md-6.layout-spaced-bottom
		.widget-nav.nav-in-box.t-nav-2
			ul
				li: a(href="page-profile.html")
					.nav-icon
						i.fa.fa-user
					.nav-text Profile

				li: a(href="app-mail.html")
					.nav-icon
						i.fa.fa-envelope

						.nav-info
							.badge.badge-danger 5

					.nav-text Inbox

				li: a(href="widget.html")
					.nav-icon
						i.fa.fa-cog
					.nav-text Settings

				li: a(href="page-lock-screen.html")
					.nav-icon
						i.fa.fa-lock
					.nav-text Log Out

				li: a(href="page-login.html")
					.nav-icon
						i.fa.fa-power-off
					.nav-text Sign Out
