// Fullscreen
.layout-row#lolo

	// fullscreen
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Full Screen Widget
				.widget-opt.fr
					a(href='#').ason-widget(data-ason-type="fullscreen", data-ason-target=".layout-box", data-ason-content="true")
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// fullscreen
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Full Screen Widget
				.widget-opt.fr
					a.btn.btn-default.btn-xs(href='#', role='button').ason-widget(data-ason-type="fullscreen", data-ason-target=".layout-row") Toggle
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

// Delete
.layout-row

	// delete
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Delete Widget
				.widget-opt.fr
					a(href='#').ason-widget(data-ason-type="delete", data-ason-target=".layout-box", data-ason-content="true", data-ason-animation="fadeOut")
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// delete
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Delete Widget
				.widget-opt.fr
					a.btn.btn-danger.btn-xs.ason-widget(href='#', data-ason-type="delete", data-ason-target=".layout-row") Delete
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

// Refresh
.layout-row
	.group
		// refresh
		.layout-col-md-6
			.layout-box.widget
				.layout-box-header
					h2.layout-box-title Refresh Widget
					.widget-opt.fr
						a(href='#').ason-widget(data-ason-type="refresh", data-ason-parent="false", data-ason-target="#refresh", data-ason-content="true", data-ason-duration="1100")
				.layout-box-body#refresh
					.layout-spaced-p
						p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

		// refresh
		.layout-col-md-6
			.layout-box.widget
				.layout-box-header
					h2.layout-box-title Refresh Widget
					.widget-opt.fr
						a.btn.btn-default.btn-xs.ason-widget(href='#', data-ason-type="refresh", data-ason-target=".layout-row", data-ason-duration="3000", data-ason-loader-class="spinner snake") Refresh
				.layout-box-body.layout-spaced
					p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

// Toggle
.layout-row
	// toggle
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Toggle Widget
				.widget-opt.fr
					a(href='#').ason-widget(data-ason-type="toggle", data-ason-parent="false", data-ason-target="#toggle", data-ason-content="true", data-ason-duration="200")
			.layout-box-body.layout-spaced#toggle
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// toggle
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Toggle Widget - Closed and with Fade Effect
				.widget-opt.fr
					a.btn.btn-default.btn-xs.ason-widget(href='#', data-ason-animation-open="fadeIn", data-ason-animation-close="fadeOut", data-ason-duration="300", data-ason-type="toggle", data-ason-parent="false", data-ason-target="#toggle_2") Toggle
			.layout-box-body.layout-spaced.toggle-closed#toggle_2
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

// Scrollbar
.layout-row
	// scrollbar
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Scrollbar Widget

			.layout-box-body.layout-spaced.ason-widget(data-ason-type="scrollbar")
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Duis ultricies ipsum at tristique hendrerit. Suspendisse tristique placerat ligula, in finibus dolor sagittis nec. Integer tincidunt sodales urna, eget feugiat lorem euismod eu. Mauris bibendum elementum lacus, et pharetra ante mollis eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus aliquam. Vestibulum vel facilisis dolor. Donec pulvinar felis sodales hendrerit sodales. Nunc commodo consequat turpis fermentum scelerisque. Proin ultrices nisi enim, id facilisis sem viverra ac. Suspendisse sed vestibulum diam, quis ultrices est. Praesent sed nisi nibh. Aliquam euismod congue magna quis rhoncus. Nunc pellentesque interdum tellus nec consequat. Vestibulum quis nunc purus. Nulla vehicula suscipit porttitor. Duis ultricies ipsum at tristique hendrerit. Suspendisse tristique placerat ligula, in finibus dolor sagittis nec. Integer tincidunt sodales urna, eget feugiat lorem euismod eu. Mauris bibendum elementum lacus, et pharetra ante mollis eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus aliquam. Vestibulum vel facilisis dolor. Donec pulvinar felis sodales hendrerit sodales. Nunc commodo consequat turpis fermentum scelerisque. Proin ultrices nisi enim, id facilisis sem viverra ac. Suspendisse sed vestibulum diam, quis ultrices est. Praesent sed nisi nibh. Aliquam euismod congue magna quis rhoncus. Nunc pellentesque interdum tellus nec consequat. Vestibulum quis nunc purus. Nulla vehicula suscipit porttitor.

	// scrollbar
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Scrollbar Widget with custom Max Height

			.layout-box-body.layout-spaced.ason-widget(data-ason-type="scrollbar", data-ason-max-height="150px")
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Duis ultricies ipsum at tristique hendrerit. Suspendisse tristique placerat ligula, in finibus dolor sagittis nec. Integer tincidunt sodales urna, eget feugiat lorem euismod eu. Mauris bibendum elementum lacus, et pharetra ante mollis eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus aliquam. Vestibulum vel facilisis dolor. Donec pulvinar felis sodales hendrerit sodales. Nunc commodo consequat turpis fermentum scelerisque. Proin ultrices nisi enim, id facilisis sem viverra ac. Suspendisse sed vestibulum diam, quis ultrices est. Praesent sed nisi nibh. Aliquam euismod congue magna quis rhoncus. Nunc pellentesque interdum tellus nec consequat. Vestibulum quis nunc purus. Nulla vehicula suscipit porttitor. Duis ultricies ipsum at tristique hendrerit. Suspendisse tristique placerat ligula, in finibus dolor sagittis nec. Integer tincidunt sodales urna, eget feugiat lorem euismod eu. Mauris bibendum elementum lacus, et pharetra ante mollis eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi fringilla tempus aliquam. Vestibulum vel facilisis dolor. Donec pulvinar felis sodales hendrerit sodales. Nunc commodo consequat turpis fermentum scelerisque. Proin ultrices nisi enim, id facilisis sem viverra ac. Suspendisse sed vestibulum diam, quis ultrices est. Praesent sed nisi nibh. Aliquam euismod congue magna quis rhoncus. Nunc pellentesque interdum tellus nec consequat. Vestibulum quis nunc purus. Nulla vehicula suscipit porttitor.


.layout-row
	.layout-col-md-6.ason-widget(data-ason-type="draggable")

		.layout-box.layout-spaced-bottom.ui-drag-item
			.layout-box-header.ui-drag-handle
				.layout-box-title Draggable box
			.layout-box-body.layout-spaced Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.

		.layout-box.layout-spaced-bottom.ui-drag-item
			.layout-box-header.ui-drag-handle
				.layout-box-title Draggable box
			.layout-box-body.layout-spaced Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.

		.layout-box.layout-spaced-bottom.ui-drag-item
			.layout-box-header.ui-drag-handle
				.layout-box-title Draggable box
			.layout-box-body.layout-spaced Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.


	.layout-col-md-6.ason-widget(data-ason-type="draggable")

		.layout-box.layout-spaced-bottom.ui-drag-item
			.layout-box-header.ui-drag-handle
				.layout-box-title Draggable box
			.layout-box-body.layout-spaced Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.

		.layout-box.layout-spaced-bottom.ui-drag-item
			.layout-box-header.ui-drag-handle
				.layout-box-title Draggable box
			.layout-box-body.layout-spaced Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.

		.layout-box.layout-spaced-bottom.ui-drag-item
			.layout-box-header.ui-drag-disabled
				.layout-box-title Not draggable box
			.layout-box-body.layout-spaced Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
