.layout-row

	// with options
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with options
				ul.layout-box-options
					li
						a(href = '#')
							i.fa.fa-cogs
					li
						a(href = '#')
							i.fa.fa-bars
					li
						a(href='#').ason-widget(data-ason-type="fullscreen", data-ason-target=".layout-box", data-ason-content="true")

					li
						a.ason-widget(href='#', data-ason-type="refresh", data-ason-target=".layout-box", data-ason-duration="1000")
							i.fa.fa-rotate-right
					li
						a(href = '#').ason-widget(data-ason-type="toggle", data-ason-find=".layout-box", data-ason-target=".layout-box-body", data-ason-content="true", data-ason-duration="200")

					li
						a(href='#').ason-widget(data-ason-type="delete", data-ason-target=".layout-box", data-ason-content="true", data-ason-animation="fadeOut")

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// with button
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with button
				.widget-opt.fr
					a.btn.btn-primary.btn-xs(href='#', role='button') Button
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// with button group
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header#elem
				h2.layout-box-title Widget with button group
				.widget-opt.fr
					.btn-group.btn-group-xs
						button.btn.btn-success(type='button') Left
						button.btn.btn-success(type='button') Middle
						button.btn.btn-success(type='button') Right

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// with dropdown
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with dropdown
				.widget-opt.fr
					.btn-group
						button.btn.btn-drop.btn-dark.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
							| Dropdown
							span.caret
						ul.dropdown-menu.drop-dark.dropdown-menu-right(role='menu')
							li: a(href='#') Action
							li: a(href='#') Another action
							li: a(href='#') Something else here
							li.divider
							li: a(href='#') Separated link
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// with loader
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with loader
				.widget-opt.fr.widget-loader
					.spinner.audiowave

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// with progressbar
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with progressbar
				.widget-opt.fr
					.progress.widget-progress
						.progress-bar.progress-bar-striped.active.progress-bar-info(role='progressbar', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100', style='width: 65%;')
							| 65%
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// with badge and label
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with badge and label
				.widget-opt.fr
					ul.list-inline.widget-label-badge
						li: span.label.label-default 3,5%
						li: span.badge.badge-warning 32

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// with search
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with search
				.widget-opt.fr.widget-basic-search
					.input-group
						input.form-control(type='text', placeholder='Search...')
						span.input-group-btn
							button.btn.btn-default.btn-xs(type='button')
								i.fa.fa-search
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// with slider
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with slider
				.widget-opt.fr.widget-slider
					#jqueryUiSlider_1

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// with graph
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with graph
				.widget-opt.fr.widget-graph
					span.sparkBar Loading...
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// with tabs
	.layout-col-md-6
		.layout-box.widget.widget-basic-tabs
			.layout-box-header
				h2.layout-box-title Widget with tabs
				.widget-opt.fr
					ul.nav.nav-tabs(role='tablist')
						li.active
							a(href='#tab_1') Tab 1
						li
							a(href='#tab_2') Tab 2

			.layout-box-body.layout-spaced
				.tab-content
					#tab_1.tab-pane.active Tab 1 - Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
					#tab_2.tab-pane Tab 2 - Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// with pagination
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget with pagination
				.widget-opt.fr.widget-pagination
					ul.pagination.pagination-sm
						li.disabled
							a(href='#')
								span(aria-hidden='true')
									i.fa.fa-angle-double-left
								span.sr-only Previous
						li.active
							a(href='#')
								| 1
								span.sr-only (current)
						li
							a(href='#') 2
						li
							a(href='#') 3
						li
							a(href='#')
								span(aria-hidden='true')
									i.fa.fa-angle-double-right
								span.sr-only Next
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// widget on the left side
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title.fr Widget on the left side
				.widget-opt.fl
					.btn-group
						a.btn.btn-default.btn-xs(href='#', role='button' data-toggle='dropdown')
							i.fa.fa-cog
						ul.dropdown-menu.drop-default(role='menu')
							li: a(href='#')
								i.fa.fa-edit.mr-5
								| Edit
							li.divider
							li: a(href='#')
								i.fa.fa-cut.mr-5
								| Cut
							li: a(href='#')
								i.fa.fa-copy.mr-5
								| Copy
							li: a(href='#')
								i.fa.fa-paste.mr-5
								| Paste
							li.divider
							li: a(href='#')
								i.fa.fa-trash-o.mr-5
								| Delete

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

	// centered text with widgets
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				.layout-span-md-3.layout-span-xs-2
					.widget-opt
						a.btn.btn-dark.btn-xs(href='#', role='button')
							i.fa.fa-rotate-right
				.layout-span-md-6.layout-span-xs-8.tac
					h2.layout-box-title.fn Centered text with widgets

				.layout-span-md-3.layout-span-xs-2.tar
					.widget-opt
						a.btn.btn-danger.btn-xs(href='#', role='button')
							i.fa.fa-times
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

.layout-row

	// widget on the left side
	.layout-col-md-6
		.layout-box.widget
			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.

			.layout-box-footer
				h2.layout-box-title Widget in footer
				.widget-opt.fr
					a.btn.btn-dark.btn-xs(href='#', role='button') Close

	// centered text with widgets
	.layout-col-md-6
		.layout-box.widget
			.layout-box-header
				h2.layout-box-title Widget in header and footer
				.widget-opt.fr
					a(href='#', role='button')
						i.fa.fa-angle-down

			.layout-box-body.layout-spaced
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.


			.layout-box-footer
				h2.layout-box-title Aliquam tincidunt mauris eu risus.
				.widget-opt.fr
					a.btn.btn-info.btn-xs(href='#', role='button') Info
