//- Component Configuration

//- ------------------------------------

//HEADER SLIDE
header#header.layout-header-slide.layout-header-slide-3.t-header-slide-3

	.widget-weather-forecast.layout-row

		.layout-span-xl-10.layout-span-lg-9.layout-span-md-9.layout-span-sm-12
			#slideBar
				='&nbsp;'
				a.weather-day-col(href="#")
					.weather-day BD Corp
					.weather-date May 25
					.weather-icon
						i.ac.ac-0
					.weather-temp 65°F
					.weather-description Sunny
				a.weather-day-col(href="#")
					.weather-day BD Corp
					.weather-date May 25
					.weather-icon
						i.ac.ac-0
					.weather-temp 65°F
					.weather-description Sunny		

		.layout-span-xl-2.layout-span-lg-3.layout-span-md-3.hidden-sm.hidden-xs
			.weather-forecast-settings
				h3 Forecast Puppies

				.form-group
					.input-group.input-group-sm
						.input-group-addon
							i.fa.fa-map-marker
						input.forecast-location.form-control(type='text', placeholder='Search location', value="New York, NY")
						span.input-group-btn
							button.btn.btn-dark.forecast-location-btn(type='button')
								i.fa.fa-search

				.forecastcheckbo
					div
						label.forecast-unit.cb-radio.cb-radio-primary-1
							input(type='radio', name='temperature', value='f', checked='checked')
							| Fahrenheit
					div
						label.forecast-unit.cb-radio.cb-radio-primary-1
							input(type='radio', name='temperature', value='c')
							| Celsius


				a(href="#").forecast-geo-location Use Your Location
