//  ==========================================================================
//  Theme colors
//  ==========================================================================

	// ==========================================================
	// Table of Content
	// ==========================================================
	// - Functional Variables:
	// 		- Named Colors
	//		- Color Palette
	// - Descriptive Variables:
	//		- Base
	//        =========================================
	//		- Layout:
	//        =========================================
	//			- Page
	//			- Grid
	//			- Sidebar
	//			- Boxes and Panels:
	//				- Boxes
	//				- Panels
	//			- Header
	//			- Footer
	// 			- Navigation
	// 			- Bootstrap Navigation:
	//				- Navbar links
	//				- Navbar brand label
	//				- Navbar toggle
	//		- Modules:
	//        =========================================
	//			- Forms:
	//				- Elements:
	//					- Control States
	//					- Input Groups and Addons
	//					- Checkradios
	//					- CheckBo
	//					- FancySelect
	//					- Select 2
	//					- On-Off Toggle Switch
	//				- Upload
	//				- Validation
	//				- Wizard
	//			- Tables:
	//				- Basic
	//				- DataTable
	//				- FooTable
	//			- Charts:
	//				- C3
	//				- Flot
	//				- Morris
	// 				- Rickshaw
	//				- Other
	//			- UI Elements:
	//			  	- Accordion
	//				- Breadcrumb
	//				- Buttons
	//				- Calendar
	//				- Colorpicker
	//				- Date Time:
	//					- Date Range Picker
	//					- Date Time Picker
	//					- Clockface
	//					- Date Picker
	//				- Documentation
	//				- Draggable
	//				- Icon
	//				- Map
	//				- Modal:
	//					- Bootstrap
	//					- Remodal
	//					- Magnific Popup
	//				- Notification:
	//					- jGrowl
	//					- Toastr
	//				- Page Progressbar
	//				- Pagination and Pager:
	//					- Pagination
	//					- Pager
	//				- Pricing Table:
	//					- Plan 1
	//					- Plan 2
	//					- Plan 3
	//				- Progressbar
	//				- Scrollbar
	//				- Slider
	//				- Spinner
	//				- Tab:
	//					- Bootstrap
	//					- Easy Responsive
	//					- Responsive Tabs
	//					- Tabslet
	//				- Tag:
	//					- Tag Editor
	//					- Tagging
	//					- Masterblaster
	//				- Tooltip:
	//					- Bootstrap
	//					- Tooltipster
	//					- Popover
	//					- Webui Popover
	//				- Typography
	//				- Pages:
	//					- Error
	//					- Faqs
	//					- Invoice
	//					- Login, Lock Screen, Register, Change and Forgot Password
	//					- Profile
	//					- Search Page
	//		- Widgets:
	//        =========================================
	//			- Widget Header
	//			- Shared
	//			- Active Users
	//			- Activity
	//			- Chat
	//			- Chat Setting
	//			- Group
	//			- Info
	//			- Latest News
	//			- Latest Orders
	//			- Logo
	//			- Members
	//			- Message
	//			- Navigation
	//			- Notification
	//			- Options
	//          - Page Summary
	//			- Profile
	//			- Profile 2
	//			- Revenue
	// 			- Search
	// 			- Search Expanding
	//			- Server Stats
	//			- Settings
	//			- Socials
	//			- Stats
	//			- Stats 2
	// 			- Statistic
	//			- Status
	//			- Switcher
	//			- Tabs
	//			- Task
	// 			- Theme Settings
	//			- Todo
	//			- Weather Forecast
	//		- Apps
	//        =========================================
	//			- Mail App
	//		- Helpers
	//        =========================================



	// ==========================================================
    // Functional Variables
	// ==========================================================

	// Named Colors
	// -----------------------------

	$c-white : #FFF;
	$c-black : #000;


	// Color Palette
	// -----------------------------

	// Tones
	// -----
	// color-name: (
		// x-light				  lightest
		// light				  lighter
		// mid-light			  light
		// base (default)	or    base (default)
		// mid-dark				  dark
		// dark					  darker
		// x-dark				  darkest
	// )

	$colors: (

		// Base

		white:(
			base   : $c-white,
			dark   : #FDFDFD,
			darker : #FAFAFA
		),
		black:(
			base : $c-black
		),


		// Theme Colors

		white-smoke:(
			base   : #F8F8F8,
			dark   : #F4F4F4,
			darker : #EDEDED
		),

		very-light-grey:(
			base : #CCCCCC
		),

		light-grey:(
			base : #D7D7D7
		),

		dark-grey:(
			base : #AAAAAA,
			dark : #A0A0A0
		),

		gainsboro:(
			base   : #E2E2E2,
			dark   : #DDDDDD,
			darker : #d9d9d9
		),

		silver:(
			base : #BBBBBB,
		),

		empress:(
			base : #737373,
		),

		mortar:(
			lighter : lighten(#535353, 50%),
			light   : lighten(#535353, 40%),
			base    : #535353,
			dark    : darken(#535353, 5%),
			darker  : darken(#535353, 15%),
		),

		nero:(
			light	: #1d1d1d, //#242424
			base    : #161616,  //#202020
			dark    : darken(#161616, 2%),
			darker  : darken(#161616, 5%),
			darkest : darken(#161616, 7%)
		),

		ipreo-blue:(
			lighter : lighten(#0079bd, 40%),
			light   : lighten(#0079bd, 30%),
			base    : #0079bd,
			dark    : darken(#0079bd, 5%),
			darker  : darken(#0079bd, 15%),
		),



		// Bootstrap Colors

		malibu:(
			lighter : lighten(#66A6E2, 30%),
			light   : lighten(#66A6E2, 20%),
			base:   #66A6E2,
			dark    : darken(#66A6E2, 5%)
		),
		jungle-green:(
			lighter : lighten(#30BB74, 40%),
			light   : lighten(#30BB74, 30%),
			base    : #30BB74,
			dark    : darken(#30BB74, 5%)
		),
		summer-sky:(
			lighter : lighten(#49C0E7, 35%),
			light   : lighten(#49C0E7, 30%),
			base    : #49C0E7,
		    dark    : darken(#49C0E7, 5%)
		),
		yellow-sea:(
			lighter : lighten(#F2A730, 40%),
			light   : lighten(#F2A730, 30%),
			base    : #F2A730,
		    dark    : darken(#F2A730, 5%)
		),
		dark-pink:(
			lighter : lighten(#eb525d, 35%),
			light   : lighten(#eb525d, 30%),
			base    : #eb525d,
			dark    : darken(#eb525d, 5%)
		),


		// Social Colors

		facebook:(
			base   : #3B5998,
			dark   : darken(#3B5998, 4%),
			darker : darken(#3B5998, 6%)
		),

		twitter:(
			base : #55ACEE,
			dark   : darken(#55ACEE, 4%),
			darker : darken(#55ACEE, 6%)
		),

		youtube:(
			base : #e52d27,
			dark   : darken(#e52d27, 4%),
			darker : darken(#e52d27, 6%)
		),

		google-plus:(
			base : #dd4b39,
			dark   : darken(#dd4b39, 4%),
			darker : darken(#dd4b39, 6%)
		),

		instagram:(
			base : #3f729b,
			dark   : darken(#3f729b, 4%),
			darker : darken(#3f729b, 6%)
		),


		// Other Colors

	);


	// ==========================================================
	// Descriptive Variables
	// ==========================================================

	// Abbreviation
	// ------------
	// c  : color
	// bg : background
	// bd : border
	// ho : hover
	// fo : focus
	// mu : multi use -  color, background, border

	// Base
	// ==========================================================
	$body-color	: color(mortar);
	$body-bg		: color(white-smoke);

	$a-color	: color(nero);
	$a-hover	: color(ipreo-blue);

	$selection-bg	: color(gainsboro,dark);

	$hr-bd			: color(white-smoke,darker);

	$browsehappy-color: color(black);
	$browsehappy-bg	: color(very-light-grey);


	// Layout
	// ==========================================================

	// Page
	// -----------------------------
	$page-header-bg       : color(white,dark);
	$boxed-bg             : color(white);
	$boxed-bd             : color(white-smoke,darker);
	$boxed-bg-2           : color(white-smoke,dark);
	$boxed-bd-2           : color(gainsboro);
	$page-scroll-up-color    : color(nero);
	$page-scroll-up-bg    : color(ipreo-blue);
	$page-scroll-up-hover  : color(ipreo-blue);
	$page-scroll-up-bg-hover: color(nero);

	// Grid
	// -----------------------------
	$grid-bg   : color(white-smoke,dark);
	$grid-bd   : color(gainsboro,dark);

	$grid-2-bg : color(jungle-green);
	$grid-2-bd : color(jungle-green);

	$grid-3-bg : color(dark-pink);
	$grid-3-bd : color(dark-pink);

	$grid-4-bg : color(yellow-sea);
	$grid-4-bd : color(yellow-sea);

	// Sidebar
	// -----------------------------
	$sidebar-t-1-color: color(dark-grey, dark);
	$sidebar-t-1-bg : color(nero, light);

	$sidebar-t-2-bg : color(white, dark);
	$sidebar-t-2-bd : color(gainsboro);

	$sidebar-t-3-color  : color(dark-grey, dark);
	$sidebar-t-3-bg : color(nero);
	$sidebar-t-3-bd : color(nero,dark);

	$sidebar-t-4-bg : color(white-smoke);
	$sidebar-t-4-bd : color(gainsboro);

	// Boxes and Panels
	// -----------------------------

	// Boxes
	$box-bg				  	  : color(white);
	$box-bd				  	  : color(white-smoke,darker);
	$box-header-bg		  	  : color(white,dark);
	$box-footer-bg 		  	  : color(white,dark);

	$box-button-bg        	  : color(white,dark);
	$box-button-header-bg 	  : color(white,darker);

	$box-primary-color 		  	  : color(ipreo-blue);
	$box-primary-bd    	      : color(ipreo-blue,light);
	$box-primary-heading-bg   : color(ipreo-blue,lighter);

	$box-warning-color 		      : color(jungle-green);
	$box-success-bd    	      : color(jungle-green,light);
	$box-success-heading-bg   : color(jungle-green,lighter);

	$box-info-color 		  	  : color(summer-sky);
	$box-info-bd    	   	  : color(summer-sky,light);
	$box-info-heading-bg 	  : color(summer-sky,lighter);

	$box-warning-color 		      : color(yellow-sea);
	$box-warning-bd    	      : color(yellow-sea,light);
	$box-warning-heading-bg   : color(yellow-sea,lighter);

	$box-danger-color 		      : color(dark-pink);
	$box-danger-bd    	      : color(dark-pink,light);
	$box-danger-heading-bg    : color(dark-pink,lighter);

	$box-dark-color 		  	  : color(mortar);
	$box-dark-bd    	  	  : color(mortar,light);
	$box-dark-heading-bg      : color(mortar,lighter);

	// Panels
	$panel-bg			      : color(white);
	$panel-bd			  	  : color(white-smoke,darker);
	$panel-footer-bg		  : color(white,dark);

	$panel-default-color 		  : color(mortar);
	$panel-default-bd    	  : color(white-smoke,darker);
	$panel-default-heading-bg : color(white,dark);

	$panel-primary-color 		  : color(ipreo-blue);
	$panel-primary-bd    	  : color(ipreo-blue,light);
	$panel-primary-heading-bg : color(ipreo-blue,lighter);

	$panel-info-color 		  : color(jungle-green);
	$panel-success-bd    	  : color(jungle-green,light);
	$panel-success-heading-bg : color(jungle-green,lighter);

	$panel-info-color 		  	  : color(summer-sky);
	$panel-info-bd    	   	  : color(summer-sky,light);
	$panel-info-heading-bg 	  : color(summer-sky,lighter);

	$panel-warning-color 		  : color(yellow-sea);
	$panel-warning-bd    	  : color(yellow-sea,light);
	$panel-warning-heading-bg : color(yellow-sea,lighter);

	$panel-danger-color 		  : color(dark-pink);
	$panel-danger-bd    	  : color(dark-pink,light);
	$panel-danger-heading-bg  : color(dark-pink,lighter);

	$panel-dark-color		  	  : color(mortar);
	$panel-dark-bd    	  	  : color(mortar,light);
	$panel-dark-heading-bg    : color(mortar,lighter);


	// Header
	// -----------------------------
	$header-1-bg 	   : color(white);
	$header-slide-1-bg : color(white-smoke);
	$header-slide-2-bg : color(white);
	$header-slide-3-bg : color(nero);


	// Footer
	// -----------------------------
	$footer-1-bg 	   : color(white);
	$footer-1-bd       : color(white-smoke,darker);

	$footer-slide-1-bg : color(white-smoke);


	// Navigation
	// -----------------------------
	$nav-color			  	   : color(very-light-grey);
	$nav-bg			  	   : color(nero, light);
	$nav-hover			  	   : color(ipreo-blue);
	$nav-bg-hover		  	   : color(nero,dark);

	$nav-open-color		  	   : color(ipreo-blue);
	$nav-open-bg      	   : color(nero);
	$nav-active-color	  	   : color(ipreo-blue);

	$nav-lvl1-open-bg      : color(nero,dark);
	$nav-lvl2-open-bg 	   : color(nero,darker);
	$nav-lvl3-open-bg 	   : color(nero,darkest);

	$nav-lvl1-collapsed-bd : color(nero,darkest);

//	$nav-info-color		   : color(white);
//	$nav-info-bg		   : color(dark-pink);
//	$nav-new-color			   : color(white);
//	$nav-new-bg		   	   : color(jungle-green);
//	$nav-soon-color		   : color(white);
//	$nav-soon-bg		   : color(malibu);

	$nav-info-color			   : color(dark-pink);
	$nav-info-bg		   : none;
	$nav-new-color			   : color(jungle-green);
	$nav-new-bg		   	   : none;
	$nav-soon-color			   : color(malibu);
	$nav-soon-bg		   : none;

	// Bootstrap Navigation
	// -----------------------------
	$navbar-ason-color					: color(mortar);
	$navbar-ason-bg					: color(white);
	$navbar-ason-bd					: color(white-smoke,darker);

	$navbar-ason-nav-li-bd			: color(white-smoke,darker);

	$navbar-ason-nav-a-bg-mu		: color(white-smoke);
	$navbar-ason-nav-a-bd-mu		: color(white-smoke,darker);

	// Navbar links
	$navbar-ason-link-color				: color(mortar);
	$navbar-ason-link-hover-color		: color(mortar,dark);
	$navbar-ason-link-hover-bg		: transparent !default;
	$navbar-ason-link-active-color		: color(nero);
	$navbar-ason-link-active-bg		: color(white-smoke);
	$navbar-ason-link-disabled-color	: color(white,dark) !default;
	$navbar-ason-link-disabled-bg	: transparent !default;

	// Navbar brand label
	$navbar-ason-brand-color			: color(mortar);
	$navbar-ason-brand-hover-color		: color(mortar,dark);
	$navbar-ason-brand-hover-bg		: transparent !default;

	// Navbar toggle
	$navbar-ason-toggle-hover-bg    : color(white-smoke,dark);
	$navbar-ason-toggle-icon-bar-bg : color(mortar);
	$navbar-ason-toggle-bd    		: color(light-grey);



	// Modules
	// ==========================================================

	// Forms
	// ===========================================

	// Elements
	// -----------------------------
	$input-bg 	 		      : color(white);
	$input-bd 	 		      : color(gainsboro);
	$input-bg-hover		      : color(white,darker);
	$input-bd-hover		      : color(gainsboro);
	$input-bg-fo 		      : color(white-smoke);
	$input-bd-fo 		      : color(light-grey);
	$input-disabled-bg-fo     : color(white-smoke,dark);
	$input-disabled-bd-fo     : color(very-light-grey);

	$switchery-default-color	  : color(white-smoke,darker);
	$switchery-primary-color	  : color(ipreo-blue);
	$switchery-success-color	  : color(jungle-green);
	$switchery-info-color		  : color(summer-sky);
	$switchery-warning-color	  : color(yellow-sea);
	$switchery-danger-color		  : color(dark-pink);
	$switchery-dark-color		  : color(mortar);

	// Control States
	$state-success-color         : color(jungle-green,dark);
	$state-success-bd         : color(jungle-green,dark);
	$state-success-bg         : color(jungle-green,dark);

	$state-info-color            : color(summer-sky,dark);
	$state-info-bd            : color(summer-sky,dark);
	$state-info-bg            : color(summer-sky,dark);

	$state-warning-color         : color(yellow-sea,dark);
	$state-warning-bd         : color(yellow-sea,dark);
	$state-warning-bg         : color(yellow-sea,dark);

	$state-danger-color          : color(dark-pink,dark);
	$state-danger-bd          : color(dark-pink,dark);
	$state-danger-bg          : color(dark-pink,dark);

	$state-dark-color            : color(mortar,dark);
	$state-dark-bd            : color(mortar,dark);
	$state-dark-bg            : color(mortar,dark);

	// Input Groups and Addons
	$input-group-addon-color     : color(mortar);
	$input-group-addon-bg     : color(white-smoke);
	$input-group-addon-bd     : color(gainsboro);

	// Checkradios
	$checkradios-color           : color(white);
	$checkradios-default-mu   : color(gainsboro);
	$checkradios-primary-mu   : color(ipreo-blue);
	$checkradios-success-mu   : color(jungle-green);
	$checkradios-info-mu	  : color(summer-sky);
	$checkradios-warning-mu   : color(yellow-sea);
	$checkradios-danger-mu	  : color(dark-pink);
	$checkradios-dark-mu	  : color(mortar);
	$checkradios-disabled     : color(light-grey);

	// CheckBo
	$checkbo-white-bg         : color(white);
	$checkbo-default-mu       : color(gainsboro);
	$checkbo-primary-mu       : color(ipreo-blue);
	$checkbo-success-mu       : color(jungle-green);
	$checkbo-info-mu	      : color(summer-sky);
	$checkbo-warning-mu       : color(yellow-sea);
	$checkbo-danger-mu	      : color(dark-pink);
	$checkbo-dark-mu	      : color(mortar);
	$checkbo-disabled-mu 	  : color(light-grey);

	$checkbo-switcher         : color(gainsboro);

	// FancySelect
	$fancy-color                 : color(mortar);
	$fancy-trigger-bg         : color(white,darker);
	$fancy-trigger-bd         : color(light-grey);

	$fancy-open-color            : color(white);
	$fancy-trigger-open-bg    : color(mortar);
	$fancy-trigger-open-bd    : color(mortar,dark);

	$fancy-option-color          : color(white);
	$fancy-option-bg          : color(mortar);

	$fancy-selected-color        : color(ipreo-blue);
	$fancy-selected-bg        : color(mortar,dark);

	$fancy-option-hover         : color(ipreo-blue);

	// Select 2
	$select2-s-color             : color(mortar);
	$select2-s-placeholder-color : color(dark-grey);
	$select2-s-bg    		  : color(white,darker);
	$select2-s-bd      	      : color(light-grey);

	$select2-dropdown-bg      : color(white);
	$select2-dropdown-bd      : color(light-grey);

	$select2-disabled-color      : color(light-grey);
	$select2-disabled-bg      : color(white);

	$select2-m-color             : color(mortar);
	$select2-m-placeholder-color : color(dark-grey);
	$select2-m-bg    		  : color(white,darker);
	$select2-m-bd      	      : color(light-grey);
	$select2-m-focus-bd       : color(dark-grey);

	$select2-m-choice-bg      : color(white);
	$select2-m-choice-bd      : color(light-grey);

	$select2-m-highlighted-color : color(white);
	$select2-m-highlighted-bg : color(mortar);

	// On-Off Toggle Switch
	$onoffswitch-bd           : color(silver);

	$onoffswitch-default-bg   : color(dark-grey);
	$onoffswitch-primary-bg   : color(ipreo-blue);
	$onoffswitch-success-bg   : color(jungle-green);
	$onoffswitch-info-bg	  : color(summer-sky);
	$onoffswitch-warning-bg   : color(yellow-sea);
	$onoffswitch-danger-bg	  : color(dark-pink);
	$onoffswitch-dark-bg	  : color(mortar);


	// Upload
	// -----------------------------
	$summer-bg                : color(white-smoke,dark);
	$summer-bd 	              : color(white-smoke,darker);
	$summer-dropzone-color       : color(mortar);
	$summer-dropzone-active-color: color(mortar,dark);
	$summeer-note-icon-bar-bd : color(mortar,light);


	// Validation
	// -----------------------------
	$parsley-success-color : color(jungle-green,dark);
	$parsley-success-bg : color(jungle-green,lighter);
	$parsley-success-bd : color(jungle-green,light);

	$parsley-error-color   : color(dark-pink);
	$parsley-error-bg   : color(dark-pink,lighter);
	$parsley-error-bd   : color(dark-pink,light);

	$validate-color        : color(dark-pink);
	$validate-bg   		: color(dark-pink,lighter);
	$validate-bd        : color(dark-pink,light);


	// Wizard
	// -----------------------------

	$wizard-disabled-color        : color(dark-grey);
	$wizard-disabled-bg        : color(white-smoke,dark);

	$wizard-current-color         : color(white);
	$wizard-current-bg         : color(mortar);

	$wizard-done-color    	       : color(white);
	$wizard-done-bg    	       : color(mortar,light);

	$wizard-error-color           : color(white);
	$wizard-error-bg           : color(dark-pink);

	$wizard-bg     		       : color(white-smoke);
	$wizard-bd     		       : color(white-smoke,darker);

	$wizard-color-error-color         : color(dark-pink);
	$wizard-color-error-bg         : color(dark-pink,lighter);
	$wizard-color-error-bd         : color(dark-pink,light);

	$wizard-action-color          : color(white);
	$wizard-action-bg          : color(mortar);

	$wizard-action-disabled-color : color(dark-grey);
	$wizard-action-disabled-bg : color(white-smoke,dark);


	// Tables
	// ===========================================

	// Basic
	// -----------------------------
	$table-bd 		  			 : color(white-smoke,darker);
	$table-accent-bg  			 : color(white,darker);
	$table-hover-bg   			 : color(white,darker);
	$table-active-bg  			 : color(white,darker);
	$table-success-bg 			 : color(jungle-green,lighter);
	$table-info-bg    			 : color(summer-sky,lighter);
	$table-warning-bg 			 : color(yellow-sea,lighter);
	$table-danger-bg  			 : color(dark-pink,lighter);


	// DataTable
	// -----------------------------
	$data-table-thead-bd  		 : color(white-smoke,darker);
	$data-table-tfoot-bd  		 : color(white-smoke,darker);
	$data-table-tbody-bd  		 : color(white-smoke,darker);
	$data-table-main-color   		 : color(mortar);
	$data-table-active-color 		 : color(ipreo-blue);
	$data-table-active-bd 		 : color(ipreo-blue);

	$data-table-paginate-color		 : color(mortar);
	$data-table-paginate-cur-color  : color(mortar);
	$data-table-paginate-cur-bg  : color(white);
	$data-table-paginate-cur-bd  : color(ipreo-blue);

	$data-table-paginate-hov-color  : color(mortar);
	$data-table-paginate-hov-bg  : color(ipreo-blue);
	$data-table-paginate-hov-bd  : color(ipreo-blue);

	$data-table-paginate-act-bg  : color(ipreo-blue,dark);

	$data-fill-bg    			 : color(mortar,light);
	$data-fill-shadow    	     : color(mortar);

	$data-reorder-cloned-bg      : color(white);
	$data-reorder-pointer-bg     : color(ipreo-blue);

	$data-reorder-cloned-bg      : color(white);
	$data-reorder-pointer-bg     : color(ipreo-blue);

	$data-resp-control-color   	 : color(white);
	$data-resp-control-open-bg   : color(nero,light);
	$data-resp-control-closed-bg : color(ipreo-blue,dark);
	$data-resp-child-bd 		 : color(white-smoke,darker);

	// FooTable
	// -----------------------------
	$foo-table-cell-detail-bg   : color(light-grey);
	$foo-table-toggle-color  		: color(dark-grey);
	$foo-table-odd-bg   		: color(white-smoke);


	// Charts
	// ===========================================

	// C3
	// -----------------------------
	$c3-line-1-color  : color(jungle-green);
	$c3-line-2-color  : color(summer-sky);
	$c3-line-3-color  : color(dark-pink);

	$c3-area-1-color  : color(ipreo-blue);
	$c3-area-2-color  : color(dark-pink);

	$c3-spline-1-color: color(nero);
	$c3-spline-2-color: color(yellow-sea);
	$c3-spline-3-color: color(ipreo-blue);

	$c3-mixed-1-color : color(summer-sky,light);
	$c3-mixed-2-color : color(summer-sky);
	$c3-mixed-3-color : color(summer-sky,dark);

	$c3-pie-1-color   : color(malibu);
	$c3-pie-2-color   : color(jungle-green);
	$c3-pie-3-color   : color(summer-sky);
	$c3-pie-4-color   : color(yellow-sea);
	$c3-pie-5-color   : color(dark-pink);

	$c3-donut-1-color : color(ipreo-blue);
	$c3-donut-2-color : color(mortar);
	$c3-donut-3-color : color(nero);
	$c3-donut-4-color : color(yellow-sea);
	$c3-donut-5-color : color(dark-grey);


	// Flot
	// -----------------------------
	$flot-realtime-color: color(ipreo-blue);

	$flot-line-1-color  : color(jungle-green);
	$flot-line-2-color  : color(summer-sky);

 	$flot-pie-1-color   : color(malibu);
 	$flot-pie-2-color   : color(jungle-green);
 	$flot-pie-3-color   : color(summer-sky);
 	$flot-pie-4-color   : color(yellow-sea);
 	$flot-pie-5-color   : color(dark-pink);

	$flot-donut-1-color : color(ipreo-blue);
	$flot-donut-2-color : color(mortar);
	$flot-donut-3-color : color(nero);
	$flot-donut-4-color : color(yellow-sea);
	$flot-donut-5-color : color(dark-grey);

	$flot-bars-1     : color(summer-sky);
	$flot-bars-2     : color(dark-pink);
	$flot-bars-3     : color(jungle-green);
	$flot-lines-1    : color(ipreo-blue);
	$flot-lines-2    : color(yellow-sea);
	$flot-lines-3    : color(mortar);


	// Morris
	// -----------------------------
	$morris-area-1-color   : color(summer-sky);
	$morris-area-2-color   : color(jungle-green);
	$morris-area-3-color   : color(silver);

	$morris-bar-1-color    : color(ipreo-blue,light);
	$morris-bar-2-color    : color(ipreo-blue);
	$morris-bar-3-color    : color(ipreo-blue,dark);

	$morris-stacked-1-color: color(dark-pink,dark);
	$morris-stacked-2-color: color(dark-pink);
	$morris-stacked-3-color: color(dark-pink,light);

	$morris-donut-1-color  : color(summer-sky);
	$morris-donut-2-color  : color(dark-pink);
	$morris-donut-3-color  : color(jungle-green);
	$morris-donut-4-color  : color(yellow-sea);

	$morris-line-1-color   : color(ipreo-blue);

	// Rickshaw
	// -----------------------------
	$rickshaw-area-1-color   : color(ipreo-blue);
	$rickshaw-area-2-color   : color(mortar);
	$rickshaw-area-3-color   : color(silver);

	$rickshaw-bar-1-color    : color(nero);
	$rickshaw-bar-2-color    : color(summer-sky);
	$rickshaw-bar-3-color    : color(summer-sky,light);

	$rickshaw-line-1-color   : color(dark-pink,dark);
	$rickshaw-line-2-color   : color(dark-pink);
	$rickshaw-line-3-color   : color(dark-pink,light);

	$rickshaw-scatter-1-color: color(dark-pink);
	$rickshaw-scatter-2-color: color(jungle-green);
	$rickshaw-scatter-3-color: color(yellow-sea);

	// Other
	// -----------------------------
	$other-skill-1-color       : color(summer-sky);
	$other-skill-2-color       : color(dark-pink);
	$other-skill-3-color       : color(jungle-green);
	$other-skill-4-color       : color(ipreo-blue);
	$other-skill-5-color       : color(yellow-sea);

	$other-spark-bar-1-color   : color(ipreo-blue);
	$other-spark-bar-2-color   : color(mortar);

	$other-spark-line-1-color  : color(dark-pink);
	$other-spark-line-2-color  : color(dark-pink,light);
	$other-spark-line-3-color  : color(dark-pink,dark);

	$other-spark-bullet-1-color: color(dark-pink);
	$other-spark-bullet-2-color: color(mortar);
	$other-spark-bullet-3-color: color(ipreo-blue);
	$other-spark-bullet-4-color: color(ipreo-blue);
	$other-spark-bullet-5-color: color(yellow-sea);

	$other-spark-box-1-color   : color(summer-sky,dark);
	$other-spark-box-2-color   : color(summer-sky,light);
	$other-spark-box-3-color   : color(summer-sky);
	$other-spark-box-4-color   : color(summer-sky);
	$other-spark-box-5-color   : color(summer-sky,dark);

	$other-spark-pie-1-color   : color(jungle-green,lighter);
	$other-spark-pie-2-color   : color(jungle-green,light);
	$other-spark-pie-3-color   : color(jungle-green);
	$other-spark-pie-4-color   : color(jungle-green,dark);


	// UI Elements
	// ===========================================

	// Accordion
	// -----------------------------
	$acc-color		      : color(mortar);
	$acc-bg		      : color(white);
	$acc-bg-hover		  : color(white,dark);
	$acc-bg-open	  : color(white-smoke);
	$acc-bd    	      : color(white-smoke,darker);
	$acc-heading-bg   : color(white,dark);

	$acc-anim-bg      : color(light-grey);
	$acc-anim-open-bg : color(white-smoke,darker);


	// Breadcrumb
	// -----------------------------
	$bread-color			 : color(mortar);
	$bread-active-color		 : color(dark-grey,dark);
	$bread-bg			 : color(white,darker);
	$bread-bd			 : color(white-smoke,darker);

	$bread-page-color		 : color(mortar);
	$bread-page-bg		 : transparent;
	$bread-page-bd		 : transparent;
	$bread-page-hover		 : color(ipreo-blue);
	$bread-page-active-color: color(dark-grey,dark);


    // Buttons
	// -----------------------------
    $color-button   : #333;

	$btn-link-color	   	   : color(malibu);

	$btn-default-color	   : color(mortar);
	$btn-default-bg    : color(white);
	$btn-default-bg-2  : color(white-smoke,darker);
	$btn-default-bd    : color(white-smoke,darker);

	$btn-primary-color	   : color(white);
	$btn-primary-color-2   : color(ipreo-blue);
	$btn-primary-bg    : color(ipreo-blue);
	$btn-primary-bd    : color(ipreo-blue);

	$btn-success-color	   : color(white);
	$btn-success-color-2   : color(jungle-green);
	$btn-success-bg    : color(jungle-green);
	$btn-success-bd    : color(jungle-green);

	$btn-info-color	   	   : color(white);
	$btn-info-color-2	   : color(summer-sky);
	$btn-info-bg       : color(summer-sky);
	$btn-info-bd       : color(summer-sky);

	$btn-warning-color	   : color(white);
	$btn-warning-color-2   : color(yellow-sea);
	$btn-warning-bg    : color(yellow-sea);
	$btn-warning-bd    : color(yellow-sea);

	$btn-danger-color	   : color(white);
	$btn-danger-color-2	   : color(dark-pink);
	$btn-danger-bg     : color(dark-pink);
	$btn-danger-bd     : color(dark-pink);

	$btn-dark-color	   	   : color(white);
	$btn-dark-color-2	   : color(mortar);
	$btn-dark-bg       : color(mortar);
	$btn-dark-bd       : color(mortar);

	$btn-eff-bg   	   : color(white);
	$btn-eff-hover  	   : color(white);
	$btn-eff-1-hover	   : color(mortar);


	// Calendar
	// -----------------------------
	$external-remove-bd   	: color(white-smoke,darker);

	$fc-row-bd            	: color(white-smoke,darker);

	$fc-popover-bg        	: color(white);
	$fc-popover-bd        	: color(white-smoke,darker);
	$fc-popover-header-bg 	: color(white-smoke);
	$fc-popover-close-color  	: color(dark-grey);

	$fc-divider-bg        	: color(gainsboro);

	$fc-today-bg          	: color(ipreo-blue,lighter);
	$fc-highlight         	: color(white-smoke,darker);

	$fc-bgevent           	: color(jungle-green,lighter);
	$fc-nonbusiness       	: color(white-smoke,darker);

	$fc-state-default-color  	: color(mortar);
	$fc-state-default-bg  	: color(white);
	$fc-state-default-bd  	: color(white-smoke,darker);

	$fc-state-hover-color    	: color(mortar);
	$fc-state-hover-bg    	: color(white-smoke);

	$fc-state-active-bg   	: color(white-smoke,dark);
	$fc-head-bg           	: color(white-smoke);

	$fc-event-color          	: color(mortar);
	$fc-event-bg          	: color(white-smoke,dark);
	$fc-event-bd          	: color(white-smoke,dark);
	$fc-event-bg-hover      	: color(white-smoke,darker);

	$fc-event-info-color     	: color(summer-sky);
	$fc-event-info-bg     	: color(summer-sky,lighter);
	$fc-event-info-bd     	: color(summer-sky,lighter);
	$fc-event-info-bg-hover   : color(summer-sky,light);

	$fc-event-warning-color    : color(yellow-sea);
	$fc-event-warning-bg    : color(yellow-sea,lighter);
	$fc-event-warning-bd    : color(yellow-sea,lighter);
	$fc-event-warning-bg-hover: color(yellow-sea,light);

	$fc-event-danger-color   	: color(dark-pink);
	$fc-event-danger-bg   	: color(dark-pink,lighter);
	$fc-event-danger-bd   	: color(dark-pink,lighter);
	$fc-event-danger-bg-hover : color(dark-pink,light);

	$fc-event-success-color  	: color(jungle-green);
	$fc-event-success-bg  	: color(jungle-green,lighter);
	$fc-event-success-bd  	: color(jungle-green,lighter);
	$fc-event-success-bg-hover: color(jungle-green,light);

	$fc-event-dark-color    	: color(mortar,dark);
	$fc-event-dark-bg    	: color(dark-grey);
	$fc-event-dark-bd    	: color(dark-grey);
	$fc-event-dark-bg-hover   : color(dark-grey,dark);

	$fc-more-hover            : color(nero);


	// Colorpicker
	// -----------------------------
	$colorpicker-bg        : color(white);
	$colorpicker-bd        : color(white-smoke,darker);

	$cp-swatch-bd         : color(very-light-grey);
	$cp-swatches-bd       : color(mortar);
	$cp-swatches-shadow   : color(mortar);


	// Date Time
	// -----------------------------

	// Date Range Picker
	$daterangepicker-bg              : color(white);
	$daterangepicker-bd              : color(white-smoke,darker);

	$daterangepicker-label-color      	 : color(mortar);

	$daterangepicker-input-mini-color 	 : color(mortar);
	$daterangepicker-input-mini-bg 	 : color(white-smoke);
	$daterangepicker-input-mini-bd 	 : color(white-smoke,darker);

	$daterangepicker-ranges-li-color    : color(mortar);
	$daterangepicker-ranges-li-bg    : color(white-smoke,dark);
	$daterangepicker-ranges-li-bd    : color(white-smoke,dark);

	$daterangepicker-ranges-li-color-hover : color(mortar,dark);
	$daterangepicker-ranges-li-bg-hover: color(white-smoke,darker);
	$daterangepicker-ranges-li-bd-hover: color(white-smoke,darker);

	$daterangepicker-calendar-bg     : color(white);
	$daterangepicker-calendar-bd     : color(white-smoke,darker);

	$daterangepicker-disabled-color     : color(dark-grey);
	$daterangepicker-available-bg    : color(gainsboro);
	$daterangepicker-in-range-bg     : color(white-smoke,darker);

	$daterangepicker-active-color       : color(white);
	$daterangepicker-active-bg       : color(mortar);
	$daterangepicker-active-bd       : color(mortar,dark);

	// Date Time Picker
	$datetimepicker-bg              : color(white);
	$datetimepicker-bd              : color(white-smoke,darker);

	$datetimepicker-active-color       : color(white);
	$datetimepicker-active-bg       : color(mortar);

	$datetimepicker-disabled-color     : color(dark-grey);
	$datetimepicker-hover-bg        : color(white-smoke,darker);

	// Clockface
	$clockface-bg-hover               : color(white-smoke,darker);

	$clockface-outer-active-color      : color(white);
	$clockface-outer-active-bg      : color(mortar);

	$clockface-inner-active-color      : color(white);
	$clockface-inner-active-bg      : color(dark-grey);

	$clockface-ampm-color              : color(mortar);
	$clockface-ampm-bd              : color(mortar);

	// Date Picker
	$datepicker-bd 		    : color(gainsboro);
	$datepicker-bd-2 		: color(white);

	$datepicker-today-color    : color(white);
	$datepicker-today-bg    : color(dark-grey);

	$datepicker-active-color   : color(nero);
	$datepicker-active-bg   : color(ipreo-blue);

	$datepicker-selected-color : color(white);
	$datepicker-selected-bg : color(empress);

	$datepicker-old-new-color  : color(empress);
	$datepicker-disabled-mu : color(gainsboro);
	$datepicker-th-bg-hover	: color(gainsboro);


	// Documentation
	// -----------------------------
	$doc-color		   : color(white);

	$doc-default   : color(white-smoke);
	$doc-primary   : color(ipreo-blue,light);
	$doc-success   : color(jungle-green,light);
	$doc-info	   : color(summer-sky,light);
	$doc-warning   : color(yellow-sea,light);
	$doc-danger    : color(dark-pink,light);
	$doc-dark      : color(mortar,light);
	$doc-light     : color(white);

	$doc-default-1 : color(white-smoke);
	$doc-primary-1 : color(ipreo-blue);
	$doc-success-1 : color(jungle-green);
	$doc-info-1	   : color(summer-sky);
	$doc-warning-1 : color(yellow-sea);
	$doc-danger-1  : color(dark-pink);
	$doc-dark-1    : color(mortar);


	// Draggable
	// -----------------------------
	$ui-drag-placeholder-bg : color(white-smoke,dark);
	$ui-drag-placeholder-bd : color(gainsboro,dark);

	// Icon
	// -----------------------------
	$icon-header-a-color : color(ipreo-blue);
	$icon-header-a-hover: color(nero);
	$icon-header-bd   : color(white-smoke,darker);

	$icon-hover-color    : color(mortar);
	$icon-hover-color-hover : color(nero,light);
	$icon-hover-bg-hover: color(ipreo-blue);
	$icon-select-bg   : color(ipreo-blue,dark);


	// Map
	// -----------------------------
	$map-mu           : color(nero);


	// Modal
	// -----------------------------

	// Bootstrap
	$modal-content-bg   : color(white);
	$modal-content-bd   : color(white);
	$modal-backdrop-bg  : color(black);

	$modal-header-bd    : color(white-smoke,darker);
	$modal-footer-bd    : color(white-smoke,darker);

	$modal-header-bg    : color(white);
	$modal-body-bg      : color(white);
	$modal-footer-bg    : color(white);

	// Remodal
	$remodal-overlay-bg : color(black);
	$remodal-color         : color(mortar);
	$remodal-bg         : color(white-smoke);

	$remodal-close-color   : color(white-smoke);
	$remodal-close-bg   : color(mortar);

	// Magnific Popup
	$mfp-bg             : color(black);
	$mfp-preloader-color   : color(very-light-grey);
	$mfp-preloader-hover  : color(white);

	$mfp-close-color       : color(white);
	$mfp-close-btn-in   : color(nero,light);
	$mfp-counter-color     : color(very-light-grey);
	$mfp-arrow-inner-bd : color(white);
	$mfp-arrow-outer-bd : color(mortar);


	// Notification
	// -----------------------------

	// jGrowl
	$jGrowl-color 			 : color(white,darker);
	$jGrowl-bg 			 : color(mortar);
	$jGrowl-closer-bg-hover: color(nero,light);
	$jGrowl-close-hover    : color(nero,light);

	// Toastr
	$toast-message-color    : color(white);
	$toast-close-btn-color  : color(white);
	$toast-close-btn-hover : color(white,darker);
	$toast-container-color  : color(white);

	$toast-default-bg    : color(nero);
	$toast-success-bg    : color(jungle-green);
	$toast-error-bg      : color(summer-sky);
	$toast-info-bg       : color(yellow-sea);
	$toast-warning-bg    : color(dark-pink);

	$toast-progress-bg   : color(black);


	// Page Progressbar
	// -----------------------------
	$page-progressbar-color		    : color(ipreo-blue);
	$page-progressbar-active-bg : color(white,darker);


	// Pagination and Pager
	// -----------------------------

	// Pagination
	$pagination-color          : color(mortar);
	$pagination-bg          : color(white);
	$pagination-bd          : color(white-smoke,darker);

	$pagination-hover-color    : color(white);
	$pagination-hover-bg    : color(ipreo-blue);
	$pagination-hover-bd    : color(ipreo-blue);

	$pagination-active-color   : color(white);
	$pagination-active-bg   : color(mortar);
	$pagination-active-bd   : color(mortar);

	$pagination-disabled-color : color(dark-grey);
	$pagination-disabled-bg : color(white-smoke,dark);
	$pagination-disabled-bd : color(white-smoke,darker);

	// Pager
	$pager-color 		   : color(mortar);
	$pager-bg 		   : color(white);
	$pager-bd 		   : color(white-smoke,darker);

	$pager-hover-color    : color(white);
	$pager-hover-bg    : color(ipreo-blue);
	$pager-hover-bd    : color(ipreo-blue);

	$pager-disabled-color : color(dark-grey);
	$pager-disabled-bg : color(white-smoke,dark);
	$pager-disabled-bd : color(white-smoke,darker);


	// Pricing Table
	// -----------------------------
	$plan-bordered         : color(white-smoke,darker);

	// Plan 1
	$plan-1-bg 		  	   : color(white);

	$plan-1-price-color  	   : color(white);
	$plan-1-price-bg       : color(mortar);

	$plan-1-btn-bd	  	   : color(mortar);
	$plan-1-btn-bg-hover	   : color(white-smoke,dark);

	$plan-1-title-color  	   : color(white);
	$plan-1-title-bg       : color(mortar);

	$plan-1-best-price-bg  : color(ipreo-blue);

	$plan-1-best-btn-color	   : color(white);
	$plan-1-best-btn-bg	   : color(ipreo-blue);
	$plan-1-best-btn-bd	   : color(ipreo-blue);
	$plan-1-best-btn-bg-hover: color(ipreo-blue,dark);

	// Plan 2
	$plan-2-color		  	    : color(mortar);
	$plan-2-bg 		  	    : color(white);

	$plan-2-price-nr-color     : color(mortar);

	$plan-2-bd 		  	    : color(white-smoke,darker);
	$plan-2-title-bg 	    : color(white-smoke,darker);
	$plan-2-price-bd 	    : color(white-smoke,darker);

	$plan-2-btn-color	   	    : color(white);
	$plan-2-btn-bg	   	    : color(mortar);
	$plan-2-btn-bd	   	    : color(mortar);

	$plan-2-btn-bg-hover	    : color(ipreo-blue);
	$plan-2-btn-bd-hover	    : color(ipreo-blue);

	$plan-2-best-price-nr-color: color(nero,light);

	$plan-2-best-color	   	    : color(white);
	$plan-2-best-bd 	    : color(dark-grey);
	$plan-2-best-title-bg   : color(dark-grey);
	$plan-2-best-price-bd   : color(dark-grey);

	$plan-2-best-btn-color	    : color(white);
	$plan-2-best-btn-bg	    : color(nero,light);
	$plan-2-best-btn-bd	    : color(nero,light);

	// Plan 3
	$plan-3-bg 		  	    : color(white-smoke);
	$plan-3-bd 		  	    : color(light-grey);

	$plan-3-title-bd        : color(gainsboro);

	$plan-3-btn-color	   	    : color(white);
	$plan-3-btn-bg	   	    : color(mortar);
	$plan-3-btn-bd	   	    : color(mortar);

	$plan-3-btn-bg-hover	    : color(nero,light);
	$plan-3-btn-bd-hover	    : color(nero,light);

	$plan-3-best-bg 		: color(white);

	$plan-3-best-btn-color	    : color(white);
	$plan-3-best-btn-bg	    : color(nero,light);
	$plan-3-best-btn-bd	    : color(nero,light);

	$plan-3-best-btn-bg-hover	: color(black);
	$plan-3-best-btn-bd-hover	: color(black);

	// Theme
	$t-pt-row-1 		    : color(white-smoke,dark);


	// Progressbar
	// -----------------------------
	$progressbar-bd			: color(white-smoke,darker);
	$progressbar-default-bg : color(mortar,light);
	$progressbar-primary-bg : color(ipreo-blue);
	$progressbar-success-bg : color(jungle-green);
	$progressbar-info-bg    : color(summer-sky);
	$progressbar-warning-bg : color(yellow-sea);
	$progressbar-danger-bg  : color(dark-pink);
	$progressbar-dark-bg    : color(mortar);


	// Scrollbar
	// -----------------------------
	$scrollbar-bg         : #aaa;
	$scrollbar-hover-bg   : #999;
	$scrollbar-rail-bg    : #eee;


	// Slider
	// -----------------------------
	$ui-slider-bg 				   			 : color(white-smoke,darker);
	$ui-slider-bd 				   			 : none;
	$ui-slider-handle-bg    	   			 : color(white);
	$ui-slider-handle-bd    	   			 : color(mortar);
	$ui-slider-handle-before-bg    			 : color(mortar);
	$ui-slider-handle-bd-hover	   			 : color(ipreo-blue);
	$ui-slider-handle-before-bg-hover			 : color(ipreo-blue);
	$ui-slider-range-bg			   			 : color(mortar);

	$ui-amount-color                  			 : color(nero);

	$ui-slider-pip-selected-initial-first-color : color(jungle-green);
	$ui-slider-pip-selected-initial-second-color: color(summer-sky);
	$ui-slider-pip-selected-color				 : color(yellow-sea);

	$ui-slider-colored-hover					 : color(mortar);
	$ui-slider-primary-color					 : color(ipreo-blue);
	$ui-slider-success-color					 : color(jungle-green);
	$ui-slider-info-color   					 : color(summer-sky);
	$ui-slider-warning-color					 : color(yellow-sea);
	$ui-slider-danger-color 					 : color(dark-pink);


	// Spinner
	// -----------------------------
	$spinner-overlay-color: color(gainsboro,dark);
	$spinner-base-color: #555;

	$spinner-bar-color: rgba(0, 0, 0, .5);

	$spinner-blade-color: #555;

	$spinner-double-up-color-one : #555;

	$spinner-duo-color-one: #333;
	$spinner-duo-color-two: #999;

	$spinner-helicopter-color: #555;

	$spinner-line-color: rgba(0, 0, 0, .5);

	$spinner-ring-beam-color: #181818;
	$spinner-ring-color: #555;

	$spinner-box-shadow-color: rgba(0, 0, 0, .5);

	$spinner-sphere-color: rgba(0, 0, 0, .5);

	$spinner-traditional-color-one: #777;
	$spinner-traditional-color-two: #999;
	$spinner-traditional-color-three: #BBB;

	$spinner-dashed-color: #181818;

	$spinner-audiowave-color-one: #777;
	$spinner-audiowave-color-two: #181818;

	$spinner-snake-color-one: #181818;
	$spinner-snake-color-two: #999;
	$spinner-snake-color-three: rgba(0,0,0,.52);

	$spinner-spinningdisc-color-one: #181818;
	$spinner-spinningdisc-color-two: #999;
	$spinner-spinningdisc-color-three: rgba(0,0,0,.52);

	$spinner-glisteningwindow-color-one: #3c3c3c;
	$spinner-glisteningwindow-color-two: #999;
	$spinner-glisteningwindow-color-three: #181818;
	$spinner-glisteningwindow-color-four: rgba(0,0,0,.52);


	// Tab
	// -----------------------------

	// Bootstrap
	$nav-tabs-bd 				   : color(white-smoke,darker);

	$nav-tabs-bg-hover			   : color(white,dark);
	$nav-tabs-bd-hover			   : color(white-smoke,darker);

	$nav-tabs-active-link-color 	   : color(ipreo-blue);
	$nav-tabs-active-link-hover-color : color(mortar);
	$nav-tabs-active-link-hover-bg : color(white);
	$nav-tabs-active-link-hover-bd : color(white-smoke,darker);

	// Easy Responsive
	$resp-tabs-cont-bg 			   : color(white);
	$resp-tabs-cont-bd			   : color(white-smoke,darker);

	$resp-tabs-active-color		   	   : color(ipreo-blue);
	$resp-tabs-active-bg		   : color(white);
	$resp-tabs-active-bd		   : color(white-smoke,darker);

	$resp-tabs-acc-arrow-bg  	   : color(light-grey);

	$resp-tabs-acc-active-bg	   : color(white-smoke);
	$resp-tabs-acc-active-arrow-bg : color(dark-grey);

	$resp-tabs-hover-color			   : color(ipreo-blue);

	$resp-tabs-t-1-active-color       : color(mortar);
	$resp-tabs-t-1-active-bg       : color(gainsboro);
	$resp-tabs-t-1-active-bd       : color(gainsboro,darker);
	$resp-tabs-t-1-active-fc-bd    : color(white-smoke);
	$resp-tabs-t-1-cont-bg         : color(white,dark);


	// Responsive Tabs
	$r-tabs-color		  : color(mortar);
	$r-tabs-bg 		  : color(white);
	$r-tabs-bd 		  : color(white-smoke,darker);

	$r-tabs-active-color : color(ipreo-blue);
	$r-tabs-active-bg : color(white,dark);

	// Tabslet

	$tabslet-color        : color(mortar);
	$tabslet-bd 	   : color(white-smoke,darker);

	$tabslet-active-color : color(ipreo-blue);
	$tabslet-active-bg : color(white-smoke);


	// Tag
	// -----------------------------

	// Tag Editor
	$tags-color		   	      	 : color(mortar);
	$tags-bg		      	 : color(white-smoke);
	$tags-bd		      	 : color(white-smoke,darker);

	$tags-color-placeholder   	 : color(white);

	$tags-tag-color		   	  	 : color(mortar);
	$tags-tag-bg		  	 : color(gainsboro);
	$tags-tag-active-color	  	 : color(nero);
	$tags-delete-bg		  	 : color(gainsboro,dark);

	$tags-s1-bg		      	 : color(white,darker);
	$tags-s1-tag-color		  	 : color(white);
	$tags-s1-tag-bg		  	 : color(mortar);
	$tags-s1-tag-active-color	 : color(nero);

	$tags-autocomplete-color 	 : color(mortar);
	$tags-autocomplete-bg 	 : color(white-smoke);
	$tags-autocomplete-bd 	 : color(white-smoke,darker);
	$tags-autocomplete-bg-hover: color(gainsboro);

	// Tagging
	$tagging-color		   	  	 : color(white);
	$tagging-bg		      	 : color(white,darker);
	$tagging-bd		      	 : color(gainsboro,dark);

	$tagging-tag-color		  	 : color(mortar);
	$tagging-tag-bg		  	 : color(ipreo-blue);
	$tagging-tag-span-bg  	 : color(ipreo-blue,dark);

	$tagging-tagi-color		  	 : color(mortar);
	$tagging-tagi-hover	  	 : color(black);

	$tagging-tag-input-color	 : color(mortar);
	$tagging-tag-input-bg	 : color(white-smoke);

	// Masterblaster
	$mb-tag-color		   	  	 : color(mortar);
	$mb-tag-bg		      	 : color(gainsboro);
	$mb-tag-bd		      	 : color(gainsboro,dark);

	$mb-tag-error-bd		 : color(dark-pink);

	$mb-add-button-color        : color(mortar);
	$mb-add-button-bg        : color(ipreo-blue);

	$mb-add-button-hover       : color(ipreo-blue);
	$mb-add-button-bg-hover    : color(nero);


	// Tooltip
	// -----------------------------

	// Bootstrap
	$tooltip-color 			 : color(white-smoke);
	$tooltip-bg 			 : color(nero);
	$tooltip-bd 			 : color(nero);

	// Tooltipster
	$tipster-default-color      : color(white);
	$tipster-default-bg      : color(nero,light);
	$tipster-default-bd      : color(nero,dark);

	$tipster-light-color        : color(mortar);
	$tipster-light-bg        : color(white,darker);
	$tipster-light-bd        : color(white-smoke,darker);

	$tipster-noir-color        : color(mortar);
	$tipster-noir-bg        : color(white,darker);
	$tipster-noir-bd        : color(mortar);

	$tipster-punk-color        : color(white);
	$tipster-punk-bg        : color(mortar);
	$tipster-punk-bd        : color(dark-pink);

	$tipster-shadow-color      : color(nero);
	$tipster-shadow-bg      : color(white);

	$tipster-cool-color        : color(white);
	$tipster-cool-bg        : color(nero);
	$tipster-cool-bd        : color(ipreo-blue,dark);

	// Popover
	$popover-bg				: color(white);
	$popover-bd				: color(light-grey);

	$popover-title-bg       : color(white-smoke);
	$popover-title-bd       : color(white-smoke,darker);

	$popover-arrow-color       : color(white);

	// Webui Popover
	$web-popover-bg			: color(white);
	$web-popover-bd			: color(light-grey);

	$web-popover-title-bg   : color(white-smoke);
	$web-popover-title-bd   : color(white-smoke,darker);

	$web-popover-arrow-color   : color(white);

	$web-popover-inv-color		: color(white-smoke);
	$web-popover-inv-bg		: color(nero,light);


	// Typography
	// -----------------------------
	$sep-bottom   		    : color(white-smoke,darker);
	$label-badge-primary-color : color(mortar);
	$bg-primary-color		    : color(mortar);

	$mark-bg                : color(yellow-sea,light);

	$code-color					: color(dark-pink);
	$code-bg				: color(dark-pink,lighter);

	$text-primary-color		: color(ipreo-blue);
	$text-success-color		: color(jungle-green);
	$text-info-color   		: color(summer-sky);
	$text-warning-color		: color(yellow-sea);
	$text-danger-color 		: color(dark-pink);
	$text-dark-color   		: color(mortar);

	$bg-primary-bg  		: color(ipreo-blue,light);
	$bg-success-bg  		: color(jungle-green,light);
	$bg-info-bg     		: color(summer-sky,light);
	$bg-warning-bg  		: color(yellow-sea,light);
	$bg-danger-bg   		: color(dark-pink,light);
	$bg-dark-bg     		: color(mortar,light);

	$label-badge-default-bg : color(white-smoke,darker);
	$label-badge-primary-bg : color(ipreo-blue);
	$label-badge-success-bg : color(jungle-green);
	$label-badge-info-bg    : color(summer-sky);
	$label-badge-warning-bg : color(yellow-sea);
	$label-badge-danger-bg  : color(dark-pink);
	$label-badge-dark-bg    : color(mortar);

	$alert-success-color 		: color(jungle-green);
	$alert-success-bg 		: color(jungle-green,lighter);
	$alert-success-bd 		: color(jungle-green,light);

	$alert-info-color 	  		: color(summer-sky);
	$alert-info-bg    		: color(summer-sky,lighter);
	$alert-info-bd    		: color(summer-sky,light);

	$alert-warning-color 		: color(yellow-sea);
	$alert-warning-bg 		: color(yellow-sea,lighter);
	$alert-warning-bd 		: color(yellow-sea,light);

	$alert-danger-color  		: color(dark-pink);
	$alert-danger-bg  		: color(dark-pink,lighter);
	$alert-danger-bd  		: color(dark-pink,light);

	$alert-dark-color    		: color(mortar);
	$alert-dark-bg    		: color(mortar,lighter);
	$alert-dark-bd    		: color(mortar,light);


	// Pages
	// ===========================================

	// Error
	// -----------------------------
	$color-error-bg          : color(white-smoke);
	$color-error-dot         : color(gainsboro,dark);
	$color-error-line        : color(gainsboro,dark);

	$error-403-bg            : color(white);
	$error-403-bd            : color(white-smoke,darker);

	$error-404-bg            : color(white);

	$error-405-bg     		 : color(white-smoke,dark);
	$error-405-content-bg    : color(white);

	$error-500-bg     		 : color(white);

	$error-503-header-bg     : color(white-smoke,darker);
	$error-503-body-bg       : color(white);


	// Faqs
	// -----------------------------


	// Invoice
	// -----------------------------


	// Login, Lock Screen, Register,
	// Change and Forgot Password
	// -----------------------------
	$login-btn-color	         : color(white);

	$login-wrapper-bg        : color(black);
	$login-wrapper-bd        : color(mortar);

	$login-error-color   	     : color(dark-pink);

	$login-or-color   	         : color(white-smoke);
	$login-options-color        : color(white);
	$login-options-hover       : color(mortar);

	$login-input-bd          : color(white);
	$login-input-bd-hover      : color(ipreo-blue);
	$login-input-bd-fo       : color(ipreo-blue,dark);

	$login-facebook-bg       : color(facebook);
	$login-facebook-bg-hover   : color(facebook,dark);
	$login-facebook-bg-fo    : color(facebook,darker);
	$login-twitter-bg        : color(twitter);
	$login-twitter-bg-hover    : color(twitter,dark);
	$login-twitter-bg-fo     : color(twitter,darker);

	$login-register-color       : color(mortar);
	$login-checkradios-bd    : color(empress);

	$login-lock-screen-bd    : color(white);
	$login-lock-screen-bd-hover: color(ipreo-blue);


	// Profile
	// -----------------------------
	$profile-header-color      : color(white);
	$profile-header-hover     : color(ipreo-blue);
	$profile-header-bd      : color(light-grey);
	$profile-info-bg        : color(black);
	$profile-info-span-color   : color(white-smoke,darker);
	$profile-contact-info-color: color(nero);

	$profile-friends-color     : color(ipreo-blue);
	$profile-friends-bg     : color(nero);
	$profile-friends-h3-color  : color(white);
	$profile-friends-info-color: color(white);


	// Search Page
	// -----------------------------
	$search-page-classic-row-bd   : color(white-smoke,darker);
	$search-page-grid-list-row-bd : color(white-smoke,darker);


	// Widgets
	// ===========================================

	// Widget Header
	// -----------------------------
	$widget-header-bd : color(white-smoke,darker);


	// Shared
	// -----------------------------
	$dropdown-in-header-toggle-color      : color(mortar);
	$dropdown-in-header-toggle-bd      : color(white);

	$dropdown-in-header-toggle-hover     : color(black);
	$dropdown-in-header-toggle-ho-bg   : color(white,darker);


	$dropdown-in-header-toggle-open-bg : color(white-smoke);
	$dropdown-in-header-toggle-open-bd : color(white-smoke,darker);

	$dropdown-menu-header-bd           : color(white-smoke,darker);
	$dropdown-menu-header-bg           : color(white-smoke);

	$dropdown-menu-footer-bd           : color(white-smoke,darker);
	$dropdown-menu-footer-bg           : color(white,darker);


	// Active Users
	// -----------------------------
	$active-users-bg     : color(white);
	$active-users-bd     : color(gainsboro);
	$active-users-info-color: color(mortar,light);
	$active-users-time-color: color(mortar);
	$active-users-img-bd : color(mortar,lighter);


	// Activity
	// -----------------------------
	$activity-header-a-hover    : color(ipreo-blue);
	$activity-header-a-bg-hover : color(white);
	$activity-header-a-bd-hover : color(white-smoke,darker);

	$activity-item-bg         : color(white-smoke,dark);
	$activity-status-bd       : color(gainsboro);
	$activity-text-bg         : color(white-smoke,dark);


	// Chat
	// -----------------------------
	$chat-header-a-hover    : color(ipreo-blue);
	$chat-header-a-bg-hover : color(white);
	$chat-header-a-bd-hover : color(white-smoke,darker);

	$chat-header-a-color     : color(dark-grey,dark);
	$chat-header-a-color-hover  : color(ipreo-blue);

	$chat-row-bd          : color(white-smoke,darker);
	$chat-mood-color         : color(dark-grey,dark);
	$chat-conversation-bg : color(white-smoke,darker);

	$chat-user-hover        : color(nero);
	$chat-user-bg-hover     : color(white-smoke);

	$chat-user-open-color    : color(ipreo-blue);
	$chat-user-open-bg    : color(nero);

	$chat-user-bd         : color(gainsboro);
	$chat-user-1-bg       : color(white);
	$chat-user-2-bg       : color(white-smoke);

	$chat-input-bd        : color(gainsboro);
	$chat-input-bg        : color(white-smoke);

	$chat-more-message-bd : color(gainsboro);


	// Chat Setting
	// -----------------------------
	$chat-setting-toggle-open-bg : color(white);
	$chat-setting-toggle-open-bd : color(white-smoke,darker);


	// Group
	// -----------------------------
	$group-header-a-hover   : color(ipreo-blue);
	$group-header-a-bg-hover: color(white);
	$group-header-a-bd-hover: color(white-smoke,darker);

	$group-header-a-color   : color(dark-grey,dark);
	$group-header-a-color-hover: color(ipreo-blue);


	// Info
	// -----------------------------
	$info-bg            : color(white);

	$info-t-1-color        : color(white);
	$info-t-1-hover       : color(nero);
	$info-t-1-mu        : color(dark-pink);
	$info-t-1-spark-1-color: color(white);


	$info-t-2-color        : color(white);
	$info-t-2-hover       : color(nero);
	$info-t-2-mu        : color(jungle-green);
	$info-t-2-spark-1-color: color(jungle-green);
	$info-t-2-spark-2-color: color(white,dark);
	$info-t-2-spark-3-color: color(mortar,dark);


	$info-t-3-color        : color(white);
	$info-t-3-hover       : color(nero);
	$info-t-3-mu        : color(summer-sky);
	$info-t-3-spark-1-color: color(white);



	$info-t-4-color        : color(white);
	$info-t-4-hover       : color(nero);
	$info-t-4-mu        : color(yellow-sea);
	$info-t-4-spark-1-color: color(white);


	// Latest News
	// -----------------------------
	$latest-news-title-bg         : color(white);
	$latest-news-content-bg       : color(white,darker);
	$latest-news-bd   	          : color(gainsboro,dark);
	$latest-news-bd-hover  	      : color(ipreo-blue);
	$latest-news-date 	          : color(mortar,light);
	$latest-news-collapse-open-bg : color(white-smoke,dark);


	// Latest Orders
	// -----------------------------
	$latest-order-bg 	  : color(white);
	$latest-order-bd 	  : color(white-smoke,darker);
	$latest-order-body-bg : color(white,dark);
	$latest-order-body-bd : color(white-smoke,darker);
	$latest-order-col-1-color: color(mortar,light);
	$latest-order-col-3-color: color(dark-grey);
	$latest-order-col-4-color: color(dark-grey);
	$latest-order-col-5-color: color(mortar);
	$latest-order-th-color	  : color(dark-pink);


	// Logo
	// -----------------------------
	$logo-bg    	   : color(ipreo-blue);
	$logo-bg-hover	   : color(white);
	$logo-bg-header-hover: color(black);

	// Members
	// -----------------------------
	$members-bg       : color(white);
	$members-bd 	  : color(white-smoke,darker);
	$members-bg-hover	  : color(white-smoke,dark);


	// Message
	// -----------------------------
	$message-in-header-toggle-open-color     : color(summer-sky);
	$message-a-bd              			  : color(white-smoke,darker);
	$message-a-hover        			  	  : color(black);
	$message-a-bg-hover        			  : color(white,darker);


	// Navigation
	// -----------------------------
	$nav-t-1-a-hover	    : color(white,darker);
	$nav-t-1-a-bd       : color(gainsboro);
	$nav-t-1-icon-bg-hover: color(white);
	$nav-t-1-icon-bd    : color(gainsboro);
	$nav-t-1-icon-bd-hover: color(ipreo-blue);

	$nav-t-2-a-hover	    : color(white,darker);
	$nav-t-3-a-hover	    : color(white);


	// Notification
	// -----------------------------
	$notification-in-header-toggle-open-color: color(jungle-green);
	$notification-a-hover        			  : color(black);
	$notification-a-bg-hover        	      : color(white,darker);


	// Options
	// -----------------------------


	// Page Summary
	// -----------------------------
	$page-summary-bg                : color(white,dark);
	$page-summary-switcher-bg       : color(white);
	$page-summary-switcher-bd       : color(white-smoke,darker);
	$page-sub-title-color              : color(ipreo-blue);
	$page-switchery-settings-color     : color(ipreo-blue);
	$page-switchery-unit-color    	    : color(dark-pink);
	$page-summary-views-color          : color(dark-pink);
	$page-summary-followers-color      : color(summer-sky);
	$page-summary-comments-color       : color(jungle-green);
	$page-summary-chart-i-color        : color(mortar,light);
	$page-summary-update-chart-i-color : color(mortar,light);
	$page-summary-update-chart-i-hover: color(mortar);
	$page-summary-clock-bd 		    : color(mortar,light);


	// Profile
	// -----------------------------
	$profile-lock-bg                : color(white,dark);
	$profile-lock-bd                : color(white-smoke,darker);
	$profile-power-bg               : color(white,dark);
	$profile-menu-hover         		: color(ipreo-blue);

	$profile-in-header-btn-active-color: color(ipreo-blue);
	$profile-in-header-btn-bg       : color(white);
	$profile-in-header-btn-bd       : color(white-smoke,darker);

	$profile-in-header-menu-bd      : color(white);
	$profile-in-header-menu-bg-hover  : color(white);

	$profile-in-side-btn-bg         : color(white);
	$profile-in-side-btn-bd         : color(white-smoke,darker);


	// Profile 2
	// -----------------------------
	$profile-2-t-h3-color               : color(white-smoke);
	$profile-2-t-a-color                : color(dark-grey);
	$profile-2-t-a-color-hover             : color(ipreo-blue);
	$profile-2-t-a-bg-hover            : color(nero,darker);
	$profile-2-t-details-bd          : color(nero);

	$profile-2-dropdown-bg           : color(nero,dark);

	$profile-2-status-color-1            : color(jungle-green);
	$profile-2-status-color-2            : color(yellow-sea);
	$profile-2-status-color-3            : color(dark-pink);
	$profile-2-status-color-4            : color(dark-grey);

	$profile-2-t-3-bd 		         : color(nero,dark);
	$profile-2-t-3-h3-color             : color(white-smoke);
	$profile-2-t-3-a-color              : color(dark-grey);
	$profile-2-t-3-a-color-hover           : color(ipreo-blue);
	$profile-2-t-3-a-bg-hover          : color(nero,darker);
	$profile-2-t-3-details-bd        : color(nero);
	$profile-2-t-3-toggle-bg         : color(nero,light);
	$profile-2-t-3-toggle-bg-hover     : color(nero,dark);
	$profile-2-t-3-wrapper-bg        : color(nero);
	$profile-2-t-3-btn-dark-bg       : color(nero,dark);
	$profile-2-t-3-btn-dark-bg-hover   : color(nero,light);
	$profile-2-t-3-btn-dark-bd       : color(nero,darker);
	$profile-2-t-3-social-stats-bg   : color(nero,dark);
	$profile-2-t-3-rickshaw-visitors : color(ipreo-blue);
	$profile-2-t-3-chart-bg 		 : color(nero,darker);


	// Revenue
	// -----------------------------
	$revenue-bg           : color(white);
	$revenue-bd 	  	  : color(white-smoke,darker);

	$revenue-spline-svg-color: color(mortar);

	$revenue-spline-1-color  : color(jungle-green,light);
	$revenue-spline-2-color  : color(jungle-green);
	$revenue-spline-3-color  : color(yellow-sea,dark);
	$revenue-spline-4-color  : color(yellow-sea);
	$revenue-spline-5-color  : color(summer-sky);


	// Search
	// -----------------------------
	$search-btn-hover      	 : color(ipreo-blue);

	$search-in-header-bd     : color(white);
	$search-in-header-btn-fo : color(mortar);

	$search-in-side-bd       : color(white-smoke,darker);

	$search-t-1-btn-color    	 : color(white);
	$search-t-2-btn-color   	 : color(white-smoke,darker);
	$search-t-2-btn-bd       : color(white-smoke,darker);

	$search-t-3-btn-color   	 : color(dark-grey,dark);

	$search-t-4-input-color     : color(light-grey);
	$search-t-4-input-bg     : color(nero);
	$search-t-4-input-bd     : color(nero,dark);

	$search-t-4-input-bg-hover : color(nero,dark);
	$search-t-4-input-bd-hover : color(nero,darker);


	// Search Expanding
	// -----------------------------
	$search-exp-input-color 		  : color(mortar);
	$search-exp-input-bg 		  : color(white);
	$search-exp-input-placeholder : color(ipreo-blue);

	$search-exp-icon-color 		  : color(white);
	$search-exp-icon-bg 		  : color(mortar);

	$search-exp-submit-bg 		  : color(white);


	// Server Stats
	// -----------------------------
	$server-stats-t-1-btn-color-hover : color(empress);
	$server-stats-t-1-btn-bg-hover: color(white-smoke);
	$server-stats-t-1-btn-bd 	: color(white-smoke,darker);
	$server-stats-content-bg    : color(white,darker);
	$server-stats-header-bg     : color(white-smoke,dark);
	$server-stats-footer-bg     : color(white-smoke,dark);
	$server-stats-content-bd    : color(gainsboro);
	$server-stats-increase-color   : color(jungle-green);
	$server-stats-decrease-color   : color(dark-pink);

	$server-stats-pcu-1-color      : color(dark-pink,dark);
	$server-stats-pcu-2-color      : color(dark-pink);

	$server-stats-memory-1-color   : color(jungle-green);
	$server-stats-memory-2-color   : color(jungle-green,light);

	$server-stats-temp-1-color     : color(yellow-sea);

	$server-stats-user-1-color     : color(summer-sky,dark);
	$server-stats-user-2-color     : color(summer-sky);

	// Settings
	// -----------------------------
	$settings-bd 	  : color(white-smoke,darker);


	// Socials
	// -----------------------------
	$social-bg                : color(white);
	$social-t-color              : color(white);
	$social-t-facebook-bg     : color(facebook);
	$social-t-twitter-bg      : color(twitter);
	$social-t-youtube-bg      : color(youtube);
	$social-t-google-plus-bg  : color(google-plus);
	$social-t-instagram-bg    : color(instagram);


	// Stats
	// -----------------------------
	$stat-color         : color(mortar);
	$stat-hover        : color(ipreo-blue);
	$stat-bg         : color(white);
	$stat-sep-bd     : color(white-smoke,darker);
	$stat-data-color    : color(mortar,dark);

	$stat-t-1-color     : color(very-light-grey);
	$stat-t-1-hover    : color(ipreo-blue);
	$stat-t-1-bg     : color(nero,light);
	$stat-t-1-sep-bd : color(nero,darker);
	$stat-t-1-data-color: color(white-smoke,dark);


	// Stats 2
	// -----------------------------

	$stat-2-color         : color(mortar);
	$stat-2-bg         : color(white-smoke,darker);
	$stat-2-sep-bd     : color(gainsboro);

	$stat-2-t-1-color     : color(white);
	$stat-2-t-1-bg     : color(yellow-sea);
	$stat-2-t-1-sep-bd : color(yellow-sea,dark);

	$stat-2-t-2-color     : color(white);
	$stat-2-t-2-bg     : color(dark-pink);
	$stat-2-t-2-sep-bd : color(dark-pink,dark);

	$stat-2-t-3-color     : color(white);
	$stat-2-t-3-bg     : color(jungle-green);
	$stat-2-t-3-sep-bd : color(jungle-green,dark);

	$stat-2-t-4-color     : color(white);
	$stat-2-t-4-bg     : color(summer-sky);
	$stat-2-t-4-sep-bd : color(summer-sky,dark);

	$stat-2-t-5-color     : color(white);
	$stat-2-t-5-bg     : color(mortar);
	$stat-2-t-5-sep-bd : color(mortar,dark);

	$stat-2-t-6-color     : color(white);
	$stat-2-t-6-bg     : color(nero,dark);
	$stat-2-t-6-sep-bd : color(nero,darkest);


	// Statistic
	// -----------------------------
	$statistic-bg           	    : color(white,dark);
	$statistic-bd           	    : color(white-smoke,darker);

	$statistic-header-bg    	    : color(white,darker);

	$statistic-options-bd   	    : color(mortar,light);
	$statistic-options-color   	    : color(mortar,light);
	$statistic-options-hover  	    : color(mortar);


	$statistic-chart-1-1-color 	    : color(ipreo-blue);
	$statistic-chart-1-2-color 	    : color(ipreo-blue,light);
	$statistic-chart-2-1-color 	    : color(summer-sky);
	$statistic-chart-3-1-color 	    : color(jungle-green,light);
	$statistic-chart-4-1-color 	    : color(dark-pink);

	$statistic-item-1-color    	    : color(white);
	$statistic-item-1-bg    	    : color(summer-sky);
	$statistic-item-2-color    	    : color(nero,light);
	$statistic-item-2-bg    	    : color(gainsboro,dark);
	$statistic-item-3-color    	    : color(white);
	$statistic-item-3-bg    	    : color(nero);
	$statistic-item-4-color    	    : color(white);
	$statistic-item-4-bg    	    : color(dark-pink);

	$statistic--switchery-unit-color   : color(mortar,dark);

	$statistic-chart-c3-1-color        : color(facebook);
	$statistic-chart-c3-2-color        : color(yellow-sea);
	$statistic-chart-c3-3-color        : color(jungle-green);
	$statistic-chart-c3-4-color        : color(nero);
	$statistic-chart-c3-5-color        : color(summer-sky,dark);
	$statistic-chart-c3-6-color        : color(summer-sky);
	$statistic-chart-c3-7-color        : color(jungle-green,dark);
	$statistic-chart-c3-8-color        : color(youtube);
	$statistic-chart-c3-9-color        : color(dark-pink);

	$statistic-chart-c3-10-color       : color(ipreo-blue);
	$statistic-chart-c3-11-color       : color(summer-sky,dark);

	$statistic-chart-5-color 	 	    : color(summer-sky);
	$statistic-chart-6-color 	 	    : color(jungle-green,light);
	$statistic-chart-7-color 	 	    : color(dark-pink);

	$statistic-activity-row-bg-hover  : color(white-smoke);
	$statistic-activity-row-bd 	    : color(white-smoke,darker);
	$statistic-activity-img-mu 	    : color(ipreo-blue);
	$statistic-activity-time-color	    : color(dark-grey);
	$statistic-activity-settings-color : color(mortar,light);
	$statistic-activity-settings-hover: color(mortar);


	// Status
	// -----------------------------
	$status-toggle-open-bg : color(white);
	$status-toggle-open-bd : color(white-smoke,darker);


	// Switcher
	// -----------------------------
	$switcher-t-header-bg-hover : color(white,dark);

	$switcher-t-side-color       : color(very-light-grey);
	$switcher-t-side-bg       : color(nero,light);
	$switcher-t-side-bd       : color(nero,dark);
	$switcher-t-side-hover      : color(ipreo-blue);
	$switcher-t-side-bg-hover   : color(nero,darker);


	// Tabs
	// -----------------------------
	$tabs-nav-bg   : color(white);
	$tabs-nav-a-bd : color(white-smoke,darker);


	// Tabs 2
	// -----------------------------
	$tabs-2-bg    	 	  		  : color(white,dark);
	$tabs-2-bd           	 	  : color(white-smoke,darker);
	$tabs-2-active-color             : color(nero);
	$tabs-2-active-bg             : color(white);
	$tabs-2-info-color               : color(dark-grey);
	$tabs-2-list-li-color            : color(white-smoke,darker);
	$tabs-2-list-li-bg-hover        : color(white,darker);
	$tabs-2-chart-update-color       : color(mortar,light);
	$tabs-2-chart-update-hover      : color(mortar);
	$tabs-2-chart-color              : color(empress);
	$tabs-2-tab-chart-track-color : color(gainsboro,dark);
	$tabs-2-tab-chart-1-color     : color(dark-pink,dark);
	$tabs-2-tab-chart-2-color     : color(jungle-green,dark);
	$tabs-2-tab-chart-3-color     : color(yellow-sea,dark);
	$tabs-2-tab-chart-4-color     : color(summer-sky,dark);


	// Task
	// -----------------------------
	$task-in-header-toggle-open-color: color(dark-pink);


	// Theme Settings
	// -----------------------------
	$theme-setting-bg 		   		  : color(white,dark);
	$theme-setting-bd 		   		  : color(gainsboro);
	$theme-setting-header-bg   		  : color(white-smoke,dark);
	$theme-settings-info-bg    		  : color(gainsboro);
	$theme-settings-info-bg-hover		  : color(nero);

	$theme-setting-clear-cache-color	  : color(mortar);
	$theme-setting-clear-cache-hover	  : color(ipreo-blue);

	$theme-skin-title-bd       		  : color(gainsboro);

	$theme-settings-default-skin-bg-1       : #161616;
	$theme-settings-default-skin-bg-2       : #0079bd;
	$theme-settings-default-skin-bg-3       : #F8F8F8;

	$theme-settings-medium-purple-skin-bg-1 : #1F1F1F;
	$theme-settings-medium-purple-skin-bg-2 : #756ddd;
	$theme-settings-medium-purple-skin-bg-3 : #ee5077;
	$theme-settings-medium-purple-skin-bg-4 : #fafafa;

	$theme-settings-soon-skin-bg 	  : color(white-smoke,dark);


	// Todo
	// -----------------------------
	$todo-bg          : color(white);
	$todo-bd 	  	  : color(white-smoke,darker);
	$todo-sep-bd      : color(white-smoke,darker);
	$todo-a-color        : color(dark-grey);
	$todo-a-hover       : color(ipreo-blue);

	$todo-t-1-color      : color(mortar);
	$todo-t-1-bg      : color(white-smoke,dark);
	$todo-t-1-bd 	  : color(gainsboro,darker);
	$todo-t-1-sep-bd  : color(silver);


	// Weather Forecast
	// -----------------------------
	$weather-forecast-color      	      : color(white);
	$weather-forecast-sep-bd  	      : color(black);
	$weather-forecast-day-color    	  : color(white);
	$weather-forecast-day-bg-hover      : color(nero,light);
	$weather-forecast-date-color	      : color(dark-grey);
	$weather-forecast-icon-color         : color(ipreo-blue);
	$weather-forecast-description-color	  : color(dark-grey,dark);
	$weather-forecast-check-bg		  : color(nero);
	$weather-forecast-check-bd		  : color(nero,dark);

	$weather-forecast-input-addon-color	  : color(ipreo-blue);
	$weather-forecast-input-addon-bg  : color(mortar,dark);
	$weather-forecast-input-addon-bd  : color(mortar,dark);

	$weather-forecast-form-control-color : color(white);
	$weather-forecast-form-control-bg : color(mortar);

	$forecast-geo-location-color         : color(ipreo-blue);
	$forecast-geo-location-hover        : color(gainsboro);


	// Apps
	// ===========================================

	// Mail App
	// -----------------------------
	$btn-mail-color	    	  	        	: color(nero);
	$btn-mail-bg    	  	        	: color(white-smoke);
	$btn-mail-bd    	  	        	: color(gainsboro);

	$btn-mail-send-color	    	  	    : color(ipreo-blue,darker);
	$btn-mail-send-bg    	  	        : color(ipreo-blue,light);
	$btn-mail-send-bd    	  	        : color(ipreo-blue);

	$btn-mail-compose-color	    	  	    : color(nero);
	$btn-mail-compose-bg				: color(ipreo-blue);
	$btn-mail-compose-bg-hover				: color(ipreo-blue,darker);

	$drop-mail-color	    	        	: color(mortar,dark);
	$drop-mail-bg    	  	        	: color(white,darker);
	$drop-mail-bd    	  	        	: color(gainsboro);

	$mail-caret-color		  	        	: color(dark-grey);
	$mail-cb-inner-bd 		        	: color(dark-grey);
	$mail-star-color                   	: color(yellow-sea);
	$mail-star-o-color                 	: color(mortar);

	$mail-options-bg 	  	        	: color(white,dark);
	$mail-options-bd 	  	        	: color(white-smoke,darker);
	$mail-btn-label-bg-hover	        	: color(white-smoke);
	$mail-btn-label-bd-hover	        	: color(gainsboro);

	$mail-list-container-bg         	: color(white,dark);

	$mail-details-bg                	: color(white);

	$mail-details-header-bg         	: color(white,darker);
	$mail-details-header-bd         	: color(white-smoke,darker);

	$mail-details-message-bd        	: color(white-smoke,darker);

	$mail-details-message-header-bg 	: color(white,dark);
	$mail-details-message-header-bd 	: color(white-smoke,darker);

	$mail-details-message-body-color		: color(empress);
	$mail-details-message-body-bg 		: color(white);

	$mail-details-message-attachment-bg : color(white,dark);
	$mail-details-message-attachment-bd : color(white-smoke,darker);

	$new-message-bg                     : color(white);

	$new-message-title-bg               : color(white,darker);
	$new-message-title-bd               : color(white-smoke,darker);

	$new-message-header-bg 				: color(white,dark);
	$new-message-header-bd 				: color(white-smoke,darker);

	$new-message-footer-bg 				: color(white,dark);
	$new-message-footer-bd 				: color(white-smoke,darker);

	$new-message-note-editor-bd 		: color(gainsboro);
	$new-message-note-toolbar-bg 		: color(white,dark);

	$input-upload-bg                    : color(white);
	$input-upload-bd                    : color(gainsboro);

	$mail-side-sep-bd                   : color(nero,dark);
	$mail-side-header-color                : color(very-light-grey);
	$mail-side-header-hover               : color(ipreo-blue);

	$btn-add-more-color						: color(very-light-grey);
	$btn-add-more-hover					: color(ipreo-blue);

	$mail-list-container-bd             : color(white-smoke,darker);

	$mail-label-1-mu                    : color(jungle-green);
	$mail-label-2-mu                    : color(summer-sky);
	$mail-label-3-mu                    : color(yellow-sea);
	$mail-label-4-mu                    : color(dark-pink);
	$mail-label-5-mu                    : color(dark-grey);


	// Helpers
	// ==========================================================
