
//Left Sidebar Content
aside#sb-left-2.layout-sidebar.layout-sidebar-collapsed-left.t-sidebar-2.z-index-99

	// Left Sidebar Switcher
	a.switcher.t-switcher-side-2(href = 'index.html')
			i.fa.fa-home
	// Stats
	.layout-side-box
		include ../../../widgets/widget_stat_2/stat_2_in_side


