//- Component Configuration

- var scripts_sidebar_3 = [ 'form.checkBo', 'form.switchery', 'x.call.part.sidebar.3' ]

//- ------------------------------------

//Right Sidebar Content
aside#sb-right.layout-sidebar.layout-sidebar-hidden.t-sidebar-2


	//Settings
	.layout-side-box
		.widget-settings.settings-in-side
			form.form-horizontal(role='form')
				h4.settings-title General Settings
				.hide.switchery-default
				.hide.switchery-primary
				.hide.switchery-success
				.hide.switchery-info
				.hide.switchery-warning
				.hide.switchery-danger
				.hide.switchery-dark

				.layout-row.settings-row
					.layout-span-lg-7
						label.input-label(for='siteTitle') Site title
					.layout-span-lg-5.settings-input
						input#siteTitle(type='text', value="PROTEUS").form-control.input-sm

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='maintenance') Maintenance
					.layout-span-lg-5.settings-input
						input#maintenance.switcheryDefault(type='checkbox')

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='backups') Create backups
					.layout-span-lg-5.settings-input
						input#backups.switcheryDefault(type='checkbox', checked="checked")

				.layout-row.settings-row
					.layout-span-lg-7
						label.input-label(for='itemsPerPage') Items per page
					.layout-span-lg-5.settings-input
						input#itemsPerPage(type='text', value="20").form-control.input-sm

				.layout-row.settings-row
					.layout-span-lg-7
						label.input-label(for='displayStyle') Display style
					.layout-span-lg-5.settings-input
						select#displayStyle.form-control.input-sm
							option(value='grid') Grid
							option(value='list') List

				h4.settings-title Profile Settings


				.layout-row.settings-row
					.layout-span-lg-7
						label.input-label(for='firstName') First name
					.layout-span-lg-5.settings-input
						input#firstName(type='text', value="William").form-control.input-sm

				.layout-row.settings-row
					.layout-span-lg-7
						label.input-label(for='lastName') Last name
					.layout-span-lg-5.settings-input
						input#lastName(type='text', value="Jones").form-control.input-sm

				.layout-row.settings-row
					.layout-span-lg-7
						label.input-label(for='lastName') Status
					.layout-span-lg-5.settings-input
						select#displayStyle.form-control.input-sm
							option(value='online') Online
							option(value='away') Away
							option(value='busy') Busy
							option(value='invisible') Invisible
							option(value='offline') Offline

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='picture') Display picture
					.layout-span-lg-5.settings-input
						input#picture.switcherySuccess(type='checkbox', checked="checked")

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='name') Display name
					.layout-span-lg-5.settings-input
						input#name.switcheryDark(type='checkbox', checked="checked")

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='status') Display status
					.layout-span-lg-5.settings-input
						input#status.switcheryWarning(type='checkbox')

				h4.settings-title Social Settings

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='facebook') Facebook
					.layout-span-lg-5.settings-input
						input#facebook.switcheryInfo-1(type='checkbox', checked="checked")

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='twitter') Twitter
					.layout-span-lg-5.settings-input
						input#twitter.switcheryInfo-2(type='checkbox', checked="checked")

				.layout-row.settings-row
					.layout-span-lg-7
						label(for='google') Google plus
					.layout-span-lg-5.settings-input
						input#google.switcheryDanger(type='checkbox', checked="checked")

				hr.mt-20.mb-20

				.layout-row.settings-row
					a(href="#").btn.btn-block.btn-primary Save Changes