// Page Summary Widget
.widget-page-summary
	.col-lg-4
		h2.page-title Welcome to <span>CupCake</span>.
		h4.page-sub-title A <span id="rotating-text">Responsive, Clean, HTML5 and sass/CSS3 based, Compiled with Jade, SMACSS based, Bootstrap based </span> AppKit.
		a.page-summary-info-switcher(href = '#')
			i.fa.fa-bars
	.col-lg-8.page-summary-info

		// Page Summary Settings
		.page-summary-settings
			ul.update-status-settings
				li
					a.chart-toggle.tt-bottom(href="#", title="Update charts"): i.fa.fa-refresh

				li
					ul.time-status-toggle
						li.tt-bottom(title="Toggle unit")
							.hide.switcheryUnits
							input#switcheryUnits(type='checkbox')
						li.last-status
							a.current-weather-location.tt-bottom(href="#", title="Use your location"): i.fa.fa-compass
				li.last
					.hide.switcherySettings
					input#switcherySettings(type='checkbox')

		.row
			// Page Summary Charts
			.summary-chart.chart-views.col-md-4
				.row
					.col-xl-5.col-md-6.col-sm-5
						.chart-info
							a.update-chart-views.tt-top(href="#", title="Update total views"): i.fa.fa-eye
							span 2,453
							p Total Views
					.col-xl-7.col-md-6.col-sm-7
						.hide.rickshaw-views
						#rickshawViews

			.summary-chart.chart-followers.col-md-4
				.row
					.col-sm-5
						.chart-info
							a.update-chart-followers.tt-top(href="#", title="Update followers"): i.fa.fa-users
							span 473
							p Followers
					.col-sm-7
						.hide.rickshaw-followers
						#rickshawFollowers

			.summary-chart.chart-comments.col-md-4
				.row
					.col-sm-5
						.chart-info
							a.update-chart-comments.tt-top(href="#", title="Update comments"): i.fa.fa-comments
							span 695
							p Comments
					.col-sm-7
						.hide.rickshaw-comments
						#rickshawComments

		.row
			// Page Summary Clock
			.summary-time-status.clock-wrapper.col-md-8.col-sm-6
				#clock

			// Page Summary Weather
			.summary-time-status.weather-wrapper.col-md-4.col-sm-6
				#weather
					.span-sm-6.span-xs-12
						.weather-location Austin, Tx
						.weather-description Scattered Thunderstorms
					.span-sm-3.span-xs-9
						.weather-temp 65°F
					.span-sm-3.span-xs-3
						.weather-icon
							i.ac.ac-0
